CopilotStudioAccelerator/SolutionPackage/src/Workflows/AgentComplianceSendNotificationChild-D559C98C-C1AF-F011-BBD3-00224809EACC.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "impersonation": {},
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "cat_CopilotStudioAcceleratorDataverse"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      },
      "shared_office365-1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "cat_CopilotStudioKitOutlook"
        },
        "api": {
          "name": "shared_office365"
        }
      },
      "shared_teams": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "cat_sharedteams_1ef7e"
        },
        "api": {
          "name": "shared_teams"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "Send Case Alerts To Maker Via Email (cat_SendCaseAlertsToMakerViaEmail)": {
          "defaultValue": true,
          "type": "Bool",
          "metadata": {
            "schemaName": "cat_SendCaseAlertsToMakerViaEmail",
            "description": "Sends Case Notifications to Maker via Email"
          }
        },
        "Send Case Alerts To Maker Via Teams (cat_SendCaseAlertsToMakerViaTeams)": {
          "defaultValue": true,
          "type": "Bool",
          "metadata": {
            "schemaName": "cat_SendCaseAlertsToMakerViaTeams",
            "description": "Send alerts to Makers regarding Compliance Cases in Microsoft Teams (alerts only - intake adaptive card is required in this version)"
          }
        },
        "Power Automate Region (cat_PowerAutomateEndpoint)": {
          "defaultValue": "Commercial",
          "type": "String",
          "metadata": {
            "schemaName": "cat_PowerAutomateEndpoint",
            "description": "Specify your Power Automate environment region/cloud: Commercial, GCC, GCC High, or DoD."
          }
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "5b247e02-68a5-46c5-b46f-84e9b07b7b17"
          },
          "type": "Request",
          "kind": "Button",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "text": {
                  "title": "EmailTemplateTitle",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                },
                "text_1": {
                  "description": "Please enter your input",
                  "title": "Params",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                },
                "text_3": {
                  "description": "Please enter your input",
                  "title": "Recipient",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                }
              },
              "required": [
                "text",
                "text_1",
                "text_3"
              ]
            }
          }
        }
      },
      "actions": {
        "Respond_to_a_Power_App_or_flow": {
          "runAfter": {
            "Scope:_Finally": [
              "Succeeded"
            ]
          },
          "type": "Response",
          "kind": "PowerApp",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {},
              "additionalProperties": {}
            },
            "statusCode": 200
          }
        },
        "Initialize_variable:_ErrorMessage": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "84dc8095-fa63-4f71-aaa9-ed2863a636bb"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "ErrorMessage",
                "type": "string"
              }
            ]
          }
        },
        "Scope:_Try": {
          "actions": {
            "Get_Flow_Endpoint": {
              "metadata": {
                "operationMetadataId": "dc8e743d-1408-445c-8614-ee97abfcad5e"
              },
              "type": "Compose",
              "inputs": "@if(equals(toLower(parameters('Power Automate Region (cat_PowerAutomateEndpoint)')), 'gcc'), 'https://make.gov.powerautomate.us/', \r\n    if(equals(toLower(parameters('Power Automate Region (cat_PowerAutomateEndpoint)')), 'gcc(high)'), 'https://make.high.powerautomate.us/', \r\n        if(equals(toLower(parameters('Power Automate Region (cat_PowerAutomateEndpoint)')), 'dod'), 'https://make.powerautomate.appsplatform.us/', \r\n            'https://make.powerautomate.com/'\r\n        )\r\n    )\r\n)"
            },
            "Add_a_new_row:_Logs": {
              "runAfter": {
                "Get_Flow_Endpoint": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "1743ccd2-b8bb-4cee-9823-870ee9d4d438"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "entityName": "cat_copilotstudiokitlogses",
                  "item/cat_executionstatuscode": 2,
                  "item/cat_cloudflowinstanceurl": "@{outputs('Get_Flow_Endpoint')}environments/@{workflow()?['tags']?['environmentName']}/solutions/73fbfa55-8642-43d0-ab47-f15fab5813a4/flows/@{workflow()?['name']}/runs/@{workflow()?['run']?['name']}",
                  "item/cat_cloudflowname": "Agent Compliance | Send Notification"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "operationId": "CreateRecord",
                  "connectionName": "shared_commondataserviceforapps"
                }
              }
            },
            "Populate_Email_Template": {
              "runAfter": {
                "Add_a_new_row:_Logs": [
                  "Succeeded"
                ]
              },
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "recordId": "29547a28-0e80-429e-864b-4bf01d3a5232",
                  "item/requestv2/Parameters": "@triggerBody()?['text_1']",
                  "item/requestv2/EmailTemplateName": "@triggerBody()?['text']"
                },
                "host": {
                  "apiId": "providers/Microsoft.ProcessSimple/operationGroups/aibuilder",
                  "operationId": "aibuilderpredict_customprompt",
                  "connectionName": "shared_commondataserviceforapps"
                }
              }
            },
            "Send_Via_Email": {
              "actions": {
                "Send_an_email_(V2)": {
                  "type": "OpenApiConnection",
                  "inputs": {
                    "parameters": {
                      "emailMessage/To": "@triggerBody()?['text_3']",
                      "emailMessage/Subject": "@outputs('Populate_Email_Template')?['body/responsev2/predictionOutput/structuredOutput/subject']",
                      "emailMessage/Body": "<p class=\"editor-paragraph\">@{outputs('Populate_Email_Template')?['body/responsev2/predictionOutput/structuredOutput/body']}</p>",
                      "emailMessage/Importance": "Normal"
                    },
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365",
                      "operationId": "SendEmailV2",
                      "connectionName": "shared_office365-1"
                    }
                  }
                }
              },
              "runAfter": {
                "Populate_Email_Template": [
                  "Succeeded"
                ]
              },
              "else": {
                "actions": {}
              },
              "expression": {
                "and": [
                  {
                    "equals": [
                      "@parameters('Send Case Alerts To Maker Via Email (cat_SendCaseAlertsToMakerViaEmail)')",
                      "@true"
                    ]
                  }
                ]
              },
              "type": "If"
            },
            "Send_Via_Teams": {
              "actions": {
                "Post_message_in_a_chat_or_channel": {
                  "type": "OpenApiConnection",
                  "inputs": {
                    "parameters": {
                      "poster": "Flow bot",
                      "location": "Chat with Flow bot",
                      "body/recipient": "@triggerBody()?['text_3']",
                      "body/messageBody": "<p></p><h2>@{outputs('Populate_Email_Template')?['body/responsev2/predictionOutput/structuredOutput/subject']}</h2><br>@{outputs('Populate_Email_Template')?['body/responsev2/predictionOutput/structuredOutput/body']}<p></p>",
                      "body/isAlert": true
                    },
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_teams",
                      "operationId": "PostMessageToConversation",
                      "connectionName": "shared_teams"
                    }
                  }
                }
              },
              "runAfter": {
                "Send_Via_Email": [
                  "Succeeded"
                ]
              },
              "else": {
                "actions": {}
              },
              "expression": {
                "and": [
                  {
                    "equals": [
                      "@parameters('Send Case Alerts To Maker Via Teams (cat_SendCaseAlertsToMakerViaTeams)')",
                      "@true"
                    ]
                  }
                ]
              },
              "type": "If"
            }
          },
          "runAfter": {
            "Initialize_variable:_ErrorMessage": [
              "Succeeded"
            ]
          },
          "type": "Scope"
        },
        "Scope:_Catch": {
          "actions": {
            "Filter_array:_Error_Actions": {
              "metadata": {
                "operationMetadataId": "318aa9b2-4531-451c-b162-84cf7a4a236e"
              },
              "type": "Query",
              "inputs": {
                "from": "@result('Scope:_Try')",
                "where": "@or(equals(item()?['Status'], 'Failed'), equals(item()?['Status'], 'TimedOut'))"
              }
            },
            "Set_variable:_ErrorMessage": {
              "runAfter": {
                "Filter_array:_Error_Actions": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "ee38e0e1-03cd-48d8-9933-d73f7204b0f7"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "ErrorMessage",
                "value": "@{first(body('Filter_array:_Error_Actions'))?['error']?['message']}"
              }
            }
          },
          "runAfter": {
            "Scope:_Try": [
              "Failed",
              "Skipped",
              "TimedOut"
            ]
          },
          "metadata": {
            "operationMetadataId": "4f2e4827-62c8-4225-94cd-14089e7ac8f7"
          },
          "type": "Scope"
        },
        "Scope:_Finally": {
          "actions": {
            "Update_a_row:_Logs": {
              "metadata": {
                "operationMetadataId": "9f447776-551f-41e3-a432-ecfb376e623f"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "entityName": "cat_copilotstudiokitlogses",
                  "recordId": "@outputs('Add_a_new_row:_Logs')?['body/cat_copilotstudiokitlogsid']",
                  "item/cat_executionstatuscode": "@if(not(empty(variables('ErrorMessage'))), 4, 3)",
                  "item/cat_errormessage": "@if(not(empty(variables('ErrorMessage'))), variables('ErrorMessage'), null)"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "operationId": "UpdateRecord",
                  "connectionName": "shared_commondataserviceforapps"
                }
              }
            }
          },
          "runAfter": {
            "Scope:_Catch": [
              "Succeeded",
              "Failed",
              "Skipped",
              "TimedOut"
            ]
          },
          "metadata": {
            "operationMetadataId": "3b16a931-71ef-4a27-b6c8-cea6a9fc38f1"
          },
          "type": "Scope"
        }
      }
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}