CopilotStudioAccelerator/SolutionPackage/src/Workflows/AgentInventoryAgentsDataLoad-AE08D194-1903-F011-BAE2-0022480427DD.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "cat_CopilotStudioAcceleratorDataverse"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      },
      "shared_powerplatformforadmins_1": {
        "runtimeSource": "invoker",
        "connection": {
          "connectionReferenceLogicalName": "cat_CopilotStudioAcceleratorPowerPlatformforAdmins"
        },
        "api": {
          "name": "shared_powerplatformforadmins"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "Power Automate Endpoint (cat_PowerAutomateEndpoint)": {
          "defaultValue": "https://make.powerautomate.com/",
          "type": "String",
          "metadata": {
            "schemaName": "cat_PowerAutomateEndpoint"
          }
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "12bbb6d3-aaf0-43b2-8fff-310409f487d0"
          },
          "type": "Request",
          "kind": "PowerAppV2",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {},
              "required": []
            }
          }
        }
      },
      "actions": {
        "Condition:_Check_if_latest_flow_run_is_running_or_not": {
          "actions": {
            "Scope:_Catch": {
              "actions": {
                "Filter_array:_Error_Actions": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "99ac3d05-53ad-4a38-9525-db31de07e4f1"
                  },
                  "type": "Query",
                  "inputs": {
                    "from": "@result('Scope:_Try')",
                    "where": "@or(equals(item()?['Status'], 'Failed'), equals(item()?['Status'], 'TimedOut'))"
                  }
                },
                "Append_to_string_variable:_Add_Error_Message1": {
                  "runAfter": {
                    "Filter_array:_Error_Actions": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "b8c6feab-2b15-45f4-b10e-c1bebc865a6c"
                  },
                  "type": "AppendToStringVariable",
                  "inputs": {
                    "name": "ErrorMessage",
                    "value": "@first(body('Filter_array:_Error_Actions'))?['error']?['message']"
                  }
                }
              },
              "runAfter": {
                "Scope:_Try": [
                  "Failed",
                  "Skipped",
                  "TimedOut"
                ]
              },
              "metadata": {
                "operationMetadataId": "2c518c23-57db-4f51-8cb6-67dc6e757906"
              },
              "type": "Scope"
            },
            "Scope:_Finally": {
              "actions": {
                "Get_a_row_by_ID:_Logs": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "855480c0-3730-4427-a9a2-3348b768d21e"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps_1",
                      "operationId": "GetItem",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "cat_copilotstudiokitlogses",
                      "recordId": "@outputs('Add_a_new_row:_Add_logs_in_log_table')?['body/cat_copilotstudiokitlogsid']",
                      "$select": "cat_errormessage, cat_executionstatuscode"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "Append_to_string_variable:_Add_Error_Message2": {
                  "runAfter": {
                    "Get_a_row_by_ID:_Logs": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "76f2d86b-50ad-4fc7-ad5a-7c299b1ce7b1"
                  },
                  "type": "AppendToStringVariable",
                  "inputs": {
                    "name": "ErrorMessage",
                    "value": "@outputs('Get_a_row_by_ID:_Logs')?['body/cat_errormessage']"
                  }
                },
                "Update_a_row:_Update_status_in_log_table": {
                  "runAfter": {
                    "Append_to_string_variable:_Add_Error_Message2": [
                      "Succeeded",
                      "Failed",
                      "Skipped",
                      "TimedOut"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "82f5adff-7726-4ecb-a1ac-63837128aff1"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps_1",
                      "operationId": "UpdateOnlyRecord",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "cat_copilotstudiokitlogses",
                      "recordId": "@outputs('Add_a_new_row:_Add_logs_in_log_table')?['body/cat_copilotstudiokitlogsid']",
                      "item/cat_executionstatuscode": "@if(not(empty(variables('ErrorMessage'))), 4, 3)",
                      "item/cat_enddate": "@formatDateTime(utcNow(), 'yyyy-MM-ddTHH:mm:ssZ')"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "Update_a_row:_Update_error_message_in_log_table": {
                  "runAfter": {
                    "Append_to_string_variable:_Add_Error_Message2": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "82f5adff-7726-4ecb-a1ac-63837128aff1"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps_1",
                      "operationId": "UpdateOnlyRecord",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "cat_copilotstudiokitlogses",
                      "recordId": "@outputs('Add_a_new_row:_Add_logs_in_log_table')?['body/cat_copilotstudiokitlogsid']",
                      "item/cat_enddate": "@formatDateTime(utcNow(), 'yyyy-MM-ddTHH:mm:ssZ')",
                      "item/cat_errormessage": "@if(not(empty(variables('ErrorMessage'))), variables('ErrorMessage'), null)"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                }
              },
              "runAfter": {
                "Scope:_Catch": [
                  "Succeeded",
                  "Failed",
                  "Skipped",
                  "TimedOut"
                ]
              },
              "metadata": {
                "operationMetadataId": "84064e5b-32dc-487d-aa6b-e75b72cb8edb"
              },
              "type": "Scope"
            },
            "Respond_to_a_Power_App_or_flow:_Started": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "2b8b97f1-403b-4527-8676-dbebf0cb6b08"
              },
              "type": "Response",
              "kind": "PowerApp",
              "inputs": {
                "statusCode": 200,
                "body": {
                  "response": "Data refresh is triggered",
                  "statuscode": "1"
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "response": {
                      "title": "Response",
                      "x-ms-dynamically-added": true,
                      "type": "string"
                    },
                    "statuscode": {
                      "title": "StatusCode",
                      "x-ms-dynamically-added": true,
                      "type": "string"
                    }
                  }
                }
              }
            },
            "Scope:_Try": {
              "actions": {
                "List_Environments_as_Admin:_Fetch_All_Environments": {
                  "runAfter": {
                    "Add_a_new_row:_Add_logs_in_log_table": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "cb05df60-bde1-41c4-830d-a15e09039998"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_powerplatformforadmins_1",
                      "operationId": "Get-AdminEnvironment",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_powerplatformforadmins"
                    },
                    "parameters": {
                      "api-version": "2018-10-01"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "Add_a_new_row:_Add_logs_in_log_table": {
                  "runAfter": {
                    "Compose:_Power_Automate_Endpoint": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "975ef2d6-6e8d-4de1-9b4e-a7e7ee60dd1f"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps_1",
                      "operationId": "CreateRecord",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "cat_copilotstudiokitlogses",
                      "item/cat_executionstatuscode": 2,
                      "item/cat_cloudflowinstanceurl": "@{outputs('Compose:_Power_Automate_Endpoint')}environments/@{workflow()?['tags']?['environmentName']}/solutions/fd140aaf-4df4-11dd-bd17-0019b9312238/flows/@{workflow()?['name']}/runs/@{workflow()?['run']?['name']}",
                      "item/cat_cloudflowname": "Agent Inventory | Agents Data Load",
                      "item/cat_name": "AgentInventoryMain - @{outputs('Compose:_WorkFlowID')}",
                      "item/cat_startdate": "@formatDateTime(utcNow(), 'yyyy-MM-ddTHH:mm:ssZ')",
                      "item/cat_syncnotified": false
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "Scope:_Agents_on_all_environments": {
                  "actions": {
                    "Apply_to_each:_All_Environments": {
                      "foreach": "@outputs('List_Environments_as_Admin:_Fetch_All_Environments')?['body/value']",
                      "actions": {
                        "Condition:_Check_if_there_is_any_error_mesage": {
                          "actions": {
                            "Get_a_row_by_ID:_Get_Log": {
                              "runAfter": {
                                "Compose:_ErrorMessage": [
                                  "Succeeded"
                                ]
                              },
                              "metadata": {
                                "operationMetadataId": "5e38519a-32b7-4328-ba20-52a09871b2ac"
                              },
                              "type": "OpenApiConnection",
                              "inputs": {
                                "host": {
                                  "connectionName": "shared_commondataserviceforapps_1",
                                  "operationId": "GetItem",
                                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                },
                                "parameters": {
                                  "entityName": "cat_copilotstudiokitlogses",
                                  "recordId": "@outputs('Add_a_new_row:_Add_logs_in_log_table')?['body/cat_copilotstudiokitlogsid']",
                                  "$select": "cat_errormessage"
                                },
                                "authentication": "@parameters('$authentication')"
                              }
                            },
                            "Update_a_row:_Error_Message_in_logs": {
                              "runAfter": {
                                "Get_a_row_by_ID:_Get_Log": [
                                  "Succeeded"
                                ]
                              },
                              "metadata": {
                                "operationMetadataId": "7ea3309c-a4eb-4344-8242-bf970775590f"
                              },
                              "type": "OpenApiConnection",
                              "inputs": {
                                "host": {
                                  "connectionName": "shared_commondataserviceforapps_1",
                                  "operationId": "UpdateOnlyRecord",
                                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                },
                                "parameters": {
                                  "entityName": "cat_copilotstudiokitlogses",
                                  "recordId": "@outputs('Add_a_new_row:_Add_logs_in_log_table')?['body/cat_copilotstudiokitlogsid']",
                                  "item/cat_errormessage": "@concat(outputs('Get_a_row_by_ID:_Get_Log')?['body']?['cat_errormessage'],outputs('Compose:_ErrorMessage'))"
                                },
                                "authentication": "@parameters('$authentication')"
                              }
                            },
                            "Compose:_ErrorMessage": {
                              "runAfter": {},
                              "metadata": {
                                "operationMetadataId": "dbd16917-0e83-49d7-a6bb-12b99e06caa4"
                              },
                              "type": "Compose",
                              "inputs": "@{body('Run_a_Child_Flow:_Agent_Inventory_Child')?['errormessage']}\n"
                            }
                          },
                          "runAfter": {
                            "Run_a_Child_Flow:_Agent_Inventory_Child": [
                              "Succeeded"
                            ]
                          },
                          "expression": {
                            "equals": [
                              "@not(empty(outputs('Run_a_Child_Flow:_Agent_Inventory_Child')?['Body']?['errormessage']))",
                              true
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "bc450b2a-5dea-4891-808a-b1983a1cae77"
                          },
                          "type": "If"
                        },
                        "Run_a_Child_Flow:_Agent_Inventory_Child": {
                          "runAfter": {
                            "Compose:_Child_Flow_Input": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "8c63477b-40eb-440c-a4b4-03dd48c6ce9a"
                          },
                          "type": "Workflow",
                          "inputs": {
                            "host": {
                              "workflowReferenceName": "c7db6d55-e004-f011-bae2-0022480427dd"
                            },
                            "body": {
                              "text": "@outputs('Compose:_Child_Flow_Input')?['EnvironmentID']",
                              "text_1": "@outputs('Compose:_Child_Flow_Input')?['EnvironmentName']",
                              "text_3": "@outputs('Compose:_Child_Flow_Input')?['EnvironmentURL']",
                              "text_4": "@outputs('Compose:_Child_Flow_Input')?['WorkFlowID']",
                              "text_2": "@outputs('Compose:_Child_Flow_Input')?['EnvironmentType']"
                            },
                            "retryPolicy": {
                              "type": "none"
                            }
                          }
                        },
                        "Compose:_Child_Flow_Input": {
                          "runAfter": {},
                          "metadata": {
                            "operationMetadataId": "74268243-32a0-4e02-b106-3adabce20a34"
                          },
                          "type": "Compose",
                          "inputs": {
                            "EnvironmentID": "@items('Apply_to_each:_All_Environments')?['name']",
                            "EnvironmentName": "@if(empty(items('Apply_to_each:_All_Environments')?['properties/linkedEnvironmentMetadata/friendlyName']),items('Apply_to_each:_All_Environments')?['properties/displayName'],items('Apply_to_each:_All_Environments')?['properties/linkedEnvironmentMetadata/friendlyName'])",
                            "EnvironmentURL": "@items('Apply_to_each:_All_Environments')?['properties/linkedEnvironmentMetadata/instanceUrl']",
                            "EnvironmentType": "@items('Apply_to_each:_All_Environments')?['properties/environmentSku']",
                            "WorkFlowID": "@outputs('Compose:_WorkFlowID')"
                          }
                        }
                      },
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "0c5b239e-068f-4877-96b7-a35a6f7551af"
                      },
                      "type": "Foreach",
                      "runtimeConfiguration": {
                        "concurrency": {
                          "repetitions": 40
                        }
                      }
                    },
                    "Scope:_Data_Cleanup": {
                      "actions": {
                        "List_rows:_Retrieve_agents_from_agentinventory_for_cleanup": {
                          "runAfter": {},
                          "metadata": {
                            "operationMetadataId": "9e759e9f-cc52-4a40-820c-00d9c5772bce"
                          },
                          "type": "OpenApiConnection",
                          "inputs": {
                            "host": {
                              "connectionName": "shared_commondataserviceforapps_1",
                              "operationId": "ListRecords",
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                            },
                            "parameters": {
                              "entityName": "cat_agentdetailses",
                              "$select": "cat_agentid",
                              "$filter": "cat_refreshstatus ne '@{outputs('Compose:_RefreshStatus')}' and cat_refreshstatus ne 'Not@{outputs('Compose:_RefreshStatus')}'"
                            },
                            "authentication": "@parameters('$authentication')"
                          },
                          "runtimeConfiguration": {
                            "paginationPolicy": {
                              "minimumItemCount": 20000
                            }
                          }
                        },
                        "Apply_to_each:_Retrieved_agents_for_cleanup": {
                          "foreach": "@outputs('List_rows:_Retrieve_agents_from_agentinventory_for_cleanup')?['body/value']",
                          "actions": {
                            "Delete_a_row:_Delete_agents_from_agentinventory_for_cleanup": {
                              "runAfter": {},
                              "metadata": {
                                "operationMetadataId": "15745eb5-b4b2-4070-8124-b7c7d113f118"
                              },
                              "type": "OpenApiConnection",
                              "inputs": {
                                "host": {
                                  "connectionName": "shared_commondataserviceforapps_1",
                                  "operationId": "DeleteRecord",
                                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                },
                                "parameters": {
                                  "entityName": "cat_agentdetailses",
                                  "recordId": "@items('Apply_to_each:_Retrieved_agents_for_cleanup')?['cat_agentdetailsid']"
                                },
                                "authentication": "@parameters('$authentication')"
                              }
                            }
                          },
                          "runAfter": {
                            "List_rows:_Retrieve_agents_from_agentinventory_for_cleanup": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "85d19cc1-abf8-436d-9660-44bda83e2f39"
                          },
                          "type": "Foreach",
                          "runtimeConfiguration": {
                            "concurrency": {
                              "repetitions": 40
                            }
                          }
                        }
                      },
                      "runAfter": {
                        "Apply_to_each:_All_Environments": [
                          "Succeeded",
                          "Failed",
                          "TimedOut"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "a9006903-b336-4f9a-a46a-e5bfb108e109"
                      },
                      "type": "Scope"
                    }
                  },
                  "runAfter": {
                    "List_Environments_as_Admin:_Fetch_All_Environments": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "3d419354-02d9-4d11-b07d-074e4aac07b2"
                  },
                  "type": "Scope"
                },
                "Compose:_RefreshStatus": {
                  "runAfter": {
                    "Compose:_WorkFlowID": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "d2db2a14-f732-4064-8b3e-c2bc14f346c0"
                  },
                  "type": "Compose",
                  "inputs": "Refreshed - @{outputs('Compose:_WorkFlowID')}"
                },
                "Compose:_WorkFlowID": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "4850d141-8bb9-4681-8cab-4481c2545f38"
                  },
                  "type": "Compose",
                  "inputs": "@workflow()?['run/name']"
                },
                "Compose:_Power_Automate_Endpoint": {
                  "runAfter": {
                    "Compose:_RefreshStatus": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "dac07422-be0b-43f9-9587-7357b838bb5b"
                  },
                  "type": "Compose",
                  "inputs": "@if(equals(parameters('Power Automate Endpoint (cat_PowerAutomateEndpoint)'),'https://make.powerautomate.com/'),'https://make.powerautomate.com/',parameters('Power Automate Endpoint (cat_PowerAutomateEndpoint)'))"
                }
              },
              "runAfter": {
                "Respond_to_a_Power_App_or_flow:_Started": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "67f0b33d-63f4-4398-9e40-6bb16cbcfca6"
              },
              "type": "Scope"
            }
          },
          "runAfter": {
            "List_rows:_Retrieve_latest_flow_log": [
              "Succeeded"
            ]
          },
          "else": {
            "actions": {
              "Respond_to_a_Power_App_or_flow:_Running": {
                "runAfter": {},
                "metadata": {
                  "operationMetadataId": "2b8b97f1-403b-4527-8676-dbebf0cb6b08"
                },
                "type": "Response",
                "kind": "PowerApp",
                "inputs": {
                  "statusCode": 200,
                  "body": {
                    "response": "Flow is already running",
                    "statuscode": "2"
                  },
                  "schema": {
                    "type": "object",
                    "properties": {
                      "response": {
                        "title": "Response",
                        "x-ms-dynamically-added": true,
                        "type": "string"
                      },
                      "statuscode": {
                        "title": "StatusCode",
                        "x-ms-dynamically-added": true,
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "expression": {
            "not": {
              "equals": [
                "@first(outputs('List_rows:_Retrieve_latest_flow_log')?['body/value'])?['cat_executionstatuscode']",
                2
              ]
            }
          },
          "metadata": {
            "operationMetadataId": "a7742682-b173-48ac-8846-826243d6de59"
          },
          "type": "If"
        },
        "Initialize_variable:_ErrorMessage": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "e9aaba3e-a013-4e2f-8ea8-54ef344d8ba5"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "ErrorMessage",
                "type": "string"
              }
            ]
          }
        },
        "List_rows:_Retrieve_latest_flow_log": {
          "runAfter": {
            "Initialize_variable:_ErrorMessage": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "320477f9-e64a-4e4d-bbb0-d1fda9d7816f"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "cat_copilotstudiokitlogses",
              "$select": "cat_executionstatuscode",
              "$filter": "cat_cloudflowname eq 'Agent Inventory | Agents Data Load'",
              "$orderby": "createdon desc",
              "$top": 1
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "outputs": {}
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}