CopilotStudioAccelerator/SolutionPackage/src/Workflows/AgentComplianceUpdateCaseChild-9BB6DDEC-E3AF-F011-BBD3-00224809EACC.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "api": {
          "name": "shared_commondataserviceforapps"
        },
        "connection": {
          "connectionReferenceLogicalName": "cat_CopilotStudioAcceleratorDataverse"
        },
        "runtimeSource": "embedded"
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "Power Automate Region (cat_PowerAutomateEndpoint)": {
          "defaultValue": "Commercial",
          "type": "String",
          "metadata": {
            "schemaName": "cat_PowerAutomateEndpoint",
            "description": "Specify your Power Automate environment region/cloud: Commercial, GCC, GCC High, or DoD."
          }
        }
      },
      "triggers": {
        "manual": {
          "type": "Request",
          "kind": "Button",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "text": {
                  "title": "Agent",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                },
                "text_1": {
                  "title": "Case",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                },
                "text_2": {
                  "description": "Please enter your input",
                  "title": "Rules",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                },
                "text_3": {
                  "description": "Please enter your input",
                  "title": "Actions",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                }
              },
              "required": [
                "text",
                "text_1",
                "text_2",
                "text_3"
              ]
            }
          },
          "metadata": {
            "operationMetadataId": "cdd97ed9-e7d1-4345-8a05-8898b48adc56"
          }
        }
      },
      "actions": {
        "Respond_to_a_Power_App_or_flow": {
          "type": "Response",
          "kind": "PowerApp",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {},
              "additionalProperties": {}
            },
            "statusCode": 200,
            "body": {}
          },
          "runAfter": {
            "Scope:_Finally": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "bee3110f-fbaf-4664-ad13-988b8df6d32e"
          }
        },
        "Terminate": {
          "type": "Terminate",
          "inputs": {
            "runStatus": "Succeeded"
          },
          "runAfter": {
            "Respond_to_a_Power_App_or_flow": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "960eb369-71c1-4995-ad23-686859bdc724"
          }
        },
        "Initialize_variable:_ErrorMessage": {
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "ErrorMessage",
                "type": "string"
              }
            ]
          },
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "84dc8095-fa63-4f71-aaa9-ed2863a636bb"
          }
        },
        "Scope:_Try": {
          "type": "Scope",
          "actions": {
            "Get_Flow_Endpoint": {
              "type": "Compose",
              "inputs": "@if(equals(toLower(parameters('Power Automate Region (cat_PowerAutomateEndpoint)')), 'gcc'), 'https://make.gov.powerautomate.us/', \r\n    if(equals(toLower(parameters('Power Automate Region (cat_PowerAutomateEndpoint)')), 'gcc(high)'), 'https://make.high.powerautomate.us/', \r\n        if(equals(toLower(parameters('Power Automate Region (cat_PowerAutomateEndpoint)')), 'dod'), 'https://make.powerautomate.appsplatform.us/', \r\n            'https://make.powerautomate.com/'\r\n        )\r\n    )\r\n)",
              "metadata": {
                "operationMetadataId": "dc8e743d-1408-445c-8614-ee97abfcad5e"
              }
            },
            "Check_Compliance": {
              "type": "Workflow",
              "inputs": {
                "host": {
                  "workflowReferenceName": "b6182655-6eac-f011-bbd3-00224809eacc"
                },
                "body": {
                  "text": "@triggerBody()?['text']",
                  "text_1": "@triggerBody()?['text_2']",
                  "text_2": "@triggerBody()?['text_3']"
                }
              },
              "runAfter": {
                "Update_a_row:_Link_Compliance_Case": [
                  "SUCCEEDED"
                ]
              },
              "metadata": {
                "operationMetadataId": "c7d4d548-eca0-4f71-93f4-a3e522961d8e"
              }
            },
            "Risk_Level": {
              "type": "Compose",
              "inputs": "@if(equals(body('Check_Compliance')?['risklevel'], null), 0, body('Check_Compliance')?['risklevel'])",
              "runAfter": {
                "Check_Compliance": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "5884e415-3e20-4c64-9336-f2604024c203"
              }
            },
            "Update_Case": {
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "entityName": "cat_compliancecases",
                  "recordId": "@body('Parse_Case')?['cat_compliancecaseid']",
                  "item/cat_risklevel": "@outputs('Risk_Level')",
                  "item/cat_violations": "@body('Check_Compliance')?['violationspsv']"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "operationId": "UpdateOnlyRecord",
                  "connectionName": "shared_commondataserviceforapps"
                }
              },
              "runAfter": {
                "Risk_Level": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "f9a7a2cf-70aa-4533-a016-1eb5eecd87d6"
              }
            },
            "Parse_New_Violations": {
              "type": "ParseJson",
              "inputs": {
                "content": "@body('Check_Compliance')?['violations']",
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "@@odata.id": {
                        "type": "string"
                      },
                      "cat_risklevel@OData.Community.Display.V1.FormattedValue": {
                        "type": "string"
                      },
                      "cat_risklevel": {
                        "type": "integer"
                      },
                      "cat_thresholdconfigid@odata.type": {
                        "type": "string"
                      },
                      "cat_thresholdconfigid": {
                        "type": "string"
                      },
                      "cat_defaultvalue": {
                        "type": "string"
                      },
                      "cat_filtercolumn": {
                        "type": "string"
                      },
                      "cat_filteroperator@OData.Community.Display.V1.FormattedValue": {
                        "type": "string"
                      },
                      "cat_filteroperator": {
                        "type": "integer"
                      }
                    }
                  }
                }
              },
              "runAfter": {
                "Apply_to_each": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "7c647592-32f4-4927-9428-b41416ebc313"
              }
            },
            "For_each_New_Violation": {
              "type": "Foreach",
              "foreach": "@outputs('Parse_New_Violations')['body']",
              "actions": {
                "Relate_rows": {
                  "type": "OpenApiConnection",
                  "inputs": {
                    "parameters": {
                      "entityName": "cat_compliancecases",
                      "recordId": "@outputs('Update_Case')?['body/cat_compliancecaseid']",
                      "associationEntityRelationship": "cat_ThresholdViolations",
                      "item/@odata.id": "@item()?['@odata.id']"
                    },
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                      "operationId": "AssociateEntities",
                      "connectionName": "shared_commondataserviceforapps"
                    }
                  },
                  "metadata": {
                    "operationMetadataId": "9ccddbd2-80c9-4f96-b013-e1ae5a722439"
                  }
                }
              },
              "runAfter": {
                "Parse_New_Violations": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "03b19b85-e2d2-40e9-92cf-b079de53d60f"
              }
            },
            "Check_Rules": {
              "type": "Scope",
              "actions": {
                "Has_SLA": {
                  "type": "If",
                  "expression": {
                    "and": [
                      {
                        "not": {
                          "equals": [
                            "@outputs('Update_Case')?['body/cat_expirydate']",
                            "@null"
                          ]
                        }
                      }
                    ]
                  },
                  "actions": {
                    "Run_Action_Policy": {
                      "type": "If",
                      "description": "SLA Expired && Status in [Open, Submitted, Approved, Rejected]",
                      "expression": {
                        "and": [
                          {
                            "less": [
                              "@outputs('Update_Case')?['body/cat_expirydate']",
                              "@utcNow()"
                            ]
                          },
                          {
                            "or": [
                              {
                                "equals": [
                                  "@outputs('Update_Case')?['body/cat_statusreason']",
                                  335350000
                                ]
                              },
                              {
                                "equals": [
                                  "@outputs('Update_Case')?['body/cat_statusreason']",
                                  335350001
                                ]
                              },
                              {
                                "equals": [
                                  "@outputs('Update_Case')?['body/cat_statusreason']",
                                  335350002
                                ]
                              },
                              {
                                "equals": [
                                  "@outputs('Update_Case')?['body/cat_statusreason']",
                                  335350003
                                ]
                              }
                            ]
                          }
                        ]
                      },
                      "actions": {
                        "Execute_Action_Policy": {
                          "type": "OpenApiConnection",
                          "inputs": {
                            "parameters": {
                              "entityName": "cat_compliancecases",
                              "actionName": "Microsoft.Dynamics.CRM.cat_RunPolicyEnforcement",
                              "recordId": "@body('Parse_Case')?['cat_compliancecaseid']"
                            },
                            "host": {
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                              "operationId": "PerformBoundAction",
                              "connectionName": "shared_commondataserviceforapps"
                            }
                          },
                          "metadata": {
                            "operationMetadataId": "eaa1e590-94aa-4698-91d8-ecf427e3e219"
                          }
                        }
                      },
                      "else": {
                        "actions": {}
                      },
                      "metadata": {
                        "operationMetadataId": "fdcc49c4-9a9c-4e18-97d2-155bf67fe2de"
                      }
                    },
                    "Send_SLA_Reminder": {
                      "type": "If",
                      "description": "SLA Not Expired && ( Intake Not Completed || Violations Not Fixed ) && Status in [Open, Submitted, Approved]",
                      "expression": {
                        "and": [
                          {
                            "greater": [
                              "@ticks(outputs('Update_Case')?['body/cat_expirydate'])",
                              "@ticks(utcNow())"
                            ]
                          },
                          {
                            "or": [
                              {
                                "equals": [
                                  "@outputs('Update_Case')?['body/cat_intakecompleted']",
                                  "@false"
                                ]
                              },
                              {
                                "greater": [
                                  "@outputs('Risk_Level')",
                                  1
                                ]
                              }
                            ]
                          },
                          {
                            "or": [
                              {
                                "equals": [
                                  "@outputs('Update_Case')?['body/cat_statusreason']",
                                  335350000
                                ]
                              },
                              {
                                "equals": [
                                  "@outputs('Update_Case')?['body/cat_statusreason']",
                                  335350001
                                ]
                              },
                              {
                                "equals": [
                                  "@outputs('Update_Case')?['body/cat_statusreason']",
                                  335350002
                                ]
                              }
                            ]
                          }
                        ]
                      },
                      "actions": {
                        "Send_SLA_Reminder_To_Maker_1": {
                          "type": "Workflow",
                          "inputs": {
                            "host": {
                              "workflowReferenceName": "d559c98c-c1af-f011-bbd3-00224809eacc"
                            },
                            "body": {
                              "text": "AgentCompliance_SLAReminder",
                              "text_1": "{\n\"AgentName\":\"@{outputs('Update_Case')?['body/cat_agentdisplayname']}\",\n\"CaseID\":\"@{outputs('Update_Case')?['body/cat_caseid']}\",\n\"DaysRemaining\":@{outputs('Update_Case')?['body/cat_daysremaining']}\n}",
                              "text_3": "@outputs('Update_Case')?['body/cat_owneremail']"
                            }
                          },
                          "metadata": {
                            "operationMetadataId": "d20d9a3a-2fbc-4091-bbd7-2eb5007aeab9"
                          }
                        },
                        "Add_Note_-_SLA_reminder_sent": {
                          "type": "OpenApiConnection",
                          "inputs": {
                            "parameters": {
                              "entityName": "annotations",
                              "item/subject": "SLA reminder sent to maker",
                              "item/notetext": "A SLA reminder was sent to @{outputs('Update_Case')?['body/cat_owneremail']} with @{outputs('Update_Case')?['body/cat_daysremaining']} left",
                              "item/isdocument": false,
                              "item/objectid_cat_compliancecase@odata.bind": "/cat_compliancecases(@{outputs('Update_Case')?['body/cat_compliancecaseid']})"
                            },
                            "host": {
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                              "operationId": "CreateRecord",
                              "connectionName": "shared_commondataserviceforapps"
                            }
                          },
                          "runAfter": {
                            "Send_SLA_Reminder_To_Maker_1": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "1a2c0fc0-5be7-46a6-aa67-3f2bd8114c2e"
                          }
                        }
                      },
                      "else": {
                        "actions": {}
                      },
                      "runAfter": {
                        "Scope": [
                          "Succeeded",
                          "Failed",
                          "Skipped",
                          "TimedOut"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "7aa29d3f-7fed-48cb-b927-dd287f57b629"
                      }
                    },
                    "Send_The_Admin_Approval": {
                      "type": "If",
                      "description": "Within SLA, Intake Completed, Violations Fixed, Submitted status",
                      "expression": {
                        "and": [
                          {
                            "greater": [
                              "@outputs('Update_Case')?['body/cat_expirydate']",
                              "@utcNow()"
                            ]
                          },
                          {
                            "equals": [
                              "@outputs('Update_Case')?['body/cat_intakecompleted']",
                              "@true"
                            ]
                          },
                          {
                            "lessOrEquals": [
                              "@outputs('Risk_Level')",
                              1
                            ]
                          },
                          {
                            "equals": [
                              "@outputs('Update_Case')?['body/cat_statusreason']",
                              335350001
                            ]
                          }
                        ]
                      },
                      "actions": {
                        "Send_Admin_Approval": {
                          "type": "OpenApiConnection",
                          "inputs": {
                            "parameters": {
                              "entityName": "cat_compliancecases",
                              "actionName": "Microsoft.Dynamics.CRM.cat_StartAdminApproval",
                              "recordId": "@body('Parse_Case')?['cat_compliancecaseid']"
                            },
                            "host": {
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                              "operationId": "PerformBoundAction",
                              "connectionName": "shared_commondataserviceforapps"
                            }
                          },
                          "metadata": {
                            "operationMetadataId": "45828213-ce87-47c9-bcc1-2205419fe896"
                          }
                        }
                      },
                      "else": {
                        "actions": {}
                      },
                      "runAfter": {
                        "Send_SLA_Reminder": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "58897647-8e4b-4e44-a62f-7b94dac34727"
                      }
                    },
                    "Remove_Approved_SLA": {
                      "type": "If",
                      "description": "Within SLA, Intake Completed, Violations Fixed, Approved status",
                      "expression": {
                        "and": [
                          {
                            "greater": [
                              "@outputs('Update_Case')?['body/cat_expirydate']",
                              "@utcNow()"
                            ]
                          },
                          {
                            "equals": [
                              "@outputs('Update_Case')?['body/cat_intakecompleted']",
                              "@true"
                            ]
                          },
                          {
                            "lessOrEquals": [
                              "@outputs('Risk_Level')",
                              1
                            ]
                          },
                          {
                            "equals": [
                              "@outputs('Update_Case')?['body/cat_statusreason']",
                              335350002
                            ]
                          }
                        ]
                      },
                      "actions": {
                        "Update_Approved_Case_-_Remove_SLA": {
                          "type": "OpenApiConnection",
                          "inputs": {
                            "parameters": {
                              "entityName": "cat_compliancecases",
                              "recordId": "@outputs('Update_Case')?['body/cat_compliancecaseid']",
                              "item/cat_expirydate": "@null"
                            },
                            "host": {
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                              "operationId": "UpdateOnlyRecord",
                              "connectionName": "shared_commondataserviceforapps"
                            }
                          },
                          "metadata": {
                            "operationMetadataId": "b6ed396e-0b8b-4208-8d8c-efbcb9a848cf"
                          }
                        }
                      },
                      "else": {
                        "actions": {}
                      },
                      "runAfter": {
                        "Send_The_Admin_Approval": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "e7c62b01-32fd-4bde-9fe6-a082f286a725"
                      }
                    },
                    "Reopen_Approved_Case_with_Drift": {
                      "type": "If",
                      "expression": {
                        "and": [
                          {
                            "equals": [
                              "@outputs('Update_Case')?['body/cat_expirydate']",
                              "@null"
                            ]
                          },
                          {
                            "equals": [
                              "@outputs('Update_Case')?['body/cat_statusreason']",
                              335350002
                            ]
                          },
                          {
                            "greater": [
                              "@body('Check_Compliance')?['risklevel']",
                              1
                            ]
                          }
                        ]
                      },
                      "actions": {
                        "Send_Violations_Alert_To_Maker_1": {
                          "type": "Workflow",
                          "inputs": {
                            "host": {
                              "workflowReferenceName": "d559c98c-c1af-f011-bbd3-00224809eacc"
                            },
                            "body": {
                              "text": "AgentCompliance_ApprovedViolations",
                              "text_1": "{}",
                              "text_3": "@outputs('Update_Case')?['body/cat_owneremail']"
                            }
                          },
                          "metadata": {
                            "operationMetadataId": "cec0a681-3ac7-4a29-9173-ca8cd5badbf1"
                          }
                        },
                        "Add_Note_-_Approved_case_violation_drift": {
                          "type": "OpenApiConnection",
                          "inputs": {
                            "parameters": {
                              "entityName": "annotations",
                              "item/subject": "Violation found on approved case",
                              "item/notetext": "A violation email was sent to @{outputs('Update_Case')?['body/cat_owneremail']}",
                              "item/isdocument": false,
                              "item/objectid_cat_compliancecase@odata.bind": "/cat_compliancecases(@{outputs('Update_Case')?['body/cat_compliancecaseid']})"
                            },
                            "host": {
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                              "operationId": "CreateRecord",
                              "connectionName": "shared_commondataserviceforapps"
                            }
                          },
                          "runAfter": {
                            "Send_Violations_Alert_To_Maker_1": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "f6330035-dd50-415a-8441-a856f7f5e442"
                          }
                        }
                      },
                      "else": {
                        "actions": {}
                      },
                      "runAfter": {
                        "Remove_Approved_SLA": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "32d0d0bb-46d7-45cf-815a-780e0f1ebeaa"
                      }
                    },
                    "Scope": {
                      "type": "Scope",
                      "actions": {
                        "SLA_not_exceeded": {
                          "type": "Compose",
                          "inputs": "expiry date (@{ticks(outputs('Update_Case')?['body/cat_expirydate'])}) < now (@{ticks(utcNow())})= @{greater(ticks(outputs('Update_Case')?['body/cat_expirydate']),ticks(utcNow()))}",
                          "metadata": {
                            "operationMetadataId": "8ef40988-07e6-4d64-853e-9c9001943dc2"
                          }
                        },
                        "Intake_Completed": {
                          "type": "Compose",
                          "inputs": "@{outputs('Update_Case')?['body/cat_intakecompleted']} = false --> @{equals(outputs('Update_Case')?['body/cat_intakecompleted'], false)}",
                          "runAfter": {
                            "SLA_not_exceeded": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "a6dbe08f-d8a2-478e-a476-2427a120c3e6"
                          }
                        },
                        "Has_Violations": {
                          "type": "Compose",
                          "inputs": "Risk Level ( @{outputs('Risk_Level')} ) greater than 1 = @{greater(outputs('Risk_Level'),1)}",
                          "runAfter": {
                            "Intake_Completed": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "72d41cb9-88a2-4769-a06a-d2e9287e147d"
                          }
                        },
                        "Case_Status": {
                          "type": "Compose",
                          "inputs": "@outputs('Update_Case')?['body/cat_statusreason']",
                          "runAfter": {
                            "Has_Violations": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "83db686d-e235-48b9-a12e-effc1565c50f"
                          }
                        }
                      },
                      "runAfter": {
                        "Run_Action_Policy": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "5410b3db-7da6-4b55-8e95-660d79a8b929"
                      }
                    }
                  },
                  "else": {
                    "actions": {}
                  },
                  "metadata": {
                    "operationMetadataId": "9e082477-9bba-49c0-bab3-22134bd8380e"
                  }
                }
              },
              "runAfter": {
                "For_each_New_Violation": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "e00af8d8-6c6e-499e-a8b6-109af029c4d9"
              }
            },
            "Parse_Case": {
              "type": "ParseJson",
              "inputs": {
                "content": "@triggerBody()?['text_1']",
                "schema": {
                  "type": "object",
                  "properties": {
                    "statuscode": {
                      "type": "integer"
                    },
                    "cat_daysremaining": {
                      "type": "integer"
                    },
                    "cat_state": {
                      "type": "boolean"
                    },
                    "cat_intakecompleted": {
                      "type": "boolean"
                    },
                    "cat_caseid": {
                      "type": "string"
                    },
                    "cat_agentid": {
                      "type": "string"
                    },
                    "cat_expirydate": {
                      "type": "string"
                    },
                    "cat_risklevel@OData.Community.Display.V1.FormattedValue": {
                      "type": "string"
                    },
                    "cat_risklevel": {
                      "type": "integer"
                    },
                    "cat_compliancecaseid": {
                      "type": "string"
                    },
                    "statecode": {
                      "type": "integer"
                    },
                    "cat_statusreason@OData.Community.Display.V1.FormattedValue": {
                      "type": "string"
                    },
                    "cat_statusreason": {
                      "type": "integer"
                    },
                    "cat_violationsjson": {
                      "type": "string"
                    },
                    "cat_ThresholdViolations@odata.type": {
                      "type": "string"
                    },
                    "cat_ThresholdViolations": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "@@odata.id": {
                            "type": "string"
                          },
                          "cat_risklevel@OData.Community.Display.V1.FormattedValue": {
                            "type": "string"
                          },
                          "cat_risklevel": {
                            "type": "integer"
                          },
                          "cat_thresholdconfigid@odata.type": {
                            "type": "string"
                          },
                          "cat_thresholdconfigid": {
                            "type": "string"
                          },
                          "cat_defaultvalue": {
                            "type": "string"
                          },
                          "cat_filtercolumn": {
                            "type": "string"
                          },
                          "cat_description": {
                            "type": "string"
                          },
                          "cat_enabled": {
                            "type": "boolean"
                          },
                          "statecode@OData.Community.Display.V1.FormattedValue": {
                            "type": "string"
                          },
                          "statecode": {
                            "type": "integer"
                          },
                          "cat_configid": {
                            "type": "string"
                          },
                          "cat_category@OData.Community.Display.V1.FormattedValue": {
                            "type": "string"
                          },
                          "cat_category": {
                            "type": "integer"
                          },
                          "cat_filteroperator@OData.Community.Display.V1.FormattedValue": {
                            "type": "string"
                          },
                          "cat_filteroperator": {
                            "type": "integer"
                          }
                        }
                      }
                    },
                    "owninguser": {
                      "type": "object",
                      "properties": {
                        "ownerid": {
                          "type": "string"
                        },
                        "internalemailaddress": {
                          "type": "string"
                        },
                        "fullname": {
                          "type": "string"
                        },
                        "azureactivedirectoryobjectid@odata.type": {
                          "type": "string"
                        },
                        "azureactivedirectoryobjectid": {
                          "type": "string"
                        },
                        "systemuserid@odata.type": {
                          "type": "string"
                        },
                        "systemuserid": {
                          "type": "string"
                        },
                        "domainname": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              },
              "runAfter": {
                "Add_a_new_row:_Logs": [
                  "SUCCEEDED"
                ]
              },
              "metadata": {
                "operationMetadataId": "20128cdd-b1f3-451e-b8e5-2b952ad0a6a7"
              }
            },
            "Parse_Old_Violations": {
              "type": "ParseJson",
              "inputs": {
                "content": "@outputs('Update_Case')?['body/cat_violationsjson']",
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "@@odata.id": {
                        "type": "string"
                      },
                      "cat_thresholdconfigid": {
                        "type": "string"
                      }
                    }
                  }
                }
              },
              "runAfter": {
                "Update_Case": [
                  "Succeeded"
                ]
              }
            },
            "Apply_to_each": {
              "type": "Foreach",
              "foreach": "@body('Parse_Old_Violations')",
              "actions": {
                "Compose_1": {
                  "type": "Compose",
                  "inputs": "@item()"
                },
                "Unrelate_Violation_1_1": {
                  "type": "OpenApiConnection",
                  "inputs": {
                    "parameters": {
                      "entityName": "cat_compliancecases",
                      "recordId": "@outputs('Update_Case')?['body/cat_compliancecaseid']",
                      "associationEntityRelationship": "cat_ThresholdViolations",
                      "$id": "@item()?['@odata.id']"
                    },
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                      "operationId": "DisassociateEntities",
                      "connectionName": "shared_commondataserviceforapps"
                    }
                  },
                  "runAfter": {
                    "Compose_1": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "e4db5cc3-be93-4269-8b4f-1b8b604273f2"
                  }
                }
              },
              "runAfter": {
                "Compose": [
                  "Succeeded"
                ]
              }
            },
            "For_each": {
              "type": "Foreach",
              "foreach": "@outputs('Parse_Old_Violations')['body']",
              "actions": {
                "Condition": {
                  "type": "If",
                  "expression": {
                    "and": [
                      {
                        "greater": [
                          "@length(item()?['@odata.id'])",
                          0
                        ]
                      }
                    ]
                  },
                  "actions": {
                    "Append_to_array_variable": {
                      "type": "AppendToArrayVariable",
                      "inputs": {
                        "name": "OldThresholds",
                        "value": "@items('For_each')?['@odata.id']"
                      }
                    }
                  },
                  "else": {
                    "actions": {
                      "Get_Threshold_To_Unrelate": {
                        "type": "OpenApiConnection",
                        "inputs": {
                          "parameters": {
                            "entityName": "cat_thresholdconfigs",
                            "recordId": "@item()?['cat_thresholdconfigid']",
                            "x-ms-odata-metadata-full": true,
                            "$select": "cat_thresholdconfigid"
                          },
                          "host": {
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                            "operationId": "GetItem",
                            "connectionName": "shared_commondataserviceforapps"
                          }
                        }
                      },
                      "Append_to_array_variable_1": {
                        "type": "AppendToArrayVariable",
                        "inputs": {
                          "name": "OldThresholds",
                          "value": "@outputs('Get_Threshold_To_Unrelate')?['body/@odata.id']"
                        },
                        "runAfter": {
                          "Get_Threshold_To_Unrelate": [
                            "Succeeded"
                          ]
                        }
                      }
                    }
                  }
                }
              },
              "runAfter": {
                "Parse_Old_Violations": [
                  "Succeeded"
                ]
              }
            },
            "Compose": {
              "type": "Compose",
              "inputs": "@variables('OldThresholds')",
              "runAfter": {
                "For_each": [
                  "Succeeded"
                ]
              }
            },
            "Update_a_row:_Link_Compliance_Case": {
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "entityName": "cat_copilotstudiokitlogses",
                  "recordId": "@outputs('Add_a_new_row:_Logs')?['body/cat_copilotstudiokitlogsid']",
                  "item/cat_executionstatuscode": 2,
                  "item/cat_ComplianceCase@odata.bind": "/cat_compliancecases(@{body('Parse_Case')?['cat_compliancecaseid']})"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "operationId": "UpdateRecord",
                  "connectionName": "shared_commondataserviceforapps"
                }
              },
              "runAfter": {
                "Parse_Case": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "9f447776-551f-41e3-a432-ecfb376e623f"
              }
            },
            "Add_a_new_row:_Logs": {
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "entityName": "cat_copilotstudiokitlogses",
                  "item/cat_executionstatuscode": 2,
                  "item/cat_cloudflowinstanceurl": "@{outputs('Get_Flow_Endpoint')}environments/@{workflow()?['tags']?['environmentName']}/solutions/73fbfa55-8642-43d0-ab47-f15fab5813a4/flows/@{workflow()?['name']}/runs/@{workflow()?['run']?['name']}",
                  "item/cat_cloudflowname": "Agent Compliance | Update Case"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "operationId": "CreateRecord",
                  "connectionName": "shared_commondataserviceforapps"
                }
              },
              "runAfter": {
                "Get_Flow_Endpoint": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "1743ccd2-b8bb-4cee-9823-870ee9d4d438"
              }
            }
          },
          "runAfter": {
            "Initialize_variable": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "e3d4a5e1-bcfb-48cf-bf3b-3d4a076f32b0"
          }
        },
        "Scope:_Catch": {
          "type": "Scope",
          "actions": {
            "Filter_array:_Error_Actions": {
              "type": "Query",
              "inputs": {
                "from": "@result('Scope:_Try')",
                "where": "@or(equals(item()?['Status'], 'Failed'), equals(item()?['Status'], 'TimedOut'))"
              },
              "metadata": {
                "operationMetadataId": "318aa9b2-4531-451c-b162-84cf7a4a236e"
              }
            },
            "Set_variable:_ErrorMessage": {
              "type": "SetVariable",
              "inputs": {
                "name": "ErrorMessage",
                "value": "@{first(body('Filter_array:_Error_Actions'))?['error']?['message']}"
              },
              "runAfter": {
                "Filter_array:_Error_Actions": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "ee38e0e1-03cd-48d8-9933-d73f7204b0f7"
              }
            }
          },
          "runAfter": {
            "Scope:_Try": [
              "Failed",
              "Skipped",
              "TimedOut"
            ]
          },
          "metadata": {
            "operationMetadataId": "4f2e4827-62c8-4225-94cd-14089e7ac8f7"
          }
        },
        "Scope:_Finally": {
          "type": "Scope",
          "actions": {
            "Update_a_row:_Logs": {
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "entityName": "cat_copilotstudiokitlogses",
                  "recordId": "@outputs('Add_a_new_row:_Logs')?['body/cat_copilotstudiokitlogsid']",
                  "item/cat_executionstatuscode": "@if(not(empty(variables('ErrorMessage'))), 4, 3)",
                  "item/cat_errormessage": "@if(not(empty(variables('ErrorMessage'))), variables('ErrorMessage'), null)"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "operationId": "UpdateRecord",
                  "connectionName": "shared_commondataserviceforapps"
                }
              },
              "metadata": {
                "operationMetadataId": "9f447776-551f-41e3-a432-ecfb376e623f"
              }
            }
          },
          "runAfter": {
            "Scope:_Catch": [
              "Succeeded",
              "Failed",
              "Skipped",
              "TimedOut"
            ]
          },
          "metadata": {
            "operationMetadataId": "3b16a931-71ef-4a27-b6c8-cea6a9fc38f1"
          }
        },
        "Initialize_variable": {
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "OldThresholds",
                "type": "array"
              }
            ]
          },
          "runAfter": {
            "Initialize_variable:_ErrorMessage": [
              "Succeeded"
            ]
          }
        }
      }
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}