CopilotStudioAccelerator/SolutionPackage/src/Workflows/AgentComplianceCreateCaseChild-45176B38-6AB0-F011-BBD3-00224809EACC.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "impersonation": {},
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "cat_CopilotStudioAcceleratorDataverse"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      },
      "shared_office365users": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "cat_sharedoffice365users_ceff6"
        },
        "api": {
          "name": "shared_office365users"
        }
      },
      "shared_powerplatformforadmins-1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "cat_CopilotStudioAcceleratorPowerPlatformforAdmins"
        },
        "api": {
          "name": "shared_powerplatformforadmins"
        }
      },
      "shared_office365groups": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "cat_sharedoffice365groups_a8194"
        },
        "api": {
          "name": "shared_office365groups"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "Require Case For No Risk (cat_RequireCaseForNoRisk)": {
          "defaultValue": false,
          "type": "Bool",
          "metadata": {
            "schemaName": "cat_RequireCaseForNoRisk"
          }
        },
        "Admin Approval Before Maker Notification (cat_AdminApprovalBeforeMakerNotification)": {
          "defaultValue": true,
          "type": "Bool",
          "metadata": {
            "schemaName": "cat_AdminApprovalBeforeMakerNotification",
            "description": "If enabled, an approval will be sent to the admin before the maker is notified to complete the agent intake. If disabled, notifications are automatically sent"
          }
        },
        "Power Automate Region (cat_PowerAutomateEndpoint)": {
          "defaultValue": "Commercial",
          "type": "String",
          "metadata": {
            "schemaName": "cat_PowerAutomateEndpoint",
            "description": "Specify your Power Automate environment region/cloud: Commercial, GCC, GCC High, or DoD."
          }
        },
        "Compliance Support Contact Alias (cat_ComplianceSupportContactAlias)": {
          "defaultValue": "agent-coe-admins@powercattools.onmicrosoft.com",
          "type": "String",
          "metadata": {
            "schemaName": "cat_ComplianceSupportContactAlias",
            "description": "Email alias users can contact for support regarding the compliance system"
          }
        },
        "Compliance Documentation Link (cat_ComplianceDocumentationLink)": {
          "defaultValue": "https://aka.ms/guidanceLink",
          "type": "String",
          "metadata": {
            "schemaName": "cat_ComplianceDocumentationLink",
            "description": "Documentation link regarding the compliance requirements for developers"
          }
        },
        "Maker Team ID (cat_AgentMakerTeamID)": {
          "defaultValue": "5042a050-a432-45d1-bcf1-e67d12f65256",
          "type": "String",
          "metadata": {
            "schemaName": "cat_AgentMakerTeamID",
            "description": "Object ID of Azure AD group representing list of identified agent makers. New users added to group receive a welcome email."
          }
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "40b65f2e-55f0-4746-b153-591409bba8f7"
          },
          "type": "Request",
          "kind": "Button",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "text": {
                  "title": "Agent",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                },
                "text_1": {
                  "title": "Rules",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                },
                "text_2": {
                  "title": "Actions",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                }
              },
              "required": [
                "text",
                "text_1",
                "text_2"
              ]
            }
          }
        }
      },
      "actions": {
        "Respond_to_a_Power_App_or_flow": {
          "runAfter": {
            "Scope:_Finally": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "24f77ac9-155c-4e1f-9366-7222046c0b34"
          },
          "type": "Response",
          "kind": "PowerApp",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "caseid": {
                  "title": "CaseID",
                  "x-ms-dynamically-added": true,
                  "type": "string"
                }
              },
              "additionalProperties": {}
            },
            "statusCode": 200,
            "body": {
              "caseid": "@{outputs('Add_Case')?['body/cat_compliancecaseid']}"
            }
          }
        },
        "Scope:_Try": {
          "actions": {
            "Parse_Agent": {
              "runAfter": {
                "Add_a_new_row:_Logs": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "01605996-5681-4072-a90d-a7c20044a895"
              },
              "type": "ParseJson",
              "inputs": {
                "content": "@triggerBody()['text']",
                "schema": {
                  "type": "object",
                  "properties": {
                    "@@odata.type": {
                      "type": "string"
                    },
                    "cat_name": {
                      "type": "string"
                    },
                    "@@odata.id": {
                      "type": "string"
                    },
                    "@@odata.etag": {
                      "type": "string"
                    },
                    "@@odata.editLink": {
                      "type": "string"
                    },
                    "cat_enduserauthenticationtype": {
                      "type": "string"
                    },
                    "_ownerid_value@Microsoft.Dynamics.CRM.associatednavigationproperty": {
                      "type": "string"
                    },
                    "_ownerid_value@Microsoft.Dynamics.CRM.lookuplogicalname": {
                      "type": "string"
                    },
                    "_ownerid_value@OData.Community.Display.V1.FormattedValue": {
                      "type": "string"
                    },
                    "_ownerid_value@odata.type": {
                      "type": "string"
                    },
                    "_ownerid_value": {
                      "type": "string"
                    },
                    "cat_published@OData.Community.Display.V1.FormattedValue": {
                      "type": "string"
                    },
                    "cat_published": {
                      "type": "boolean"
                    },
                    "cat_agentdetailsid@odata.type": {
                      "type": "string"
                    },
                    "cat_agentdetailsid": {
                      "type": "string"
                    },
                    "versionnumber@Microsoft.Dynamics.CRM.ETag": {
                      "type": "string"
                    },
                    "versionnumber@odata.type": {
                      "type": "string"
                    },
                    "versionnumber": {
                      "type": "integer"
                    },
                    "cat_agentid": {
                      "type": "string"
                    },
                    "cat_agentcreatedbyadid": {
                      "type": "string"
                    },
                    "cat_agentcreatedby": {
                      "type": "string"
                    },
                    "cat_environmentid": {
                      "type": "string"
                    },
                    "cat_usesconnectormakerauthcontext@OData.Community.Display.V1.FormattedValue": {
                      "type": "string"
                    },
                    "cat_usesconnectormakerauthcontext": {
                      "type": "boolean"
                    },
                    "cat_environmenturl": {
                      "type": "string"
                    },
                    "cat_environmenttype": {
                      "type": "string"
                    },
                    "cat_usesprompts@OData.Community.Display.V1.FormattedValue": {
                      "type": "string"
                    },
                    "cat_usesprompts": {
                      "type": "boolean"
                    },
                    "ownerid@odata.associationLink": {
                      "type": "string"
                    },
                    "ownerid@odata.navigationLink": {
                      "type": "string"
                    }
                  }
                }
              }
            },
            "Get_Flow_Endpoint": {
              "metadata": {
                "operationMetadataId": "dc8e743d-1408-445c-8614-ee97abfcad5e"
              },
              "type": "Compose",
              "inputs": "@if(equals(toLower(parameters('Power Automate Region (cat_PowerAutomateEndpoint)')), 'gcc'), 'https://make.gov.powerautomate.us/', \r\n    if(equals(toLower(parameters('Power Automate Region (cat_PowerAutomateEndpoint)')), 'gcc(high)'), 'https://make.high.powerautomate.us/', \r\n        if(equals(toLower(parameters('Power Automate Region (cat_PowerAutomateEndpoint)')), 'dod'), 'https://make.powerautomate.appsplatform.us/', \r\n            'https://make.powerautomate.com/'\r\n        )\r\n    )\r\n)"
            },
            "Add_a_new_row:_Logs": {
              "runAfter": {
                "Get_Flow_Endpoint": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "1743ccd2-b8bb-4cee-9823-870ee9d4d438"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "entityName": "cat_copilotstudiokitlogses",
                  "item/cat_executionstatuscode": 2,
                  "item/cat_cloudflowinstanceurl": "@{outputs('Get_Flow_Endpoint')}environments/@{workflow()?['tags']?['environmentName']}/solutions/73fbfa55-8642-43d0-ab47-f15fab5813a4/flows/@{workflow()?['name']}/runs/@{workflow()?['run']?['name']}",
                  "item/cat_cloudflowname": "Agent Compliance | Create Case"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "operationId": "CreateRecord",
                  "connectionName": "shared_commondataserviceforapps"
                }
              }
            },
            "Check_Compliance": {
              "runAfter": {
                "Scope:_Catch_Find_Owner": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "cc25878e-261d-4a30-8255-0460f1b9aa4e"
              },
              "type": "Workflow",
              "inputs": {
                "host": {
                  "workflowReferenceName": "b6182655-6eac-f011-bbd3-00224809eacc"
                },
                "body": {
                  "text": "@triggerBody()['text']",
                  "text_1": "@triggerBody()['text_1']",
                  "text_2": "@triggerBody()['text_2']"
                }
              }
            },
            "Needs_Case": {
              "actions": {
                "Parse_Violations": {
                  "metadata": {
                    "operationMetadataId": "8ecc35ff-93ca-4fc0-82e9-d34789e8e298"
                  },
                  "type": "ParseJson",
                  "inputs": {
                    "content": "@body('Check_Compliance')?['violations']",
                    "schema": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "cat_thresholdconfigid": {
                            "type": "string"
                          },
                          "cat_configid": {
                            "type": "string"
                          },
                          "cat_filtercolumn": {
                            "type": "string"
                          },
                          "cat_defaultvalue": {
                            "type": "string"
                          },
                          "statuscode@OData.Community.Display.V1.FormattedValue": {
                            "type": "string"
                          },
                          "cat_filteroperator@OData.Community.Display.V1.FormattedValue": {
                            "type": "string"
                          },
                          "cat_filteroperator": {
                            "type": "integer"
                          },
                          "cat_risklevel@OData.Community.Display.V1.FormattedValue": {
                            "type": "string"
                          },
                          "cat_risklevel": {
                            "type": "integer"
                          },
                          "cat_mitigation": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "cat_filtercolumn",
                          "cat_defaultvalue",
                          "cat_risklevel@OData.Community.Display.V1.FormattedValue",
                          "cat_risklevel"
                        ]
                      }
                    }
                  }
                },
                "Add_Case": {
                  "runAfter": {
                    "Parse_Violations": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "9ea2cb1c-92bf-4819-830d-826cd0c337f0"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "parameters": {
                      "entityName": "cat_compliancecases",
                      "item/cat_agentdisplayname": "@body('Parse_Agent')?['cat_name']",
                      "item/cat_agentid": "@body('Parse_Agent')?['cat_agentid']",
                      "item/cat_statusreason": 335350008,
                      "item/cat_owneremail": "@variables('Owner')",
                      "item/cat_risklevel": "@body('Check_Compliance')?['risklevel']",
                      "item/cat_violations": "@body('Check_Compliance')?['violationspsv']",
                      "item/cat_violationsjson": "@body('Check_Compliance')?['violations']"
                    },
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                      "operationId": "CreateRecord",
                      "connectionName": "shared_commondataserviceforapps"
                    }
                  }
                },
                "Add_Note": {
                  "runAfter": {
                    "Apply_to_each_Violation": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "15154f6a-bd57-4c1a-8691-9ddb2a2df986"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "parameters": {
                      "entityName": "annotations",
                      "item/subject": "Case opened",
                      "item/notetext": "A case has been created for an agent '@{outputs('Add_Case')?['body/cat_agentdisplayname']}'",
                      "item/objectid_cat_compliancecase@odata.bind": "/cat_compliancecases(@{outputs('Add_Case')?['body/cat_compliancecaseid']})"
                    },
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                      "operationId": "CreateRecord",
                      "connectionName": "shared_commondataserviceforapps"
                    }
                  }
                },
                "Approval_Needed_To_Send_Intake_Request": {
                  "actions": {},
                  "runAfter": {
                    "Add_Note": [
                      "Succeeded"
                    ]
                  },
                  "else": {
                    "actions": {
                      "Send_Intake_Notice": {
                        "metadata": {
                          "operationMetadataId": "e83bd10b-b5e4-4eac-b3e4-b4cc2bcd1688"
                        },
                        "type": "OpenApiConnection",
                        "inputs": {
                          "parameters": {
                            "entityName": "cat_compliancecases",
                            "actionName": "Microsoft.Dynamics.CRM.cat_SendIntakeNotice",
                            "recordId": "@outputs('Add_Case')?['body/cat_compliancecaseid']"
                          },
                          "host": {
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                            "operationId": "PerformBoundAction",
                            "connectionName": "shared_commondataserviceforapps"
                          }
                        }
                      }
                    }
                  },
                  "expression": {
                    "and": [
                      {
                        "equals": [
                          "@parameters('Admin Approval Before Maker Notification (cat_AdminApprovalBeforeMakerNotification)')",
                          "@true"
                        ]
                      }
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "65fdbc85-0da0-4e53-b718-149bbdd68ac4"
                  },
                  "type": "If"
                },
                "Apply_to_each_Violation": {
                  "foreach": "@body('Parse_Violations')",
                  "actions": {
                    "Relate_rows": {
                      "metadata": {
                        "operationMetadataId": "3d43bb59-0c72-42e0-961f-765cab29d0eb"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "parameters": {
                          "entityName": "cat_compliancecases",
                          "recordId": "@outputs('Add_Case')?['body/cat_compliancecaseid']",
                          "associationEntityRelationship": "cat_ThresholdViolations",
                          "item/@odata.id": "@item()?['@odata.id']"
                        },
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                          "operationId": "AssociateEntities",
                          "connectionName": "shared_commondataserviceforapps"
                        }
                      }
                    }
                  },
                  "runAfter": {
                    "Set_variable": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "2691943b-6932-4431-ba59-a9a45190cdcf"
                  },
                  "type": "Foreach"
                },
                "Set_variable": {
                  "runAfter": {
                    "Add_Case": [
                      "Succeeded"
                    ]
                  },
                  "type": "SetVariable",
                  "inputs": {
                    "name": "varComplianceCaseID",
                    "value": "@outputs('Add_Case')?['body/cat_compliancecaseid']"
                  }
                }
              },
              "runAfter": {
                "Risk_Level": [
                  "Succeeded"
                ]
              },
              "else": {
                "actions": {}
              },
              "expression": {
                "or": [
                  {
                    "greater": [
                      "@outputs('Risk_Level')",
                      0
                    ]
                  },
                  {
                    "equals": [
                      "@parameters('Require Case For No Risk (cat_RequireCaseForNoRisk)')",
                      "@true"
                    ]
                  }
                ]
              },
              "metadata": {
                "operationMetadataId": "3d3e24d2-d9db-45ff-886a-fb597f3df5cc"
              },
              "type": "If"
            },
            "Risk_Level": {
              "runAfter": {
                "Check_Compliance": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "5f7f35ec-4d91-410e-8f1d-bb00ac0d41dd"
              },
              "type": "Compose",
              "inputs": "@coalesce(body('Check_Compliance')?['risklevel'],0)"
            },
            "Scope:_Find_Owner": {
              "actions": {
                "User_Not_SYSTEM": {
                  "actions": {
                    "Get_User_Profile": {
                      "metadata": {
                        "operationMetadataId": "ffb9cb56-70e8-42bd-b297-f587e05a905c"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "parameters": {
                          "id": "@body('Parse_Agent')?['cat_agentcreatedbyadid']"
                        },
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365users",
                          "operationId": "UserProfile_V2",
                          "connectionName": "shared_office365users"
                        }
                      }
                    },
                    "Set_variable:_IsOrphan_True": {
                      "runAfter": {
                        "Get_User_Profile": [
                          "Failed",
                          "TimedOut"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "bcb56f4e-dde0-481b-b5d0-122f32d71f2d"
                      },
                      "type": "SetVariable",
                      "inputs": {
                        "name": "IsOrphan",
                        "value": true
                      }
                    },
                    "Set_variable:_Owner_UPN_Found": {
                      "runAfter": {
                        "Get_User_Profile": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "393daea4-da8f-403c-a5df-8256b377cdd4"
                      },
                      "type": "SetVariable",
                      "inputs": {
                        "name": "Owner",
                        "value": "@outputs('Get_User_Profile')?['body/userPrincipalName']"
                      }
                    }
                  },
                  "else": {
                    "actions": {}
                  },
                  "expression": {
                    "and": [
                      {
                        "not": {
                          "equals": [
                            "@body('Parse_Agent')?['cat_agentcreatedby']",
                            "SYSTEM"
                          ]
                        }
                      }
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "dad2e937-cf98-410a-84a4-aa03054e79ca"
                  },
                  "type": "If"
                },
                "SYSTEM_or_IsOrphan": {
                  "actions": {
                    "Try:_Set_Admin_As_Owner": {
                      "actions": {
                        "Get_Admin_Role": {
                          "metadata": {
                            "operationMetadataId": "71547e49-ac5b-4eef-a873-512cd55795d4"
                          },
                          "type": "OpenApiConnection",
                          "inputs": {
                            "parameters": {
                              "organization": "@body('Parse_Agent')?['cat_environmenturl']",
                              "entityName": "roles",
                              "$select": "roleid,name",
                              "$filter": "name eq 'System Administrator'",
                              "$top": 1
                            },
                            "host": {
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                              "operationId": "ListRecordsWithOrganization",
                              "connectionName": "shared_commondataserviceforapps"
                            }
                          }
                        },
                        "List_Admins": {
                          "runAfter": {
                            "Get_Admin_Role": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "5e7dfc3e-64e2-48ac-b7ea-daa9017cd3d9"
                          },
                          "type": "OpenApiConnection",
                          "inputs": {
                            "parameters": {
                              "organization": "@body('Parse_Agent')?['cat_environmenturl']",
                              "entityName": "systemusers",
                              "$select": "fullname,domainname,internalemailaddress,azureactivedirectoryobjectid",
                              "$filter": "systemuserroles_association/any(r: r/roleid eq @{first(outputs('Get_Admin_Role')?['body/value'])?['roleid']}) and (applicationid eq null) and (isdisabled eq false) and fullname ne 'Delegated Admin'",
                              "$top": 1
                            },
                            "host": {
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                              "operationId": "ListRecordsWithOrganization",
                              "connectionName": "shared_commondataserviceforapps"
                            }
                          }
                        },
                        "Set_Owner_As_Environment_Admin": {
                          "runAfter": {
                            "List_Admins": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "e449fed3-4bc9-4a91-98e6-e88b94d090fb"
                          },
                          "type": "SetVariable",
                          "inputs": {
                            "name": "Owner",
                            "value": "@first(outputs('List_Admins')?['body/value'])?['domainname']"
                          }
                        },
                        "Get_Environment_as_Admin": {
                          "runAfter": {
                            "Get_Admin_Role": [
                              "Failed",
                              "Skipped",
                              "TimedOut"
                            ]
                          },
                          "type": "OpenApiConnection",
                          "inputs": {
                            "parameters": {
                              "environment": "@body('Parse_Agent')?['cat_environmentid']",
                              "api-version": "2018-10-01"
                            },
                            "host": {
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_powerplatformforadmins",
                              "operationId": "GetSingleEnvironment",
                              "connectionName": "shared_powerplatformforadmins-1"
                            }
                          }
                        },
                        "Set_Owner_As_Env_Creator": {
                          "runAfter": {
                            "Get_Environment_as_Admin": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "e449fed3-4bc9-4a91-98e6-e88b94d090fb"
                          },
                          "type": "SetVariable",
                          "inputs": {
                            "name": "Owner",
                            "value": "@outputs('Get_Environment_as_Admin')?['body/properties/createdBy/userPrincipalName']"
                          }
                        }
                      },
                      "metadata": {
                        "operationMetadataId": "e8c967c9-1385-434e-9e41-7f1ef085f6af"
                      },
                      "type": "Scope"
                    },
                    "Catch:_Admin_Not_Found": {
                      "actions": {
                        "Set_variable:_IsOrphan_No_Admin": {
                          "metadata": {
                            "operationMetadataId": "7a56cf6b-82f8-4e24-a4a2-871fce0cf778"
                          },
                          "type": "SetVariable",
                          "inputs": {
                            "name": "IsOrphan",
                            "value": true
                          }
                        }
                      },
                      "runAfter": {
                        "Try:_Set_Admin_As_Owner": [
                          "Failed",
                          "TimedOut"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "1bf5becd-fe4b-41b5-8323-4a7aeac37433"
                      },
                      "type": "Scope"
                    },
                    "Finally": {
                      "actions": {},
                      "runAfter": {
                        "Catch:_Admin_Not_Found": [
                          "Succeeded",
                          "Failed",
                          "Skipped",
                          "TimedOut"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "c1636045-f9d5-4f6f-b4b7-b41af8458f19"
                      },
                      "type": "Scope"
                    }
                  },
                  "runAfter": {
                    "User_Not_SYSTEM": [
                      "Succeeded",
                      "Failed",
                      "Skipped",
                      "TimedOut"
                    ]
                  },
                  "else": {
                    "actions": {}
                  },
                  "expression": {
                    "or": [
                      {
                        "equals": [
                          "@body('Parse_Agent')?['cat_agentcreatedby']",
                          "SYSTEM"
                        ]
                      },
                      {
                        "equals": [
                          "@variables('IsOrphan')",
                          "@true"
                        ]
                      }
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "d04d401e-7ba5-4ac3-92ac-278f32d27602"
                  },
                  "type": "If"
                },
                "Owner_Found": {
                  "actions": {
                    "List_group_members": {
                      "type": "OpenApiConnection",
                      "inputs": {
                        "parameters": {
                          "groupId": "@parameters('Maker Team ID (cat_AgentMakerTeamID)')"
                        },
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365groups",
                          "operationId": "ListGroupMembers",
                          "connectionName": "shared_office365groups"
                        }
                      }
                    },
                    "Find_Owner_In_Group": {
                      "runAfter": {
                        "List_group_members": [
                          "Succeeded"
                        ]
                      },
                      "type": "Query",
                      "inputs": {
                        "from": "@outputs('List_group_members')?['body/value']",
                        "where": "@equals(item()?['userPrincipalName'],variables('Owner'))"
                      }
                    },
                    "Already_In_Group": {
                      "actions": {},
                      "runAfter": {
                        "Find_Owner_In_Group": [
                          "Succeeded"
                        ]
                      },
                      "else": {
                        "actions": {
                          "Add_member_to_group": {
                            "type": "OpenApiConnection",
                            "inputs": {
                              "parameters": {
                                "groupId": "@parameters('Maker Team ID (cat_AgentMakerTeamID)')",
                                "userUpn": "@variables('Owner')"
                              },
                              "host": {
                                "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365groups",
                                "operationId": "AddMemberToGroup",
                                "connectionName": "shared_office365groups"
                              }
                            }
                          },
                          "Generate_Compliance_Wiki": {
                            "runAfter": {
                              "Add_member_to_group": [
                                "Succeeded"
                              ]
                            },
                            "type": "OpenApiConnection",
                            "inputs": {
                              "parameters": {
                                "recordId": "ae366c59-3fca-4189-a354-b1a3a0e1fb99",
                                "item/requestv2/Format": "HTML"
                              },
                              "host": {
                                "apiId": "providers/Microsoft.ProcessSimple/operationGroups/aibuilder",
                                "operationId": "aibuilderpredict",
                                "connectionName": "shared_commondataserviceforapps"
                              }
                            }
                          },
                          "Send_Welcome_Email": {
                            "runAfter": {
                              "Get_Owner_Profile": [
                                "Succeeded"
                              ]
                            },
                            "type": "Workflow",
                            "inputs": {
                              "host": {
                                "workflowReferenceName": "d559c98c-c1af-f011-bbd3-00224809eacc"
                              },
                              "body": {
                                "text": "AgentCompliance_WelcomeEmail",
                                "text_1": "{\n\"AgentName\":\"@{triggerBody()?['text_3']}\",\n\"UserFullName\":\"@{outputs('Get_Owner_Profile')?['body/givenName']}\",\n\"ThresholdsMatrix\":\"@{outputs('Generate_Compliance_Wiki')?['body/responsev2/predictionOutput/text']}\",\n\"GuidanceLink\":\"@{parameters('Compliance Documentation Link (cat_ComplianceDocumentationLink)')}\",\n\"AdminContactEmail\":\"@{parameters('Compliance Support Contact Alias (cat_ComplianceSupportContactAlias)')}\"\n}\n",
                                "text_3": "@outputs('Get_Owner_Profile')?['body/mail']"
                              }
                            }
                          },
                          "Get_Owner_Profile": {
                            "runAfter": {
                              "Generate_Compliance_Wiki": [
                                "Succeeded"
                              ]
                            },
                            "type": "OpenApiConnection",
                            "inputs": {
                              "parameters": {
                                "id": "@variables('Owner')"
                              },
                              "host": {
                                "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365users",
                                "operationId": "UserProfile_V2",
                                "connectionName": "shared_office365users"
                              }
                            }
                          }
                        }
                      },
                      "expression": {
                        "and": [
                          {
                            "greater": [
                              "@length(body('Find_Owner_In_Group'))",
                              0
                            ]
                          }
                        ]
                      },
                      "type": "If"
                    }
                  },
                  "runAfter": {
                    "SYSTEM_or_IsOrphan": [
                      "Succeeded"
                    ]
                  },
                  "else": {
                    "actions": {
                      "Get_my_profile_(V2)": {
                        "type": "OpenApiConnection",
                        "inputs": {
                          "host": {
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365users",
                            "operationId": "MyProfile_V2",
                            "connectionName": "shared_office365users"
                          }
                        }
                      },
                      "Set_variable:_Owner_as_myself": {
                        "runAfter": {
                          "Get_my_profile_(V2)": [
                            "Succeeded"
                          ]
                        },
                        "type": "SetVariable",
                        "inputs": {
                          "name": "Owner",
                          "value": "@outputs('Get_my_profile_(V2)')?['body/userPrincipalName']"
                        }
                      },
                      "Set_variable_1": {
                        "runAfter": {
                          "Set_variable:_Owner_as_myself": [
                            "Succeeded"
                          ]
                        },
                        "type": "SetVariable",
                        "inputs": {
                          "name": "IsOrphan",
                          "value": true
                        }
                      }
                    }
                  },
                  "expression": {
                    "and": [
                      {
                        "greater": [
                          "@length(variables('Owner'))",
                          0
                        ]
                      }
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "e9659a6f-d208-4f3a-af2f-5be5c25fa9fb"
                  },
                  "type": "If"
                }
              },
              "runAfter": {
                "Parse_Agent": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "8d00fdfc-20ed-4fe1-aa0c-0565533cb632"
              },
              "type": "Scope"
            },
            "Scope:_Catch_Find_Owner": {
              "actions": {},
              "runAfter": {
                "Scope:_Find_Owner": [
                  "Succeeded",
                  "Failed",
                  "Skipped",
                  "TimedOut"
                ]
              },
              "type": "Scope"
            }
          },
          "runAfter": {
            "Initialize_variable:_Compliance_Case": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "684cbe45-0cf1-41c1-8ef9-2abc372596fd"
          },
          "type": "Scope"
        },
        "Initialize_variable:_ErrorMessage": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "84dc8095-fa63-4f71-aaa9-ed2863a636bb"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "ErrorMessage",
                "type": "string"
              }
            ]
          }
        },
        "Scope:_Catch": {
          "actions": {
            "Filter_array:_Error_Actions": {
              "metadata": {
                "operationMetadataId": "318aa9b2-4531-451c-b162-84cf7a4a236e"
              },
              "type": "Query",
              "inputs": {
                "from": "@result('Scope:_Try')",
                "where": "@or(equals(item()?['Status'], 'Failed'), equals(item()?['Status'], 'TimedOut'))"
              }
            },
            "Set_variable:_ErrorMessage": {
              "runAfter": {
                "Filter_array:_Error_Actions": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "ee38e0e1-03cd-48d8-9933-d73f7204b0f7"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "ErrorMessage",
                "value": "@{first(body('Filter_array:_Error_Actions'))?['error']?['message']}"
              }
            }
          },
          "runAfter": {
            "Scope:_Try": [
              "Failed",
              "Skipped",
              "TimedOut"
            ]
          },
          "metadata": {
            "operationMetadataId": "4f2e4827-62c8-4225-94cd-14089e7ac8f7"
          },
          "type": "Scope"
        },
        "Scope:_Finally": {
          "actions": {
            "Update_a_row:_Logs": {
              "metadata": {
                "operationMetadataId": "9f447776-551f-41e3-a432-ecfb376e623f"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "entityName": "cat_copilotstudiokitlogses",
                  "recordId": "@outputs('Add_a_new_row:_Logs')?['body/cat_copilotstudiokitlogsid']",
                  "item/cat_executionstatuscode": "@if(not(empty(variables('ErrorMessage'))), 4, 3)",
                  "item/cat_errormessage": "@if(not(empty(variables('ErrorMessage'))), variables('ErrorMessage'), null)"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "operationId": "UpdateRecord",
                  "connectionName": "shared_commondataserviceforapps"
                }
              }
            }
          },
          "runAfter": {
            "Scope:_Catch": [
              "Succeeded",
              "Failed",
              "Skipped",
              "TimedOut"
            ]
          },
          "metadata": {
            "operationMetadataId": "3b16a931-71ef-4a27-b6c8-cea6a9fc38f1"
          },
          "type": "Scope"
        },
        "Initialize_variable:_IsOrphan": {
          "runAfter": {
            "Initialize_variable:_ErrorMessage": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "264466c6-34f4-4803-81d3-8b811901be74"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "IsOrphan",
                "type": "boolean",
                "value": false
              }
            ]
          }
        },
        "Initialize_variable:_Owner": {
          "runAfter": {
            "Initialize_variable:_IsOrphan": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "439a1e27-1de5-47ed-8f5b-fc296457b334"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Owner",
                "type": "string"
              }
            ]
          }
        },
        "Initialize_variable:_Compliance_Case": {
          "runAfter": {
            "Initialize_variable:_Owner": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varComplianceCaseID",
                "type": "string"
              }
            ]
          }
        }
      }
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}