CopilotStudioAccelerator/SolutionPackage/src/Workflows/AgentComplianceInitializeData-D3F4EDA1-12B5-F011-BBD3-000D3A302EA3.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps-1": {
        "api": {
          "name": "shared_commondataserviceforapps"
        },
        "connection": {
          "connectionReferenceLogicalName": "cat_CopilotStudioAcceleratorDataverse"
        },
        "runtimeSource": "embedded"
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "Power Automate Region (cat_PowerAutomateEndpoint)": {
          "defaultValue": "Commercial",
          "type": "String",
          "metadata": {
            "schemaName": "cat_PowerAutomateEndpoint",
            "description": "Specify your Power Automate environment region/cloud: Commercial, GCC, GCC High, or DoD."
          }
        }
      },
      "triggers": {
        "manual": {
          "type": "Request",
          "kind": "PowerAppV2",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {},
              "required": []
            }
          },
          "metadata": {
            "operationMetadataId": "e4cd9a5f-81a5-4334-99c7-c3f1ee661956"
          }
        }
      },
      "actions": {
        "Respond_to_a_Power_App_or_flow": {
          "type": "Response",
          "kind": "PowerApp",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {},
              "additionalProperties": {}
            },
            "statusCode": 200
          },
          "runAfter": {
            "Scope:_Finally": [
              "Succeeded"
            ]
          }
        },
        "Initialize_variable:_ErrorMessage": {
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "ErrorMessage",
                "type": "string"
              }
            ]
          },
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "84dc8095-fa63-4f71-aaa9-ed2863a636bb"
          }
        },
        "Scope:_Try": {
          "type": "Scope",
          "actions": {
            "Get_Flow_Endpoint": {
              "type": "Compose",
              "inputs": "@if(equals(toLower(parameters('Power Automate Region (cat_PowerAutomateEndpoint)')), 'gcc'), 'https://make.gov.powerautomate.us/', \r\n    if(equals(toLower(parameters('Power Automate Region (cat_PowerAutomateEndpoint)')), 'gcc(high)'), 'https://make.high.powerautomate.us/', \r\n        if(equals(toLower(parameters('Power Automate Region (cat_PowerAutomateEndpoint)')), 'dod'), 'https://make.powerautomate.appsplatform.us/', \r\n            'https://make.powerautomate.com/'\r\n        )\r\n    )\r\n)",
              "metadata": {
                "operationMetadataId": "dc8e743d-1408-445c-8614-ee97abfcad5e"
              }
            },
            "Add_a_new_row:_Logs": {
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "entityName": "cat_copilotstudiokitlogses",
                  "item/cat_executionstatuscode": 2,
                  "item/cat_cloudflowinstanceurl": "@{outputs('Get_Flow_Endpoint')}environments/@{workflow()?['tags']?['environmentName']}/solutions/73fbfa55-8642-43d0-ab47-f15fab5813a4/flows/@{workflow()?['name']}/runs/@{workflow()?['run']?['name']}",
                  "item/cat_cloudflowname": "Agent Compliance | Initialize Data"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "operationId": "CreateRecord",
                  "connectionName": "shared_commondataserviceforapps-1"
                }
              },
              "runAfter": {
                "Get_Flow_Endpoint": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "1743ccd2-b8bb-4cee-9823-870ee9d4d438"
              }
            },
            "Scope:_Add_Thresholds_If_Empty": {
              "type": "Scope",
              "actions": {
                "List_Thresholds": {
                  "type": "OpenApiConnection",
                  "inputs": {
                    "parameters": {
                      "entityName": "cat_thresholdconfigs",
                      "$select": "cat_thresholdconfigid"
                    },
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                      "operationId": "ListRecords",
                      "connectionName": "shared_commondataserviceforapps-1"
                    }
                  },
                  "metadata": {
                    "operationMetadataId": "d2b3d84d-427d-429f-b155-dc7bf8760a57"
                  }
                },
                "Check_if_Thresholds_Table_Has_Data": {
                  "type": "If",
                  "expression": {
                    "and": [
                      {
                        "greater": [
                          "@length(outputs('List_Thresholds')?['body/value'])",
                          0
                        ]
                      }
                    ]
                  },
                  "actions": {},
                  "else": {
                    "actions": {
                      "Load_Threshold_Data_If_Empty": {
                        "type": "ParseJson",
                        "inputs": {
                          "content": "@outputs('Default_Thresholds')",
                          "schema": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "cat_category": {
                                  "type": "integer"
                                },
                                "cat_description": {
                                  "type": "string"
                                },
                                "cat_filtercolumn": {
                                  "type": "string"
                                },
                                "statecode": {
                                  "type": "integer"
                                },
                                "cat_configid": {
                                  "type": "string"
                                },
                                "cat_defaultvalue": {
                                  "type": "string"
                                },
                                "cat_mitigation": {
                                  "type": "string"
                                },
                                "cat_filteroperator": {
                                  "type": "integer"
                                },
                                "cat_risklevel": {
                                  "type": "integer"
                                }
                              },
                              "required": [
                                "cat_category",
                                "cat_description",
                                "cat_filtercolumn",
                                "statecode",
                                "cat_configid",
                                "cat_defaultvalue",
                                "cat_mitigation",
                                "cat_filteroperator",
                                "cat_risklevel"
                              ]
                            }
                          }
                        },
                        "runAfter": {
                          "Default_Thresholds": [
                            "Succeeded"
                          ]
                        },
                        "metadata": {
                          "operationMetadataId": "4077f4fb-a349-4386-9208-4da88d812dc2"
                        }
                      },
                      "Default_Thresholds": {
                        "type": "Compose",
                        "inputs": [
                          {
                            "cat_category": 335350000,
                            "cat_description": "Require review for agents using Microsoft Authentication",
                            "cat_filtercolumn": "cat_enduserauthenticationtype",
                            "statecode": 1,
                            "cat_configid": "Microsoft Authentication",
                            "cat_defaultvalue": "Integrated",
                            "cat_mitigation": "Admin review only",
                            "cat_filteroperator": 335350000,
                            "cat_risklevel": 1,
                            "cat_enabled": true
                          },
                          {
                            "cat_category": 335350000,
                            "cat_description": "Generic OAuth2 (API Key) authentication is not permitted",
                            "cat_filtercolumn": "cat_enduserauthenticationtype",
                            "statecode": 0,
                            "cat_configid": "Generic OAuth2",
                            "cat_defaultvalue": "OAuth2",
                            "cat_mitigation": "OAuth not permitted; change auth settings to Microsoft Auth",
                            "cat_filteroperator": 335350000,
                            "cat_risklevel": 2,
                            "cat_enabled": true
                          },
                          {
                            "cat_category": 335350000,
                            "cat_description": "No Authentication is not permitted",
                            "cat_filtercolumn": "cat_enduserauthenticationtype",
                            "statecode": 0,
                            "cat_configid": "No Authentication",
                            "cat_defaultvalue": "None",
                            "cat_mitigation": "No Auth not permitted; change authentication to Microsoft",
                            "cat_filteroperator": 335350000,
                            "cat_risklevel": 3,
                            "cat_enabled": true
                          },
                          {
                            "cat_category": 335350001,
                            "cat_description": "Require review for published agents",
                            "cat_filtercolumn": "cat_published",
                            "statecode": 0,
                            "cat_configid": "Published Agents",
                            "cat_defaultvalue": "true",
                            "cat_mitigation": "Admin review only",
                            "cat_filteroperator": 335350000,
                            "cat_risklevel": 1,
                            "cat_enabled": true
                          },
                          {
                            "cat_category": 335350001,
                            "cat_description": "Require review for draft agents",
                            "cat_filtercolumn": "cat_published",
                            "statecode": 1,
                            "cat_configid": "Draft Agents",
                            "cat_defaultvalue": "false",
                            "cat_mitigation": "Admin review only",
                            "cat_filteroperator": 335350000,
                            "cat_risklevel": 1,
                            "cat_enabled": false
                          },
                          {
                            "cat_category": 335350002,
                            "cat_description": "Require review for agents in production environments",
                            "cat_filtercolumn": "cat_environmenttype",
                            "statecode": 0,
                            "cat_configid": "Production environments",
                            "cat_defaultvalue": "Production",
                            "cat_mitigation": "Admin review only",
                            "cat_filteroperator": 335350000,
                            "cat_risklevel": 1,
                            "cat_enabled": true
                          },
                          {
                            "cat_category": 335350003,
                            "cat_description": "Agents not allowed to use maker auth credentials",
                            "cat_filtercolumn": "cat_usesconnectormakerauthcontext",
                            "statecode": 0,
                            "cat_configid": "Maker auth credentials",
                            "cat_defaultvalue": "true",
                            "cat_mitigation": "Maker authentication not allowed; adjust to run only user",
                            "cat_filteroperator": 335350000,
                            "cat_risklevel": 2,
                            "cat_enabled": true
                          },
                          {
                            "cat_category": 335350004,
                            "cat_description": "Require review for prompt usage",
                            "cat_filtercolumn": "cat_usesprompts",
                            "statecode": 0,
                            "cat_configid": "Uses Prompts",
                            "cat_defaultvalue": "true",
                            "cat_mitigation": "Admin review only",
                            "cat_filteroperator": 335350000,
                            "cat_risklevel": 1,
                            "cat_enabled": true
                          }
                        ],
                        "metadata": {
                          "operationMetadataId": "3daa8ad2-909c-4745-90bd-f5a3eb1ec9c9"
                        }
                      },
                      "For_each": {
                        "type": "Foreach",
                        "foreach": "@outputs('Load_Threshold_Data_If_Empty')['body']",
                        "actions": {
                          "Add_Default_Threshold_Config": {
                            "type": "OpenApiConnection",
                            "inputs": {
                              "parameters": {
                                "entityName": "cat_thresholdconfigs",
                                "item/cat_category": "@item()['cat_category']",
                                "item/cat_description": "@items('For_each')['cat_description']",
                                "item/cat_enabled": "@item()?['cat_enabled']",
                                "item/cat_filtercolumn": "@items('For_each')['cat_filtercolumn']",
                                "item/cat_filteroperator": "@items('For_each')['cat_filteroperator']",
                                "item/cat_mitigation": "@items('For_each')['cat_mitigation']",
                                "item/cat_risklevel": "@items('For_each')['cat_risklevel']",
                                "item/cat_configid": "@items('For_each')['cat_configid']",
                                "item/cat_defaultvalue": "@items('For_each')['cat_defaultvalue']"
                              },
                              "host": {
                                "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                                "operationId": "CreateRecord",
                                "connectionName": "shared_commondataserviceforapps-1"
                              }
                            },
                            "metadata": {
                              "operationMetadataId": "ef2c5bfe-251d-4254-95e5-c1a9f66ef25c"
                            }
                          }
                        },
                        "runAfter": {
                          "Load_Threshold_Data_If_Empty": [
                            "Succeeded"
                          ]
                        },
                        "metadata": {
                          "operationMetadataId": "d80daa4f-d4e8-445d-b801-0a67e292dc54"
                        }
                      }
                    }
                  },
                  "runAfter": {
                    "List_Thresholds": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "7e87f102-ce9f-4d69-a009-2ed33ce5fc7f"
                  }
                }
              },
              "runAfter": {
                "Add_a_new_row:_Logs": [
                  "Succeeded"
                ]
              }
            },
            "Scope:_Add_Action_Policies_If_Empty": {
              "type": "Scope",
              "actions": {
                "List_Policies": {
                  "type": "OpenApiConnection",
                  "inputs": {
                    "parameters": {
                      "entityName": "cat_actionpolicies",
                      "$select": "cat_description,statecode,cat_actionpolicyid,cat_sladays,cat_policyid,cat_enforcementaction,cat_risklevel"
                    },
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                      "operationId": "ListRecords",
                      "connectionName": "shared_commondataserviceforapps-1"
                    }
                  },
                  "metadata": {
                    "operationMetadataId": "65d377c4-b863-4014-8e14-f0092818ce12"
                  }
                },
                "Check_if_Action_Policies_Has_Data": {
                  "type": "If",
                  "expression": {
                    "and": [
                      {
                        "greater": [
                          "@length(outputs('List_Policies')?['body/value'])",
                          0
                        ]
                      }
                    ]
                  },
                  "actions": {},
                  "else": {
                    "actions": {
                      "Default_Action_Policies": {
                        "type": "Compose",
                        "inputs": [
                          {
                            "cat_sladays": 11,
                            "cat_risklevel": 1,
                            "cat_description": "Admin reviews agent and reminders to fill business justification are sent out.",
                            "cat_enforcementaction": 335350001
                          },
                          {
                            "cat_sladays": 0,
                            "cat_risklevel": 2,
                            "cat_description": "Agent disabled if overdue",
                            "cat_enforcementaction": 335350000
                          },
                          {
                            "cat_sladays": 0,
                            "cat_risklevel": 3,
                            "cat_description": "Agent deleted if overdue",
                            "cat_enforcementaction": 335350002
                          }
                        ],
                        "metadata": {
                          "operationMetadataId": "4a7a96c8-c7f8-4f5e-83ff-b29cc4cccc08"
                        }
                      },
                      "Apply_to_each": {
                        "type": "Foreach",
                        "foreach": "@outputs('Default_Action_Policies')",
                        "actions": {
                          "Add_Default_Policy": {
                            "type": "OpenApiConnection",
                            "inputs": {
                              "parameters": {
                                "entityName": "cat_actionpolicies",
                                "item/cat_description": "@item()?['cat_description']",
                                "item/cat_enabled": true,
                                "item/cat_enforcementaction": "@item()?['cat_enforcementaction']",
                                "item/cat_risklevel": "@item()?['cat_risklevel']",
                                "item/cat_sladays": "@item()?['cat_sladays']"
                              },
                              "host": {
                                "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                                "operationId": "CreateRecord",
                                "connectionName": "shared_commondataserviceforapps-1"
                              }
                            },
                            "metadata": {
                              "operationMetadataId": "4b253149-4da2-43fb-b541-301a5920e767"
                            }
                          }
                        },
                        "runAfter": {
                          "Default_Action_Policies": [
                            "Succeeded"
                          ]
                        },
                        "metadata": {
                          "operationMetadataId": "e6a4eda8-e36c-4804-a339-1cde8d9635f8"
                        }
                      }
                    }
                  },
                  "runAfter": {
                    "List_Policies": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "6806923f-9190-4c1c-bbed-99e856e80b7c"
                  }
                }
              },
              "runAfter": {
                "Add_a_new_row:_Logs": [
                  "Succeeded"
                ]
              }
            },
            "Scope:_Add_Fact_Count_Queries_If_Empty": {
              "type": "Scope",
              "actions": {
                "Check_If_Fact_Count_Table_Has_Data": {
                  "type": "If",
                  "expression": {
                    "and": [
                      {
                        "greater": [
                          "@length(outputs('List_rows')?['body/value'])",
                          0
                        ]
                      }
                    ]
                  },
                  "actions": {},
                  "else": {
                    "actions": {
                      "Default_Fact_Count_Data": {
                        "type": "Compose",
                        "inputs": [
                          {
                            "cat_filterlabel": "Total agents",
                            "cat_filterdefinition": "<fetch aggregate=\"true\"><entity name=\"cat_agentdetails\"><attribute name=\"cat_agentid\" alias=\"RowCount\" aggregate=\"count\" distinct=\"true\" /></entity></fetch>",
                            "cat_tablelogicalname": "cat_agentdetailses"
                          }
                        ]
                      },
                      "Apply_to_each_Default_Fact_Count": {
                        "type": "Foreach",
                        "foreach": "@outputs('Default_Fact_Count_Data')",
                        "actions": {
                          "Add_a_new_row_1": {
                            "type": "OpenApiConnection",
                            "inputs": {
                              "parameters": {
                                "entityName": "cat_agentfactrowcountses",
                                "item/cat_filterlabel": "@item()?['cat_filterlabel']",
                                "item/cat_filterdefinition": "@item()?['cat_filterdefinition']",
                                "item/cat_tablelogicalname": "@item()?['cat_tablelogicalname']"
                              },
                              "host": {
                                "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                                "operationId": "CreateRecord",
                                "connectionName": "shared_commondataserviceforapps-1"
                              }
                            }
                          }
                        },
                        "runAfter": {
                          "Default_Fact_Count_Data": [
                            "Succeeded"
                          ]
                        }
                      }
                    }
                  },
                  "runAfter": {
                    "List_rows": [
                      "Succeeded"
                    ]
                  }
                },
                "List_rows": {
                  "type": "OpenApiConnection",
                  "inputs": {
                    "parameters": {
                      "entityName": "cat_agentfactrowcountses"
                    },
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                      "operationId": "ListRecords",
                      "connectionName": "shared_commondataserviceforapps-1"
                    }
                  }
                }
              },
              "runAfter": {
                "Add_a_new_row:_Logs": [
                  "Succeeded"
                ]
              }
            }
          },
          "runAfter": {
            "Compose_1": [
              "Succeeded"
            ]
          }
        },
        "Scope:_Catch": {
          "type": "Scope",
          "actions": {
            "Filter_array:_Error_Actions": {
              "type": "Query",
              "inputs": {
                "from": "@result('Scope:_Try')",
                "where": "@or(equals(item()?['Status'], 'Failed'), equals(item()?['Status'], 'TimedOut'))"
              },
              "metadata": {
                "operationMetadataId": "318aa9b2-4531-451c-b162-84cf7a4a236e"
              }
            },
            "Set_variable:_ErrorMessage": {
              "type": "SetVariable",
              "inputs": {
                "name": "ErrorMessage",
                "value": "@{first(body('Filter_array:_Error_Actions'))?['error']?['message']}"
              },
              "runAfter": {
                "Filter_array:_Error_Actions": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "ee38e0e1-03cd-48d8-9933-d73f7204b0f7"
              }
            }
          },
          "runAfter": {
            "Scope:_Try": [
              "Failed",
              "Skipped",
              "TimedOut"
            ]
          },
          "metadata": {
            "operationMetadataId": "4f2e4827-62c8-4225-94cd-14089e7ac8f7"
          }
        },
        "Scope:_Finally": {
          "type": "Scope",
          "actions": {
            "Update_a_row:_Logs": {
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "entityName": "cat_copilotstudiokitlogses",
                  "recordId": "@outputs('Add_a_new_row:_Logs')?['body/cat_copilotstudiokitlogsid']",
                  "item/cat_executionstatuscode": "@if(not(empty(variables('ErrorMessage'))), 4, 3)",
                  "item/cat_errormessage": "@if(not(empty(variables('ErrorMessage'))), variables('ErrorMessage'), null)"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "operationId": "UpdateRecord",
                  "connectionName": "shared_commondataserviceforapps-1"
                }
              },
              "metadata": {
                "operationMetadataId": "9f447776-551f-41e3-a432-ecfb376e623f"
              }
            }
          },
          "runAfter": {
            "Scope:_Catch": [
              "Succeeded",
              "Failed",
              "Skipped",
              "TimedOut"
            ]
          },
          "metadata": {
            "operationMetadataId": "3b16a931-71ef-4a27-b6c8-cea6a9fc38f1"
          }
        },
        "Compose_1": {
          "type": "Compose",
          "inputs": "@parameters('Power Automate Region (cat_PowerAutomateEndpoint)')",
          "runAfter": {
            "Initialize_variable:_ErrorMessage": [
              "Succeeded"
            ]
          }
        }
      }
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}