CopilotStudioAccelerator/SolutionPackage/src/Workflows/AgentComplianceComplianceScan-754C6260-BFAE-F011-BBD3-00224809EACC.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "cat_CopilotStudioAcceleratorDataverse"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "Power Automate Region (cat_PowerAutomateEndpoint)": {
          "defaultValue": "Commercial",
          "type": "String",
          "metadata": {
            "schemaName": "cat_PowerAutomateEndpoint",
            "description": "Specify your Power Automate environment region/cloud: Commercial, GCC, GCC High, or DoD."
          }
        },
        "App ID (cat_AppID)": {
          "defaultValue": "1351a93b-ce0e-41ed-9036-e191f1d272d1",
          "type": "String",
          "metadata": {
            "schemaName": "cat_AppID"
          }
        }
      },
      "triggers": {
        "When_an_action_is_performed": {
          "metadata": {
            "operationMetadataId": "138fff3f-5e22-49b4-a3c2-95d21fd281de"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "parameters": {
              "catalog": "allcatalog",
              "category": "allcategory",
              "subscriptionRequest/entityname": "none",
              "subscriptionRequest/sdkmessagename": "cat_ComplianceScan",
              "subscriptionRequest/name": "754c6260-bfae-f011-bbd3-00224809eacc"
            },
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "BusinessEventsTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Initialize_varQuery": {
          "runAfter": {
            "Initialize_variable:_ErrorMessage": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "195f1e4d-5164-4e9b-83bb-aa5f4041b77e"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varQuery",
                "type": "array"
              }
            ]
          }
        },
        "Initialize_varOpenCases": {
          "runAfter": {
            "Initialize_varQuery": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "dcabc887-dff8-4406-9b50-2129ad0a8dfb"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varCases",
                "type": "array",
                "value": []
              }
            ]
          }
        },
        "Initialize_varAgentsWithoutCase": {
          "runAfter": {
            "Initialize_varOpenCases": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "701a7afb-7796-46dd-b92d-4812dfa74fd3"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varAgentsWithoutCase",
                "type": "array"
              }
            ]
          }
        },
        "Initialize_varCasesWithAgent": {
          "runAfter": {
            "Initialize_varAgentsWithoutCase": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "a54d1238-6687-4c13-9929-78f9576262e8"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varCasesWithAgent",
                "type": "array"
              }
            ]
          }
        },
        "Initialize_varCasesWithoutAgent": {
          "runAfter": {
            "Initialize_varCasesWithAgent": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "1434a558-7e6c-42af-9fb8-2d8c597d0a84"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varCasesWithoutAgent",
                "type": "array"
              }
            ]
          }
        },
        "Initialize_variable:_ErrorMessage": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "84dc8095-fa63-4f71-aaa9-ed2863a636bb"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "ErrorMessage",
                "type": "string"
              }
            ]
          }
        },
        "Respond_to_a_Power_App_or_flow": {
          "runAfter": {
            "Terminate": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "90775ff0-7a7f-48ad-8c91-83ddb3916b0d"
          },
          "type": "Response",
          "kind": "PowerApp",
          "inputs": {
            "statusCode": 200,
            "body": {
              "status": "200"
            },
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "title": "Status",
                  "x-ms-dynamically-added": true,
                  "type": "string"
                }
              }
            }
          }
        },
        "Terminate": {
          "runAfter": {
            "Scope:_Finally": [
              "Succeeded",
              "Failed",
              "Skipped",
              "TimedOut"
            ]
          },
          "metadata": {
            "operationMetadataId": "75bca5b2-b227-485b-8b89-504cd9c5e5ab"
          },
          "type": "Terminate",
          "inputs": {
            "runStatus": "Succeeded"
          }
        },
        "Scope:_Finally": {
          "actions": {
            "Update_a_row:_Logs": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "9f447776-551f-41e3-a432-ecfb376e623f"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "entityName": "cat_copilotstudiokitlogses",
                  "recordId": "@outputs('Add_a_new_row:_Logs')?['body/cat_copilotstudiokitlogsid']",
                  "item/cat_executionstatuscode": "@if(not(empty(variables('ErrorMessage'))), 4, 3)",
                  "item/cat_errormessage": "@if(not(empty(variables('ErrorMessage'))), variables('ErrorMessage'), null)"
                },
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "UpdateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {
            "Scope:_Catch": [
              "Succeeded",
              "Failed",
              "Skipped",
              "TimedOut"
            ]
          },
          "metadata": {
            "operationMetadataId": "b05492e1-f498-406b-a8ba-0d9ef1073f1e"
          },
          "type": "Scope"
        },
        "Scope:_Catch": {
          "actions": {
            "Filter_array:_Error_Actions": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "318aa9b2-4531-451c-b162-84cf7a4a236e"
              },
              "type": "Query",
              "inputs": {
                "from": "@result('Scope:_Try')",
                "where": "@or(equals(item()?['Status'], 'Failed'), equals(item()?['Status'], 'TimedOut'))"
              }
            },
            "Set_variable:_ErrorMessage": {
              "runAfter": {
                "Filter_array:_Error_Actions": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "ee38e0e1-03cd-48d8-9933-d73f7204b0f7"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "ErrorMessage",
                "value": "@{first(body('Filter_array:_Error_Actions'))?['error']?['message']}"
              }
            }
          },
          "runAfter": {
            "Scope:_Try": [
              "Skipped",
              "Failed",
              "TimedOut"
            ]
          },
          "metadata": {
            "operationMetadataId": "43374bb4-9395-46ec-a484-d8753ed35f6a"
          },
          "type": "Scope"
        },
        "Scope:_Try": {
          "actions": {
            "Fetch_Data": {
              "actions": {
                "For_each_rule_column": {
                  "foreach": "@outputs('List_Thresholds')?['body/value']",
                  "actions": {
                    "Append_to_array_variable": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "9b02d178-bde6-44ee-9a26-42c045337fa0"
                      },
                      "type": "AppendToArrayVariable",
                      "inputs": {
                        "name": "varQuery",
                        "value": "@items('For_each_rule_column')?['cat_filtercolumn']"
                      }
                    }
                  },
                  "runAfter": {
                    "Check_if_Data_Is_Initialized": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "0c20084b-b341-4355-94fd-d88d2ae63a43"
                  },
                  "type": "Foreach"
                },
                "Agent_Columns_To_select": {
                  "runAfter": {
                    "For_each_rule_column": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "b8fe1737-0010-43c8-ae9a-35c7186cf179"
                  },
                  "type": "Join",
                  "inputs": {
                    "from": "@variables('varQuery')",
                    "joinWith": ","
                  }
                },
                "Check_if_Data_Is_Initialized": {
                  "actions": {
                    "Set_variable:_ThresholdConfigs": {
                      "runAfter": {
                        "Filter_array": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "120848b8-a866-4c47-a715-1517581e2ba5"
                      },
                      "type": "SetVariable",
                      "inputs": {
                        "name": "ThresholdConfigs",
                        "value": "@body('Filter_array')"
                      }
                    },
                    "Set_variable:_Action_Policies": {
                      "runAfter": {
                        "Set_variable:_ThresholdConfigs": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "92b6787b-b531-4148-98b9-b1cee8692ba6"
                      },
                      "type": "SetVariable",
                      "inputs": {
                        "name": "ActionPolicies",
                        "value": "@outputs('List_Policies')?['body/value']"
                      }
                    },
                    "Filter_array": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "3477a2df-3b96-4782-a332-a3b0f224a56c"
                      },
                      "type": "Query",
                      "inputs": {
                        "from": "@outputs('List_Thresholds')?['body/value']",
                        "where": "@equals(item()?['cat_enabled'],true)"
                      }
                    }
                  },
                  "runAfter": {
                    "List_Filters": [
                      "Succeeded"
                    ]
                  },
                  "else": {
                    "actions": {
                      "Run_a_Child_Flow": {
                        "runAfter": {},
                        "metadata": {
                          "operationMetadataId": "818b98f6-62d4-4919-9181-d6115e3cbe68"
                        },
                        "type": "Workflow",
                        "inputs": {
                          "host": {
                            "workflowReferenceName": "d3f4eda1-12b5-f011-bbd3-000d3a302ea3"
                          }
                        }
                      },
                      "List_Default_Thresholds": {
                        "runAfter": {
                          "Run_a_Child_Flow": [
                            "Succeeded"
                          ]
                        },
                        "metadata": {
                          "operationMetadataId": "d2b3d84d-427d-429f-b155-dc7bf8760a57"
                        },
                        "type": "OpenApiConnection",
                        "inputs": {
                          "parameters": {
                            "entityName": "cat_thresholdconfigs",
                            "$select": "cat_configid,cat_thresholdconfigid,cat_filtercolumn,cat_defaultvalue,cat_filteroperator,cat_risklevel,cat_category,statecode",
                            "$filter": "statecode eq 0",
                            "x-ms-odata-metadata-full": true
                          },
                          "host": {
                            "connectionName": "shared_commondataserviceforapps",
                            "operationId": "ListRecords",
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                          },
                          "authentication": "@parameters('$authentication')"
                        }
                      },
                      "List_Default_Policies": {
                        "runAfter": {
                          "Set_variable:_Default_ThresholdConfigs": [
                            "Succeeded"
                          ]
                        },
                        "metadata": {
                          "operationMetadataId": "65d377c4-b863-4014-8e14-f0092818ce12"
                        },
                        "type": "OpenApiConnection",
                        "inputs": {
                          "parameters": {
                            "entityName": "cat_actionpolicies",
                            "$select": "cat_description,statecode,cat_actionpolicyid,cat_sladays,cat_policyid,cat_enforcementaction,cat_risklevel"
                          },
                          "host": {
                            "connectionName": "shared_commondataserviceforapps",
                            "operationId": "ListRecords",
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                          },
                          "authentication": "@parameters('$authentication')"
                        }
                      },
                      "Set_variable:_Default_ThresholdConfigs": {
                        "runAfter": {
                          "List_Default_Thresholds": [
                            "Succeeded"
                          ]
                        },
                        "metadata": {
                          "operationMetadataId": "69543c4e-8664-49a5-85d0-3e9bde975c03"
                        },
                        "type": "SetVariable",
                        "inputs": {
                          "name": "ThresholdConfigs",
                          "value": "@outputs('List_Default_Thresholds')?['body/value']"
                        }
                      },
                      "Set_variable:_Default_Action_Policies": {
                        "runAfter": {
                          "List_Default_Policies": [
                            "Succeeded"
                          ]
                        },
                        "metadata": {
                          "operationMetadataId": "15fef1cd-9f9f-40b9-a44f-092086f151cd"
                        },
                        "type": "SetVariable",
                        "inputs": {
                          "name": "ActionPolicies",
                          "value": "@outputs('List_Default_Policies')?['body/value']"
                        }
                      }
                    }
                  },
                  "expression": {
                    "and": [
                      {
                        "greater": [
                          "@length(outputs('List_Thresholds')?['body/value'])",
                          0
                        ]
                      },
                      {
                        "greater": [
                          "@length(outputs('List_Policies')?['body/value'])",
                          0
                        ]
                      },
                      {
                        "not": {
                          "equals": [
                            "@parameters('App ID (cat_AppID)')",
                            "NEEDS_UPDATE"
                          ]
                        }
                      },
                      {
                        "equals": [
                          "@length(parameters('App ID (cat_AppID)'))",
                          36
                        ]
                      }
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "7e87f102-ce9f-4d69-a009-2ed33ce5fc7f"
                  },
                  "type": "If"
                },
                "List_all_agents": {
                  "runAfter": {
                    "Agent_Columns_To_select": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "b85e37f4-6eef-46e9-910d-8f944bbccc72"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "parameters": {
                      "entityName": "cat_agentdetailses",
                      "$select": "cat_agentdetailsid,cat_agentid,_ownerid_value,cat_agentcreatedby,cat_agentcreatedbyadid,cat_environmenturl,cat_environmentid,cat_name,@{body('Agent_Columns_To_select')}"
                    },
                    "host": {
                      "connectionName": "shared_commondataserviceforapps",
                      "operationId": "ListRecords",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "List_Cases": {
                  "runAfter": {
                    "List_all_agents": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "92629908-95b8-4200-a7be-9b44c06256fe"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "parameters": {
                      "entityName": "cat_compliancecases",
                      "$select": "statuscode,cat_daysremaining,cat_state,cat_intakecompleted,cat_caseid,cat_agentid,cat_expirydate,cat_risklevel,cat_compliancecaseid,statecode,cat_statusreason,cat_violationsjson,cat_violations",
                      "$filter": "statecode eq 0",
                      "$expand": "cat_ThresholdViolations($select=cat_risklevel,cat_thresholdconfigid,cat_mitigation,cat_defaultvalue,cat_filtercolumn,cat_enabled,cat_configid),owninguser($select=fullname,domainname,systemuserid,internalemailaddress)"
                    },
                    "host": {
                      "connectionName": "shared_commondataserviceforapps",
                      "operationId": "ListRecords",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "List_Thresholds": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "d2b3d84d-427d-429f-b155-dc7bf8760a57"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "parameters": {
                      "entityName": "cat_thresholdconfigs",
                      "$select": "cat_configid,cat_thresholdconfigid,cat_filtercolumn,cat_defaultvalue,cat_filteroperator,cat_risklevel,cat_category,statecode,cat_enabled",
                      "x-ms-odata-metadata-full": true
                    },
                    "host": {
                      "connectionName": "shared_commondataserviceforapps",
                      "operationId": "ListRecords",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "Set_variable:_varAgentsWithoutCase": {
                  "runAfter": {
                    "List_Cases": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "dc8c1c4b-e8bf-4ffa-9ec0-2dc65fc1facf"
                  },
                  "type": "SetVariable",
                  "inputs": {
                    "name": "varAgentsWithoutCase",
                    "value": "@outputs('List_all_agents')?['body/value']"
                  }
                },
                "List_Policies": {
                  "runAfter": {
                    "List_Thresholds": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "65d377c4-b863-4014-8e14-f0092818ce12"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "parameters": {
                      "entityName": "cat_actionpolicies",
                      "$select": "cat_description,statecode,cat_actionpolicyid,cat_sladays,cat_policyid,cat_enforcementaction,cat_risklevel"
                    },
                    "host": {
                      "connectionName": "shared_commondataserviceforapps",
                      "operationId": "ListRecords",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "List_Filters": {
                  "runAfter": {
                    "List_Policies": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "ebddf335-1ab8-4f7f-8bff-33a29f3021cc"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "parameters": {
                      "entityName": "cat_agentfactrowcountses",
                      "$select": "cat_agentfactrowcountsid,cat_countvalue,cat_filterdefinition,cat_tablelogicalname",
                      "$filter": "cat_filterdefinition ne null"
                    },
                    "host": {
                      "connectionName": "shared_commondataserviceforapps",
                      "operationId": "ListRecords",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                }
              },
              "runAfter": {
                "Add_a_new_row:_Logs": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "b071f4f6-b366-45af-a4ad-b4c85678c974"
              },
              "type": "Scope"
            },
            "Get_Flow_Endpoint": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "dc8e743d-1408-445c-8614-ee97abfcad5e"
              },
              "type": "Compose",
              "inputs": "@if(equals(toLower(parameters('Power Automate Region (cat_PowerAutomateEndpoint)')), 'gcc'), 'https://make.gov.powerautomate.us/', \r\n    if(equals(toLower(parameters('Power Automate Region (cat_PowerAutomateEndpoint)')), 'gcc(high)'), 'https://make.high.powerautomate.us/', \r\n        if(equals(toLower(parameters('Power Automate Region (cat_PowerAutomateEndpoint)')), 'dod'), 'https://make.powerautomate.appsplatform.us/', \r\n            'https://make.powerautomate.com/'\r\n        )\r\n    )\r\n)"
            },
            "Add_a_new_row:_Logs": {
              "runAfter": {
                "Get_Flow_Endpoint": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "1743ccd2-b8bb-4cee-9823-870ee9d4d438"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "entityName": "cat_copilotstudiokitlogses",
                  "item/cat_executionstatuscode": 2,
                  "item/cat_cloudflowinstanceurl": "@{outputs('Get_Flow_Endpoint')}environments/@{workflow()?['tags']?['environmentName']}/solutions/73fbfa55-8642-43d0-ab47-f15fab5813a4/flows/@{workflow()?['name']}/runs/@{workflow()?['run']?['name']}",
                  "item/cat_cloudflowname": "@if(not(empty(triggerOutputs()?['body/InputParameters'])),triggerOutputs()?['body/InputParameters/cat_ComplianceScanLogCloudFlowName'],'Agent Compliance | Compliance Scan')"
                },
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "CreateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Apply_to_each_Case": {
              "foreach": "@outputs('List_Cases')?['body/value']",
              "actions": {
                "Find_Agent_for_Case": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "6cf63d0a-ea16-4f0f-9c6f-203229e7b9ef"
                  },
                  "type": "Query",
                  "inputs": {
                    "from": "@outputs('List_all_agents')?['body/value']",
                    "where": "@equals(item()?['cat_agentid'],items('Apply_to_each_Case')?['cat_agentid'])"
                  }
                },
                "Agent_Found": {
                  "actions": {
                    "Add_Case_To_With_Agents_List": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "06122a52-de5f-4353-a731-bf4365d8defd"
                      },
                      "type": "AppendToArrayVariable",
                      "inputs": {
                        "name": "varCasesWithAgent",
                        "value": "@item()"
                      }
                    },
                    "Update_Remaining_Agents_List": {
                      "runAfter": {
                        "Remove_From_Remaining_Agents": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "f4cbda8e-95b9-4cb1-9192-17785c715253"
                      },
                      "type": "SetVariable",
                      "inputs": {
                        "name": "varAgentsWithoutCase",
                        "value": "@body('Remove_From_Remaining_Agents')"
                      }
                    },
                    "Remove_From_Remaining_Agents": {
                      "runAfter": {
                        "Add_Case_To_With_Agents_List": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "7fd574c2-f85c-4f9f-8114-dce1a6fcd84b"
                      },
                      "type": "Query",
                      "inputs": {
                        "from": "@variables('varAgentsWithoutCase')",
                        "where": "@not(equals(item()?['cat_agentid'],items('Apply_to_each_Case')?['cat_agentid']))"
                      }
                    }
                  },
                  "runAfter": {
                    "Find_Agent_for_Case": [
                      "Succeeded"
                    ]
                  },
                  "else": {
                    "actions": {
                      "Append_to_array_variable_1": {
                        "runAfter": {},
                        "metadata": {
                          "operationMetadataId": "3a1d0c86-23f9-410e-ba24-ad5ccf1a3f29"
                        },
                        "type": "AppendToArrayVariable",
                        "inputs": {
                          "name": "varCasesWithoutAgent",
                          "value": "@item()"
                        }
                      }
                    }
                  },
                  "expression": {
                    "greater": [
                      "@length(body('Find_Agent_for_Case'))",
                      0
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "e75dfa97-0a42-42f7-91cf-068eab93535e"
                  },
                  "type": "If"
                }
              },
              "runAfter": {
                "Fetch_Data": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "d74c6749-04e9-4b9f-9122-165785d6e5b4"
              },
              "type": "Foreach"
            },
            "Open_Cases_With_Agent": {
              "runAfter": {
                "Apply_to_each_Case": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "5414e6a7-b5ab-4b49-a451-6cb1a2c4d39a"
              },
              "type": "Compose",
              "inputs": "@variables('varCasesWithAgent')"
            },
            "Agents_That_Need_New_Cases": {
              "runAfter": {
                "Apply_to_each_Case": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "da85d1ed-988a-49c5-9874-90508e8d5090"
              },
              "type": "Compose",
              "inputs": "@variables('varAgentsWithoutCase')"
            },
            "Cases_With_Missing_Agent": {
              "runAfter": {
                "Apply_to_each_Case": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "f1eaf70e-4c9f-484e-988c-0e5363df6eb1"
              },
              "type": "Compose",
              "inputs": "@variables('varCasesWithoutAgent')"
            },
            "Update_Cases": {
              "foreach": "@variables('varCasesWithAgent')",
              "actions": {
                "Get_Case_Agent": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "29bf0c86-326c-4719-9b32-d7eae342bbf3"
                  },
                  "type": "Query",
                  "inputs": {
                    "from": "@outputs('List_all_agents')?['body/value']",
                    "where": "@equals(item()?['cat_agentid'],items('Update_Cases')?['cat_agentid'])"
                  }
                },
                "Run_Update_Case": {
                  "runAfter": {
                    "Get_Case_Agent": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "1878f9bf-57f6-4013-bd73-b6da5bef5fff"
                  },
                  "type": "Workflow",
                  "inputs": {
                    "host": {
                      "workflowReferenceName": "9bb6ddec-e3af-f011-bbd3-00224809eacc"
                    },
                    "body": {
                      "text": "@string(first(body('Get_Case_Agent')))",
                      "text_1": "@string(item())",
                      "text_2": "@string(outputs('List_Thresholds')?['body/value'])",
                      "text_3": "@string(outputs('List_Policies')?['body/value'])"
                    }
                  }
                }
              },
              "runAfter": {
                "Open_Cases_With_Agent": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "b8930708-cdb5-434e-8243-1ee2e9915e91"
              },
              "type": "Foreach",
              "runtimeConfiguration": {
                "concurrency": {
                  "repetitions": 50
                }
              }
            },
            "Create_Cases": {
              "foreach": "@variables('varAgentsWithoutCase')",
              "actions": {
                "Create_Case": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "c41d5d10-5b20-48aa-9901-a1676624f37f"
                  },
                  "type": "Workflow",
                  "inputs": {
                    "host": {
                      "workflowReferenceName": "45176b38-6ab0-f011-bbd3-00224809eacc"
                    },
                    "body": {
                      "text": "@string(item())",
                      "text_1": "@string(variables('ThresholdConfigs'))",
                      "text_2": "@string(variables('ActionPolicies'))"
                    }
                  }
                }
              },
              "runAfter": {
                "Agents_That_Need_New_Cases": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "d8a1d189-ad4f-456a-ac9a-92ef5f1331b6"
              },
              "type": "Foreach",
              "runtimeConfiguration": {
                "concurrency": {
                  "repetitions": 50
                }
              }
            },
            "Close_Deleted_Cases": {
              "foreach": "@variables('varCasesWithoutAgent')",
              "actions": {
                "Deactivate_Case_as_Deleted_Status": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "330785ce-fbf2-4f9a-98dc-0b58cec999e8"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "parameters": {
                      "entityName": "cat_compliancecases",
                      "recordId": "@item()?['cat_compliancecaseid']",
                      "item/cat_statusreason": 335350007,
                      "item/statecode": 1
                    },
                    "host": {
                      "connectionName": "shared_commondataserviceforapps",
                      "operationId": "UpdateOnlyRecord",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                }
              },
              "runAfter": {
                "Cases_With_Missing_Agent": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "5a769965-f38c-4a5d-ab0f-bbe9f5ebad2d"
              },
              "type": "Foreach",
              "runtimeConfiguration": {
                "concurrency": {
                  "repetitions": 20
                }
              }
            },
            "For_each_Filter": {
              "foreach": "@outputs('List_Filters')?['body/value']",
              "actions": {
                "Count_Rows": {
                  "runAfter": {
                    "Replace_Today_With_UTCNow": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "c8fe59f2-11df-4f8f-b5de-a9c3c79cc800"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps",
                      "operationId": "ListRecords",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "@items('For_each_Filter')?['cat_tablelogicalname']",
                      "fetchXml": "@outputs('Replace_Today_With_UTCNow')"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "Count": {
                  "runAfter": {
                    "Count_Rows": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "cdbc1ce2-fc74-48aa-a071-2aaca4c1cafb"
                  },
                  "type": "Compose",
                  "inputs": "@first(body('Count_Rows')?['value'])?['RowCount']"
                },
                "Replace_Today_With_UTCNow": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "d5b52f7d-7ee0-429a-87df-2689f7b8d03b"
                  },
                  "type": "Compose",
                  "inputs": "@if(contains(item()?['cat_filterdefinition'], 'today'), replace(item()?['cat_filterdefinition'], 'today', utcNow()), item()?['cat_filterdefinition'])"
                },
                "Update_Count": {
                  "runAfter": {
                    "Count": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "50d7a746-253e-4a34-ba54-439f53e63a2a"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "parameters": {
                      "entityName": "cat_agentfactrowcountses",
                      "recordId": "@items('For_each_Filter')?['cat_agentfactrowcountsid']",
                      "item/cat_countvalue": "@outputs('Count')"
                    },
                    "host": {
                      "connectionName": "shared_commondataserviceforapps",
                      "operationId": "UpdateOnlyRecord",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                }
              },
              "runAfter": {
                "Create_Cases": [
                  "Succeeded"
                ],
                "Update_Cases": [
                  "Succeeded"
                ],
                "Close_Deleted_Cases": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "46339d18-5331-498e-adf6-711e15949991"
              },
              "type": "Foreach"
            }
          },
          "runAfter": {
            "Initialize_variable:_ActionPolicies": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "9bb038a6-0568-4c57-8c9b-d8df83a7a9bb"
          },
          "type": "Scope"
        },
        "Initialize_variable:_ThresholdConfigs": {
          "runAfter": {
            "Initialize_varCasesWithoutAgent": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "708b9d75-a796-4394-9f44-bb8f8fd3e98f"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "ThresholdConfigs",
                "type": "array",
                "value": []
              }
            ]
          }
        },
        "Initialize_variable:_ActionPolicies": {
          "runAfter": {
            "Initialize_variable:_ThresholdConfigs": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "f5a9fb14-bae6-4f92-8248-bf0b4dda8e29"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "ActionPolicies",
                "type": "array",
                "value": []
              }
            ]
          }
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}