CopilotStudioAccelerator/SolutionPackage/src/Workflows/AgentInventoryComplianceScan-23902BDD-39B4-F011-BBD3-00224809E9B5.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "api": {
          "name": "shared_commondataserviceforapps"
        },
        "connection": {
          "connectionReferenceLogicalName": "cat_CopilotStudioAcceleratorDataverse"
        },
        "runtimeSource": "embedded"
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        }
      },
      "triggers": {
        "When_a_row_is_added,_modified_or_deleted": {
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "parameters": {
              "subscriptionRequest/message": 3,
              "subscriptionRequest/entityname": "cat_copilotstudiokitlogs",
              "subscriptionRequest/scope": 4,
              "subscriptionRequest/filteringattributes": "cat_executionstatuscode",
              "subscriptionRequest/filterexpression": "cat_cloudflowname eq 'Agent Inventory | Agents Data Load' and (cat_executionstatuscode eq 3 or cat_executionstatuscode eq 4)\nor\ncat_cloudflowname eq 'Agent Inventory | Agents Data Load Scheduler' and (cat_executionstatuscode eq 3 or cat_executionstatuscode eq 4)\nor\ncat_cloudflowname eq 'Agent Inventory | Usage Data Load' and (cat_executionstatuscode eq 3 or cat_executionstatuscode eq 4)"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "operationId": "SubscribeWebhookTrigger",
              "connectionName": "shared_commondataserviceforapps"
            }
          },
          "metadata": {
            "operationMetadataId": "f009a543-633c-4df3-8583-0da6c62d9cae"
          }
        }
      },
      "actions": {
        "Initialize_varIsRunCompliance": {
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varIsRunCompliance",
                "type": "boolean",
                "value": "@false"
              }
            ]
          },
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "e8a3790e-fc29-4ecf-bf79-c055d83ecaf2"
          }
        },
        "Condition:_Check_usage_solution_exists_or_the_trigger_input_is_usage": {
          "type": "If",
          "expression": {
            "or": [
              {
                "equals": [
                  "@triggerOutputs()?['body/cat_cloudflowname']",
                  "Agent Inventory | Usage Data Load"
                ]
              },
              {
                "equals": [
                  "@triggerOutputs()?['body/cat_cloudflowname']",
                  "Agent Inventory | Agents Data Load Scheduler"
                ]
              }
            ]
          },
          "actions": {
            "Set_varIsRunCompliance": {
              "type": "SetVariable",
              "inputs": {
                "name": "varIsRunCompliance",
                "value": "@true"
              },
              "metadata": {
                "operationMetadataId": "b3dd915b-d201-4228-b7be-59456a014632"
              }
            }
          },
          "else": {
            "actions": {
              "List_rows:_Check_usage_flow_exists_and_turned_on": {
                "type": "OpenApiConnection",
                "inputs": {
                  "parameters": {
                    "entityName": "workflows",
                    "$select": "name, statecode",
                    "$filter": "name eq 'Agent Inventory | Usage Data Load (Child)' and statecode eq 1"
                  },
                  "host": {
                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                    "operationId": "ListRecords",
                    "connectionName": "shared_commondataserviceforapps"
                  }
                },
                "metadata": {
                  "operationMetadataId": "eacaea88-5fc4-4e33-8fe0-ae893d0bdf6a"
                }
              },
              "Set_varIsRunCompliance_1": {
                "type": "SetVariable",
                "inputs": {
                  "name": "varIsRunCompliance",
                  "value": "@if(empty(outputs('List_rows:_Check_usage_flow_exists_and_turned_on')?['body/value']), true, false)"
                },
                "runAfter": {
                  "List_rows:_Check_usage_flow_exists_and_turned_on": [
                    "Succeeded"
                  ]
                },
                "metadata": {
                  "operationMetadataId": "66009786-a4a2-4dd3-888d-cc6005fe3a2c"
                }
              }
            }
          },
          "runAfter": {
            "Initialize_varIsRunCompliance": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "99ae5738-3a87-4b43-8438-4902866c9651"
          }
        },
        "Condition:_Run_compliance": {
          "type": "If",
          "expression": {
            "equals": [
              "@variables('varIsRunCompliance')",
              "@true"
            ]
          },
          "actions": {
            "Perform_an_unbound_action:_Compliance_scan": {
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "actionName": "cat_ComplianceScan",
                  "item/cat_ComplianceScanLogCloudFlowName": "@if(contains(triggerOutputs()?['body/cat_cloudflowname'],'Scheduler'),'Agent Inventory | Compliance Scan Scheduler','Agent Inventory | Compliance Scan')"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "operationId": "PerformUnboundAction",
                  "connectionName": "shared_commondataserviceforapps"
                }
              },
              "metadata": {
                "operationMetadataId": "77005bd1-0d0e-445e-a09a-841302d55f3a"
              }
            }
          },
          "else": {
            "actions": {}
          },
          "runAfter": {
            "Condition:_Check_usage_solution_exists_or_the_trigger_input_is_usage": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "bd3e4658-f7df-43c5-9382-53c1b55f4a0c"
          }
        }
      },
      "outputs": {}
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}