CopilotStudioAccelerator/SolutionPackage/src/Workflows/AgentComplianceDeleteCase-4E22A5F5-5AB3-F011-BBD3-00224809E9B5.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "api": {
          "name": "shared_commondataserviceforapps"
        },
        "connection": {
          "connectionReferenceLogicalName": "cat_CopilotStudioAcceleratorDataverse"
        },
        "runtimeSource": "embedded"
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "Power Automate Region (cat_PowerAutomateEndpoint)": {
          "defaultValue": "Commercial",
          "type": "String",
          "metadata": {
            "schemaName": "cat_PowerAutomateEndpoint",
            "description": "Specify your Power Automate environment region/cloud: Commercial, GCC, GCC High, or DoD."
          }
        }
      },
      "triggers": {
        "When_an_action_is_performed:_Delete_Case": {
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "parameters": {
              "catalog": "allcatalog",
              "category": "allcategory",
              "subscriptionRequest/entityname": "cat_compliancecase",
              "subscriptionRequest/sdkmessagename": "cat_DeleteCase"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "operationId": "BusinessEventsTrigger",
              "connectionName": "shared_commondataserviceforapps"
            }
          },
          "metadata": {
            "operationMetadataId": "e9914978-12ef-40ff-8ba8-f2c1de208b2c"
          }
        }
      },
      "actions": {
        "Scope:_Try": {
          "type": "Scope",
          "actions": {
            "Delete_Agent": {
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "organization": "@outputs('Get_Agent')?['body/cat_environmenturl']",
                  "entityName": "bots",
                  "actionName": "Microsoft.Dynamics.CRM.PvaDeleteBot",
                  "recordId": "@outputs('Get_Case')?['body/cat_agentid']"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "operationId": "PerformBoundActionWithOrganization",
                  "connectionName": "shared_commondataserviceforapps"
                }
              },
              "runAfter": {
                "Get_Agent": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "e210a610-ea12-476c-976e-83a75e343e0d"
              }
            },
            "Update_Case_-_Succeeded": {
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "entityName": "cat_compliancecases",
                  "recordId": "@triggerOutputs()?['body/InputParameters/target/Id']",
                  "item/cat_statusreason": 335350007,
                  "item/cat_expirydate": "@null",
                  "item/statecode": 1
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "operationId": "UpdateOnlyRecord",
                  "connectionName": "shared_commondataserviceforapps"
                }
              },
              "runAfter": {
                "Delete_Agent": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "57601346-bfb7-44dc-acf5-9372306760e3"
              }
            },
            "Add_Note_-_Succeeded": {
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "entityName": "annotations",
                  "item/subject": "Agent deleted",
                  "item/notetext": "The Copilot agent was deleted",
                  "item/isdocument": false,
                  "item/objectid_cat_compliancecase@odata.bind": "/cat_compliancecases(@{triggerOutputs()?['body/InputParameters/target/Id']})"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "operationId": "CreateRecord",
                  "connectionName": "shared_commondataserviceforapps"
                }
              },
              "runAfter": {
                "Update_Case_-_Succeeded": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "92d6b52c-10d8-4620-9245-5cdbd15d2c08"
              }
            },
            "Notify_Owner": {
              "type": "Workflow",
              "inputs": {
                "host": {
                  "workflowReferenceName": "d559c98c-c1af-f011-bbd3-00224809eacc"
                },
                "body": {
                  "text": "AgentCompliance_EnforcementNotification",
                  "text_1": "{\n\"AgentName\":\"@{outputs('Get_Agent')?['body/cat_name']}\",\n\"MakerName\":\"@{outputs('Get_Agent')?['body/cat_agentcreatedby']}\",\n\"EnforcementAction\":\"Deleted\"\n}",
                  "text_3": "@outputs('Update_Case_-_Succeeded')?['body/cat_owneremail']"
                }
              },
              "runAfter": {
                "Add_Note_-_Succeeded": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "6a2a2b39-1c41-4fbd-82db-af66cbc44f39"
              }
            },
            "Get_Agent": {
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "entityName": "cat_agentdetailses",
                  "recordId": "@outputs('Get_Case')?['body/cat_agentid']"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "operationId": "GetItem",
                  "connectionName": "shared_commondataserviceforapps"
                }
              },
              "runAfter": {
                "Get_Case": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "dca6d770-fb01-4d6f-864e-cbb061ec8fbf"
              }
            },
            "Get_Case": {
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "entityName": "cat_compliancecases",
                  "recordId": "@triggerOutputs()?['body/InputParameters/target/Id']"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "operationId": "GetItem",
                  "connectionName": "shared_commondataserviceforapps"
                }
              },
              "runAfter": {
                "Add_a_new_row:_Logs": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "721320d8-2507-4b9f-b83c-e391154204cb"
              }
            },
            "Get_Flow_Endpoint": {
              "type": "Compose",
              "inputs": "@if(equals(toLower(parameters('Power Automate Region (cat_PowerAutomateEndpoint)')), 'gcc'), 'https://make.gov.powerautomate.us/', \r\n    if(equals(toLower(parameters('Power Automate Region (cat_PowerAutomateEndpoint)')), 'gcc(high)'), 'https://make.high.powerautomate.us/', \r\n        if(equals(toLower(parameters('Power Automate Region (cat_PowerAutomateEndpoint)')), 'dod'), 'https://make.powerautomate.appsplatform.us/', \r\n            'https://make.powerautomate.com/'\r\n        )\r\n    )\r\n)",
              "metadata": {
                "operationMetadataId": "dc8e743d-1408-445c-8614-ee97abfcad5e"
              }
            },
            "Add_a_new_row:_Logs": {
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "entityName": "cat_copilotstudiokitlogses",
                  "item/cat_executionstatuscode": 2,
                  "item/cat_cloudflowinstanceurl": "@{outputs('Get_Flow_Endpoint')}environments/@{workflow()?['tags']?['environmentName']}/solutions/73fbfa55-8642-43d0-ab47-f15fab5813a4/flows/@{workflow()?['name']}/runs/@{workflow()?['run']?['name']}",
                  "item/cat_cloudflowname": "Agent Compliance | Delete Case",
                  "item/cat_ComplianceCase@odata.bind": "/cat_compliancecases(@{triggerOutputs()?['body/InputParameters/target/Id']})"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "operationId": "CreateRecord",
                  "connectionName": "shared_commondataserviceforapps"
                }
              },
              "runAfter": {
                "Get_Flow_Endpoint": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "1743ccd2-b8bb-4cee-9823-870ee9d4d438"
              }
            }
          },
          "runAfter": {
            "Initialize_variable:_ErrorMessage": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "2615ee81-4212-4e3d-a858-9f9400308766"
          }
        },
        "Initialize_variable:_ErrorMessage": {
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "ErrorMessage",
                "type": "string"
              }
            ]
          },
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "84dc8095-fa63-4f71-aaa9-ed2863a636bb"
          }
        },
        "Scope:_Catch": {
          "type": "Scope",
          "actions": {
            "Filter_array:_Error_Actions": {
              "type": "Query",
              "inputs": {
                "from": "@result('Scope:_Try')",
                "where": "@or(equals(item()?['Status'], 'Failed'), equals(item()?['Status'], 'TimedOut'))"
              },
              "metadata": {
                "operationMetadataId": "318aa9b2-4531-451c-b162-84cf7a4a236e"
              }
            },
            "Set_variable:_ErrorMessage": {
              "type": "SetVariable",
              "inputs": {
                "name": "ErrorMessage",
                "value": "@{first(body('Filter_array:_Error_Actions'))?['error']?['message']}"
              },
              "runAfter": {
                "Filter_array:_Error_Actions": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "ee38e0e1-03cd-48d8-9933-d73f7204b0f7"
              }
            },
            "Add_Note_-_Failed": {
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "entityName": "annotations",
                  "item/subject": "Agent deletion failed",
                  "item/notetext": "The agent was scheduled to be deleted but automation failed.",
                  "item/isdocument": false,
                  "item/objectid_cat_compliancecase@odata.bind": "/cat_compliancecases(@{triggerOutputs()?['body/InputParameters/target/Id']})"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "operationId": "CreateRecord",
                  "connectionName": "shared_commondataserviceforapps"
                }
              },
              "runAfter": {
                "Set_variable:_ErrorMessage": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "92d6b52c-10d8-4620-9245-5cdbd15d2c08"
              }
            }
          },
          "runAfter": {
            "Scope:_Try": [
              "Failed",
              "Skipped",
              "TimedOut"
            ]
          },
          "metadata": {
            "operationMetadataId": "4f2e4827-62c8-4225-94cd-14089e7ac8f7"
          }
        },
        "Scope:_Finally": {
          "type": "Scope",
          "actions": {
            "Update_a_row:_Logs": {
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "entityName": "cat_copilotstudiokitlogses",
                  "recordId": "@outputs('Add_a_new_row:_Logs')?['body/cat_copilotstudiokitlogsid']",
                  "item/cat_executionstatuscode": "@if(not(empty(variables('ErrorMessage'))), 4, 3)",
                  "item/cat_errormessage": "@if(not(empty(variables('ErrorMessage'))), variables('ErrorMessage'), null)"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "operationId": "UpdateRecord",
                  "connectionName": "shared_commondataserviceforapps"
                }
              },
              "metadata": {
                "operationMetadataId": "9f447776-551f-41e3-a432-ecfb376e623f"
              }
            }
          },
          "runAfter": {
            "Scope:_Catch": [
              "Succeeded",
              "Failed",
              "Skipped",
              "TimedOut"
            ]
          },
          "metadata": {
            "operationMetadataId": "3b16a931-71ef-4a27-b6c8-cea6a9fc38f1"
          }
        }
      }
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}