CopilotStudioAccelerator/SolutionPackage/src/Workflows/AgentComplianceUnquarantine-EDD81F7D-6FB3-F011-BBD3-00224809E9B5.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "api": {
          "name": "shared_commondataserviceforapps"
        },
        "connection": {
          "connectionReferenceLogicalName": "cat_CopilotStudioAcceleratorDataverse"
        },
        "runtimeSource": "embedded"
      },
      "shared_powerplatformadminv2": {
        "api": {
          "name": "shared_powerplatformadminv2"
        },
        "connection": {
          "connectionReferenceLogicalName": "cat_sharedpowerplatformadminv2_ac233"
        },
        "runtimeSource": "embedded"
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "Compliance Support Contact Alias (cat_ComplianceSupportContactAlias)": {
          "defaultValue": "agent-coe-admins@powercattools.onmicrosoft.com",
          "type": "String",
          "metadata": {
            "schemaName": "cat_ComplianceSupportContactAlias",
            "description": "Email alias users can contact for support regarding the compliance system"
          }
        },
        "Power Automate Region (cat_PowerAutomateEndpoint)": {
          "defaultValue": "Commercial",
          "type": "String",
          "metadata": {
            "schemaName": "cat_PowerAutomateEndpoint",
            "description": "Specify your Power Automate environment region/cloud: Commercial, GCC, GCC High, or DoD."
          }
        }
      },
      "triggers": {
        "When_an_action_is_performed": {
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "parameters": {
              "catalog": "allcatalog",
              "category": "allcategory",
              "subscriptionRequest/entityname": "cat_compliancecase",
              "subscriptionRequest/sdkmessagename": "cat_SetCaseUnquarantined"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "operationId": "BusinessEventsTrigger",
              "connectionName": "shared_commondataserviceforapps"
            }
          },
          "metadata": {
            "operationMetadataId": "5d791c36-e98d-40c0-b3bf-6f8f19fdea82"
          }
        }
      },
      "actions": {
        "Initialize_variable:_ErrorMessage": {
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "ErrorMessage",
                "type": "string"
              }
            ]
          },
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "84dc8095-fa63-4f71-aaa9-ed2863a636bb"
          }
        },
        "Scope:_Try": {
          "type": "Scope",
          "actions": {
            "Get_Flow_Endpoint": {
              "type": "Compose",
              "inputs": "@if(equals(toLower(parameters('Power Automate Region (cat_PowerAutomateEndpoint)')), 'gcc'), 'https://make.gov.powerautomate.us/', \r\n    if(equals(toLower(parameters('Power Automate Region (cat_PowerAutomateEndpoint)')), 'gcc(high)'), 'https://make.high.powerautomate.us/', \r\n        if(equals(toLower(parameters('Power Automate Region (cat_PowerAutomateEndpoint)')), 'dod'), 'https://make.powerautomate.appsplatform.us/', \r\n            'https://make.powerautomate.com/'\r\n        )\r\n    )\r\n)",
              "metadata": {
                "operationMetadataId": "dc8e743d-1408-445c-8614-ee97abfcad5e"
              }
            },
            "Add_a_new_row:_Logs": {
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "entityName": "cat_copilotstudiokitlogses",
                  "item/cat_executionstatuscode": 2,
                  "item/cat_cloudflowinstanceurl": "@{outputs('Get_Flow_Endpoint')}environments/@{workflow()?['tags']?['environmentName']}/solutions/73fbfa55-8642-43d0-ab47-f15fab5813a4/flows/@{workflow()?['name']}/runs/@{workflow()?['run']?['name']}",
                  "item/cat_cloudflowname": "Agent Compliance | Unquarantine",
                  "item/cat_ComplianceCase@odata.bind": "/cat_compliancecases(@{triggerOutputs()?['body/InputParameters/target/Id']})"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "operationId": "CreateRecord",
                  "connectionName": "shared_commondataserviceforapps"
                }
              },
              "runAfter": {
                "Get_Flow_Endpoint": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "1743ccd2-b8bb-4cee-9823-870ee9d4d438"
              }
            },
            "Get_Case": {
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "entityName": "cat_compliancecases",
                  "recordId": "@triggerOutputs()?['body/InputParameters/target/Id']"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "operationId": "GetItem",
                  "connectionName": "shared_commondataserviceforapps"
                }
              },
              "runAfter": {
                "Add_a_new_row:_Logs": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "7226d5c3-8d0d-46b9-ac72-e131fde8d125"
              }
            },
            "Find_Agent": {
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "entityName": "cat_agentdetailses",
                  "$select": "cat_agentid,cat_environmentid,cat_name",
                  "$filter": "cat_agentid eq '@{outputs('Get_Case')?['body/cat_agentid']}'"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "operationId": "ListRecords",
                  "connectionName": "shared_commondataserviceforapps"
                }
              },
              "runAfter": {
                "Get_Case": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "76a9257a-97fd-4c6b-8abb-917ffccc10b7"
              }
            },
            "Get_Bot_Quarantine_Status": {
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "api-version": "2022-03-01-preview",
                  "EnvironmentId": "@first(outputs('Find_Agent')?['body/value'])?['cat_environmentid']",
                  "BotId": "@outputs('Get_Case')?['body/cat_agentid']"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_powerplatformadminv2",
                  "operationId": "GetBotQuarantineStatus",
                  "connectionName": "shared_powerplatformadminv2"
                }
              },
              "runAfter": {
                "Find_Agent": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "523170a4-ee10-496f-ab92-a097484fddf7"
              }
            },
            "Check_Quarantine_Status": {
              "type": "If",
              "expression": {
                "and": [
                  {
                    "equals": [
                      "@outputs('Get_Bot_Quarantine_Status')?['body/isBotQuarantined']",
                      "@true"
                    ]
                  }
                ]
              },
              "actions": {
                "Add_Note": {
                  "type": "OpenApiConnection",
                  "inputs": {
                    "parameters": {
                      "entityName": "annotations",
                      "item/subject": "Agent unquarantined",
                      "item/notetext": "The agent has been unquarantined",
                      "item/isdocument": false,
                      "item/objectid_cat_compliancecase@odata.bind": "/cat_compliancecases(@{outputs('Update_Case')?['body/cat_compliancecaseid']})"
                    },
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                      "operationId": "CreateRecord",
                      "connectionName": "shared_commondataserviceforapps"
                    }
                  },
                  "runAfter": {
                    "Update_Case": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "80099798-6c2f-4a1a-b746-caa50fa87b68"
                  }
                },
                "Send_Notification": {
                  "type": "Workflow",
                  "inputs": {
                    "host": {
                      "workflowReferenceName": "d559c98c-c1af-f011-bbd3-00224809eacc"
                    },
                    "body": {
                      "text": "AgentCompliance_Unquarantine",
                      "text_1": "{\n\"AgentName\":\"@{first(outputs('Find_Agent')?['body/value'])?['cat_name']}\",\n\"AdminAlias\":\"@{parameters('Compliance Support Contact Alias (cat_ComplianceSupportContactAlias)')}\"\n}",
                      "text_3": "@outputs('Update_Case')?['body/cat_owneremail']"
                    }
                  },
                  "runAfter": {
                    "Add_Note": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "81d1bf34-a445-4ca5-89a3-0252cbe12496"
                  }
                },
                "Set_Bot_as_Unquarantined": {
                  "type": "OpenApiConnection",
                  "inputs": {
                    "parameters": {
                      "api-version": "2022-03-01-preview",
                      "EnvironmentId": "@first(outputs('Find_Agent')?['body/value'])?['cat_environmentid']",
                      "BotId": "@outputs('Get_Case')?['body/cat_agentid']"
                    },
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_powerplatformadminv2",
                      "operationId": "SetBotAsUnquarantined",
                      "connectionName": "shared_powerplatformadminv2"
                    }
                  },
                  "metadata": {
                    "operationMetadataId": "df6afb57-70a1-4e89-9d9c-1f05effff35b"
                  }
                },
                "Update_Case": {
                  "type": "OpenApiConnection",
                  "inputs": {
                    "parameters": {
                      "entityName": "cat_compliancecases",
                      "recordId": "@triggerOutputs()?['body/InputParameters/target/Id']",
                      "item/cat_statusreason": 335350000,
                      "item/cat_lastcasestatus": 335350009
                    },
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                      "operationId": "UpdateOnlyRecord",
                      "connectionName": "shared_commondataserviceforapps"
                    }
                  },
                  "runAfter": {
                    "Get_SLA": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "1fc065e6-f84f-4649-ad34-4ed4ea53c163"
                  }
                },
                "List_rows": {
                  "type": "OpenApiConnection",
                  "inputs": {
                    "parameters": {
                      "entityName": "cat_actionpolicies",
                      "$filter": "cat_risklevel eq @{outputs('Get_Case')?['body/cat_risklevel']}",
                      "$top": 1
                    },
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                      "operationId": "ListRecords",
                      "connectionName": "shared_commondataserviceforapps"
                    }
                  },
                  "runAfter": {
                    "Set_Bot_as_Unquarantined": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "6f916ddf-308c-492c-a1df-ad0c46b69f52"
                  }
                },
                "Get_SLA": {
                  "type": "Compose",
                  "inputs": "@first(outputs('List_rows')?['body/value'])?['cat_sladays']",
                  "runAfter": {
                    "List_rows": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "8e87c163-5f6f-44f0-96ed-ecf8b53a010c"
                  }
                }
              },
              "else": {
                "actions": {}
              },
              "runAfter": {
                "Get_Bot_Quarantine_Status": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "078a9249-034b-4d23-8dd2-cb35e5605e6d"
              }
            }
          },
          "runAfter": {
            "Initialize_variable:_ErrorMessage": [
              "Succeeded"
            ]
          }
        },
        "Scope:_Catch": {
          "type": "Scope",
          "actions": {
            "Filter_array:_Error_Actions": {
              "type": "Query",
              "inputs": {
                "from": "@result('Scope:_Try')",
                "where": "@or(equals(item()?['Status'], 'Failed'), equals(item()?['Status'], 'TimedOut'))"
              },
              "metadata": {
                "operationMetadataId": "318aa9b2-4531-451c-b162-84cf7a4a236e"
              }
            },
            "Set_variable:_ErrorMessage": {
              "type": "SetVariable",
              "inputs": {
                "name": "ErrorMessage",
                "value": "@{first(body('Filter_array:_Error_Actions'))?['error']?['message']}"
              },
              "runAfter": {
                "Filter_array:_Error_Actions": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "ee38e0e1-03cd-48d8-9933-d73f7204b0f7"
              }
            }
          },
          "runAfter": {
            "Scope:_Try": [
              "Failed",
              "Skipped",
              "TimedOut"
            ]
          },
          "metadata": {
            "operationMetadataId": "4f2e4827-62c8-4225-94cd-14089e7ac8f7"
          }
        },
        "Scope:_Finally": {
          "type": "Scope",
          "actions": {
            "Update_a_row:_Logs": {
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "entityName": "cat_copilotstudiokitlogses",
                  "recordId": "@outputs('Add_a_new_row:_Logs')?['body/cat_copilotstudiokitlogsid']",
                  "item/cat_executionstatuscode": "@if(not(empty(variables('ErrorMessage'))), 4, 3)",
                  "item/cat_errormessage": "@if(not(empty(variables('ErrorMessage'))), variables('ErrorMessage'), null)"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "operationId": "UpdateRecord",
                  "connectionName": "shared_commondataserviceforapps"
                }
              },
              "metadata": {
                "operationMetadataId": "9f447776-551f-41e3-a432-ecfb376e623f"
              }
            }
          },
          "runAfter": {
            "Scope:_Catch": [
              "Succeeded",
              "Failed",
              "Skipped",
              "TimedOut"
            ]
          },
          "metadata": {
            "operationMetadataId": "3b16a931-71ef-4a27-b6c8-cea6a9fc38f1"
          }
        }
      },
      "outputs": {}
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}