CopilotStudioAccelerator/SolutionPackage/src/Workflows/AnalyzegeneratedanswerswithAIBuilder-ED6A53E3-6012-EF11-9F8A-000D3A5CB958.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "cat_CopilotStudioAcceleratorDataverse"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "When_an_action_is_performed": {
          "metadata": {
            "operationMetadataId": "9f251308-8842-4da0-b976-b046cfddf961"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "BusinessEventsTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "catalog": "allcatalog",
              "category": "allcategory",
              "subscriptionRequest/entityname": "cat_copilottestrun",
              "subscriptionRequest/sdkmessagename": "cat_RunAIBuilderAnalysis"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Update_Copilot_Test_Run:_Running": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "1879daca-4f37-49d8-8b18-6a8cf166f470"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "UpdateRecord",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "cat_copilottestruns",
              "recordId": "@triggerOutputs()?['body/InputParameters/CopilotTestRunId']",
              "item/cat_generatedanswersanalysiscode": 2
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Get_Generative_Answers_Copilot_Test_Results": {
          "runAfter": {
            "Update_Copilot_Test_Run:_Running": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "6076da45-72f2-4ca7-bc39-244924e64238"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "cat_copilottestresults",
              "$select": "cat_name, cat_copilottestresultid, cat_response",
              "$filter": "_cat_copilottestrunid_value eq '@{triggerOutputs()?['body/InputParameters/CopilotTestRunId']}'  and statecode eq 0 and cat_resultcode ne 4 and cat_CopilotTestId/cat_testtypecode eq 4 and (cat_CopilotTestId/cat_generativeansweroutcomecode eq 1 or cat_CopilotTestId/cat_generativeansweroutcomecode eq 2)",
              "$orderby": "createdon asc",
              "$expand": "cat_CopilotTestId($select=cat_generativeansweroutcomecode,cat_expectedresponse,cat_testutterance)"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Apply_to_each_Generative_Answers_Result": {
          "foreach": "@outputs('Get_Generative_Answers_Copilot_Test_Results')?['body/value']",
          "actions": {
            "Update_Copilot_Test_Result": {
              "runAfter": {
                "AI_Builder_Custom_Prompt:_AI_Generative_Answer_Match": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "15aaca7b-99dd-469b-99b8-9eae5e9e7a11"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "UpdateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "cat_copilottestresults",
                  "recordId": "@items('Apply_to_each_Generative_Answers_Result')?['cat_copilottestresultid']",
                  "item/cat_resultcode": "@if(\r\n    equals(\r\n        string(\r\n            int(outputs('AI_Builder_Custom_Prompt:_AI_Generative_Answer_Match')?['body/responsev2/predictionOutput/text'])\r\n        ),\r\n        outputs('AI_Builder_Custom_Prompt:_AI_Generative_Answer_Match')?['body/responsev2/predictionOutput/text']\r\n    ),\r\n    outputs('AI_Builder_Custom_Prompt:_AI_Generative_Answer_Match')?['body/responsev2/predictionOutput/text'],\r\n    4\r\n)",
                  "item/cat_resultreason": "@if(\r\n    equals(\r\n        string(\r\n            int(outputs('AI_Builder_Custom_Prompt:_AI_Generative_Answer_Match')?['body/responsev2/predictionOutput/text'])\r\n        ),\r\n        outputs('AI_Builder_Custom_Prompt:_AI_Generative_Answer_Match')?['body/responsev2/predictionOutput/text']\r\n    ),\r\n    'AI-generated assessment of the response. Please review.',\r\n    'Error when assessing the response with AI'\r\n)"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "AI_Builder_Custom_Prompt:_AI_Generative_Answer_Match": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "f3be8688-ad03-4a66-9ce3-c743270835f8",
                "flowSystemMetadata": {
                  "portalOperationId": "aibuilderpredict_customprompt",
                  "portalOperationGroup": "aibuilder",
                  "portalOperationApiDisplayNameOverride": "AI Builder",
                  "portalOperationIconOverride": "https://content.powerapps.com/resource/makerx/static/pauto/images/designeroperations/aiBuilderNew.51dbdb6b.png",
                  "portalOperationBrandColorOverride": "#0A76C4",
                  "portalOperationApiTierOverride": "Standard"
                }
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "aibuilderpredict_customprompt",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "recordId": "0ebe7217-deac-4d24-8ea1-67237f416b1b",
                  "item/requestv2/reference_20answer": "@if(\r\n    empty(items('Apply_to_each_Generative_Answers_Result')?['cat_copilottestid/cat_expectedresponse']),\r\n    if(\r\n        not(equals(items('Apply_to_each_Generative_Answers_Result')?['cat_copilottestid/cat_generativeansweroutcomecode'], 1)),\r\n        'No answer (or decline to answer).',\r\n        'Any answer (any attempt at answering the question is a success).'\r\n    ),\r\n    items('Apply_to_each_Generative_Answers_Result')?['cat_copilottestid/cat_expectedresponse']\r\n)",
                  "item/requestv2/instruction": "@items('Apply_to_each_Generative_Answers_Result')?['cat_copilottestid/cat_testutterance']",
                  "item/requestv2/response": "@if(\r\n    empty(items('Apply_to_each_Generative_Answers_Result')?['cat_response']),\r\n    'No answer provided (failure)',\r\n    items('Apply_to_each_Generative_Answers_Result')?['cat_response']\r\n)\r\n"
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {
            "Get_Generative_Answers_Copilot_Test_Results": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "fdd67cc2-01c6-4669-beb8-4a8c089f6504"
          },
          "type": "Foreach",
          "runtimeConfiguration": {
            "concurrency": {
              "repetitions": 50
            }
          }
        },
        "Update_Copilot_Test_Run:_Error": {
          "runAfter": {
            "Apply_to_each_Generative_Answers_Result": [
              "Failed",
              "Skipped",
              "TimedOut"
            ]
          },
          "metadata": {
            "operationMetadataId": "46100016-2f1b-4e28-9ef7-90648debe3d9"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "UpdateRecord",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "cat_copilottestruns",
              "recordId": "@triggerOutputs()?['body/InputParameters/CopilotTestRunId']",
              "item/cat_errordetails": "@concat(\n  body('Update_Copilot_Test_Run:_Running')?['cat_errordetails'],\n  '<br/>',\n  'Failed <strong>',\n  workflow()?['tags']?['flowDisplayName'],\n  '</strong> flow run: <a href=\"https://make.powerautomate.com/environments/',\n  workflow()?['tags']?['environmentName'],\n  '/solutions/fd140aaf-4df4-11dd-bd17-0019b9312238/flows/',\n  workflow()?['name'],\n  '/runs/',\n  workflow()?['run']?['name'],\n  '\" target=\"_blank\" rel=\"noopener noreferrer\">Click here to open the flow run</a>'\n)\n",
              "item/cat_generatedanswersanalysiscode": 6
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Perform_a_bound_action:_Update_Rollup_Columns": {
          "runAfter": {
            "Apply_to_each_Generative_Answers_Result": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "af483f4c-32dd-412b-a719-f226b3756087"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "PerformBoundAction",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "cat_copilottestruns",
              "actionName": "Microsoft.Dynamics.CRM.cat_RunRollupColumnsUpdates",
              "recordId": "@triggerOutputs()?['body/InputParameters/CopilotTestRunId']",
              "item/DataverseUriHost": "@uriHost(outputs('Update_Copilot_Test_Run:_Running')?['body/@odata.id'])",
              "item/CopilotTestRunId": "@triggerOutputs()?['body/InputParameters/CopilotTestRunId']"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Update_Copilot_Test_Run:_Complete": {
          "runAfter": {
            "Perform_a_bound_action:_Update_Rollup_Columns": [
              "Succeeded",
              "Failed"
            ]
          },
          "metadata": {
            "operationMetadataId": "46100016-2f1b-4e28-9ef7-90648debe3d9"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "UpdateRecord",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "cat_copilottestruns",
              "recordId": "@triggerOutputs()?['body/InputParameters/CopilotTestRunId']",
              "item/cat_errordetails": "@concat(\r\n  outputs('Update_Copilot_Test_Run:_Running')?['body/cat_errordetails'],\r\n  '<br/>',\r\n  '<strong>',\r\n  workflow()?['tags']?['flowDisplayName'],\r\n  '</strong> flow run: <a href=\"https://make.powerautomate.com/environments/',\r\n  workflow()?['tags']?['environmentName'],\r\n  '/solutions/fd140aaf-4df4-11dd-bd17-0019b9312238/flows/',\r\n  workflow()?['name'],\r\n  '/runs/',\r\n  workflow()?['run']?['name'],\r\n  '\" target=\"_blank\" rel=\"noopener noreferrer\">Click here to open the flow run</a>'\r\n)",
              "item/cat_generatedanswersanalysiscode": 3
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}