CopilotStudioAccelerator/SolutionPackage/src/Workflows/ConversationKPIsSessionInsightsChild-6D9315A8-4E94-EF11-8A69-7C1E524A2AE3.json
{
  "properties": {
    "connectionReferences": {},
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "dd03b093-56a7-4a98-8efd-969b293b4b40"
          },
          "type": "Request",
          "kind": "Button",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "text": {
                  "title": "SessionInfo",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                },
                "text_1": {
                  "title": "ConversationTranscriptName",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                }
              },
              "required": [
                "text",
                "text_1"
              ]
            }
          }
        }
      },
      "actions": {
        "Initialize_variable:_GlobalOutcome": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "1226ddb3-0dd1-409a-8b4c-0cbf017781ce"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "GlobalOutcome",
                "type": "integer",
                "value": 1
              }
            ]
          }
        },
        "Initialize_variable:_SumTurnCount": {
          "runAfter": {
            "Initialize_variable:_GlobalOutcome": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "442bf23a-cd1f-4aee-be45-3ec563794f61"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "SumTurnCount",
                "type": "integer",
                "value": 0
              }
            ]
          }
        },
        "Initialize_variable:_AverageCsat": {
          "runAfter": {
            "Initialize_variable:_CsatCount": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "85ba2fc1-e191-44b8-8b0e-60aeea31f143"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Average Csat",
                "type": "float",
                "value": 0
              }
            ]
          }
        },
        "Initialize_variable:_TotalCsat": {
          "runAfter": {
            "Initialize_variable:_SumTurnCount": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "8b9372c5-98cb-43b6-9772-c8f31883abd0"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "TotalCsat",
                "type": "integer",
                "value": 0
              }
            ]
          }
        },
        "Initialize_variable:_CsatCount": {
          "runAfter": {
            "Initialize_variable:_TotalCsat": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "dec745c3-87f5-4d33-857a-6d304ae2de90"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "CsatCount",
                "type": "integer",
                "value": 0
              }
            ]
          }
        },
        "Scope:_Try": {
          "actions": {
            "Parse_JSON:_SessionInfo": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "3d9ddab6-a2ca-42b0-b782-80f79d28ca26"
              },
              "type": "ParseJson",
              "inputs": {
                "content": "@triggerBody()['text']",
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "valueType": {
                        "type": "string"
                      },
                      "id": {
                        "type": "string"
                      },
                      "type": {
                        "type": "string"
                      },
                      "timestamp": {
                        "type": "integer"
                      },
                      "from": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "role": {
                            "type": "integer"
                          }
                        }
                      },
                      "value": {
                        "type": "object",
                        "properties": {
                          "startTimeUtc": {
                            "type": "string"
                          },
                          "endTimeUtc": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          },
                          "outcome": {
                            "type": "string"
                          },
                          "turnCount": {
                            "type": "integer"
                          },
                          "lastTriggeredIntentId": {
                            "type": "string"
                          },
                          "lastUserIntentId": {
                            "type": "string"
                          },
                          "impliedSuccess": {
                            "type": "boolean"
                          },
                          "csatScore": {
                            "type": "integer"
                          },
                          "outcomeReason": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "required": [
                      "valueType",
                      "id",
                      "type",
                      "timestamp",
                      "from",
                      "value"
                    ]
                  }
                }
              }
            },
            "Filter_array:_Resolved_Sessions": {
              "runAfter": {
                "Parse_JSON:_SessionInfo": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "1884bac5-c20c-45c3-916c-bd1182ac311f"
              },
              "type": "Query",
              "inputs": {
                "from": "@body('Parse_JSON:_SessionInfo')",
                "where": "@equals(item()?['value']?['outcome'], 'Resolved')"
              }
            },
            "Filter_array:_Escalated_Sessions": {
              "runAfter": {
                "Filter_array:_Resolved_Sessions": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "1884bac5-c20c-45c3-916c-bd1182ac311f"
              },
              "type": "Query",
              "inputs": {
                "from": "@body('Parse_JSON:_SessionInfo')",
                "where": "@equals(item()?['value']?['outcome'], 'HandOff')"
              }
            },
            "Filter_array:_Abandoned_Sessions": {
              "runAfter": {
                "Filter_array:_Escalated_Sessions": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "1884bac5-c20c-45c3-916c-bd1182ac311f"
              },
              "type": "Query",
              "inputs": {
                "from": "@body('Parse_JSON:_SessionInfo')",
                "where": "@equals(item()?['value']?['outcome'], 'Abandoned')"
              }
            },
            "Select:_SessionsArray": {
              "runAfter": {
                "Filter_array:_Abandoned_Sessions": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "12b9b8f7-6962-4d71-af11-b5b5a0ce4ab9"
              },
              "type": "Select",
              "inputs": {
                "from": "@body('Parse_JSON:_SessionInfo')",
                "select": {
                  "Session ID": "@{triggerBody()['text_1']}-@{item()['timestamp']}-@{item()['id']}",
                  "Engagement": "@item()?['value']?['type']",
                  "Outcome": "@item()?['value']?['outcome']",
                  "CSAT": "@if(contains(item()?['value'], 'csatScore'), item()?['value']?['csatScore'], null)",
                  "Turn Count": "@item()?['value']?['turnCount']",
                  "Implied Success": "@item()?['value']?['impliedSuccess']",
                  "Start Time (UTC)": "@item()?['value']?['startTimeUtc']",
                  "End Time (UTC)": "@item()?['value']?['endTimeUtc']",
                  "Outcome Reason": "@item()?['value']?['outcomeReason']"
                }
              }
            },
            "Apply_to_each:_SessionInfo": {
              "foreach": "@body('Parse_JSON:_SessionInfo')",
              "actions": {
                "Condition:_CSAT_Score_Exists": {
                  "actions": {
                    "Increment_variable:_TotalCSat": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "00253954-d900-4efe-9676-7c6a11e839b4"
                      },
                      "type": "IncrementVariable",
                      "inputs": {
                        "name": "TotalCsat",
                        "value": "@items('Apply_to_each:_SessionInfo')?['value']?['csatScore']"
                      }
                    },
                    "Increment_variable:_CsatCount": {
                      "runAfter": {
                        "Increment_variable:_TotalCSat": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "1a2429d1-b8ca-4778-a75a-455bc4436e20"
                      },
                      "type": "IncrementVariable",
                      "inputs": {
                        "name": "CsatCount",
                        "value": 1
                      }
                    }
                  },
                  "runAfter": {},
                  "expression": {
                    "equals": [
                      "@contains(items('Apply_to_each:_SessionInfo')?['value'], 'csatScore')",
                      true
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "44c2103c-089c-45db-a6b4-e401f888a1d3"
                  },
                  "type": "If"
                },
                "Increment_variable:_SumTurnCount": {
                  "runAfter": {
                    "Condition:_CSAT_Score_Exists": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "6d1e1b7f-33ec-4141-bca5-37be8fb53915"
                  },
                  "type": "IncrementVariable",
                  "inputs": {
                    "name": "SumTurnCount",
                    "value": "@items('Apply_to_each:_SessionInfo')?['value']?['turnCount']"
                  }
                }
              },
              "runAfter": {
                "Select:_SessionsArray": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "7711a71c-7ee2-4fbc-845a-85da3b8f135c"
              },
              "type": "Foreach"
            },
            "Condition:_Check_Csat_Count": {
              "actions": {
                "Set_variable:_Average_Csat": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "f89144c7-c506-4c7c-9166-78af5083618b"
                  },
                  "type": "SetVariable",
                  "inputs": {
                    "name": "Average Csat",
                    "value": "@div(float(variables('TotalCsat')), float(variables('CsatCount')))"
                  }
                }
              },
              "runAfter": {
                "Apply_to_each:_SessionInfo": [
                  "Succeeded"
                ]
              },
              "else": {
                "actions": {
                  "Set_variable:_Average_Csat_to_0": {
                    "runAfter": {},
                    "metadata": {
                      "operationMetadataId": "b216aae8-0f9b-46db-b8f0-4fa955500999"
                    },
                    "type": "SetVariable",
                    "inputs": {
                      "name": "Average Csat",
                      "value": 0
                    }
                  }
                }
              },
              "expression": {
                "greater": [
                  "@variables('CsatCount')",
                  0
                ]
              },
              "metadata": {
                "operationMetadataId": "46d45e33-17d8-4a5a-8e73-3c46e40c95e5"
              },
              "type": "If"
            },
            "Condition:_Resolved": {
              "actions": {
                "Set_variable:_Global_Outcome_Resolved": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "3e633d35-25db-4c9b-a271-270b1918fea7"
                  },
                  "type": "SetVariable",
                  "inputs": {
                    "name": "GlobalOutcome",
                    "value": 2
                  }
                }
              },
              "runAfter": {
                "Condition:_Check_Csat_Count": [
                  "Succeeded"
                ]
              },
              "else": {
                "actions": {
                  "Condition:_Escalated": {
                    "actions": {
                      "Set_variable:_Global_Outcome_Escalated": {
                        "runAfter": {},
                        "metadata": {
                          "operationMetadataId": "cc0d14c4-2839-440b-a829-1057908c2a1f"
                        },
                        "type": "SetVariable",
                        "inputs": {
                          "name": "GlobalOutcome",
                          "value": 4
                        }
                      }
                    },
                    "runAfter": {},
                    "else": {
                      "actions": {
                        "Condition:_Partially_Resolved": {
                          "actions": {
                            "Set_variable:_Global_Outcome_Partially_Resolved": {
                              "runAfter": {},
                              "metadata": {
                                "operationMetadataId": "b2d370fd-c409-491b-b173-a38f04971bd2"
                              },
                              "type": "SetVariable",
                              "inputs": {
                                "name": "GlobalOutcome",
                                "value": 3
                              }
                            }
                          },
                          "runAfter": {},
                          "else": {
                            "actions": {
                              "Condition:_Abandoned": {
                                "actions": {
                                  "Set_variable:_Global_Outcome_Abandoned": {
                                    "runAfter": {},
                                    "metadata": {
                                      "operationMetadataId": "3a14b4c7-72c2-44a3-99e3-b0fe64b32da6"
                                    },
                                    "type": "SetVariable",
                                    "inputs": {
                                      "name": "GlobalOutcome",
                                      "value": 5
                                    }
                                  }
                                },
                                "runAfter": {},
                                "else": {
                                  "actions": {
                                    "Set_variable:_Global_Outcome_Unengaged": {
                                      "runAfter": {},
                                      "metadata": {
                                        "operationMetadataId": "13e7ddcf-1086-4277-85b7-feba9c2e482c"
                                      },
                                      "type": "SetVariable",
                                      "inputs": {
                                        "name": "GlobalOutcome",
                                        "value": 1
                                      }
                                    }
                                  }
                                },
                                "expression": {
                                  "greater": [
                                    "@length(body('Filter_array:_Abandoned_Sessions'))",
                                    0
                                  ]
                                },
                                "metadata": {
                                  "operationMetadataId": "3d3f0386-eff8-4b69-9b5e-25544f624a28"
                                },
                                "type": "If"
                              }
                            }
                          },
                          "expression": {
                            "greater": [
                              "@length(body('Filter_array:_Resolved_Sessions'))",
                              0
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "38d1bdde-b9e2-4f52-9eb2-0a5cbcbe9e05"
                          },
                          "type": "If"
                        }
                      }
                    },
                    "expression": {
                      "greater": [
                        "@length(body('Filter_array:_Escalated_Sessions'))",
                        0
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "c0e176a0-f387-4026-86b5-26b37338ff8c"
                    },
                    "type": "If"
                  }
                }
              },
              "expression": {
                "equals": [
                  "@length(body('Parse_JSON:_SessionInfo'))",
                  "@length(body('Filter_array:_Resolved_Sessions'))"
                ]
              },
              "metadata": {
                "operationMetadataId": "bdcfec19-bcb4-4f1e-be2c-c3d762b095c0"
              },
              "type": "If"
            }
          },
          "runAfter": {
            "Initialize_variable:_AverageCsat": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "277b6bb4-ce52-4291-919c-efd6d9354896"
          },
          "type": "Scope"
        },
        "Scope:_Catch": {
          "actions": {
            "Terminate": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "07f8e42e-659c-40dd-a467-27d34f56b8db"
              },
              "type": "Terminate",
              "inputs": {
                "runStatus": "Failed",
                "runError": {
                  "code": "Conversation KPIs Session Insights Child",
                  "message": "An error occurred while processing your request. Please try again later or contact support if the issue persists."
                }
              }
            }
          },
          "runAfter": {
            "Scope:_Try": [
              "Failed",
              "Skipped",
              "TimedOut"
            ]
          },
          "metadata": {
            "operationMetadataId": "d8d5f982-0a44-44e2-9389-4e738d8a6cb1"
          },
          "type": "Scope"
        },
        "Scope:_Finally": {
          "actions": {
            "Respond_to_a_Power_App_or_flow": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "6627d475-3e2e-432a-99c1-dded2994bfab"
              },
              "type": "Response",
              "kind": "PowerApp",
              "inputs": {
                "statusCode": 200,
                "body": {
                  "sessionsarray": "@{body('Select:_SessionsArray')}",
                  "globaloutcome": "@{variables('GlobalOutcome')}",
                  "averagecsat": "@variables('Average Csat')",
                  "sumturncount": "@variables('SumTurnCount')"
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "sessionsarray": {
                      "title": "SessionsArray",
                      "x-ms-dynamically-added": true,
                      "type": "string"
                    },
                    "globaloutcome": {
                      "title": "GlobalOutcome",
                      "x-ms-dynamically-added": true,
                      "type": "number"
                    },
                    "averagecsat": {
                      "title": "AverageCsat",
                      "x-ms-dynamically-added": true,
                      "type": "number"
                    },
                    "sumturncount": {
                      "title": "SumTurnCount",
                      "x-ms-dynamically-added": true,
                      "type": "number"
                    }
                  }
                }
              }
            }
          },
          "runAfter": {
            "Scope:_Catch": [
              "Succeeded",
              "Failed",
              "Skipped",
              "TimedOut"
            ]
          },
          "metadata": {
            "operationMetadataId": "2e7efc8c-87e6-405c-a425-cf513b55d63c"
          },
          "type": "Scope"
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}