CopilotStudioAccelerator/SolutionPackage/src/Workflows/ConversationKPIsTraversedComponentsChild-787294D5-3694-EF11-8A69-7C1E524A2AE3.json
{
  "properties": {
    "connectionReferences": {},
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "dd03b093-56a7-4a98-8efd-969b293b4b40"
          },
          "type": "Request",
          "kind": "Button",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "text": {
                  "title": "ConversationTranscriptCotent",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                },
                "text_1": {
                  "title": "ConversationTranscriptName",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                }
              },
              "required": [
                "text",
                "text_1"
              ]
            }
          }
        }
      },
      "actions": {
        "Initialize_variable:_TraversedComponentsArray": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "28791316-766f-4427-aa93-0159e2f22d65"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "TraversedComponentsArray",
                "type": "array",
                "value": []
              }
            ]
          }
        },
        "Initialize_variable:_CurrentElement": {
          "runAfter": {
            "Initialize_variable:_TraversedComponentsArray": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "1226ddb3-0dd1-409a-8b4c-0cbf017781ce"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "CurrentElement",
                "type": "object"
              }
            ]
          }
        },
        "Scope:_Try": {
          "actions": {
            "Parse_JSON:_ConversationTranscript": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "3d9ddab6-a2ca-42b0-b782-80f79d28ca26"
              },
              "type": "ParseJson",
              "inputs": {
                "content": "@triggerBody()['text']",
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "valueType": {
                        "type": "string"
                      },
                      "type": {
                        "type": "string"
                      },
                      "timestamp": {
                        "type": "integer"
                      },
                      "from": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "role": {
                            "type": "integer"
                          }
                        }
                      },
                      "value": {
                        "type": [
                          "object",
                          "string"
                        ],
                        "properties": {
                          "isDesignMode": {
                            "type": "boolean"
                          },
                          "locale": {
                            "type": "string"
                          }
                        }
                      },
                      "index": {
                        "type": "integer"
                      },
                      "id": {
                        "type": "string"
                      },
                      "name": {
                        "type": "string"
                      },
                      "channelId": {
                        "type": "string"
                      },
                      "attachments": {
                        "type": "array"
                      },
                      "channelData": {
                        "type": "object",
                        "properties": {
                          "postBack": {
                            "type": "boolean"
                          },
                          "cci_trace_id": {
                            "type": "string"
                          },
                          "clientActivityID": {
                            "type": "string"
                          }
                        }
                      },
                      "textFormat": {
                        "type": "string"
                      },
                      "text": {
                        "type": "string"
                      },
                      "replyToId": {
                        "type": "string"
                      },
                      "speak": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "type",
                      "timestamp",
                      "from",
                      "index"
                    ]
                  }
                }
              }
            },
            "Filter_array:_Traversed_Components": {
              "runAfter": {
                "Parse_JSON:_ConversationTranscript": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "1884bac5-c20c-45c3-916c-bd1182ac311f"
              },
              "type": "Query",
              "inputs": {
                "from": "@body('Parse_JSON:_ConversationTranscript')",
                "where": "@or(equals(item()?['valueType'], 'IntentRecognition'), equals(item()?['valueType'], 'DialogRedirect'), equals(item()?['valueType'], 'UnknownIntent'), equals(item()?['name'], 'startConversation'), equals(item()?['valueType'], 'SessionInfo'))"
              }
            },
            "Apply_to_each:_Traversed_Components": {
              "foreach": "@body('Filter_array:_Traversed_Components')",
              "actions": {
                "Set_variable:_CurrentElement": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "dd1099ab-00d4-4872-8c5a-1e5441bd912e"
                  },
                  "type": "SetVariable",
                  "inputs": {
                    "name": "CurrentElement",
                    "value": "@items('Apply_to_each:_Traversed_Components')"
                  }
                },
                "Filter_array:_Get_Next_SessionInfo_Elements_After_Traversed_Components": {
                  "runAfter": {
                    "Set_variable:_CurrentElement": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "20b75b68-5f54-4b2e-8c70-2691793cb733"
                  },
                  "type": "Query",
                  "inputs": {
                    "from": "@body('Filter_array:_Traversed_Components')",
                    "where": "@and(equals(item()?['valueType'], 'SessionInfo'), greater(item()?['index'], variables('CurrentElement')?['index']))"
                  }
                },
                "Condition:_Check_for_startConversation_Event": {
                  "actions": {
                    "Append_to_array_variable:_TraversedComponentsArray": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "79006f87-6195-41d0-985e-15a0a3dd43b0"
                      },
                      "type": "AppendToArrayVariable",
                      "inputs": {
                        "name": "TraversedComponentsArray",
                        "value": {
                          "Session ID": "@{triggerBody()['text_1']}-@{first(outputs('Compose:_Sort_SessionInfo_Array'))?['timestamp']}-@{first(outputs('Compose:_Sort_SessionInfo_Array'))?['id']}",
                          "Component Type": "Topic",
                          "Trigger": "Conversation Start",
                          "Component ID": null
                        }
                      }
                    }
                  },
                  "runAfter": {
                    "Compose:_Sort_SessionInfo_Array": [
                      "Succeeded"
                    ]
                  },
                  "else": {
                    "actions": {
                      "Switch:_Other_Traversed_Components": {
                        "runAfter": {},
                        "cases": {
                          "Case:_IntentRecognition": {
                            "case": "IntentRecognition",
                            "actions": {
                              "Append_to_array_variable:_TraversedComponentsArray_1": {
                                "runAfter": {},
                                "metadata": {
                                  "operationMetadataId": "79006f87-6195-41d0-985e-15a0a3dd43b0"
                                },
                                "type": "AppendToArrayVariable",
                                "inputs": {
                                  "name": "TraversedComponentsArray",
                                  "value": {
                                    "Session ID": "@{triggerBody()['text_1']}-@{first(outputs('Compose:_Sort_SessionInfo_Array'))?['timestamp']}-@{first(outputs('Compose:_Sort_SessionInfo_Array'))?['id']}",
                                    "Component Type": "Topic",
                                    "Trigger": "Intent Recognition",
                                    "Component ID": "@{variables('CurrentElement')?['value']?['intentId']}"
                                  }
                                }
                              }
                            }
                          },
                          "Case:_DialogRedirect": {
                            "case": "DialogRedirect",
                            "actions": {
                              "Append_to_array_variable:_TraversedComponentsArray_2": {
                                "runAfter": {},
                                "metadata": {
                                  "operationMetadataId": "d010be0e-73c7-429d-ad14-1d2ef21292f2"
                                },
                                "type": "AppendToArrayVariable",
                                "inputs": {
                                  "name": "TraversedComponentsArray",
                                  "value": {
                                    "Session ID": "@{triggerBody()['text_1']}-@{first(outputs('Compose:_Sort_SessionInfo_Array'))?['timestamp']}-@{first(outputs('Compose:_Sort_SessionInfo_Array'))?['id']}",
                                    "Component Type": "Topic",
                                    "Trigger": "Topic Redirect",
                                    "Component ID": "@{variables('CurrentElement')?['value']?['targetDialogId']}"
                                  }
                                }
                              }
                            }
                          },
                          "Case:_UnknownIntent": {
                            "case": "UnknownIntent",
                            "actions": {
                              "Append_to_array_variable": {
                                "runAfter": {},
                                "metadata": {
                                  "operationMetadataId": "ff379088-28e2-4647-b7bd-b273564312d8"
                                },
                                "type": "AppendToArrayVariable",
                                "inputs": {
                                  "name": "TraversedComponentsArray",
                                  "value": {
                                    "Session ID": "@{triggerBody()['text_1']}-@{first(outputs('Compose:_Sort_SessionInfo_Array'))?['timestamp']}-@{first(outputs('Compose:_Sort_SessionInfo_Array'))?['id']}",
                                    "Component Type": "Topic",
                                    "Trigger": "Unrecognized Intent",
                                    "Component ID": null
                                  }
                                }
                              }
                            }
                          }
                        },
                        "default": {
                          "actions": {}
                        },
                        "expression": "@items('Apply_to_each:_Traversed_Components')?['valueType']",
                        "metadata": {
                          "operationMetadataId": "35323fb1-b70e-42a0-ac06-e5c1efeafc63"
                        },
                        "type": "Switch"
                      }
                    }
                  },
                  "expression": {
                    "equals": [
                      "@items('Apply_to_each:_Traversed_Components')?['name']",
                      "startConversation"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "806db9e6-5ef1-48f3-8f58-50bbbed3671c"
                  },
                  "type": "If"
                },
                "Compose:_Sort_SessionInfo_Array": {
                  "runAfter": {
                    "Filter_array:_Get_Next_SessionInfo_Elements_After_Traversed_Components": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "93ec6e59-6afa-482d-b4fb-a9cb87a96f89"
                  },
                  "type": "Compose",
                  "inputs": "@sort(body('Filter_array:_Get_Next_SessionInfo_Elements_After_Traversed_Components'), 'index')"
                }
              },
              "runAfter": {
                "Filter_array:_Traversed_Components": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "7711a71c-7ee2-4fbc-845a-85da3b8f135c"
              },
              "type": "Foreach"
            }
          },
          "runAfter": {
            "Initialize_variable:_CurrentElement": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "93875ee0-13d5-4578-bf3a-78ed96a40756"
          },
          "type": "Scope"
        },
        "Scope:_Catch": {
          "actions": {
            "Terminate": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "6266ea1b-6214-4b92-a167-075d34413852"
              },
              "type": "Terminate",
              "inputs": {
                "runStatus": "Failed",
                "runError": {
                  "code": "Conversation KPIs Traversed Components Child",
                  "message": "An error occurred while processing your request. Please try again later or contact support if the issue persists."
                }
              }
            }
          },
          "runAfter": {
            "Scope:_Try": [
              "Failed",
              "Skipped",
              "TimedOut"
            ]
          },
          "metadata": {
            "operationMetadataId": "0cd65933-c5bb-4765-bb83-bd09e1e0f158"
          },
          "type": "Scope"
        },
        "Scope:_Finally": {
          "actions": {
            "Respond_to_a_Power_App_or_flow": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "28376a71-7efe-4066-b9f5-9f1d1b2ba586"
              },
              "type": "Response",
              "kind": "PowerApp",
              "inputs": {
                "statusCode": 200,
                "body": {
                  "traversedcomponentsarray": "@{variables('TraversedComponentsArray')}"
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "traversedcomponentsarray": {
                      "title": "TraversedComponentsArray",
                      "x-ms-dynamically-added": true,
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "runAfter": {
            "Scope:_Catch": [
              "Succeeded",
              "Failed",
              "Skipped",
              "TimedOut"
            ]
          },
          "metadata": {
            "operationMetadataId": "30a3b40b-154e-4654-9177-33f89d9a365a"
          },
          "type": "Scope"
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}