CopilotStudioAccelerator/SolutionPackage/src/Workflows/ConversationKPIsGenerativeAnswersChild-074D710C-7B93-EF11-8A69-7C1E524A2AE3.json
{
  "properties": {
    "connectionReferences": {},
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "dd03b093-56a7-4a98-8efd-969b293b4b40"
          },
          "type": "Request",
          "kind": "Button",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "text": {
                  "title": "ConversationTranscriptCotent",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                },
                "text_1": {
                  "title": "ConversationTranscriptName",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                }
              },
              "required": [
                "text",
                "text_1"
              ]
            }
          }
        }
      },
      "actions": {
        "Initialize_variable:_GenerativeAnswersArray": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "28791316-766f-4427-aa93-0159e2f22d65"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "GenerativeAnswersArray",
                "type": "array",
                "value": []
              }
            ]
          }
        },
        "Initialize_variable:_CurrentElement": {
          "runAfter": {
            "Initialize_variable:_GenerativeAnswersArray": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "1226ddb3-0dd1-409a-8b4c-0cbf017781ce"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "CurrentElement",
                "type": "object"
              }
            ]
          }
        },
        "Scope:_Try": {
          "actions": {
            "Parse_JSON:_ConversationTranscript": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "3d9ddab6-a2ca-42b0-b782-80f79d28ca26"
              },
              "type": "ParseJson",
              "inputs": {
                "content": "@triggerBody()['text']",
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "valueType": {
                        "type": "string"
                      },
                      "type": {
                        "type": "string"
                      },
                      "timestamp": {
                        "type": "integer"
                      },
                      "from": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "role": {
                            "type": "integer"
                          }
                        }
                      },
                      "value": {
                        "type": [
                          "object",
                          "string"
                        ],
                        "properties": {
                          "isDesignMode": {
                            "type": "boolean"
                          },
                          "locale": {
                            "type": "string"
                          }
                        }
                      },
                      "index": {
                        "type": "integer"
                      },
                      "id": {
                        "type": "string"
                      },
                      "name": {
                        "type": "string"
                      },
                      "channelId": {
                        "type": "string"
                      },
                      "attachments": {
                        "type": "array"
                      },
                      "channelData": {
                        "type": "object",
                        "properties": {
                          "postBack": {
                            "type": "boolean"
                          },
                          "cci_trace_id": {
                            "type": "string"
                          },
                          "clientActivityID": {
                            "type": "string"
                          }
                        }
                      },
                      "textFormat": {
                        "type": "string"
                      },
                      "text": {
                        "type": "string"
                      },
                      "replyToId": {
                        "type": "string"
                      },
                      "speak": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "type",
                      "timestamp",
                      "from",
                      "index"
                    ]
                  }
                }
              }
            },
            "Filter_array:_Generative_Answers": {
              "runAfter": {
                "Parse_JSON:_ConversationTranscript": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "1884bac5-c20c-45c3-916c-bd1182ac311f"
              },
              "type": "Query",
              "inputs": {
                "from": "@body('Parse_JSON:_ConversationTranscript')",
                "where": "@or(not(empty(item()?['channelData']?['pva:gpt-feedback'])), equals(item()?['valueType'], 'SessionInfo'))"
              }
            },
            "Apply_to_each:_Generative_Answers": {
              "foreach": "@body('Filter_array:_Generative_Answers')",
              "actions": {
                "Condition:_Is_Generative_Answer": {
                  "actions": {
                    "Set_variable:_CurrrentElement_Of_Generative_Answers": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "40201194-d88a-4d78-8693-24b1933b06ba"
                      },
                      "type": "SetVariable",
                      "inputs": {
                        "name": "CurrentElement",
                        "value": "@items('Apply_to_each:_Generative_Answers')"
                      }
                    },
                    "Filter_array:_Get_Next_SessionInfo_Elements_After_Generative_Answers": {
                      "runAfter": {
                        "Set_variable:_CurrrentElement_Of_Generative_Answers": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "dae70def-8d98-45c8-aae3-5d8ec399d88e"
                      },
                      "type": "Query",
                      "inputs": {
                        "from": "@body('Filter_array:_Generative_Answers')",
                        "where": "@and(equals(item()?['valueType'], 'SessionInfo'), greater(item()?['index'], variables('CurrentElement')?['index']))"
                      }
                    },
                    "Append_to_array_variable:_GenerativeAnswersArray": {
                      "runAfter": {
                        "Compose:_Sort_SessionInfo_Array": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "51fc5f9e-7664-4712-9e1f-766aa621a42b"
                      },
                      "type": "AppendToArrayVariable",
                      "inputs": {
                        "name": "GenerativeAnswersArray",
                        "value": {
                          "Session ID": "@{triggerBody()['text_1']}-@{first(outputs('Compose:_Sort_SessionInfo_Array'))?['timestamp']}-@{first(outputs('Compose:_Sort_SessionInfo_Array'))?['id']}",
                          "User Query": "@{variables('CurrentElement')?['channelData']?['pva:gpt-feedback']?['message']}",
                          "Generated Answer": "@{variables('CurrentElement')?['channelData']?['pva:gpt-feedback']?['summarizationOpenAIResponse']?['result']?['summary']}",
                          "Status": "@{variables('CurrentElement')?['channelData']?['pva:gpt-feedback']?['gptAnswerState']}",
                          "Used AI Knowledge": "@variables('CurrentElement')?['channelData']?['pva:gpt-feedback']?['triggeredGptFallback']"
                        }
                      }
                    },
                    "Compose:_Sort_SessionInfo_Array": {
                      "runAfter": {
                        "Filter_array:_Get_Next_SessionInfo_Elements_After_Generative_Answers": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "eff486f8-9fc1-46ae-b164-08b5655c6d9f"
                      },
                      "type": "Compose",
                      "inputs": "@sort(body('Filter_array:_Get_Next_SessionInfo_Elements_After_Generative_Answers'), 'index')"
                    }
                  },
                  "runAfter": {},
                  "expression": {
                    "equals": [
                      "@empty(item()?['channelData']?['pva:gpt-feedback'])",
                      false
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "c0dd5ef2-1a1d-4960-b7c4-bae9e7374855"
                  },
                  "type": "If"
                }
              },
              "runAfter": {
                "Filter_array:_Generative_Answers": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "a5db509b-f59c-4d5a-a23e-50a216755df4"
              },
              "type": "Foreach"
            }
          },
          "runAfter": {
            "Initialize_variable:_CurrentElement": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "faf6e102-ae32-4195-abdf-dac3cbab7862"
          },
          "type": "Scope"
        },
        "Scope:_Catch": {
          "actions": {
            "Terminate": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "180b6a09-52b1-4c16-8a3d-01af8f597129"
              },
              "type": "Terminate",
              "inputs": {
                "runStatus": "Failed",
                "runError": {
                  "code": "Conversation KPIs Generative Answers Child",
                  "message": "An error occurred while processing your request. Please try again later or contact support if the issue persists."
                }
              }
            }
          },
          "runAfter": {
            "Scope:_Try": [
              "Failed",
              "Skipped",
              "TimedOut"
            ]
          },
          "metadata": {
            "operationMetadataId": "e204a55b-8e70-4c59-9c0b-2e1520124d36"
          },
          "type": "Scope"
        },
        "Scope:_Finally": {
          "actions": {
            "Respond_to_a_Power_App_or_flow": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "28376a71-7efe-4066-b9f5-9f1d1b2ba586"
              },
              "type": "Response",
              "kind": "PowerApp",
              "inputs": {
                "statusCode": 200,
                "body": {
                  "generativeanswersarray": "@{variables('GenerativeAnswersArray')}"
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "generativeanswersarray": {
                      "title": "GenerativeAnswersArray",
                      "x-ms-dynamically-added": true,
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "runAfter": {
            "Scope:_Catch": [
              "Succeeded",
              "Failed",
              "Skipped",
              "TimedOut"
            ]
          },
          "metadata": {
            "operationMetadataId": "0b189ee8-8450-4db7-9e7c-e3944393ab67"
          },
          "type": "Scope"
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}