CopilotStudioAccelerator/SolutionPackage/src/Workflows/ConversationKPICopyTranscriptsGrandchild-09A76655-9FBF-EF11-A72E-0022481EFED6.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "cat_CopilotStudioAcceleratorDataverse"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "fb84c958-803d-487a-bfbc-ce23579f4ef5"
          },
          "type": "Request",
          "kind": "Button",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "text": {
                  "title": "AgentId",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                },
                "text_1": {
                  "title": "AgentConfigurationId",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                },
                "text_2": {
                  "title": "ConversationTranscriptFilterExpression",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                },
                "text_3": {
                  "title": "TrackedVariables",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                },
                "text_4": {
                  "title": "LogId",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                },
                "text_5": {
                  "title": "DataverseUrl",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                },
                "boolean": {
                  "description": "Please select yes or no",
                  "title": "CopyFullTranscript",
                  "type": "boolean",
                  "x-ms-content-hint": "BOOLEAN",
                  "x-ms-dynamically-added": true
                }
              },
              "required": [
                "text",
                "text_1",
                "text_2",
                "text_3",
                "text_4",
                "text_5",
                "boolean"
              ]
            }
          }
        }
      },
      "actions": {
        "Initialize_variable:_PageNumber": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "94a4ef91-c56d-41ec-b4c8-ef501a8c1d6c"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "PageNumber",
                "type": "integer",
                "value": 1
              }
            ]
          }
        },
        "Initialize_variable:_PagingCookie": {
          "runAfter": {
            "Initialize_variable:_PageNumber": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "bd732007-5c9f-4469-a285-df0a6acac676"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "PagingCookie",
                "type": "string"
              }
            ]
          }
        },
        "Initialize_variable:_MoreRecords": {
          "runAfter": {
            "Initialize_variable:_PagingCookie": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "effa4cea-c822-44c6-bfb8-d25c96c5eeda"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "MoreRecords",
                "type": "boolean",
                "value": "@true"
              }
            ]
          }
        },
        "Scope:_Try": {
          "actions": {
            "Do_until": {
              "actions": {
                "List_rows_from_selected_environment:_Conversation_Transcripts": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "d7967cd0-0d23-4a98-a1f3-c6e52d87dbc9"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps_1",
                      "operationId": "ListRecordsWithOrganization",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "organization": "@triggerBody()['text_5']",
                      "entityName": "conversationtranscripts",
                      "fetchXml": "<fetch version=\"1.0\" output-format=\"xml-platform\" mapping=\"logical\" distinct=\"false\" count=\"300\" page=\"@{variables('PageNumber')}\" paging-cookie=\"@{variables('PagingCookie')}\">\n  <entity name=\"conversationtranscript\">\n    <attribute name=\"name\" />\n    <attribute name=\"content\" />\n    <attribute name=\"conversationstarttime\" />\n    <attribute name=\"bot_conversationtranscriptid\" />\n    <attribute name=\"metadata\" />\n    <filter type=\"and\">\n      <condition attribute=\"bot_conversationtranscriptid\" operator=\"eq\" value=\"{@{triggerBody()['text']}}\" />\n     <condition attribute=\"statecode\" operator=\"eq\" value=\"0\" />\n@{triggerBody()['text_2']}\n    </filter>\n  </entity>\n</fetch>"
                    },
                    "authentication": {
                      "type": "Raw",
                      "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                    }
                  }
                },
                "Select:_Conversation_Transcripts": {
                  "runAfter": {
                    "List_rows_from_selected_environment:_Conversation_Transcripts": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "db6fdcbe-7f97-43ff-b0ad-7287961703e1"
                  },
                  "type": "Select",
                  "inputs": {
                    "from": "@outputs('List_rows_from_selected_environment:_Conversation_Transcripts')?['body/value']",
                    "select": {
                      "ConversationId": "@if(\r\n  or(\r\n    contains(coalesce(item()?['name'], ''), '19:acsV2'),\r\n    contains(coalesce(item()?['name'], ''), '19:acsV1')\r\n  ),\r\n  if(\r\n    and(\r\n      not(equals(indexOf(item()?['name'], '_'), -1)),\r\n      not(equals(indexOf(item()?['name'], '@'), -1)),\r\n      greater(indexOf(item()?['name'], '@'), indexOf(item()?['name'], '_'))\r\n    ),\r\n    substring(\r\n      item()?['name'],\r\n      add(indexOf(item()?['name'], '_'), 1),\r\n      sub(\r\n        indexOf(item()?['name'], '@'),\r\n        add(indexOf(item()?['name'], '_'), 1)\r\n      )\r\n    ),\r\n    split(item()?['name'], '_')[0]\r\n  ),\r\n  split(item()?['name'], '_')[0]\r\n)",
                      "Content": "@item()?['content']",
                      "ConversationStartTime": "@item()?['conversationstarttime']",
                      "AgentId": "@triggerBody()['text']",
                      "AgentConfigurationId": "@triggerBody()['text_1']",
                      "ConversationTranscriptId": "@item()?['conversationtranscriptid']",
                      "TrackedVariables": "@triggerBody()['text_3']",
                      "Name": "@item()?['name']",
                      "CopyFullTranscript": "@triggerBody()?['boolean']",
                      "BatchId": "@coalesce(json(item()?['metadata'])?['BatchId'],0)"
                    }
                  }
                },
                "Set_variable:_MoreRecords": {
                  "runAfter": {
                    "Condition:_Check_if_Agent_has_transcripts": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "a5e824f2-b099-41f8-a157-114260c844a1"
                  },
                  "type": "SetVariable",
                  "inputs": {
                    "name": "MoreRecords",
                    "value": "@if(\r\n\tempty(\r\n\t\tstring( body('List_rows_from_selected_environment:_Conversation_Transcripts')?['@Microsoft.Dynamics.CRM.morerecords'] )\r\n\t), false, \r\n\tbody('List_rows_from_selected_environment:_Conversation_Transcripts')?['@Microsoft.Dynamics.CRM.morerecords']\r\n)"
                  }
                },
                "Set_variable:_PagingCookie": {
                  "runAfter": {
                    "Increment_variable:_PageNumber": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "159fb35c-726f-4f7d-af70-9f5cb73505b3"
                  },
                  "type": "SetVariable",
                  "inputs": {
                    "name": "PagingCookie",
                    "value": "@{if(\r\n    empty(\r\n        body('List_rows_from_selected_environment:_Conversation_Transcripts')?['@Microsoft.Dynamics.CRM.fetchxmlpagingcookie']\r\n    ),\r\n    '',\r\n    replace(\r\n        replace(\r\n            replace(\r\n                decodeUriComponent(\r\n                    decodeUriComponent(\r\n                        first(\r\n                            split(\r\n                                last(\r\n                                    split(\r\n                                        body('List_rows_from_selected_environment:_Conversation_Transcripts')?['@Microsoft.Dynamics.CRM.fetchxmlpagingcookie'],\r\n                                        'pagingcookie=\"'\r\n                                    )\r\n                                ),\r\n                                '\" '\r\n                            )\r\n                        )\r\n                    )\r\n                ),\r\n                '<', '&lt;'\r\n            ),\r\n            '>', '&gt;'\r\n        ),\r\n        '\"', '&quot;'\r\n    )\r\n)\r\n}"
                  }
                },
                "Increment_variable:_PageNumber": {
                  "runAfter": {
                    "Set_variable:_MoreRecords": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "0b984473-6a37-4104-bd4a-7ac3a137c37c"
                  },
                  "type": "IncrementVariable",
                  "inputs": {
                    "name": "PageNumber",
                    "value": 1
                  }
                },
                "Condition:_Check_if_Agent_has_transcripts": {
                  "actions": {
                    "Perform_an_unbound_action:_Generate_Agent_Transcripts": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "c08d60af-472f-4e5e-ae3a-69349c0767b3"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_commondataserviceforapps_1",
                          "operationId": "PerformUnboundAction",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                          "actionName": "cat_GenerateAgentTranscripts",
                          "item/cat_ErrorLogId": "@triggerBody()['text_4']",
                          "item/cat_ConversationTranscriptsList": "@body('Select:_Conversation_Transcripts')"
                        },
                        "authentication": {
                          "type": "Raw",
                          "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                        }
                      }
                    }
                  },
                  "runAfter": {
                    "Select:_Conversation_Transcripts": [
                      "Succeeded"
                    ]
                  },
                  "expression": {
                    "greater": [
                      "@length(body('Select:_Conversation_Transcripts'))",
                      0
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "270f2ed4-2f25-42ca-bab9-1214d0814731"
                  },
                  "type": "If"
                }
              },
              "runAfter": {},
              "expression": "@equals(variables('MoreRecords'), false)",
              "limit": {
                "count": 335,
                "timeout": "PT24H"
              },
              "metadata": {
                "operationMetadataId": "aa618155-6f03-4d6c-8178-90b8b4c43fa4"
              },
              "type": "Until"
            }
          },
          "runAfter": {
            "Initialize_variable:_ErrorMessage": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "9bda3686-84e9-4fde-939b-7455d7182198"
          },
          "type": "Scope"
        },
        "Initialize_variable:_ErrorMessage": {
          "runAfter": {
            "Initialize_variable:_MoreRecords": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "e4f5295f-d8f5-4725-9848-3c1329e1afa4"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "ErrorMessage",
                "type": "string"
              }
            ]
          }
        },
        "Scope:_Catch": {
          "actions": {
            "Filter_array:_Error_Actions": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "318aa9b2-4531-451c-b162-84cf7a4a236e"
              },
              "type": "Query",
              "inputs": {
                "from": "@result('Scope:_Try')",
                "where": "@or(equals(item()?['Status'], 'Failed'), equals(item()?['Status'], 'TimedOut'))"
              }
            },
            "Set_variable:_ErrorMessage": {
              "runAfter": {
                "Filter_array:_Error_Actions": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "69e13fa0-c51a-4311-bc47-59d63b7d6228"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "ErrorMessage",
                "value": "@{first(body('Filter_array:_Error_Actions'))?['error']?['message']}"
              }
            }
          },
          "runAfter": {
            "Scope:_Try": [
              "Failed",
              "Skipped",
              "TimedOut"
            ]
          },
          "metadata": {
            "operationMetadataId": "4f2e4827-62c8-4225-94cd-14089e7ac8f7"
          },
          "type": "Scope"
        },
        "Scope:_Finally": {
          "actions": {
            "Respond_to_a_Power_App_or_flow": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "e8410b00-0fc0-421a-a0fc-f48f67f959d5"
              },
              "type": "Response",
              "kind": "PowerApp",
              "inputs": {
                "statusCode": 200,
                "body": {
                  "response": "Flow completed successfully.",
                  "errormessage": "@variables('ErrorMessage')"
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "response": {
                      "title": "Response",
                      "x-ms-dynamically-added": true,
                      "type": "string"
                    },
                    "errormessage": {
                      "title": "ErrorMessage",
                      "x-ms-dynamically-added": true,
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "runAfter": {
            "Scope:_Catch": [
              "Succeeded",
              "Failed",
              "Skipped",
              "TimedOut"
            ]
          },
          "metadata": {
            "operationMetadataId": "3b16a931-71ef-4a27-b6c8-cea6a9fc38f1"
          },
          "type": "Scope"
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}