CopilotStudioAccelerator/SolutionPackage/src/Workflows/ConversationAnalyzerGettheConversationTranscript-C75D40EF-2CA8-F011-BBD3-0022480427DD.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "cat_CopilotStudioAcceleratorDataverse"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "16b70fed-04c6-41a9-9f58-bcac6b93dd7d"
          },
          "type": "Request",
          "kind": "PowerAppV2",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "text": {
                  "title": "Environmentid",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "enter the Environmentid",
                  "x-ms-content-hint": "TEXT"
                },
                "text_1": {
                  "title": "Agentid",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "enter the agent id",
                  "x-ms-content-hint": "TEXT"
                }
              },
              "required": [
                "text",
                "text_1"
              ]
            }
          }
        }
      },
      "actions": {
        "Initialize_variable_:_Conversation_Array": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "7439db10-6a66-4b15-a358-0ffb62f2f9d6"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Conversation Transcript Array",
                "type": "array"
              }
            ]
          }
        },
        "Scope:_Try": {
          "actions": {
            "List_Conversation_Transcript_rows_from_selected_environment": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "a459fdc0-303c-4bc4-a4e3-4398c5ca6d2a"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "ListRecordsWithOrganization",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "organization": "@triggerBody()['text']",
                  "entityName": "conversationtranscripts",
                  "$select": "name, content, conversationtranscriptid",
                  "$filter": "( _bot_conversationtranscriptid_value eq '@{triggerBody()['text_1']}' and Microsoft.Dynamics.CRM.LastXMonths(PropertyName='createdon',PropertyValue=6))",
                  "$orderby": "createdon desc",
                  "$top": 1000
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Apply_to_each_:_Conversation_Transcript": {
              "foreach": "@outputs('List_Conversation_Transcript_rows_from_selected_environment')?['body/value']",
              "actions": {
                "Append_to_array_variable": {
                  "runAfter": {
                    "Join:_Messages": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "aa846274-4d6b-4f93-a16c-15657bcbada9"
                  },
                  "type": "AppendToArrayVariable",
                  "inputs": {
                    "name": "Conversation Transcript Array",
                    "value": {
                      "name": "@{items('Apply_to_each_:_Conversation_Transcript')?['name']}",
                      "conversationduration": "@{sub(last(body('Parse_JSON:_Content')?['activities'])?['timestamp'], first(body('Parse_JSON:_Content')?['activities'])?['timestamp'])}",
                      "createdon": "@{formatDateTime(items('Apply_to_each_:_Conversation_Transcript')?['createdon'], 'MM/dd/yyyy hh:mm tt')}",
                      "messagecount": "@{length(body('Select:_Bot_User_Messages'))}",
                      "message": "@{body('Join:_Messages')}",
                      "content": "@{items('Apply_to_each_:_Conversation_Transcript')?['content']}",
                      "conversationtranscriptid": "@{items('Apply_to_each_:_Conversation_Transcript')?['conversationtranscriptid']}"
                    }
                  }
                },
                "Parse_JSON:_Content": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "c32d717f-16cc-4008-8d09-e1ec8cbe908d"
                  },
                  "type": "ParseJson",
                  "inputs": {
                    "content": "@items('Apply_to_each_:_Conversation_Transcript')?['content']",
                    "schema": {
                      "type": "object",
                      "properties": {
                        "activities": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string"
                              },
                              "from": {
                                "type": "object",
                                "properties": {
                                  "role": {
                                    "type": "integer"
                                  },
                                  "id": {
                                    "type": "string"
                                  }
                                }
                              },
                              "text": {
                                "type": "string"
                              },
                              "timestamp": {
                                "type": "integer"
                              },
                              "attachments": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "contentType": {
                                      "type": "string"
                                    },
                                    "content": {
                                      "oneOf": [
                                        {
                                          "type": "object"
                                        },
                                        {
                                          "type": "array",
                                          "items": {
                                            "type": "object",
                                            "properties": {
                                              "type": {
                                                "type": "string"
                                              },
                                              "id": {
                                                "type": "string"
                                              },
                                              "timestamp": {
                                                "type": "integer"
                                              },
                                              "serviceUrl": {
                                                "type": "string"
                                              },
                                              "channelId": {
                                                "type": "string"
                                              },
                                              "from": {
                                                "type": "object",
                                                "properties": {
                                                  "id": {
                                                    "type": "string"
                                                  }
                                                }
                                              },
                                              "conversation": {
                                                "type": "object",
                                                "properties": {
                                                  "id": {
                                                    "type": "string"
                                                  }
                                                }
                                              },
                                              "recipient": {
                                                "type": "object",
                                                "properties": {
                                                  "id": {
                                                    "type": "string"
                                                  },
                                                  "name": {
                                                    "type": "string"
                                                  },
                                                  "role": {
                                                    "type": "integer"
                                                  }
                                                }
                                              },
                                              "membersAdded": {
                                                "type": "array",
                                                "items": {
                                                  "type": "object"
                                                }
                                              },
                                              "membersRemoved": {
                                                "type": "array",
                                                "items": {
                                                  "type": "object"
                                                }
                                              },
                                              "reactionsAdded": {
                                                "type": "array",
                                                "items": {
                                                  "type": "object"
                                                }
                                              },
                                              "reactionsRemoved": {
                                                "type": "array",
                                                "items": {
                                                  "type": "object"
                                                }
                                              },
                                              "text": {
                                                "type": "string"
                                              },
                                              "attachments": {
                                                "type": "array",
                                                "items": {
                                                  "type": "object"
                                                }
                                              },
                                              "entities": {
                                                "type": "array",
                                                "items": {
                                                  "type": "object"
                                                }
                                              },
                                              "replyToId": {
                                                "type": "string"
                                              },
                                              "value": {
                                                "type": "object"
                                              },
                                              "name": {
                                                "type": "string"
                                              },
                                              "listenFor": {
                                                "type": "array",
                                                "items": {
                                                  "type": "string"
                                                }
                                              },
                                              "textHighlights": {
                                                "type": "array",
                                                "items": {
                                                  "type": "object"
                                                }
                                              }
                                            }
                                          }
                                        },
                                        {
                                          "type": "string"
                                        }
                                      ]
                                    }
                                  }
                                }
                              },
                              "suggestedActions": {
                                "type": "object",
                                "properties": {
                                  "to": {
                                    "type": "array",
                                    "items": {
                                      "type": "string"
                                    }
                                  },
                                  "actions": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "type": {
                                          "type": "string"
                                        },
                                        "title": {
                                          "type": "string"
                                        },
                                        "text": {
                                          "type": "string"
                                        },
                                        "value": {
                                          "type": "string"
                                        }
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "Filter:_Messages": {
                  "runAfter": {
                    "Parse_JSON:_Content": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "13de6016-3193-4e1c-9fc6-f178b1b43d81"
                  },
                  "type": "Query",
                  "inputs": {
                    "from": "@body('Parse_JSON:_Content')?['activities']",
                    "where": "@equals(item()?['type'], 'message')"
                  }
                },
                "Select:_Bot_User_Messages": {
                  "runAfter": {
                    "Filter:_Messages": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "ae33df15-fd43-459a-8a2e-4780d316528f"
                  },
                  "type": "Select",
                  "inputs": {
                    "from": "@body('Filter:_Messages')",
                    "select": "@\r\nif(\r\n  equals(item()?['from']?['role'], 0),\r\n  concat('Bot says: ', coalesce(item()?['text'], '')),\r\n  concat('User says: ', coalesce(item()?['text'], ''))\r\n)\r\n"
                  }
                },
                "Join:_Messages": {
                  "runAfter": {
                    "Select:_Bot_User_Messages": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "e7d45053-5329-4b09-9ae5-fb85c24da764"
                  },
                  "type": "Join",
                  "inputs": {
                    "from": "@body('Select:_Bot_User_Messages')",
                    "joinWith": ";"
                  }
                }
              },
              "runAfter": {
                "List_Conversation_Transcript_rows_from_selected_environment": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "7e108089-1e1e-4e40-81fc-616b68468a10"
              },
              "type": "Foreach",
              "runtimeConfiguration": {
                "concurrency": {
                  "repetitions": 20
                }
              }
            }
          },
          "runAfter": {
            "Initialize_variable_:_Conversation_Array": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "efbf93f6-0a78-486e-b670-1e4c67cb4bd2"
          },
          "type": "Scope"
        },
        "Scope_:_Response": {
          "actions": {
            "Respond_to_a_Power_App_or_flow": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "3aa987ba-006c-41fa-bdfc-76a565b69ac9"
              },
              "type": "Response",
              "kind": "PowerApp",
              "inputs": {
                "statusCode": 200,
                "body": {
                  "response": "@{variables('Conversation Transcript Array')}"
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "response": {
                      "title": "response",
                      "x-ms-dynamically-added": true,
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "runAfter": {
            "Scope:_Try": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "4aef5462-4b43-4654-9fc3-55bd68493e08"
          },
          "type": "Scope"
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}