CopilotStudioAccelerator/SolutionPackage/src/Workflows/ConversationKPIsTrackedVariablesChild-036B8FB0-25AE-EF11-B8E9-7C1E520158F7.json
{
  "properties": {
    "connectionReferences": {},
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        }
      },
      "triggers": {
        "manual": {
          "type": "Request",
          "kind": "Button",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "text": {
                  "title": "ConversationTranscriptCotent",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                },
                "text_1": {
                  "title": "ConversationTranscriptName",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                },
                "text_2": {
                  "title": "TrackedVariables",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                }
              },
              "required": [
                "text",
                "text_1",
                "text_2"
              ]
            }
          },
          "metadata": {
            "operationMetadataId": "dd03b093-56a7-4a98-8efd-969b293b4b40"
          }
        }
      },
      "actions": {
        "Initialize_variable:_TrackedVariablesArray": {
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "TrackedVariablesArray",
                "type": "array",
                "value": []
              }
            ]
          },
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "28791316-766f-4427-aa93-0159e2f22d65"
          }
        },
        "Initialize_variable:_TranscriptVariablesArray": {
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "TranscriptVariablesArray",
                "type": "array",
                "value": []
              }
            ]
          },
          "runAfter": {
            "Initialize_variable:_TrackedVariablesArray": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "d247ae5e-ed8c-4899-a001-721fada5f493"
          }
        },
        "Initialize_variable:_CurrentElement": {
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "CurrentElement",
                "type": "object"
              }
            ]
          },
          "runAfter": {
            "Initialize_variable:_TranscriptVariablesArray": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "1226ddb3-0dd1-409a-8b4c-0cbf017781ce"
          }
        },
        "Scope:_Try": {
          "type": "Scope",
          "actions": {
            "Parse_JSON:_ConversationTranscript": {
              "type": "ParseJson",
              "inputs": {
                "content": "@triggerBody()['text']",
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "valueType": {
                        "type": "string"
                      },
                      "type": {
                        "type": "string"
                      },
                      "timestamp": {
                        "type": "integer"
                      },
                      "from": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "role": {
                            "type": "integer"
                          }
                        }
                      },
                      "value": {
                        "type": [
                          "object",
                          "string"
                        ],
                        "properties": {
                          "isDesignMode": {
                            "type": "boolean"
                          },
                          "locale": {
                            "type": "string"
                          }
                        }
                      },
                      "index": {
                        "type": "integer"
                      },
                      "id": {
                        "type": "string"
                      },
                      "name": {
                        "type": "string"
                      },
                      "channelId": {
                        "type": "string"
                      },
                      "attachments": {
                        "type": "array"
                      },
                      "channelData": {
                        "type": "object",
                        "properties": {
                          "postBack": {
                            "type": "boolean"
                          },
                          "cci_trace_id": {
                            "type": "string"
                          },
                          "clientActivityID": {
                            "type": "string"
                          }
                        }
                      },
                      "textFormat": {
                        "type": "string"
                      },
                      "text": {
                        "type": "string"
                      },
                      "replyToId": {
                        "type": "string"
                      },
                      "speak": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "type",
                      "timestamp",
                      "from",
                      "index"
                    ]
                  }
                }
              },
              "metadata": {
                "operationMetadataId": "3d9ddab6-a2ca-42b0-b782-80f79d28ca26"
              }
            },
            "Parse_JSON:_Tracked_Variables": {
              "type": "ParseJson",
              "inputs": {
                "content": "@if(empty(triggerBody()['text_2']), json('[]'), triggerBody()['text_2'])",
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              },
              "runAfter": {
                "Parse_JSON:_ConversationTranscript": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "47cbf54f-f1a8-4099-8adb-fbb2aac3c149"
              }
            },
            "Filter_array:_TranscriptVariablesArray_For_VariableAssignment_and_SessionInfo": {
              "type": "Query",
              "inputs": {
                "from": "@body('Parse_JSON:_ConversationTranscript')",
                "where": "@or(equals(item()?['valueType'], 'VariableAssignment'), equals(item()?['valueType'], 'SessionInfo'))"
              },
              "runAfter": {
                "Parse_JSON:_Tracked_Variables": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "1884bac5-c20c-45c3-916c-bd1182ac311f"
              }
            },
            "Apply_to_each:_TranscriptVariablesArray_with_VariableAssignment_and_SessionInfo": {
              "type": "Foreach",
              "foreach": "@body('Filter_array:_TranscriptVariablesArray_For_VariableAssignment_and_SessionInfo')",
              "actions": {
                "Condition:_VariableAssignment": {
                  "type": "If",
                  "expression": {
                    "equals": [
                      "@items('Apply_to_each:_TranscriptVariablesArray_with_VariableAssignment_and_SessionInfo')?['valueType']",
                      "VariableAssignment"
                    ]
                  },
                  "actions": {
                    "Apply_to_each:_InputVariablesArray": {
                      "type": "Foreach",
                      "foreach": "@body('Parse_JSON:_Tracked_Variables')",
                      "actions": {
                        "Condition:_Check_for_Variables": {
                          "type": "If",
                          "expression": {
                            "equals": [
                              "@items('Apply_to_each:_TranscriptVariablesArray_with_VariableAssignment_and_SessionInfo')?['value']?['id']",
                              "@items('Apply_to_each:_InputVariablesArray')"
                            ]
                          },
                          "actions": {
                            "Append_to_array_variable:_TranscriptVariablesArray": {
                              "type": "AppendToArrayVariable",
                              "inputs": {
                                "name": "TranscriptVariablesArray",
                                "value": "@items('Apply_to_each:_TranscriptVariablesArray_with_VariableAssignment_and_SessionInfo')"
                              },
                              "metadata": {
                                "operationMetadataId": "79006f87-6195-41d0-985e-15a0a3dd43b0"
                              }
                            }
                          },
                          "else": {
                            "actions": {}
                          },
                          "metadata": {
                            "operationMetadataId": "1762322e-5cf4-4db6-8f95-b0ab9e208d73"
                          }
                        }
                      },
                      "metadata": {
                        "operationMetadataId": "6b16da5a-e9ff-4ae8-9ecd-bf68b6fb49c6"
                      }
                    }
                  },
                  "else": {
                    "actions": {}
                  },
                  "metadata": {
                    "operationMetadataId": "43e711e7-3498-4307-b051-9517cbcb3ca0"
                  }
                },
                "Condition:_SessionInfo": {
                  "type": "If",
                  "expression": {
                    "equals": [
                      "@items('Apply_to_each:_TranscriptVariablesArray_with_VariableAssignment_and_SessionInfo')?['valueType']",
                      "SessionInfo"
                    ]
                  },
                  "actions": {
                    "Append_to_array_variable:_TranscriptVariablesArray_2": {
                      "type": "AppendToArrayVariable",
                      "inputs": {
                        "name": "TranscriptVariablesArray",
                        "value": "@items('Apply_to_each:_TranscriptVariablesArray_with_VariableAssignment_and_SessionInfo')"
                      },
                      "metadata": {
                        "operationMetadataId": "dcdb9470-76dd-4815-a222-080387f2063d"
                      }
                    }
                  },
                  "else": {
                    "actions": {}
                  },
                  "runAfter": {
                    "Condition:_VariableAssignment": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "6bbf4216-b9ad-4156-9323-8ea4cdff36b4"
                  }
                }
              },
              "runAfter": {
                "Filter_array:_TranscriptVariablesArray_For_VariableAssignment_and_SessionInfo": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "7711a71c-7ee2-4fbc-845a-85da3b8f135c"
              }
            },
            "Apply_to_each:_TranscriptVariablesArray": {
              "type": "Foreach",
              "foreach": "@variables('TranscriptVariablesArray')",
              "actions": {
                "Condition:_Is_VariableAssignment": {
                  "type": "If",
                  "expression": {
                    "equals": [
                      "@items('Apply_to_each:_TranscriptVariablesArray')?['valueType']",
                      "VariableAssignment"
                    ]
                  },
                  "actions": {
                    "Set_variable:_CurrrentElement_Of_VariableAssignment": {
                      "type": "SetVariable",
                      "inputs": {
                        "name": "CurrentElement",
                        "value": "@items('Apply_to_each:_TranscriptVariablesArray')"
                      },
                      "metadata": {
                        "operationMetadataId": "40201194-d88a-4d78-8693-24b1933b06ba"
                      }
                    },
                    "Filter_array:_Get_Next_SessionInfo_Elements_After_VariableAssignment": {
                      "type": "Query",
                      "inputs": {
                        "from": "@variables('TranscriptVariablesArray')",
                        "where": "@and(equals(item()?['valueType'], 'SessionInfo'), greater(item()?['index'], variables('CurrentElement')?['index']))"
                      },
                      "runAfter": {
                        "Set_variable:_CurrrentElement_Of_VariableAssignment": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "dae70def-8d98-45c8-aae3-5d8ec399d88e"
                      }
                    },
                    "Append_to_array_variable:_TrackedVariablesArray": {
                      "type": "AppendToArrayVariable",
                      "inputs": {
                        "name": "TrackedVariablesArray",
                        "value": {
                          "Session ID": "@{triggerBody()['text_1']}-@{first(outputs('Compose:_Sort_SessionInfo_Array'))?['timestamp']}-@{first(outputs('Compose:_Sort_SessionInfo_Array'))?['id']}",
                          "Name": "@{variables('CurrentElement')?['value']?['id']}",
                          "Value": "@{variables('CurrentElement')?['value']?['newValue']}"
                        }
                      },
                      "runAfter": {
                        "Compose:_Sort_SessionInfo_Array": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "51fc5f9e-7664-4712-9e1f-766aa621a42b"
                      }
                    },
                    "Compose:_Sort_SessionInfo_Array": {
                      "type": "Compose",
                      "inputs": "@sort(body('Filter_array:_Get_Next_SessionInfo_Elements_After_VariableAssignment'), 'index')",
                      "runAfter": {
                        "Filter_array:_Get_Next_SessionInfo_Elements_After_VariableAssignment": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "104bdfbd-ad02-40a2-923e-0ca2c9a7cc24"
                      }
                    }
                  },
                  "else": {
                    "actions": {}
                  },
                  "metadata": {
                    "operationMetadataId": "c0dd5ef2-1a1d-4960-b7c4-bae9e7374855"
                  }
                }
              },
              "runAfter": {
                "Apply_to_each:_TranscriptVariablesArray_with_VariableAssignment_and_SessionInfo": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "a5db509b-f59c-4d5a-a23e-50a216755df4"
              }
            }
          },
          "runAfter": {
            "Initialize_variable:_CurrentElement": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "8d876400-788f-4a84-a192-3cb31127b312"
          }
        },
        "Scope:_Catch": {
          "type": "Scope",
          "actions": {
            "Terminate": {
              "type": "Terminate",
              "inputs": {
                "runStatus": "Failed",
                "runError": {
                  "code": "Conversation KPIs Tracked Variables Child",
                  "message": "An error occurred while processing your request. Please try again later or contact support if the issue persists."
                }
              },
              "metadata": {
                "operationMetadataId": "b5256877-07f3-42ee-afd9-93c930cda66b"
              }
            }
          },
          "runAfter": {
            "Scope:_Try": [
              "Failed",
              "Skipped",
              "TimedOut"
            ]
          },
          "metadata": {
            "operationMetadataId": "1d03430b-5b7b-4107-b503-6e2cda5dd231"
          }
        },
        "Scope:_Finally": {
          "type": "Scope",
          "actions": {
            "Respond_to_a_Power_App_or_flow": {
              "type": "Response",
              "kind": "PowerApp",
              "inputs": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "trackedvariablesarray": {
                      "title": "TrackedVariablesArray",
                      "x-ms-dynamically-added": true,
                      "type": "string"
                    }
                  },
                  "additionalProperties": {}
                },
                "statusCode": 200,
                "body": {
                  "trackedvariablesarray": "@{variables('TrackedVariablesArray')}"
                }
              },
              "metadata": {
                "operationMetadataId": "28376a71-7efe-4066-b9f5-9f1d1b2ba586"
              }
            }
          },
          "runAfter": {
            "Scope:_Catch": [
              "Succeeded",
              "Failed",
              "TimedOut",
              "Skipped"
            ]
          },
          "metadata": {
            "operationMetadataId": "caae0cd8-00ba-43f8-aa4e-e1d20836f425"
          }
        }
      }
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}