CopilotStudioAccelerator/SolutionPackage/src/Workflows/ConversationAnalyzerAnalyzeConversationBasedOnProm-E55931C1-601F-F011-998A-00224802C180.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "cat_CopilotStudioAcceleratorDataverse"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "e0ee10b9-7363-4ca1-ad44-2b36f2bed559"
          },
          "type": "Request",
          "kind": "PowerAppV2",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "text": {
                  "title": "AgentId",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Agent Id",
                  "x-ms-content-hint": "TEXT"
                },
                "text_1": {
                  "title": "EnvironmentUrl",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Dataverse Environment Url",
                  "x-ms-content-hint": "TEXT"
                },
                "text_2": {
                  "title": "PromptId",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Conversation Analyzer Prompt Id",
                  "x-ms-content-hint": "TEXT"
                },
                "text_3": {
                  "title": "PromptName",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Conversation Analyzer Prompt Name",
                  "x-ms-content-hint": "TEXT"
                },
                "text_4": {
                  "title": "UserPrompt",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "User Prompt",
                  "x-ms-content-hint": "TEXT"
                },
                "text_5": {
                  "title": "SelectedConversation",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Selected Conversation",
                  "x-ms-content-hint": "TEXT"
                }
              },
              "required": [
                "text",
                "text_1",
                "text_2",
                "text_3",
                "text_5"
              ]
            }
          }
        }
      },
      "actions": {
        "Scope:_Try": {
          "actions": {
            "Scope:_Delete_existing_records": {
              "actions": {
                "List_rows:_Conversation_Analyzer": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "cc0b03ff-e778-4fd5-bba7-0465b177d9ae"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps",
                      "operationId": "ListRecords",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "cat_conversationanalyzers",
                      "$select": "cat_conversationanalyzerid",
                      "$filter": "cat_agentid eq '@{triggerBody()['text']}' and _cat_prompt_value eq '@{triggerBody()['text_2']}'"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "Apply_to_each:_Conversation_Analyzer": {
                  "foreach": "@outputs('List_rows:_Conversation_Analyzer')?['body/value']",
                  "actions": {
                    "Delete_a_row:_Delete_existing_Conversation_Analyzer_records": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "bad0e6fb-7c2e-4d10-8cf7-a6fba8a0e4cc"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_commondataserviceforapps",
                          "operationId": "DeleteRecord",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                          "entityName": "cat_conversationanalyzers",
                          "recordId": "@items('Apply_to_each:_Conversation_Analyzer')?['cat_conversationanalyzerid']"
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    }
                  },
                  "runAfter": {
                    "List_rows:_Conversation_Analyzer": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "892e2eec-f76b-4c7b-90ac-8e65bb12e25d"
                  },
                  "type": "Foreach",
                  "runtimeConfiguration": {
                    "concurrency": {
                      "repetitions": 20
                    }
                  }
                }
              },
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "3d408a09-110b-4c27-906a-4083d4f24f41"
              },
              "type": "Scope"
            },
            "Scope_:_Execute_Selected_Conversation_Analyser_Prompt_": {
              "actions": {
                "Parse_JSON": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "0aa38649-0158-417a-9bcc-249bbd3df412"
                  },
                  "type": "ParseJson",
                  "inputs": {
                    "content": "@triggerBody()['text_5']",
                    "schema": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "content": {
                            "type": "string"
                          },
                          "conversationduration": {
                            "type": "integer"
                          },
                          "conversationtranscriptid": {
                            "type": "string"
                          },
                          "createdon": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          },
                          "messagecount": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "content",
                          "conversationduration",
                          "conversationtranscriptid",
                          "createdon",
                          "message",
                          "messagecount",
                          "name"
                        ]
                      }
                    }
                  }
                },
                "Apply_to_each_-_Selected_Conversation": {
                  "foreach": "@body('Parse_JSON')",
                  "actions": {
                    "Switch": {
                      "runAfter": {},
                      "cases": {
                        "Case_1": {
                          "case": "PII Analysis",
                          "actions": {
                            "Run_a_prompt": {
                              "runAfter": {},
                              "metadata": {
                                "operationMetadataId": "d820ea8a-90e8-4fd9-895c-d481d7fad44c",
                                "flowSystemMetadata": {
                                  "portalOperationId": "aibuilderpredict_customprompt",
                                  "portalOperationGroup": "aibuilder",
                                  "portalOperationApiDisplayNameOverride": "AI Builder",
                                  "portalOperationIconOverride": "https://content.powerapps.com/resource/makerx/static/pauto/images/designeroperations/aiBuilderNew.51dbdb6b.png",
                                  "portalOperationBrandColorOverride": "#0A76C4",
                                  "portalOperationApiTierOverride": "Standard"
                                }
                              },
                              "type": "OpenApiConnection",
                              "inputs": {
                                "host": {
                                  "connectionName": "shared_commondataserviceforapps",
                                  "operationId": "aibuilderpredict_customprompt",
                                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                },
                                "parameters": {
                                  "recordId": "fd7e5beb-7b6c-434e-8491-730de80bdb60",
                                  "item/requestv2/AgentConversation": "@items('Apply_to_each_-_Selected_Conversation')['message']"
                                },
                                "authentication": "@parameters('$authentication')"
                              }
                            },
                            "Compose_:_PII_Error_Message": {
                              "runAfter": {
                                "Run_a_prompt": [
                                  "Failed"
                                ]
                              },
                              "metadata": {
                                "operationMetadataId": "ecc0e782-c036-4adf-99ee-fea094713cb9"
                              },
                              "type": "Compose",
                              "inputs": {
                                "summary": {
                                  "totalPIIItems": "NA",
                                  "containsPII": false,
                                  "highestSeverity": "0",
                                  "convSummary": "Unable to evaluate due to sensitive or unsupported content."
                                },
                                "pii": []
                              }
                            },
                            "Parse_JSON_:_PII_Message": {
                              "runAfter": {
                                "Compose_:_PII_Error_Message": [
                                  "Skipped"
                                ]
                              },
                              "metadata": {
                                "operationMetadataId": "94a4eaba-7991-4d4a-981e-d378b86a559d"
                              },
                              "type": "ParseJson",
                              "inputs": {
                                "content": "@outputs('Run_a_prompt')?['body/responsev2/predictionOutput/text']",
                                "schema": {
                                  "type": "object",
                                  "properties": {
                                    "summary": {
                                      "type": "object",
                                      "properties": {
                                        "totalPIIItems": {
                                          "type": "string"
                                        },
                                        "containsPII": {
                                          "type": "boolean"
                                        },
                                        "highestSeverity": {
                                          "type": "string"
                                        },
                                        "convSummary": {
                                          "type": "string"
                                        }
                                      }
                                    },
                                    "pii": {
                                      "type": "array",
                                      "items": {
                                        "type": "object",
                                        "properties": {
                                          "type": {
                                            "type": "string"
                                          },
                                          "value": {
                                            "type": "string"
                                          },
                                          "message": {
                                            "type": "string"
                                          },
                                          "confidencescore": {
                                            "type": "string"
                                          },
                                          "severity": {
                                            "type": "string"
                                          }
                                        },
                                        "required": [
                                          "type",
                                          "value",
                                          "message",
                                          "confidencescore",
                                          "severity"
                                        ]
                                      }
                                    }
                                  }
                                }
                              }
                            },
                            "Add_a_new_row_:_Conversation_Analyzer_for_PII": {
                              "runAfter": {
                                "Parse_JSON_:_PII_Message": [
                                  "Succeeded"
                                ]
                              },
                              "metadata": {
                                "operationMetadataId": "0ca64714-8b77-4870-aae2-7d63e0049196"
                              },
                              "type": "OpenApiConnection",
                              "inputs": {
                                "host": {
                                  "connectionName": "shared_commondataserviceforapps",
                                  "operationId": "CreateRecord",
                                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                },
                                "parameters": {
                                  "entityName": "cat_conversationanalyzers",
                                  "item/cat_name": "@items('Apply_to_each_-_Selected_Conversation')['name']",
                                  "item/cat_messages": "@items('Apply_to_each_-_Selected_Conversation')['messagecount']",
                                  "item/cat_agentid": "@triggerBody()['text']",
                                  "item/cat_content": "@items('Apply_to_each_-_Selected_Conversation')['content']",
                                  "item/cat_conversationdurationseconds": "@items('Apply_to_each_-_Selected_Conversation')['conversationduration']",
                                  "item/cat_conversationid": "@items('Apply_to_each_-_Selected_Conversation')['conversationtranscriptid']",
                                  "item/cat_Prompt@odata.bind": "cat_conversationanalyzerprompts(@{triggerBody()['text_2']})",
                                  "item/cat_promptresult": "@coalesce(outputs('Run_a_prompt')?['body/responsev2/predictionOutput/text'],outputs('Compose_:_PII_Error_Message'))",
                                  "item/cat_summary": "@coalesce(outputs('Run_a_prompt')?['body/responsev2/predictionOutput/structuredOutput/summary/convSummary'],'Unable to evaluate due to sensitive or unsupported content.')"
                                },
                                "authentication": "@parameters('$authentication')"
                              }
                            }
                          }
                        },
                        "Case_2": {
                          "case": "Sentiment Analysis",
                          "actions": {
                            "Run_a_prompt_Sentiment_Analysis": {
                              "runAfter": {},
                              "metadata": {
                                "operationMetadataId": "a39c4bef-de4c-4b1d-adcc-cd831a15ed31",
                                "flowSystemMetadata": {
                                  "portalOperationId": "aibuilderpredict_customprompt",
                                  "portalOperationGroup": "aibuilder",
                                  "portalOperationApiDisplayNameOverride": "AI Builder",
                                  "portalOperationIconOverride": "https://content.powerapps.com/resource/makerx/static/pauto/images/designeroperations/aiBuilderNew.51dbdb6b.png",
                                  "portalOperationBrandColorOverride": "#0A76C4",
                                  "portalOperationApiTierOverride": "Standard"
                                }
                              },
                              "type": "OpenApiConnection",
                              "inputs": {
                                "host": {
                                  "connectionName": "shared_commondataserviceforapps",
                                  "operationId": "aibuilderpredict_customprompt",
                                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                },
                                "parameters": {
                                  "recordId": "44930ac1-d6b5-41a1-b369-e7d7d89f1918",
                                  "item/requestv2/AgentConversation": "@items('Apply_to_each_-_Selected_Conversation')['message']"
                                },
                                "authentication": "@parameters('$authentication')"
                              }
                            },
                            "Compose_:_Sentiment_Error_Response": {
                              "runAfter": {
                                "Run_a_prompt_Sentiment_Analysis": [
                                  "Failed",
                                  "TimedOut"
                                ]
                              },
                              "metadata": {
                                "operationMetadataId": "b78547b9-6439-41a8-bcb8-7f081c1f8c29"
                              },
                              "type": "Compose",
                              "inputs": {
                                "summary": {
                                  "overallSentiment": "NA",
                                  "dominantEmotion": "Mixed",
                                  "averageSentimentScore": "0",
                                  "convSummary": "Unable to evaluate due to sensitive or unsupported content."
                                },
                                "sentiments": []
                              }
                            },
                            "Parse_JSON_Sentiment_Response": {
                              "runAfter": {
                                "Compose_:_Sentiment_Error_Response": [
                                  "Skipped"
                                ]
                              },
                              "metadata": {
                                "operationMetadataId": "c2791ff8-bca8-4549-9f62-7aa057c9bdb3"
                              },
                              "type": "ParseJson",
                              "inputs": {
                                "content": "@outputs('Run_a_prompt_Sentiment_Analysis')?['body/responsev2/predictionOutput/text']",
                                "schema": {
                                  "type": "object",
                                  "properties": {
                                    "summary": {
                                      "type": "object",
                                      "properties": {
                                        "overallSentiment": {
                                          "type": "string"
                                        },
                                        "dominantEmotion": {
                                          "type": "string"
                                        },
                                        "averageSentimentScore": {
                                          "type": "string"
                                        },
                                        "convSummary": {
                                          "type": "string"
                                        }
                                      }
                                    },
                                    "sentiments": {
                                      "type": "array",
                                      "items": {
                                        "type": "object",
                                        "properties": {
                                          "sentiment": {
                                            "type": "string"
                                          },
                                          "sentimentScore": {
                                            "type": "string"
                                          },
                                          "emotion": {
                                            "type": "string"
                                          },
                                          "emotionIntensity": {
                                            "type": "string"
                                          },
                                          "sentimentVariability": {
                                            "type": "string"
                                          },
                                          "summary": {
                                            "type": "string"
                                          },
                                          "confidenceScore": {
                                            "type": "string"
                                          },
                                          "message": {
                                            "type": "string"
                                          }
                                        },
                                        "required": [
                                          "sentiment",
                                          "sentimentScore",
                                          "emotion",
                                          "emotionIntensity",
                                          "sentimentVariability",
                                          "summary",
                                          "confidenceScore",
                                          "message"
                                        ]
                                      }
                                    }
                                  }
                                }
                              }
                            },
                            "Add_a_new_row_:_Conversation_Analyzer_for_Sentiment": {
                              "runAfter": {
                                "Parse_JSON_Sentiment_Response": [
                                  "Succeeded"
                                ]
                              },
                              "metadata": {
                                "operationMetadataId": "590ddbb8-b717-4329-9298-f3263e3e2087"
                              },
                              "type": "OpenApiConnection",
                              "inputs": {
                                "host": {
                                  "connectionName": "shared_commondataserviceforapps",
                                  "operationId": "CreateRecord",
                                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                },
                                "parameters": {
                                  "entityName": "cat_conversationanalyzers",
                                  "item/cat_name": "@items('Apply_to_each_-_Selected_Conversation')['name']",
                                  "item/cat_messages": "@items('Apply_to_each_-_Selected_Conversation')['messagecount']",
                                  "item/cat_agentid": "@triggerBody()['text']",
                                  "item/cat_content": "@items('Apply_to_each_-_Selected_Conversation')['content']",
                                  "item/cat_conversationdurationseconds": "@items('Apply_to_each_-_Selected_Conversation')['conversationduration']",
                                  "item/cat_conversationid": "@items('Apply_to_each_-_Selected_Conversation')['conversationtranscriptid']",
                                  "item/cat_Prompt@odata.bind": "cat_conversationanalyzerprompts(@{triggerBody()['text_2']})",
                                  "item/cat_promptresult": "@coalesce(outputs('Run_a_prompt_Sentiment_Analysis')?['body/responsev2/predictionOutput/text'],outputs('Compose_:_Sentiment_Error_Response'))",
                                  "item/cat_summary": "@coalesce(outputs('Run_a_prompt_Sentiment_Analysis')?['body/responsev2/predictionOutput/structuredOutput/summary/convSummary'],'Unable to evaluate due to sensitive or unsupported content.')"
                                },
                                "authentication": "@parameters('$authentication')"
                              }
                            }
                          }
                        }
                      },
                      "default": {
                        "actions": {
                          "Run_a_prompt_Custom_User_Prompt": {
                            "runAfter": {},
                            "metadata": {
                              "operationMetadataId": "3e649c06-f7a2-42e8-bba1-08de75ae7a1f",
                              "flowSystemMetadata": {
                                "portalOperationId": "aibuilderpredict_customprompt",
                                "portalOperationGroup": "aibuilder",
                                "portalOperationApiDisplayNameOverride": "AI Builder",
                                "portalOperationIconOverride": "https://content.powerapps.com/resource/makerx/static/pauto/images/designeroperations/aiBuilderNew.51dbdb6b.png",
                                "portalOperationBrandColorOverride": "#0A76C4",
                                "portalOperationApiTierOverride": "Standard"
                              }
                            },
                            "type": "OpenApiConnection",
                            "inputs": {
                              "host": {
                                "connectionName": "shared_commondataserviceforapps",
                                "operationId": "aibuilderpredict_customprompt",
                                "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                              },
                              "parameters": {
                                "recordId": "a80ccc4d-28a4-4a10-8196-4bc71f6b76fc",
                                "item/requestv2/UserPrompt": "@triggerBody()?['text_4']",
                                "item/requestv2/AgentConversation": "@items('Apply_to_each_-_Selected_Conversation')['message']"
                              },
                              "authentication": "@parameters('$authentication')"
                            }
                          },
                          "Compose_:_Custom_User_Prompt_Error_Response": {
                            "runAfter": {
                              "Run_a_prompt_Custom_User_Prompt": [
                                "Failed",
                                "TimedOut"
                              ]
                            },
                            "metadata": {
                              "operationMetadataId": "89efd874-491e-4747-afe2-7f04f049928b"
                            },
                            "type": "Compose",
                            "inputs": {
                              "result": "NA",
                              "convSummary": "Unable to evaluate due to sensitive or unsupported content."
                            }
                          },
                          "Parse_JSON_Custom_User_Prompt": {
                            "runAfter": {
                              "Compose_:_Custom_User_Prompt_Error_Response": [
                                "Skipped"
                              ]
                            },
                            "metadata": {
                              "operationMetadataId": "f8591550-3b40-40f1-9dff-36379e7ed233"
                            },
                            "type": "ParseJson",
                            "inputs": {
                              "content": "@outputs('Run_a_prompt_Custom_User_Prompt')?['body/responsev2/predictionOutput/text']",
                              "schema": {
                                "type": "object",
                                "properties": {
                                  "result": {
                                    "type": "string"
                                  },
                                  "convSummary": {
                                    "type": "string"
                                  }
                                }
                              }
                            }
                          },
                          "Add_a_new_row_:_Conversation_Analyzer_for_Custom_Prompt__": {
                            "runAfter": {
                              "Parse_JSON_Custom_User_Prompt": [
                                "Succeeded"
                              ]
                            },
                            "metadata": {
                              "operationMetadataId": "3f23abda-9578-42ad-b998-93dcb00a2cee"
                            },
                            "type": "OpenApiConnection",
                            "inputs": {
                              "host": {
                                "connectionName": "shared_commondataserviceforapps",
                                "operationId": "CreateRecord",
                                "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                              },
                              "parameters": {
                                "entityName": "cat_conversationanalyzers",
                                "item/cat_name": "@items('Apply_to_each_-_Selected_Conversation')['name']",
                                "item/cat_messages": "@items('Apply_to_each_-_Selected_Conversation')['messagecount']",
                                "item/cat_agentid": "@triggerBody()['text']",
                                "item/cat_content": "@items('Apply_to_each_-_Selected_Conversation')['content']",
                                "item/cat_conversationdurationseconds": "@items('Apply_to_each_-_Selected_Conversation')['conversationduration']",
                                "item/cat_conversationid": "@items('Apply_to_each_-_Selected_Conversation')['conversationtranscriptid']",
                                "item/cat_Prompt@odata.bind": "cat_conversationanalyzerprompts(@{triggerBody()['text_2']})",
                                "item/cat_promptresult": "@coalesce(outputs('Run_a_prompt_Custom_User_Prompt')?['body/responsev2/predictionOutput/text'],outputs('Compose_:_Custom_User_Prompt_Error_Response'))",
                                "item/cat_summary": "@coalesce(outputs('Run_a_prompt_Custom_User_Prompt')?['body/responsev2/predictionOutput/structuredOutput/convSummary'],'Unable to evaluate due to sensitive or unsupported content.')"
                              },
                              "authentication": "@parameters('$authentication')"
                            }
                          }
                        }
                      },
                      "expression": "@triggerBody()['text_3']",
                      "metadata": {
                        "operationMetadataId": "4f803c9c-4297-4243-9fa6-bb9b5461d21d"
                      },
                      "type": "Switch"
                    }
                  },
                  "runAfter": {
                    "Parse_JSON": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "5dee24cb-b106-4bae-9621-e405f8619345"
                  },
                  "type": "Foreach",
                  "runtimeConfiguration": {
                    "concurrency": {
                      "repetitions": 20
                    }
                  }
                }
              },
              "runAfter": {
                "Scope:_Delete_existing_records": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "0ff20e8f-9c83-457b-9b78-9c0e73f19a89"
              },
              "type": "Scope"
            }
          },
          "runAfter": {
            "Initialize_variable:_ErrorMessage": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "eba63fed-d86f-4381-920d-caa1753220a8"
          },
          "type": "Scope"
        },
        "Scope:_Catch": {
          "actions": {
            "Filter_array:_Error_Actions": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "318aa9b2-4531-451c-b162-84cf7a4a236e"
              },
              "type": "Query",
              "inputs": {
                "from": "@result('Scope:_Try')",
                "where": "@or(equals(item()?['Status'], 'Failed'), equals(item()?['Status'], 'TimedOut'))"
              }
            },
            "Set_variable:_ErrorMessage": {
              "runAfter": {
                "Filter_array:_Error_Actions": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "ee38e0e1-03cd-48d8-9933-d73f7204b0f7"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "ErrorMessage",
                "value": "@{first(body('Filter_array:_Error_Actions'))?['error']?['message']}"
              }
            }
          },
          "runAfter": {
            "Scope:_Try": [
              "Failed",
              "Skipped",
              "TimedOut"
            ]
          },
          "metadata": {
            "operationMetadataId": "a89e7d5d-22c3-46df-ab6f-e51181e86e6e"
          },
          "type": "Scope"
        },
        "Initialize_variable:_ErrorMessage": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "84dc8095-fa63-4f71-aaa9-ed2863a636bb"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "ErrorMessage",
                "type": "string"
              }
            ]
          }
        },
        "Scope:_Finally": {
          "actions": {
            "Respond_to_a_Power_App_or_flow": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "9b4ac5d7-ab46-4fe5-a0b9-572e5d1d7994"
              },
              "type": "Response",
              "kind": "PowerApp",
              "inputs": {
                "statusCode": 200,
                "body": {
                  "errormessage": "@variables('ErrorMessage')"
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "errormessage": {
                      "title": "ErrorMessage",
                      "x-ms-dynamically-added": true,
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "runAfter": {
            "Scope:_Catch": [
              "Succeeded",
              "Failed",
              "Skipped",
              "TimedOut"
            ]
          },
          "metadata": {
            "operationMetadataId": "3b16a931-71ef-4a27-b6c8-cea6a9fc38f1"
          },
          "type": "Scope"
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}