CopilotStudioAccelerator/SolutionPackage/src/Workflows/EnrichwithDataverseConversationTranscripts-FA40C544-9A0B-EF11-9F8A-000D3A5CB958.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "cat_CopilotStudioAcceleratorDataverse"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "Delay for Conversation Transcripts Enrichment (Minutes) (cat_DelayforConversationTranscriptsEnrichment)": {
          "defaultValue": 60,
          "type": "Int",
          "metadata": {
            "schemaName": "cat_DelayforConversationTranscriptsEnrichment",
            "description": "Delay for Conversation Transcripts Enrichment"
          }
        }
      },
      "triggers": {
        "When_an_action_is_performed": {
          "metadata": {
            "operationMetadataId": "c3ef1c40-f207-4461-9984-3645bf1dc771"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "BusinessEventsTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "catalog": "allcatalog",
              "category": "allcategory",
              "subscriptionRequest/entityname": "cat_copilottestrun",
              "subscriptionRequest/sdkmessagename": "cat_RunDataverseConversationTranscriptsEnrichment"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Get_Copilot_Test_Results": {
          "runAfter": {
            "Update_Copilot_Test_Run:_Running": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "6076da45-72f2-4ca7-bc39-244924e64238"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "cat_copilottestresults",
              "$select": "cat_name, cat_copilottestresultid, cat_response, cat_resultcode, cat_resultreason",
              "$filter": "_cat_copilottestrunid_value eq '@{triggerOutputs()?['body/InputParameters/CopilotTestRunId']}'  and statecode eq 0 and cat_resultcode ne 4",
              "$orderby": "createdon asc",
              "$expand": "cat_CopilotTestId($select=cat_testtypecode, cat_expectedtopicname)"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Get_Copilot_Configuration": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "25599a62-4e1c-487d-84bb-d087bb11b867"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "cat_copilotconfigurations",
              "recordId": "@triggerOutputs()?['body/InputParameters/CopilotConfigurationId']",
              "$select": "cat_dataverseurl, cat_iscopyfulltranscriptenabled"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Apply_to_each_Result": {
          "foreach": "@outputs('Get_Copilot_Test_Results')?['body/value']",
          "actions": {
            "Get_Conversation_Transcripts": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "70031cec-f284-4b6b-931d-2e6b8593896e"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "ListRecordsWithOrganization",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "organization": "@outputs('Get_Copilot_Configuration')?['body/cat_dataverseurl']",
                  "entityName": "conversationtranscripts",
                  "$select": "content",
                  "$filter": "startswith(name, '@{items('Apply_to_each_Result')?['cat_name']}')"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Condition_-_Existing_Conversation_Transcript": {
              "actions": {
                "Parse_Content_JSON": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "f824dddf-b4f0-44d3-8e4a-d0123533eb22"
                  },
                  "type": "ParseJson",
                  "inputs": {
                    "content": "@outputs('Get_Conversation_Transcripts')['body/value'][0]['content']",
                    "schema": {
                      "type": "object",
                      "properties": {
                        "activities": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "valueType": {
                                "type": "string"
                              },
                              "id": {
                                "type": "string"
                              },
                              "type": {
                                "type": "string"
                              },
                              "timestamp": {
                                "type": "number"
                              },
                              "from": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string"
                                  },
                                  "role": {
                                    "type": "integer"
                                  }
                                }
                              },
                              "replyToId": {
                                "type": "string"
                              },
                              "value": {
                                "oneOf": [
                                  {
                                    "type": "object",
                                    "properties": {
                                      "intentTitle": {
                                        "type": "string"
                                      },
                                      "intentId": {
                                        "type": "string"
                                      },
                                      "intentScore": {
                                        "type": "object",
                                        "properties": {
                                          "score": {
                                            "type": "number"
                                          }
                                        }
                                      },
                                      "targetDialogId": {
                                        "type": "string"
                                      }
                                    }
                                  },
                                  {
                                    "type": "string"
                                  }
                                ]
                              },
                              "channelData": {
                                "oneOf": [
                                  {
                                    "type": "object",
                                    "properties": {
                                      "pva:gpt-feedback": {
                                        "type": "object",
                                        "properties": {
                                          "summarizationOpenAIResponse": {
                                            "type": "object",
                                            "properties": {
                                              "result": {
                                                "type": "object",
                                                "properties": {
                                                  "textCitations": {
                                                    "type": "array",
                                                    "items": {
                                                      "type": "object"
                                                    }
                                                  }
                                                }
                                              }
                                            }
                                          }
                                        }
                                      }
                                    }
                                  },
                                  {
                                    "type": "string"
                                  }
                                ]
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "Filter_array_with_valueType_IntentRecognition": {
                  "runAfter": {
                    "Parse_Content_JSON": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "8adf6b7d-935f-45f3-bc67-6aea8c10d410"
                  },
                  "type": "Query",
                  "inputs": {
                    "from": "@body('Parse_Content_JSON')?['activities']",
                    "where": "@equals(item()?['valueType'], 'IntentRecognition')"
                  }
                },
                "Filter_array_with_valueType_UnknownIntent": {
                  "runAfter": {
                    "Filter_array_with_valueType_IntentRecognition": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "8adf6b7d-935f-45f3-bc67-6aea8c10d410"
                  },
                  "type": "Query",
                  "inputs": {
                    "from": "@body('Parse_Content_JSON')?['activities']",
                    "where": "@equals(item()?['valueType'], 'UnknownIntent')"
                  }
                },
                "Filter_array_with_valueType_IntentCandidates": {
                  "runAfter": {
                    "Filter_array_with_valueType_UnknownIntent": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "8adf6b7d-935f-45f3-bc67-6aea8c10d410"
                  },
                  "type": "Query",
                  "inputs": {
                    "from": "@body('Parse_Content_JSON')?['activities']",
                    "where": "@equals(item()?['valueType'], 'IntentCandidates')"
                  }
                },
                "Filter_array_with_valueType_DialogRedirect": {
                  "runAfter": {
                    "Filter_array_with_valueType_IntentCandidates": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "8adf6b7d-935f-45f3-bc67-6aea8c10d410"
                  },
                  "type": "Query",
                  "inputs": {
                    "from": "@body('Parse_Content_JSON')?['activities']",
                    "where": "@equals(item()?['valueType'], 'DialogRedirect')"
                  }
                },
                "Condition:_If_only_a_DialogRedirect_is_available": {
                  "actions": {
                    "Get_Topic_Name": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "efaf9c9a-0c22-4241-9926-591e2ddf1ce3"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_commondataserviceforapps",
                          "operationId": "GetItemWithOrganization",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                          "organization": "@outputs('Get_Copilot_Configuration')?['body/cat_dataverseurl']",
                          "entityName": "botcomponents",
                          "recordId": "@first(body('Filter_array_with_valueType_DialogRedirect'))?['value']?['targetDialogId']",
                          "$select": "name"
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    }
                  },
                  "runAfter": {
                    "Filter_array_with_pva-gpt-feedback_not_null": [
                      "Succeeded"
                    ]
                  },
                  "expression": {
                    "and": [
                      {
                        "equals": [
                          "@empty(first(body('Filter_array_with_valueType_IntentRecognition'))?['value']?['intentTitle'])",
                          true
                        ]
                      },
                      {
                        "equals": [
                          "@empty(first(body('Filter_array_with_valueType_UnknownIntent'))?['valueType'])",
                          true
                        ]
                      },
                      {
                        "equals": [
                          "@empty(first(body('Filter_array_with_valueType_IntentCandidates'))?['valueType'])",
                          true
                        ]
                      },
                      {
                        "equals": [
                          "@empty(first(body('Filter_array_with_valueType_DialogRedirect'))?['value']?['targetDialogId'])",
                          false
                        ]
                      }
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "584d85f8-d488-4f10-9562-960b41f0a4e2"
                  },
                  "type": "If"
                },
                "Condition:_If_Copy_Full_Transcript_is_enabled": {
                  "actions": {
                    "Upload_Conversation_Transcript": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "802f4608-b537-4ca1-86bd-eebd6a90e33a"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_commondataserviceforapps",
                          "operationId": "UpdateEntityFileImageFieldContent",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                          "entityName": "cat_copilottestresults",
                          "recordId": "@items('Apply_to_each_Result')?['cat_copilottestresultid']",
                          "fileImageFieldName": "cat_conversationtranscriptfile",
                          "item": "@body('Parse_Content_JSON')",
                          "x-ms-file-name": "ConversationTranscript_@{items('Apply_to_each_Result')?['cat_name']}.json"
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    }
                  },
                  "runAfter": {
                    "Condition:_If_only_a_DialogRedirect_is_available": [
                      "Succeeded"
                    ]
                  },
                  "expression": {
                    "equals": [
                      "@outputs('Get_Copilot_Configuration')?['body/cat_iscopyfulltranscriptenabled']",
                      true
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "4658e507-236f-4b5e-a91d-6c7da53016ff"
                  },
                  "type": "If"
                },
                "Filter_array_with_pva-gpt-feedback_not_null": {
                  "runAfter": {
                    "Filter_array_with_valueType_DialogRedirect": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "8adf6b7d-935f-45f3-bc67-6aea8c10d410"
                  },
                  "type": "Query",
                  "inputs": {
                    "from": "@body('Parse_Content_JSON')?['activities']",
                    "where": "@or(\r\n    and(\r\n        not(equals(item()?['channelData'], null)),\r\n        not(equals(item()?['channelData'], '')),\r\n        contains(string(item()?['channelData']), '\"pva:gpt-feedback\"'),\r\n        not(equals(item()?['channelData']?['pva:gpt-feedback']?['summarizationOpenAIResponse']?['result']?['textCitations'], null))\r\n    )\r\n)\r\n"
                  }
                },
                "Update_Copilot_Test_Result": {
                  "runAfter": {
                    "Condition:_If_Copy_Full_Transcript_is_enabled": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "15aaca7b-99dd-469b-99b8-9eae5e9e7a11"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps",
                      "operationId": "UpdateRecord",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "cat_copilottestresults",
                      "recordId": "@items('Apply_to_each_Result')?['cat_copilottestresultid']",
                      "item/cat_name": "@items('Apply_to_each_Result')?['cat_name']",
                      "item/cat_resultcode": "@if(\r\n    equals(\r\n        items('Apply_to_each_Result')?['cat_copilottestid/cat_testtypecode'], \r\n        2\r\n    ),\r\n    if(\r\n        equals(\r\n            if(\r\n                not(empty(first(body('Filter_array_with_valueType_IntentRecognition'))?['value']?['intentTitle'])),\r\n                first(body('Filter_array_with_valueType_IntentRecognition'))?['value']?['intentTitle'],\r\n                if(\r\n                    not(empty(first(body('Filter_array_with_valueType_UnknownIntent'))?['valueType'])),\r\n                    first(body('Filter_array_with_valueType_UnknownIntent'))?['valueType'],\r\n                    if(\r\n                        not(empty(first(body('Filter_array_with_valueType_IntentCandidates'))?['valueType'])),\r\n                        first(body('Filter_array_with_valueType_IntentCandidates'))?['valueType'],\r\n                        if(\r\n                            not(empty(outputs('Get_Topic_Name')?['body']?['name'])),\r\n                            outputs('Get_Topic_Name')?['body']?['name'],\r\n                            ''\r\n                        )\r\n                    )\r\n                )\r\n            ), \r\n            items('Apply_to_each_Result')?['cat_copilottestid/cat_expectedtopicname']\r\n        ), \r\n        1, \r\n        2\r\n    ), \r\n    items('Apply_to_each_Result')?['cat_resultcode']\r\n)\r\n",
                      "item/cat_citations": "@{first(body('Filter_array_with_pva-gpt-feedback_not_null'))?['channelData']?['pva:gpt-feedback']?['summarizationOpenAIResponse']?['result']?['textCitations']}",
                      "item/cat_recognizedintentscore": "@first(body('Filter_array_with_valueType_IntentRecognition'))?['value']?['intentScore']?['score']\n",
                      "item/cat_resultreason": "@if(\r\n    equals(\r\n        items('Apply_to_each_Result')?['cat_copilottestid/cat_testtypecode'], \r\n        2\r\n    ),\r\n    if(\r\n        equals(\r\n            if(\r\n                not(empty(first(body('Filter_array_with_valueType_IntentRecognition'))?['value']?['intentTitle'])),\r\n                first(body('Filter_array_with_valueType_IntentRecognition'))?['value']?['intentTitle'],\r\n                if(\r\n                    not(empty(first(body('Filter_array_with_valueType_UnknownIntent'))?['valueType'])),\r\n                    first(body('Filter_array_with_valueType_UnknownIntent'))?['valueType'],\r\n                    if(\r\n                        not(empty(first(body('Filter_array_with_valueType_IntentCandidates'))?['valueType'])),\r\n                        first(body('Filter_array_with_valueType_IntentCandidates'))?['valueType'],\r\n                        if(\r\n                            not(empty(outputs('Get_Topic_Name')?['body']?['name'])),\r\n                            outputs('Get_Topic_Name')?['body']?['name'],\r\n                            ''\r\n                        )\r\n                    )\r\n                )\r\n            ), \r\n            items('Apply_to_each_Result')?['cat_copilottestid/cat_expectedtopicname']\r\n        ), \r\n        'Exact match on the triggered topic or event name', \r\n        'Not an exact match on the triggered topic or event name' \r\n    ), \r\n    items('Apply_to_each_Result')?['cat_resultreason']\r\n)",
                      "item/cat_recognizedtopicname": "@if(\r\n    not(empty(first(body('Filter_array_with_valueType_IntentRecognition'))?['value']?['intentTitle'])),\r\n    first(body('Filter_array_with_valueType_IntentRecognition'))?['value']?['intentTitle'],\r\n    if(\r\n        not(empty(first(body('Filter_array_with_valueType_UnknownIntent'))?['valueType'])),\r\n        first(body('Filter_array_with_valueType_UnknownIntent'))?['valueType'],\r\n        if(\r\n            not(empty(first(body('Filter_array_with_valueType_IntentCandidates'))?['valueType'])),\r\n            first(body('Filter_array_with_valueType_IntentCandidates'))?['valueType'],\r\n            if(\r\n                not(empty(outputs('Get_Topic_Name')?['body']?['name'])),\r\n                outputs('Get_Topic_Name')?['body']?['name'],\r\n                ''\r\n            )\r\n        )\r\n    )\r\n)",
                      "item/cat_recognizedtopicid": "@if(\r\n    not(empty(first(body('Filter_array_with_valueType_IntentRecognition'))?['value']?['intentId'])),\r\n    first(body('Filter_array_with_valueType_IntentRecognition'))?['value']?['intentId'],\r\n    if(\r\n        not(empty(first(body('Filter_array_with_valueType_DialogRedirect'))?['value']?['targetDialogId'])),\r\n        first(body('Filter_array_with_valueType_DialogRedirect'))?['value']?['targetDialogId'],\r\n        ''\r\n    )\r\n)"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                }
              },
              "runAfter": {
                "Get_Conversation_Transcripts": [
                  "Succeeded"
                ]
              },
              "else": {
                "actions": {
                  "Update_Copilot_Test_Result_-_Missing_Transcript": {
                    "runAfter": {},
                    "metadata": {
                      "operationMetadataId": "15aaca7b-99dd-469b-99b8-9eae5e9e7a11"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                      "host": {
                        "connectionName": "shared_commondataserviceforapps",
                        "operationId": "UpdateRecord",
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                      },
                      "parameters": {
                        "entityName": "cat_copilottestresults",
                        "recordId": "@items('Apply_to_each_Result')?['cat_copilottestresultid']",
                        "item/cat_name": "@items('Apply_to_each_Result')?['cat_name']",
                        "item/cat_resultcode": "@if(\n    equals(\n        items('Apply_to_each_Result')?['cat_resultcode'], \n        5\n    ), \n    4, \n    items('Apply_to_each_Result')?['cat_resultcode']\n)",
                        "item/cat_resultreason": "@{if(\n    equals(\n        items('Apply_to_each_Result')?['cat_resultcode'], \n        5\n    ), \n    'Conversation Transcript could not be retrieved', \n    items('Apply_to_each_Result')?['cat_resultcode']\n)}"
                      },
                      "authentication": "@parameters('$authentication')"
                    }
                  }
                }
              },
              "expression": {
                "and": [
                  {
                    "equals": [
                      "@not(empty(outputs('Get_Conversation_Transcripts')['body/value']))",
                      true
                    ]
                  }
                ]
              },
              "metadata": {
                "operationMetadataId": "8b3c79f8-bbb7-4c68-9c78-078afd27ca17"
              },
              "type": "If"
            }
          },
          "runAfter": {
            "Get_Copilot_Test_Results": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "fdd67cc2-01c6-4669-beb8-4a8c089f6504"
          },
          "type": "Foreach",
          "runtimeConfiguration": {
            "concurrency": {
              "repetitions": 50
            }
          }
        },
        "Update_Copilot_Test_Run:_Running": {
          "runAfter": {
            "Condition_Skip_Delay": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "21161f7d-523c-4f20-9512-5bee0d756282"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "UpdateRecord",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "cat_copilottestruns",
              "recordId": "@triggerOutputs()?['body/InputParameters/CopilotTestRunId']",
              "item/cat_dataverseenrichmentstatuscode": 2
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Update_Copilot_Test_Run:_Complete": {
          "runAfter": {
            "Perform_a_bound_action:_Update_Rollup_Columns": [
              "Succeeded",
              "Failed"
            ]
          },
          "metadata": {
            "operationMetadataId": "b3db844b-bc92-4bd3-9d3e-8faf99619c22"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "UpdateRecord",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "cat_copilottestruns",
              "recordId": "@triggerOutputs()?['body/InputParameters/CopilotTestRunId']",
              "item/cat_dataverseenrichmentstatuscode": 3,
              "item/cat_errordetails": "@concat(\r\n  outputs('Update_Copilot_Test_Run:_Running')?['body/cat_errordetails'],\r\n  '<br/>',\r\n  '<strong>',\r\n  workflow()?['tags']?['flowDisplayName'],\r\n  '</strong> flow run: <a href=\"https://make.powerautomate.com/environments/',\r\n  workflow()?['tags']?['environmentName'],\r\n  '/solutions/fd140aaf-4df4-11dd-bd17-0019b9312238/flows/',\r\n  workflow()?['name'],\r\n  '/runs/',\r\n  workflow()?['run']?['name'],\r\n  '\" target=\"_blank\" rel=\"noopener noreferrer\">Click here to open the flow run</a>'\r\n)"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Update_Copilot_Test_Run:_Error": {
          "runAfter": {
            "Apply_to_each_Result": [
              "Failed",
              "TimedOut",
              "Skipped"
            ]
          },
          "metadata": {
            "operationMetadataId": "b3db844b-bc92-4bd3-9d3e-8faf99619c22"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "UpdateRecord",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "cat_copilottestruns",
              "recordId": "@triggerOutputs()?['body/InputParameters/CopilotTestRunId']",
              "item/cat_dataverseenrichmentstatuscode": 6,
              "item/cat_errordetails": "@concat(\n  body('Update_Copilot_Test_Run:_Running')?['cat_errordetails'],\n  '<br/>',\n  'Failed <strong>',\n  workflow()?['tags']?['flowDisplayName'],\n  '</strong> flow run: <a href=\"https://make.powerautomate.com/environments/',\n  workflow()?['tags']?['environmentName'],\n  '/solutions/fd140aaf-4df4-11dd-bd17-0019b9312238/flows/',\n  workflow()?['name'],\n  '/runs/',\n  workflow()?['run']?['name'],\n  '\" target=\"_blank\" rel=\"noopener noreferrer\">Click here to open the flow run</a>'\n)\n"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Perform_a_bound_action:_Update_Rollup_Columns": {
          "runAfter": {
            "Apply_to_each_Result": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "b7372c79-e753-42a3-b135-93416554f78c"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "PerformBoundAction",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "cat_copilottestruns",
              "actionName": "Microsoft.Dynamics.CRM.cat_RunRollupColumnsUpdates",
              "recordId": "@triggerOutputs()?['body/InputParameters/CopilotTestRunId']",
              "item/DataverseUriHost": "@uriHost(outputs('Get_Copilot_Configuration')?['body/@odata.id'])",
              "item/CopilotTestRunId": "@triggerOutputs()?['body/InputParameters/CopilotTestRunId']"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Condition_Skip_Delay": {
          "actions": {},
          "runAfter": {
            "Get_Copilot_Configuration": [
              "Succeeded"
            ]
          },
          "else": {
            "actions": {
              "Delay": {
                "runAfter": {},
                "metadata": {
                  "operationMetadataId": "c6d43a05-1b9a-4c95-b752-4f75228376a1"
                },
                "type": "Wait",
                "inputs": {
                  "interval": {
                    "count": "@if(equals(parameters('Delay for Conversation Transcripts Enrichment (Minutes) (cat_DelayforConversationTranscriptsEnrichment)'), null), 60, parameters('Delay for Conversation Transcripts Enrichment (Minutes) (cat_DelayforConversationTranscriptsEnrichment)'))",
                    "unit": "Minute"
                  }
                }
              }
            }
          },
          "expression": {
            "and": [
              {
                "equals": [
                  "@triggerBody()?['InputParameters']?['SkipDelay']",
                  "@true"
                ]
              }
            ]
          },
          "metadata": {
            "operationMetadataId": "61ee724a-e74a-4dc7-a201-e90877f8a26f"
          },
          "type": "If"
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}