CopilotStudioAccelerator/SolutionPackage/src/Workflows/EnrichwithAzureApplicationInsights-861BDD5E-BC09-EF11-9F8A-000D3A5CB958.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "cat_CopilotStudioAcceleratorDataverse"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      },
      "shared_commondataserviceforapps_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "cat_CopilotStudioAcceleratorDataverse"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "Delay for Azure Application Insights Enrichment (Minutes) (cat_DelayforAzureApplicationInsightsEnrichment)": {
          "defaultValue": 5,
          "type": "Int",
          "metadata": {
            "schemaName": "cat_DelayforAzureApplicationInsightsEnrichment",
            "description": "Delay for Azure Application Insights Enrichment"
          }
        }
      },
      "triggers": {
        "When_an_action_is_performed": {
          "metadata": {
            "operationMetadataId": "6f260134-22f0-4ba2-86b5-7e66d3481ead"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "BusinessEventsTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "catalog": "allcatalog",
              "category": "allcategory",
              "subscriptionRequest/entityname": "cat_copilottestrun",
              "subscriptionRequest/sdkmessagename": "cat_RunAzureApplicationInsightsEnrichment"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Get_Generative_Answers_Copilot_Test_Results": {
          "runAfter": {
            "Parse_Token_Response": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "6076da45-72f2-4ca7-bc39-244924e64238"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "cat_copilottestresults",
              "$select": "cat_name, cat_copilottestresultid, cat_response, cat_responsereceivedtimestamp",
              "$filter": "_cat_copilottestrunid_value eq '@{triggerOutputs()?['body/InputParameters/CopilotTestRunId']}'  and statecode eq 0 and cat_resultcode ne 4 and cat_CopilotTestId/cat_testtypecode eq 4",
              "$orderby": "createdon asc",
              "$expand": "cat_CopilotTestId($select=cat_generativeansweroutcomecode,cat_expectedresponse,cat_testutterance)"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Get_Copilot_Configuration": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "25599a62-4e1c-487d-84bb-d087bb11b867"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "cat_copilotconfigurations",
              "recordId": "@triggerOutputs()?['body/InputParameters/CopilotConfigurationId']",
              "$select": "cat_delayforazureapplicationinsightsenrichment, cat_isgeneratedanswersanalysisenabled, cat_azureappinsightsapplicationid, cat_azureappinsightstenantid, cat_azureappinsightsclientid, cat_azureappinsightssecretlocationcode, cat_azureappinsightssecret, cat_azureappinsightsenvironmentvariable"
            },
            "authentication": "@parameters('$authentication')"
          },
          "runtimeConfiguration": {
            "secureData": {
              "properties": [
                "outputs"
              ]
            }
          }
        },
        "Apply_to_each_Generative_Answers_Result": {
          "foreach": "@outputs('Get_Generative_Answers_Copilot_Test_Results')?['body/value']",
          "actions": {
            "Update_Copilot_Test_Result": {
              "runAfter": {
                "Parse_Query_Response": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "15aaca7b-99dd-469b-99b8-9eae5e9e7a11"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "UpdateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "cat_copilottestresults",
                  "recordId": "@items('Apply_to_each_Generative_Answers_Result')?['cat_copilottestresultid']",
                  "item/cat_resultcode": "@if(\r\n    empty(body('Parse_Query_Response')?['tables'][0]['rows']),\r\n    if(\r\n        or(\r\n            equals(items('Apply_to_each_Generative_Answers_Result')?['cat_copilottestid/cat_generativeansweroutcomecode'], 3),\r\n            equals(items('Apply_to_each_Generative_Answers_Result')?['cat_copilottestid/cat_generativeansweroutcomecode'], 4)\r\n        ),\r\n        3,\r\n        if(\r\n            equals(outputs('Get_Copilot_Configuration')?['body/cat_isgeneratedanswersanalysisenabled'], true),\r\n            5,\r\n            3\r\n        )\r\n    ),\r\n    if(\r\n        equals(items('Apply_to_each_Generative_Answers_Result')?['cat_copilottestid/cat_generativeansweroutcomecode'], 3),\r\n        if(\r\n            startsWith(body('Parse_Query_Response')?['tables'][0]['rows'][0][0], 'Filtered'),\r\n            1,\r\n            2\r\n        ),\r\n        if(\r\n            equals(items('Apply_to_each_Generative_Answers_Result')?['cat_copilottestid/cat_generativeansweroutcomecode'], 4),\r\n            if(\r\n                or(\r\n                    equals(body('Parse_Query_Response')?['tables'][0]['rows'][0][0], 'No Search Results'),\r\n                    equals(body('Parse_Query_Response')?['tables'][0]['rows'][0][0], 'Answer not Found in Search Results')\r\n                ),\r\n                1,\r\n                2\r\n            ),\r\n            if(\r\n                equals(outputs('Get_Copilot_Configuration')?['body/cat_isgeneratedanswersanalysisenabled'], true),\r\n                5,\r\n                3\r\n            )\r\n        )\r\n    )\r\n)",
                  "item/cat_appinsightsresult": "@if(\r\n    greater(\r\n        length(body('Parse_Query_Response')?['tables'][0]['rows']), \r\n        0\r\n    ), \r\n    body('Parse_Query_Response')?['tables'][0]['rows'][0][0], \r\n    'No Azure Application Insights Result'\r\n)",
                  "item/cat_resultreason": "@if(\r\n    empty(body('Parse_Query_Response')?['tables'][0]['rows']),\r\n    if(\r\n        or(\r\n            equals(items('Apply_to_each_Generative_Answers_Result')?['cat_copilottestid/cat_generativeansweroutcomecode'], 3),\r\n            equals(items('Apply_to_each_Generative_Answers_Result')?['cat_copilottestid/cat_generativeansweroutcomecode'], 4)\r\n        ),\r\n        'Impossible to evaluate: no Azure Application Insights result',\r\n        if(\r\n            equals(outputs('Get_Copilot_Configuration')?['body/cat_isgeneratedanswersanalysisenabled'], true),\r\n            'No Azure Application Insights result, but result can still be assessed with AI Builder',\r\n            'Impossible to evaluate: no Azure Application Insights result'\r\n        )\r\n    ),\r\n    if(\r\n        equals(items('Apply_to_each_Generative_Answers_Result')?['cat_copilottestid/cat_generativeansweroutcomecode'], 3),\r\n        if(\r\n            startsWith(body('Parse_Query_Response')?['tables'][0]['rows'][0][0], 'Filtered'),\r\n            'Answer was moderated',\r\n            'Moderation was expected'\r\n        ),\r\n        if(\r\n            equals(items('Apply_to_each_Generative_Answers_Result')?['cat_copilottestid/cat_generativeansweroutcomecode'], 4),\r\n            if(\r\n                or(\r\n                    equals(body('Parse_Query_Response')?['tables'][0]['rows'][0][0], 'No Search Results'),\r\n                    equals(body('Parse_Query_Response')?['tables'][0]['rows'][0][0], 'Answer not Found in Search Results')\r\n                ),\r\n                'Answer was not generated because of no search results',\r\n                'No search results were expected'\r\n            ),\r\n            if(\r\n                equals(outputs('Get_Copilot_Configuration')?['body/cat_isgeneratedanswersanalysisenabled'], true),\r\n               'Result still needs to be assessed by AI Builder',\r\n               'Could not assess the answer'\r\n            )\r\n        )\r\n    )\r\n)"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Get_Azure_App_Insights_Query_Response": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "b72d6acb-f159-4763-8248-69b904edf7ae"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "PerformUnboundAction",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "actionName": "cat_ExecuteAppInsightsQuery",
                  "item/cat_AppInsightsApplicationId": "@outputs('Get_Copilot_Configuration')?['body/cat_azureappinsightsapplicationid']",
                  "item/cat_AppInsightsAccessToken": "@body('Parse_Token_Response')?['access_token']",
                  "item/cat_AppInsightsQuery": "customEvents\n| where name == \"GenerativeAnswers\"\n| where tostring(todynamic(customDimensions).conversationId) == \"@{items('Apply_to_each_Generative_Answers_Result')?['cat_name']}\"\n| where timestamp between ((datetime(@{items('Apply_to_each_Generative_Answers_Result')?['cat_responsereceivedtimestamp']}) - 1h) .. (datetime(@{items('Apply_to_each_Generative_Answers_Result')?['cat_responsereceivedtimestamp']}) + 1h))\n| extend cd = todynamic(customDimensions)\n| extend result = tostring(cd.Result)\n| project result"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Parse_Query_Response": {
              "runAfter": {
                "Get_Azure_App_Insights_Query_Response": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "0d04fbdb-4520-4b70-8d58-1c7b933092fe"
              },
              "type": "ParseJson",
              "inputs": {
                "content": "@outputs('Get_Azure_App_Insights_Query_Response')?['body/cat_AppInsightsResponse']",
                "schema": {
                  "type": "object",
                  "properties": {
                    "tables": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string"
                          },
                          "columns": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "name": {
                                  "type": "string"
                                },
                                "type": {
                                  "type": "string"
                                }
                              },
                              "required": [
                                "name",
                                "type"
                              ]
                            }
                          },
                          "rows": {
                            "type": "array",
                            "items": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          }
                        },
                        "required": [
                          "name",
                          "columns",
                          "rows"
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "runAfter": {
            "Get_Generative_Answers_Copilot_Test_Results": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "fdd67cc2-01c6-4669-beb8-4a8c089f6504"
          },
          "type": "Foreach",
          "runtimeConfiguration": {
            "concurrency": {
              "repetitions": 50
            }
          }
        },
        "Update_Copilot_Test_Run:_Running": {
          "runAfter": {
            "Condition_Skip_Delay": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "1879daca-4f37-49d8-8b18-6a8cf166f470"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "UpdateRecord",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "cat_copilottestruns",
              "recordId": "@triggerOutputs()?['body/InputParameters/CopilotTestRunId']",
              "item/cat_appinsightsenrichmentstatuscode": 2
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Update_Copilot_Test_Run:_Complete": {
          "runAfter": {
            "Perform_a_bound_action:_Update_Rollup_Columns": [
              "Succeeded",
              "Failed"
            ]
          },
          "metadata": {
            "operationMetadataId": "46100016-2f1b-4e28-9ef7-90648debe3d9"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "UpdateRecord",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "cat_copilottestruns",
              "recordId": "@triggerOutputs()?['body/InputParameters/CopilotTestRunId']",
              "item/cat_appinsightsenrichmentstatuscode": 3
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Update_Copilot_Test_Run:_Error": {
          "runAfter": {
            "Apply_to_each_Generative_Answers_Result": [
              "Failed",
              "Skipped",
              "TimedOut"
            ]
          },
          "metadata": {
            "operationMetadataId": "46100016-2f1b-4e28-9ef7-90648debe3d9"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "UpdateRecord",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "cat_copilottestruns",
              "recordId": "@triggerOutputs()?['body/InputParameters/CopilotTestRunId']",
              "item/cat_appinsightsenrichmentstatuscode": 6,
              "item/cat_errordetails": "@{concat(\n  body('Update_Copilot_Test_Run:_Running')?['cat_errordetails'],\n  '<br/>',\n  'Failed <strong>',\n  workflow()?['tags']?['flowDisplayName'],\n  '</strong> flow run: <a href=\"https://make.powerautomate.com/environments/',\n  workflow()?['tags']?['environmentName'],\n  '/solutions/fd140aaf-4df4-11dd-bd17-0019b9312238/flows/',\n  workflow()?['name'],\n  '/runs/',\n  workflow()?['run']?['name'],\n  '\" target=\"_blank\" rel=\"noopener noreferrer\">Click here to open the flow run</a>'\n)\n}",
              "item/cat_generatedanswersanalysiscode": 4
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Perform_a_bound_action:_Update_Rollup_Columns": {
          "runAfter": {
            "Apply_to_each_Generative_Answers_Result": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "af483f4c-32dd-412b-a719-f226b3756087"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "PerformBoundAction",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "cat_copilottestruns",
              "actionName": "Microsoft.Dynamics.CRM.cat_RunRollupColumnsUpdates",
              "recordId": "@triggerOutputs()?['body/InputParameters/CopilotTestRunId']",
              "item/DataverseUriHost": "@uriHost(outputs('Get_Copilot_Configuration')?['body/@odata.id'])",
              "item/CopilotTestRunId": "@triggerOutputs()?['body/InputParameters/CopilotTestRunId']"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Condition:_If_Analyze_Generative_Answers_is_enabled": {
          "actions": {
            "Perform_a_bound_action:_Run_AI_Builder_Analysis": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "cc622639-9ae0-4c18-aa8a-0dfcd7171aff"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "PerformBoundAction",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "cat_copilottestruns",
                  "actionName": "Microsoft.Dynamics.CRM.cat_RunAIBuilderAnalysis",
                  "recordId": "@triggerOutputs()?['body/InputParameters/CopilotTestRunId']",
                  "item/CopilotTestRunId": "@triggerOutputs()?['body/InputParameters/CopilotTestRunId']",
                  "item/CopilotTestSetId": "@triggerOutputs()?['body/InputParameters/CopilotTestSetId']"
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {
            "Update_Copilot_Test_Run:_Complete": [
              "Succeeded"
            ]
          },
          "expression": {
            "equals": [
              "@outputs('Get_Copilot_Configuration')?['body/cat_isgeneratedanswersanalysisenabled']",
              true
            ]
          },
          "metadata": {
            "operationMetadataId": "653f3f78-5dfe-462a-a3ab-291541720e2d"
          },
          "type": "If"
        },
        "Condition_Skip_Delay": {
          "actions": {},
          "runAfter": {
            "Get_Copilot_Configuration": [
              "Succeeded"
            ]
          },
          "else": {
            "actions": {
              "Delay": {
                "runAfter": {},
                "metadata": {
                  "operationMetadataId": "4d599376-4b60-4b5b-a3d0-f167ef6bc4ec"
                },
                "type": "Wait",
                "inputs": {
                  "interval": {
                    "count": "@if(equals(parameters('Delay for Azure Application Insights Enrichment (Minutes) (cat_DelayforAzureApplicationInsightsEnrichment)'), null), 5, parameters('Delay for Azure Application Insights Enrichment (Minutes) (cat_DelayforAzureApplicationInsightsEnrichment)'))",
                    "unit": "Minute"
                  }
                }
              }
            }
          },
          "expression": {
            "and": [
              {
                "equals": [
                  "@triggerBody()?['InputParameters']?['SkipDelay']",
                  "@true"
                ]
              }
            ]
          },
          "metadata": {
            "operationMetadataId": "90c95f0e-82b3-45b9-8beb-4995df28e587"
          },
          "type": "If"
        },
        "Condition:_If_Azure_App_Insights_Environment_Variable_Secret": {
          "actions": {
            "Get_Azure_App_Insights_Secret": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "c48d1c4b-2831-4036-9ce5-579781ffd80f"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "PerformUnboundAction",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "actionName": "RetrieveEnvironmentVariableSecretValue",
                  "item/EnvironmentVariableName": "@outputs('Get_Copilot_Configuration')?['body/cat_azureappinsightsenvironmentvariable']"
                },
                "authentication": "@parameters('$authentication')"
              },
              "runtimeConfiguration": {
                "secureData": {
                  "properties": [
                    "outputs"
                  ]
                }
              }
            }
          },
          "runAfter": {
            "Update_Copilot_Test_Run:_Running": [
              "Succeeded"
            ]
          },
          "expression": {
            "equals": [
              "@outputs('Get_Copilot_Configuration')?['body/cat_azureappinsightssecretlocationcode']",
              2
            ]
          },
          "metadata": {
            "operationMetadataId": "560816de-2f95-4f45-9c92-9685a53d27b5"
          },
          "type": "If"
        },
        "Generate_Azure_App_Insights_Access_Token": {
          "runAfter": {
            "Condition:_If_Azure_App_Insights_Environment_Variable_Secret": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "d879d350-e327-4387-b544-f6dd4e3a20d7"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "PerformUnboundAction",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "actionName": "cat_GenerateAppInsightsAccessToken",
              "item/cat_AppInsightsTenantId": "@outputs('Get_Copilot_Configuration')?['body/cat_azureappinsightstenantid']",
              "item/cat_AppInsightsClientId": "@outputs('Get_Copilot_Configuration')?['body/cat_azureappinsightsclientid']",
              "item/cat_AppInsightsClientSecret": "@if(equals(outputs('Get_Copilot_Configuration')?['body/cat_azureappinsightssecretlocationcode'], 1),\r\n   outputs('Get_Copilot_Configuration')?['body/cat_azureappinsightssecret'],\r\n   outputs('Get_Azure_App_Insights_Secret')?['body/EnvironmentVariableSecretValue'])"
            },
            "authentication": "@parameters('$authentication')"
          },
          "runtimeConfiguration": {
            "secureData": {
              "properties": [
                "inputs",
                "outputs"
              ]
            }
          }
        },
        "Parse_Token_Response": {
          "runAfter": {
            "Generate_Azure_App_Insights_Access_Token": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "fd4e7717-60ba-4656-85c6-ce3da676563a"
          },
          "type": "ParseJson",
          "inputs": {
            "content": "@outputs('Generate_Azure_App_Insights_Access_Token')?['body/cat_AppInsightsResponse']",
            "schema": {
              "type": "object",
              "properties": {
                "token_type": {
                  "type": "string"
                },
                "expires_in": {
                  "type": "string"
                },
                "ext_expires_in": {
                  "type": "string"
                },
                "expires_on": {
                  "type": "string"
                },
                "not_before": {
                  "type": "string"
                },
                "resource": {
                  "type": "string"
                },
                "access_token": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}