CopilotStudioAccelerator/SolutionPackage/src/Workflows/EnrichwithAzureApplicationInsights-861BDD5E-BC09-EF11-9F8A-000D3A5CB958.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "cat_CopilotStudioAcceleratorDataverse"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      },
      "shared_applicationinsights_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "cat_CopilotStudioAcceleratorAzureApplicationInsights"
        },
        "api": {
          "name": "shared_applicationinsights"
        }
      },
      "shared_commondataserviceforapps_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "cat_CopilotStudioAcceleratorDataverse"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "When_an_action_is_performed": {
          "metadata": {
            "operationMetadataId": "6f260134-22f0-4ba2-86b5-7e66d3481ead"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "parameters": {
              "catalog": "allcatalog",
              "category": "allcategory",
              "subscriptionRequest/entityname": "cat_copilottestrun",
              "subscriptionRequest/sdkmessagename": "cat_RunAzureApplicationInsightsEnrichment",
              "subscriptionRequest/name": "861bdd5e-bc09-ef11-9f8a-000d3a5cb958"
            },
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "BusinessEventsTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Get_Generative_Answers_Copilot_Test_Results": {
          "runAfter": {
            "Update_Copilot_Test_Run:_Running": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "6076da45-72f2-4ca7-bc39-244924e64238"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "entityName": "cat_copilottestresults",
              "$select": "cat_name, cat_copilottestresultid, cat_response",
              "$filter": "_cat_copilottestrunid_value eq '@{triggerOutputs()?['body/InputParameters/CopilotTestRunId']}'  and statecode eq 0 and cat_resultcode ne 4 and cat_CopilotTestId/cat_testtypecode eq 4",
              "$orderby": "createdon asc",
              "$expand": "cat_CopilotTestId($select=cat_generativeansweroutcomecode,cat_expectedresponse,cat_testutterance)"
            },
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Get_Copilot_Configuration": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "25599a62-4e1c-487d-84bb-d087bb11b867"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "entityName": "cat_copilotconfigurations",
              "recordId": "@triggerOutputs()?['body/InputParameters/CopilotConfigurationId']",
              "$select": "cat_delayforazureapplicationinsightsenrichment, cat_isgeneratedanswersanalysisenabled"
            },
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Apply_to_each_Generative_Answers_Result": {
          "foreach": "@outputs('Get_Generative_Answers_Copilot_Test_Results')?['body/value']",
          "actions": {
            "Run_Analytics_query": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "720c77ea-3bf0-4eca-a91d-5cb9b6e3555a"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_applicationinsights_1",
                  "operationId": "RunQuery",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_applicationinsights"
                },
                "parameters": {
                  "query": "customEvents\n| where name == \"GenerativeAnswers\"\n| where tostring(todynamic(customDimensions).conversationId) == \"@{items('Apply_to_each_Generative_Answers_Result')?['cat_name']}\"\n| extend cd = todynamic(customDimensions)\n| extend result = tostring(cd.Result)\n| project result",
                  "timerange": "Last hour"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Update_Copilot_Test_Result": {
              "runAfter": {
                "Run_Analytics_query": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "15aaca7b-99dd-469b-99b8-9eae5e9e7a11"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "entityName": "cat_copilottestresults",
                  "recordId": "@items('Apply_to_each_Generative_Answers_Result')?['cat_copilottestresultid']",
                  "item/cat_resultcode": "@if(\n    empty(body('Run_Analytics_query')?['value']),\n    if(\n        or(\n            equals(items('Apply_to_each_Generative_Answers_Result')?['cat_copilottestid/cat_generativeansweroutcomecode'], 3),\n            equals(items('Apply_to_each_Generative_Answers_Result')?['cat_copilottestid/cat_generativeansweroutcomecode'], 4)\n        ),\n        3,\n        if(\n            equals(outputs('Get_Copilot_Configuration')?['body/cat_isgeneratedanswersanalysisenabled'], true),\n            5,\n            3\n        )\n    ),\n    if(\n        equals(items('Apply_to_each_Generative_Answers_Result')?['cat_copilottestid/cat_generativeansweroutcomecode'], 3),\n        if(\n            startsWith(first(body('Run_Analytics_query')?['value'])['result'], 'Filtered'),\n            1,\n            2\n        ),\n        if(\n            equals(items('Apply_to_each_Generative_Answers_Result')?['cat_copilottestid/cat_generativeansweroutcomecode'], 4),\n            if(\n                or(\n                    equals(first(body('Run_Analytics_query')?['value'])['result'], 'No Search Results'),\n                    equals(first(body('Run_Analytics_query')?['value'])['result'], 'Answer not Found in Search Results')\n                ),\n                1,\n                2\n            ),\n            if(\n                equals(outputs('Get_Copilot_Configuration')?['body/cat_isgeneratedanswersanalysisenabled'], true),\n                5,\n                3\n            )\n        )\n    )\n)\n",
                  "item/cat_appinsightsresult": "@if(\r\n    greater(\r\n        length(body('Run_Analytics_query')?['value']), \r\n        0\r\n    ), \r\n    first(\r\n        body('Run_Analytics_query')?['value']\r\n    )['result'], \r\n    'No Azure Application Insights Result'\r\n)",
                  "item/cat_resultreason": "@{if(\n    empty(body('Run_Analytics_query')?['value']),\n    if(\n        or(\n            equals(items('Apply_to_each_Generative_Answers_Result')?['cat_copilottestid/cat_generativeansweroutcomecode'], 3),\n            equals(items('Apply_to_each_Generative_Answers_Result')?['cat_copilottestid/cat_generativeansweroutcomecode'], 4)\n        ),\n        'Impossible to evaluate: no Azure Application Insights result',\n        if(\n            equals(outputs('Get_Copilot_Configuration')?['body/cat_isgeneratedanswersanalysisenabled'], true),\n            'No Azure Application Insights result, but result can still be assessed with AI Builder',\n            'Impossible to evaluate: no Azure Application Insights result'\n        )\n    ),\n    if(\n        equals(items('Apply_to_each_Generative_Answers_Result')?['cat_copilottestid/cat_generativeansweroutcomecode'], 3),\n        if(\n            startsWith(first(body('Run_Analytics_query')?['value'])['result'], 'Filtered'),\n            'Answer was moderated',\n            'Moderation was expected'\n        ),\n        if(\n            equals(items('Apply_to_each_Generative_Answers_Result')?['cat_copilottestid/cat_generativeansweroutcomecode'], 4),\n            if(\n                or(\n                    equals(first(body('Run_Analytics_query')?['value'])['result'], 'No Search Results'),\n                    equals(first(body('Run_Analytics_query')?['value'])['result'], 'Answer not Found in Search Results')\n                ),\n                'Answer was not generated because of no search results',\n                'No search results were expected'\n            ),\n            if(\n                equals(outputs('Get_Copilot_Configuration')?['body/cat_isgeneratedanswersanalysisenabled'], true),\n               'Result still needs to be assessed by AI Builder',\n               'Could not assess the answer'\n            )\n        )\n    )\n)\n}"
                },
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "UpdateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {
            "Get_Generative_Answers_Copilot_Test_Results": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "fdd67cc2-01c6-4669-beb8-4a8c089f6504"
          },
          "type": "Foreach",
          "runtimeConfiguration": {
            "concurrency": {
              "repetitions": 50
            }
          }
        },
        "Update_Copilot_Test_Run:_Running": {
          "runAfter": {
            "Condition_Skip_Delay": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "1879daca-4f37-49d8-8b18-6a8cf166f470"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "entityName": "cat_copilottestruns",
              "recordId": "@triggerOutputs()?['body/InputParameters/CopilotTestRunId']",
              "item/cat_appinsightsenrichmentstatuscode": 2
            },
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "UpdateRecord",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Update_Copilot_Test_Run:_Complete": {
          "runAfter": {
            "Perform_a_bound_action:_Update_Rollup_Columns": [
              "Succeeded",
              "Failed"
            ]
          },
          "metadata": {
            "operationMetadataId": "46100016-2f1b-4e28-9ef7-90648debe3d9"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "entityName": "cat_copilottestruns",
              "recordId": "@triggerOutputs()?['body/InputParameters/CopilotTestRunId']",
              "item/cat_appinsightsenrichmentstatuscode": 3
            },
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "UpdateRecord",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Update_Copilot_Test_Run:_Error": {
          "runAfter": {
            "Apply_to_each_Generative_Answers_Result": [
              "Failed",
              "Skipped",
              "TimedOut"
            ]
          },
          "metadata": {
            "operationMetadataId": "46100016-2f1b-4e28-9ef7-90648debe3d9"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "entityName": "cat_copilottestruns",
              "recordId": "@triggerOutputs()?['body/InputParameters/CopilotTestRunId']",
              "item/cat_appinsightsenrichmentstatuscode": 6,
              "item/cat_errordetails": "@{concat(\n  body('Update_Copilot_Test_Run:_Running')?['cat_errordetails'],\n  '<br/>',\n  'Failed <strong>',\n  workflow()?['tags']?['flowDisplayName'],\n  '</strong> flow run: <a href=\"https://make.powerautomate.com/environments/',\n  workflow()?['tags']?['environmentName'],\n  '/solutions/fd140aaf-4df4-11dd-bd17-0019b9312238/flows/',\n  workflow()?['name'],\n  '/runs/',\n  workflow()?['run']?['name'],\n  '\" target=\"_blank\" rel=\"noopener noreferrer\">Click here to open the flow run</a>'\n)\n}",
              "item/cat_generatedanswersanalysiscode": 4
            },
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "UpdateRecord",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Perform_a_bound_action:_Update_Rollup_Columns": {
          "runAfter": {
            "Apply_to_each_Generative_Answers_Result": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "af483f4c-32dd-412b-a719-f226b3756087"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "entityName": "cat_copilottestruns",
              "actionName": "Microsoft.Dynamics.CRM.cat_RunRollupColumnsUpdates",
              "recordId": "@triggerOutputs()?['body/InputParameters/CopilotTestRunId']",
              "item/DataverseUriHost": "@uriHost(outputs('Get_Copilot_Configuration')?['body/@odata.id'])",
              "item/CopilotTestRunId": "@triggerOutputs()?['body/InputParameters/CopilotTestRunId']"
            },
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "PerformBoundAction",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Condition:_If_Analyze_Generative_Answers_is_enabled": {
          "actions": {
            "Perform_a_bound_action:_Run_AI_Builder_Analysis": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "cc622639-9ae0-4c18-aa8a-0dfcd7171aff"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "entityName": "cat_copilottestruns",
                  "actionName": "Microsoft.Dynamics.CRM.cat_RunAIBuilderAnalysis",
                  "recordId": "@triggerOutputs()?['body/InputParameters/CopilotTestRunId']",
                  "item/CopilotTestRunId": "@triggerOutputs()?['body/InputParameters/CopilotTestRunId']",
                  "item/CopilotTestSetId": "@triggerOutputs()?['body/InputParameters/CopilotTestSetId']"
                },
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "PerformBoundAction",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {
            "Update_Copilot_Test_Run:_Complete": [
              "Succeeded"
            ]
          },
          "expression": {
            "equals": [
              "@outputs('Get_Copilot_Configuration')?['body/cat_isgeneratedanswersanalysisenabled']",
              true
            ]
          },
          "metadata": {
            "operationMetadataId": "653f3f78-5dfe-462a-a3ab-291541720e2d"
          },
          "type": "If"
        },
        "Condition_Skip_Delay": {
          "actions": {},
          "runAfter": {
            "Get_Copilot_Configuration": [
              "Succeeded"
            ]
          },
          "else": {
            "actions": {
              "Delay": {
                "runAfter": {},
                "metadata": {
                  "operationMetadataId": "4d599376-4b60-4b5b-a3d0-f167ef6bc4ec"
                },
                "type": "Wait",
                "inputs": {
                  "interval": {
                    "count": "@outputs('Get_Copilot_Configuration')?['body/cat_delayforazureapplicationinsightsenrichment']",
                    "unit": "Minute"
                  }
                }
              }
            }
          },
          "expression": {
            "and": [
              {
                "equals": [
                  "@triggerBody()?['InputParameters']?['SkipDelay']",
                  "@true"
                ]
              }
            ]
          },
          "metadata": {
            "operationMetadataId": "90c95f0e-82b3-45b9-8beb-4995df28e587"
          },
          "type": "If"
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}