CopilotStudioAccelerator/SolutionPackage/src/Workflows/GlobalGetCurrentDataverseUrl-E74B3F15-5310-F011-9988-000D3A329AC2.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "api": {
          "name": "shared_commondataserviceforapps"
        },
        "connection": {
          "connectionReferenceLogicalName": "cat_CopilotStudioAcceleratorDataverse"
        },
        "runtimeSource": "embedded"
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        }
      },
      "triggers": {
        "manual": {
          "type": "Request",
          "kind": "PowerAppV2",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {},
              "required": []
            }
          },
          "metadata": {
            "operationMetadataId": "a8a0d7de-ed0d-40d8-a81a-bc2badbfc30f"
          }
        }
      },
      "actions": {
        "Environment_Url": {
          "type": "Compose",
          "inputs": "@uriHost(first(outputs('List_Model-driven_Apps')?['body/value'])?['@odata.id'])",
          "runAfter": {
            "List_Model-driven_Apps": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "b57ed030-74a1-4774-9c04-2cce8554e4e8"
          }
        },
        "Respond_to_a_Power_App_or_flow": {
          "type": "Response",
          "kind": "PowerApp",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "environmenturl": {
                  "title": "EnvironmentUrl",
                  "x-ms-dynamically-added": true,
                  "type": "string"
                }
              },
              "additionalProperties": {}
            },
            "statusCode": 200,
            "body": {
              "environmenturl": "@{concat('https://', outputs('Environment_Url'), '/')}"
            }
          },
          "runAfter": {
            "Environment_Url": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "6c3bcb55-ff20-416f-aadd-356f6a963f16"
          }
        },
        "List_Model-driven_Apps": {
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "entityName": "appmodules",
              "$select": "name",
              "x-ms-odata-metadata-full": true
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "connectionName": "shared_commondataserviceforapps"
            }
          },
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "593c9778-a4c8-4d8a-abf5-dbf6c6ac3f4d"
          }
        }
      }
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}