CopilotStudioAccelerator/SolutionPackage/src/Workflows/RunCopilotTests-296C3EB2-55DB-EE11-904D-6045BD057AFD.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "cat_CopilotStudioAcceleratorDataverse"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      },
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "cat_CopilotStudioAcceleratorDataverse"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "When_an_action_is_performed": {
          "metadata": {
            "operationMetadataId": "8266a21a-a454-4439-bace-377e246f366f"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "BusinessEventsTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "catalog": "allcatalog",
              "category": "allcategory",
              "subscriptionRequest/entityname": "cat_copilottestrun",
              "subscriptionRequest/sdkmessagename": "cat_RunCopilotTests"
            },
            "authentication": "@parameters('$authentication')"
          },
          "runtimeConfiguration": {
            "secureData": {
              "properties": [
                "inputs",
                "outputs"
              ]
            }
          }
        }
      },
      "actions": {
        "Get_Copilot_Tests": {
          "runAfter": {
            "Get_Copilot_Configuration": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "cdcb622c-426b-4061-baaa-588823dbeca1"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "cat_copilottests",
              "$select": "cat_testutterance, cat_copilottestid, cat_expectedresponse, cat_testtypecode, cat_generativeansweroutcomecode, cat_expectedpositionoftheresponseactivity, cat_expectedtopicname, cat_isstartconversationeventsent, cat_externalvariablesjson, cat_expectedattachmentsjson",
              "$filter": "_cat_copilottestsetid_value eq '@{triggerOutputs()?['body/InputParameters/CopilotTestSetId']}' and statecode eq 0",
              "$orderby": "cat_name"
            },
            "authentication": "@parameters('$authentication')"
          },
          "runtimeConfiguration": {
            "secureData": {
              "properties": [
                "inputs"
              ]
            }
          }
        },
        "Update_Copilot_Test_Run:_Complete": {
          "runAfter": {
            "Perform_a_bound_action:_Update_Rollup_Columns": [
              "Succeeded",
              "Failed"
            ]
          },
          "metadata": {
            "operationMetadataId": "bc00c2ac-f457-48e7-902f-8d36733a2d6d"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "UpdateRecord",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "cat_copilottestruns",
              "recordId": "@triggerOutputs()?['body/InputParameters/CopilotTestRunId']",
              "item/cat_appinsightsenrichmentstatuscode": "@if(equals(outputs('Get_Copilot_Configuration')?['body/cat_isazureapplicationinsightsenabled'], true), 5, 4)",
              "item/cat_dataverseenrichmentstatuscode": "@if(equals(outputs('Get_Copilot_Configuration')?['body/cat_isenrichedwithconversationtranscripts'], true), 5, 4)",
              "item/cat_errordetails": "<strong>@{workflow()['tags']['flowDisplayName']}</strong> flow run: <a href=\"https://make.powerautomate.com/environments/@{workflow()?['tags']?['environmentName']}/solutions/fd140aaf-4df4-11dd-bd17-0019b9312238/flows/@{workflow()?['name']}/runs/@{workflow()?['run']?['name']}\" target=\"_blank\" rel=\"noopener noreferrer\">Click here to open the flow run</a>",
              "item/cat_generatedanswersanalysiscode": "@if(equals(outputs('Get_Copilot_Configuration')?['body/cat_isgeneratedanswersanalysisenabled'], true), 5, 4)",
              "item/cat_runstatuscode": 3
            },
            "authentication": "@parameters('$authentication')"
          },
          "runtimeConfiguration": {
            "secureData": {
              "properties": [
                "inputs",
                "outputs"
              ]
            }
          }
        },
        "Initialize_Bot_Framework_URI": {
          "runAfter": {
            "Get_Copilot_Tests": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "d7f3adeb-82f8-4531-93d5-6ebac08f7eae"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Bot Framework URI",
                "type": "string",
                "value": "@{if(equals(outputs('Get_Copilot_Configuration')?['body/cat_regioncode'], 2), 'https://europe.directline.botframework.com',\r\n   if(equals(outputs('Get_Copilot_Configuration')?['body/cat_regioncode'], 3), 'https://india.directline.botframework.com',\r\n      'https://directline.botframework.com'\r\n   )\r\n)}"
              }
            ]
          }
        },
        "Update_Copilot_Test_Run:_Running": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "ffc0b3d5-d551-41ac-b1a5-710107a5eee9"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "UpdateRecord",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "cat_copilottestruns",
              "recordId": "@triggerOutputs()?['body/InputParameters/CopilotTestRunId']",
              "item/cat_runstatuscode": 2
            },
            "authentication": "@parameters('$authentication')"
          },
          "runtimeConfiguration": {
            "secureData": {
              "properties": [
                "inputs",
                "outputs"
              ]
            }
          }
        },
        "Condition:_If_Dataverse_enrichment_is_configured": {
          "actions": {
            "Perform_a_bound_action:_Run_Dataverse_Conversation_Transcripts_Enrichment": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "af5864d2-de47-42db-8156-f875068d4fd9"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "PerformBoundAction",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "cat_copilottestruns",
                  "actionName": "Microsoft.Dynamics.CRM.cat_RunDataverseConversationTranscriptsEnrichment",
                  "recordId": "@triggerOutputs()?['body/InputParameters/CopilotTestRunId']",
                  "item/SkipDelay": false,
                  "item/CopilotConfigurationId": "@triggerOutputs()?['body/InputParameters/CopilotConfigurationId']",
                  "item/CopilotTestRunId": "@triggerOutputs()?['body/InputParameters/CopilotTestRunId']",
                  "item/CopilotTestSetId": "@triggerOutputs()?['body/InputParameters/CopilotTestSetId']"
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {
            "Update_Copilot_Test_Run:_Complete": [
              "Succeeded"
            ]
          },
          "expression": {
            "equals": [
              "@outputs('Get_Copilot_Configuration')?['body/cat_isenrichedwithconversationtranscripts']",
              true
            ]
          },
          "metadata": {
            "operationMetadataId": "f33de582-e2c6-4dc8-85f9-ef842d483978"
          },
          "type": "If"
        },
        "Condition:_If_Azure_App_Insights_enrichment_is_configured": {
          "actions": {
            "Perform_a_bound_action:_Run_Azure_Application_Insights_Enrichment": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "d73f6a88-a6a9-4b4c-9a0b-a730bc7ea127"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "PerformBoundAction",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "cat_copilottestruns",
                  "actionName": "Microsoft.Dynamics.CRM.cat_RunAzureApplicationInsightsEnrichment",
                  "recordId": "@triggerOutputs()?['body/InputParameters/CopilotTestRunId']",
                  "item/SkipDelay": false,
                  "item/CopilotConfigurationId": "@triggerOutputs()?['body/InputParameters/CopilotConfigurationId']",
                  "item/CopilotTestRunId": "@triggerOutputs()?['body/InputParameters/CopilotTestRunId']",
                  "item/CopilotTestSetId": "@triggerOutputs()?['body/InputParameters/CopilotTestSetId']"
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {
            "Update_Copilot_Test_Run:_Complete": [
              "Succeeded"
            ]
          },
          "else": {
            "actions": {
              "Condition:_If_Analyze_Generative_Answers_is_enabled": {
                "actions": {
                  "Perform_a_bound_action:_Run_AI_Builder_Analysis": {
                    "runAfter": {},
                    "metadata": {
                      "operationMetadataId": "cc622639-9ae0-4c18-aa8a-0dfcd7171aff"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                      "host": {
                        "connectionName": "shared_commondataserviceforapps_1",
                        "operationId": "PerformBoundAction",
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                      },
                      "parameters": {
                        "entityName": "cat_copilottestruns",
                        "actionName": "Microsoft.Dynamics.CRM.cat_RunAIBuilderAnalysis",
                        "recordId": "@triggerOutputs()?['body/InputParameters/CopilotTestRunId']",
                        "item/CopilotTestRunId": "@triggerOutputs()?['body/InputParameters/CopilotTestRunId']",
                        "item/CopilotTestSetId": "@triggerOutputs()?['body/InputParameters/CopilotTestSetId']"
                      },
                      "authentication": "@parameters('$authentication')"
                    }
                  }
                },
                "runAfter": {},
                "expression": {
                  "equals": [
                    "@outputs('Get_Copilot_Configuration')?['body/cat_isgeneratedanswersanalysisenabled']",
                    true
                  ]
                },
                "metadata": {
                  "operationMetadataId": "f22b2c02-c748-4811-a288-27eaa317f400"
                },
                "type": "If"
              }
            }
          },
          "expression": {
            "equals": [
              "@outputs('Get_Copilot_Configuration')?['body/cat_isazureapplicationinsightsenabled']",
              true
            ]
          },
          "metadata": {
            "operationMetadataId": "26527b71-5d0b-4793-a187-b240ec4c2487"
          },
          "type": "If"
        },
        "Condition:_If_Direct_Line_Environment_Variable_Secret": {
          "actions": {
            "Get_Direct_Line_Secret": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "d21e8d39-3956-4a27-b023-35072c64d912"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "PerformUnboundAction",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "actionName": "RetrieveEnvironmentVariableSecretValue",
                  "item/EnvironmentVariableName": "@outputs('Get_Copilot_Configuration')?['body/cat_directlinechannelsecurityenvironmentvariable']"
                },
                "authentication": "@parameters('$authentication')"
              },
              "runtimeConfiguration": {
                "secureData": {
                  "properties": [
                    "outputs"
                  ]
                }
              }
            }
          },
          "runAfter": {
            "Calculate_Total_Pages": [
              "Succeeded"
            ]
          },
          "expression": {
            "and": [
              {
                "equals": [
                  "@outputs('Get_Copilot_Configuration')?['body/cat_isdirectlinechannelsecurityenabled']",
                  true
                ]
              },
              {
                "equals": [
                  "@outputs('Get_Copilot_Configuration')?['body/cat_directlinechannelsecretlocationcode']",
                  2
                ]
              }
            ]
          },
          "metadata": {
            "operationMetadataId": "b8fa7220-e752-4f2e-bb11-59f375754a8c"
          },
          "type": "If"
        },
        "Update_Copilot_Test_Run:_Error": {
          "runAfter": {
            "Do_until_Last_Page": [
              "Failed",
              "Skipped",
              "TimedOut"
            ]
          },
          "metadata": {
            "operationMetadataId": "bc00c2ac-f457-48e7-902f-8d36733a2d6d"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "UpdateRecord",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "cat_copilottestruns",
              "recordId": "@triggerOutputs()?['body/InputParameters/CopilotTestRunId']",
              "item/cat_appinsightsenrichmentstatuscode": 4,
              "item/cat_dataverseenrichmentstatuscode": 4,
              "item/cat_errordetails": "Failed <strong>@{workflow()['tags']['flowDisplayName']}</strong> flow run: <a href=\"https://make.powerautomate.com/environments/@{workflow()?['tags']?['environmentName']}/solutions/fd140aaf-4df4-11dd-bd17-0019b9312238/flows/@{workflow()?['name']}/runs/@{workflow()?['run']?['name']}\" target=\"_blank\" rel=\"noopener noreferrer\">Click here to open the flow run</a>",
              "item/cat_generatedanswersanalysiscode": 4,
              "item/cat_runstatuscode": 6
            },
            "authentication": "@parameters('$authentication')"
          },
          "runtimeConfiguration": {
            "secureData": {
              "properties": [
                "inputs",
                "outputs"
              ]
            }
          }
        },
        "Get_Copilot_Configuration": {
          "runAfter": {
            "Update_Copilot_Test_Run:_Running": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "355f2919-7c01-47a8-b3bb-f6635b01f3ec"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "cat_copilotconfigurations",
              "recordId": "@triggerOutputs()?['body/InputParameters/CopilotConfigurationId']",
              "$select": "cat_tokenendpoint, cat_regioncode, cat_isdirectlinechannelsecurityenabled, cat_directlinechannelsecuritysecret, cat_isazureapplicationinsightsenabled, cat_isenrichedwithconversationtranscripts, cat_directlinechannelsecretlocationcode, cat_directlinechannelsecurityenvironmentvariable, cat_isgeneratedanswersanalysisenabled,cat_userauthenticationcode,cat_concurrentthreads,cat_delaybetweenbatches"
            },
            "authentication": "@parameters('$authentication')"
          },
          "runtimeConfiguration": {
            "secureData": {
              "properties": [
                "inputs",
                "outputs"
              ]
            }
          }
        },
        "Perform_a_bound_action:_Update_Rollup_Columns": {
          "runAfter": {
            "Do_until_Last_Page": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "1f8aed5e-d876-4aee-aa8f-48d1fec0a7a0"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "PerformBoundAction",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "cat_copilottestruns",
              "actionName": "Microsoft.Dynamics.CRM.cat_RunRollupColumnsUpdates",
              "recordId": "@triggerOutputs()?['body/InputParameters/CopilotTestRunId']",
              "item/DataverseUriHost": "@uriHost(outputs('Get_Copilot_Configuration')?['body/@odata.id'])",
              "item/CopilotTestRunId": "@triggerOutputs()?['body/InputParameters/CopilotTestRunId']"
            },
            "authentication": "@parameters('$authentication')"
          },
          "runtimeConfiguration": {
            "secureData": {
              "properties": [
                "inputs",
                "outputs"
              ]
            }
          }
        },
        "Initialize_Concurrent_Threads": {
          "runAfter": {
            "Initialize_Bot_Framework_URI": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "35fae642-2151-4e5f-92c6-b17ae2d651c3"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Concurrent Threads",
                "type": "integer",
                "value": "@if(equals(coalesce(outputs('Get_Copilot_Configuration')?['body/cat_concurrentthreads'], 0), 0), 50, outputs('Get_Copilot_Configuration')?['body/cat_concurrentthreads'])"
              }
            ]
          }
        },
        "Initialize_Page_Number": {
          "runAfter": {
            "Initialize_Concurrent_Threads": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "35fae642-2151-4e5f-92c6-b17ae2d651c3"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Page Number",
                "type": "integer",
                "value": 1
              }
            ]
          }
        },
        "Calculate_Total_Pages": {
          "runAfter": {
            "Initialize_Page_Number": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "b1acd80c-7cad-4863-a8e8-da20a66d1d97"
          },
          "type": "Compose",
          "inputs": "@div(add(length(outputs('Get_Copilot_Tests')?['body/value']), sub(variables('Concurrent Threads'), 1)), variables('Concurrent Threads'))"
        },
        "Do_until_Last_Page": {
          "actions": {
            "Get_Agent_Tests": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "bfa5891c-eeb0-45da-a194-ab1c91a4a792"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "ListRecords",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "cat_copilottests",
                  "fetchXml": "<fetch count=\"@{variables('Concurrent Threads')}\" page=\"@{variables('Page Number')}\">\n    <entity name=\"cat_copilottest\">\n        <attribute name=\"cat_name\"/>\n        <attribute name=\"cat_testutterance\"/>\n        <attribute name=\"cat_copilottestid\"/>\n        <attribute name=\"cat_expectedresponse\"/>\n        <attribute name=\"cat_testtypecode\"/>\n        <attribute name=\"cat_generativeansweroutcomecode\"/>\n        <attribute name=\"cat_expectedpositionoftheresponseactivity\"/>\n        <attribute name=\"cat_expectedtopicname\"/>\n        <attribute name=\"cat_isstartconversationeventsent\"/>\n        <attribute name=\"cat_externalvariablesjson\"/>\n        <attribute name=\"cat_expectedattachmentsjson\"/>\n        <filter type=\"and\">\n            <condition attribute=\"cat_copilottestsetid\" operator=\"eq\" value=\"@{triggerOutputs()?['body/InputParameters/CopilotTestSetId']}\" />\n            <condition attribute=\"statecode\" operator=\"eq\" value=\"0\" />\n        </filter>\n    </entity>\n</fetch>\n"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Increment_Page": {
              "runAfter": {
                "Apply_to_each_Copilot_Test": [
                  "Succeeded",
                  "Failed"
                ]
              },
              "metadata": {
                "operationMetadataId": "6a14fb5e-d03e-433f-a67b-2c0a0cb29225"
              },
              "type": "IncrementVariable",
              "inputs": {
                "name": "Page Number",
                "value": 1
              }
            },
            "Apply_to_each_Copilot_Test": {
              "foreach": "@outputs('Get_Agent_Tests')?['body/value']",
              "actions": {
                "Parse_Token_Response": {
                  "runAfter": {
                    "Condition:_If_Direct_Line_Channel_Security_Is_Enabled": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "62eab454-2998-4e1f-8761-f53fec066472"
                  },
                  "type": "ParseJson",
                  "inputs": {
                    "content": "@if(empty(outputs('Generate_Direct_Line_Token_From_Endpoint')?['body/cat_Response']), outputs('Generate_Direct_Line_Token_From_Secret')?['body/cat_Response'], outputs('Generate_Direct_Line_Token_From_Endpoint')?['body/cat_Response'])",
                    "schema": {
                      "type": "object",
                      "properties": {
                        "token": {
                          "type": "string"
                        },
                        "expires_in": {
                          "type": "integer"
                        },
                        "conversationId": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "Create_Copilot_Test_Result": {
                  "runAfter": {
                    "Message_Position": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "0b9c4307-ba2a-4da1-a0db-31ea0b0ca541"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps_1",
                      "operationId": "CreateRecord",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "cat_copilottestresults",
                      "item/cat_CopilotTestId@odata.bind": "cat_copilottests(@{items('Apply_to_each_Copilot_Test')?['cat_copilottestid']})",
                      "item/cat_CopilotTestRunId@odata.bind": "cat_copilottestruns(@{triggerOutputs()?['body/InputParameters/CopilotTestRunId']})",
                      "item/cat_name": "@body('Parse_Token_Response')?['conversationId']",
                      "item/cat_resultcode": "@if(\n    empty(body('Filter_array:_Messages_from_Bot')), \n    4,\n    if(\n        equals(items('Apply_to_each_Copilot_Test')?['cat_testtypecode'], 3),\n        if(\n            equals(\n                json(string(body('Filter_array:_Messages_from_Bot')[outputs('Message_Position')]?['attachments'])),\n                json(string(items('Apply_to_each_Copilot_Test')?['cat_expectedattachmentsjson']))\n            ),\n            1,\n            2\n        ),\n        if(\n            not(empty(body('Filter_array:_Messages_from_Bot')[outputs('Message_Position')]?['text'])),\n            if(\n                or(\n                    contains(body('Filter_array:_Messages_from_Bot')[outputs('Message_Position')]?['text'], 'ContentError'),\n                    contains(body('Filter_array:_Messages_from_Bot')[outputs('Message_Position')]?['text'], 'DataLossPreventionViolation'),\n                    contains(body('Filter_array:_Messages_from_Bot')[outputs('Message_Position')]?['text'], 'FlowActionException'),\n                    contains(body('Filter_array:_Messages_from_Bot')[outputs('Message_Position')]?['text'], 'FlowActionBadRequest'),\n                    contains(body('Filter_array:_Messages_from_Bot')[outputs('Message_Position')]?['text'], 'FlowActionTimedOut'),\n                    contains(body('Filter_array:_Messages_from_Bot')[outputs('Message_Position')]?['text'], 'InvalidContent'),\n                    contains(body('Filter_array:_Messages_from_Bot')[outputs('Message_Position')]?['text'], 'InfiniteLoopInBotContent'),\n                    contains(body('Filter_array:_Messages_from_Bot')[outputs('Message_Position')]?['text'], 'LatestPublishedVersionNotFound'),\n                    contains(body('Filter_array:_Messages_from_Bot')[outputs('Message_Position')]?['text'], 'RedirectToDisabledDialog'),\n                    contains(body('Filter_array:_Messages_from_Bot')[outputs('Message_Position')]?['text'], 'RedirectToNonExistentDialog'),\n                    contains(body('Filter_array:_Messages_from_Bot')[outputs('Message_Position')]?['text'], 'SystemError')\n                ),\n                4,\n                if(\n                    equals(items('Apply_to_each_Copilot_Test')?['cat_testtypecode'], 1),\n                    if(\n                        equals(\n                            items('Apply_to_each_Copilot_Test')?['cat_expectedresponse'],\n                            body('Filter_array:_Messages_from_Bot')[outputs('Message_Position')]?['text']\n                        ),\n                        1,\n                        2\n                    ),\n                    if(\n                        equals(items('Apply_to_each_Copilot_Test')?['cat_testtypecode'], 2),\n                        if(\n                            equals(body('Get_Copilot_Configuration')?['cat_isenrichedwithconversationtranscripts'], true),\n                            5,\n                            3\n                        ),\n                        if(\n                            equals(items('Apply_to_each_Copilot_Test')?['cat_testtypecode'], 4),\n                            if(\n                                or(\n                                    equals(items('Apply_to_each_Copilot_Test')?['cat_generativeansweroutcomecode'], 1),\n                                    equals(items('Apply_to_each_Copilot_Test')?['cat_generativeansweroutcomecode'], 2)\n                                ),\n                                if(\n                                    equals(body('Get_Copilot_Configuration')?['cat_isgeneratedanswersanalysisenabled'], true),\n                                    5,\n                                    3\n                                ),\n                                if(\n                                    or(\n                                        equals(items('Apply_to_each_Copilot_Test')?['cat_generativeansweroutcomecode'], 3),\n                                        equals(items('Apply_to_each_Copilot_Test')?['cat_generativeansweroutcomecode'], 4)\n                                    ),\n                                    if(\n                                        equals(body('Get_Copilot_Configuration')?['cat_isazureapplicationinsightsenabled'], true),\n                                        5,\n                                        3\n                                    ),\n                                    3\n                                )\n                            ),\n                            5\n                        )\n                    )\n                )\n            ),\n            3\n        )\n    )\n)\n",
                      "item/cat_attachmentsjson": "@{if(\r\n    empty(body('Filter_array:_Messages_from_Bot')),\r\n    null,\r\n    if(\r\n        empty(body('Filter_array:_Messages_from_Bot')[outputs('Message_Position')]?['attachments']),\r\n        null,\r\n        string(\r\n            body('Filter_array:_Messages_from_Bot')[outputs('Message_Position')]?['attachments']\r\n        )\r\n    )\r\n)\r\n}",
                      "item/cat_latencyms": "@if(\r\n    or(\r\n        empty(body('Filter_array:_Messages_from_Bot')),\r\n        empty(body('Filter_array:_Messages_from_User'))\r\n    ),\r\n    null,\r\n    div(\r\n        sub(\r\n            ticks(\r\n                body('Filter_array:_Messages_from_Bot')[outputs('Message_Position')]?['timestamp']\r\n            ),\r\n            ticks(\r\n                body('Filter_array:_Messages_from_User')[0]?['timestamp']\r\n            )\r\n        ),\r\n        10000\r\n    )\r\n)",
                      "item/cat_messagesenttimestamp": "@if(\r\n    empty(body('Filter_array:_Messages_from_User')),\r\n    null,\r\n    body('Filter_array:_Messages_from_User')[0]?['timestamp']\r\n)",
                      "item/ownerid@odata.bind": "@{outputs('Update_Copilot_Test_Run:_Running')?['body/_ownerid_value@Microsoft.Dynamics.CRM.lookuplogicalname']}s(@{outputs('Update_Copilot_Test_Run:_Running')?['body/_ownerid_value']})",
                      "item/cat_response": "@if(\r\n    empty(body('Filter_array:_Messages_from_Bot')),\r\n    'No response',\r\n    if(\r\n        empty(body('Filter_array:_Messages_from_Bot')[outputs('Message_Position')]?['text']),\r\n        if(\r\n            not(empty(body('Filter_array:_Messages_from_Bot')[outputs('Message_Position')]?['attachments'])),\r\n            'No response, but attachments (Adaptive Cards, etc.)',\r\n            'No response'\r\n        ),\r\n        body('Filter_array:_Messages_from_Bot')[outputs('Message_Position')]?['text']\r\n    )\r\n)\r\n",
                      "item/cat_responsereceivedtimestamp": "@if(\r\n    empty(body('Filter_array:_Messages_from_Bot')),\r\n    null,\r\n    body('Filter_array:_Messages_from_Bot')[outputs('Message_Position')]?['timestamp']\r\n)\r\n",
                      "item/cat_resultreason": "@if(\n    empty(body('Filter_array:_Messages_from_Bot')),\n    'No response from bot',\n    if(\n        equals(items('Apply_to_each_Copilot_Test')?['cat_testtypecode'], 3),\n        if(\n            equals(\n                json(string(body('Filter_array:_Messages_from_Bot')[outputs('Message_Position')]?['attachments'])),\n                json(string(items('Apply_to_each_Copilot_Test')?['cat_expectedattachmentsjson']))\n            ),\n            'Exact match between the expected attachment(s) JSON and the received attachment(s) JSON',\n            'Not an exact match between the expected attachment(s) JSON and the received attachment(s) JSON'\n         ),\n        if(\n            not(empty(body('Filter_array:_Messages_from_Bot')[outputs('Message_Position')]?['text'])),\n            if(\n                or(\n                    contains(body('Filter_array:_Messages_from_Bot')[outputs('Message_Position')]?['text'], 'ContentError'),\n                    contains(body('Filter_array:_Messages_from_Bot')[outputs('Message_Position')]?['text'], 'DataLossPreventionViolation'),\n                    contains(body('Filter_array:_Messages_from_Bot')[outputs('Message_Position')]?['text'], 'FlowActionException'),\n                    contains(body('Filter_array:_Messages_from_Bot')[outputs('Message_Position')]?['text'], 'FlowActionBadRequest'),\n                    contains(body('Filter_array:_Messages_from_Bot')[outputs('Message_Position')]?['text'], 'FlowActionTimedOut'),\n                    contains(body('Filter_array:_Messages_from_Bot')[outputs('Message_Position')]?['text'], 'InvalidContent'),\n                    contains(body('Filter_array:_Messages_from_Bot')[outputs('Message_Position')]?['text'], 'InfiniteLoopInBotContent'),\n                    contains(body('Filter_array:_Messages_from_Bot')[outputs('Message_Position')]?['text'], 'LatestPublishedVersionNotFound'),\n                    contains(body('Filter_array:_Messages_from_Bot')[outputs('Message_Position')]?['text'], 'RedirectToDisabledDialog'),\n                    contains(body('Filter_array:_Messages_from_Bot')[outputs('Message_Position')]?['text'], 'RedirectToNonExistentDialog'),\n                    contains(body('Filter_array:_Messages_from_Bot')[outputs('Message_Position')]?['text'], 'SystemError')\n                ),\n                'The bot returned an error',\n                if(\n                    equals(items('Apply_to_each_Copilot_Test')?['cat_testtypecode'], 1),\n                    if(\n                        equals(\n                            items('Apply_to_each_Copilot_Test')?['cat_expectedresponse'],\n                            body('Filter_array:_Messages_from_Bot')[outputs('Message_Position')]?['text']\n                        ),\n                        'Exact match between the expected message and the received message',\n                        'Not an exact match between the expected response and received message'\n                     ),\n                    if(\n                        equals(items('Apply_to_each_Copilot_Test')?['cat_testtypecode'], 2),\n                        if(\n                            equals(body('Get_Copilot_Configuration')?['cat_isenrichedwithconversationtranscripts'], true),\n                            'Pending analysis of Conversation Transcripts',\n                            'Cannot be evaluated without Conversation Transcripts enrichment'\n                        ),\n                        if(\n                            equals(items('Apply_to_each_Copilot_Test')?['cat_testtypecode'], 4),\n                            if(\n                                or(\n                                    equals(items('Apply_to_each_Copilot_Test')?['cat_generativeansweroutcomecode'], 1),\n                                    equals(items('Apply_to_each_Copilot_Test')?['cat_generativeansweroutcomecode'], 2)\n                                ),\n                                if(\n                                    equals(body('Get_Copilot_Configuration')?['cat_isgeneratedanswersanalysisenabled'], true),\n                                    'Pending analysis with AI Builder',\n                                    'Cannot be evaluated without AI Builder analysis'\n                                ),\n                                if(\n                                    or(\n                                        equals(items('Apply_to_each_Copilot_Test')?['cat_generativeansweroutcomecode'], 3),\n                                        equals(items('Apply_to_each_Copilot_Test')?['cat_generativeansweroutcomecode'], 4)\n                                    ),\n                                    if(\n                                        equals(body('Get_Copilot_Configuration')?['cat_isazureapplicationinsightsenabled'], true),\n                                        'Pending analysis with Azure Application Insights',\n                                        'Cannot be evaluated without Azure Application Insights enrichment'\n                                    ),\n                                    'Answer could not be evaluated'\n                                )\n                            ),\n                            'Pending analysis'\n                        )\n                    )\n                )\n            ),\n            'Answer could not be evaluated'\n        )\n    )\n)\n",
                      "item/cat_suggestedactionsjson": "@if(\r\n    empty(body('Filter_array:_Messages_from_Bot')),\r\n    null,\r\n    if(\r\n        empty(body('Filter_array:_Messages_from_Bot')[outputs('Message_Position')]?['suggestedActions']),\r\n        null,\r\n        string(\r\n            body('Filter_array:_Messages_from_Bot')[outputs('Message_Position')]?['suggestedActions']\r\n        )\r\n    )\r\n)\r\n"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "Condition:_If_Direct_Line_Channel_Security_Is_Enabled": {
                  "actions": {
                    "Generate_Direct_Line_Token_From_Secret": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "a47056e2-8e8f-4f57-b3e1-a81f702d44ea"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_commondataserviceforapps_1",
                          "operationId": "PerformUnboundAction",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                          "actionName": "cat_GenerateTokenFromSecret",
                          "item/cat_Secret": "@if(equals(outputs('Get_Copilot_Configuration')?['body/cat_directlinechannelsecretlocationcode'], 1),\r\n   outputs('Get_Copilot_Configuration')?['body/cat_directlinechannelsecuritysecret'],\r\n   outputs('Get_Direct_Line_Secret')?['body/EnvironmentVariableSecretValue'])",
                          "item/cat_BotFrameworkUri": "@variables('Bot Framework URI')"
                        },
                        "authentication": "@parameters('$authentication')"
                      },
                      "runtimeConfiguration": {
                        "secureData": {
                          "properties": [
                            "inputs",
                            "outputs"
                          ]
                        }
                      }
                    }
                  },
                  "runAfter": {},
                  "else": {
                    "actions": {
                      "Generate_Direct_Line_Token_From_Endpoint": {
                        "runAfter": {},
                        "metadata": {
                          "operationMetadataId": "5ad52659-aef9-4c1f-809e-3f013784f7a2"
                        },
                        "type": "OpenApiConnection",
                        "inputs": {
                          "host": {
                            "connectionName": "shared_commondataserviceforapps_1",
                            "operationId": "PerformUnboundAction",
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                          },
                          "parameters": {
                            "actionName": "cat_GenerateTokenFromEndpoint",
                            "item/cat_Endpoint": "@outputs('Get_Copilot_Configuration')?['body/cat_tokenendpoint']"
                          },
                          "authentication": "@parameters('$authentication')"
                        }
                      }
                    }
                  },
                  "expression": {
                    "equals": [
                      "@outputs('Get_Copilot_Configuration')?['body/cat_isdirectlinechannelsecurityenabled']",
                      true
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "7bb9bd83-6492-4886-b33a-cf61981f9e52"
                  },
                  "type": "If"
                },
                "Condition:_If_Send_startConversation_Event": {
                  "actions": {
                    "Send_startConversation_Event": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "74f0f5db-0738-4006-a8b7-61d7f1b0562e"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_commondataserviceforapps_1",
                          "operationId": "PerformUnboundAction",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                          "actionName": "cat_SendMessageOrEvent",
                          "item/cat_Token": "@body('Parse_Token_Response')?['token']",
                          "item/cat_ConverationId": "@body('Parse_Token_Response')?['conversationId']",
                          "item/cat_Body": "{\n  \"type\": \"event\",\n  \"from\": {\n    \"id\": \"CopilotStudioKit\"\n  },\n  \"name\": \"startConversation\"\n}",
                          "item/cat_BotFrameworkUri": "@variables('Bot Framework URI')"
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    }
                  },
                  "runAfter": {
                    "Condition:_If_External_Variables": [
                      "Succeeded"
                    ]
                  },
                  "expression": {
                    "equals": [
                      "@items('Apply_to_each_Copilot_Test')?['cat_isstartconversationeventsent']",
                      true
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "550099ac-1e76-48c1-826c-bdfdcd6a2582"
                  },
                  "type": "If"
                },
                "Filter_array:_Messages_from_User": {
                  "runAfter": {
                    "Do_until_bot_responds_or_till_timeout": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "2e772575-37e2-42f7-ba6d-e3e5c92a5136"
                  },
                  "type": "Query",
                  "inputs": {
                    "from": "@body('Filter_array:_Activities_of_type_Message')",
                    "where": "@not(equals(item()?['from']?['role'], 'bot'))"
                  }
                },
                "Message_Position": {
                  "runAfter": {
                    "Filter_array:_Messages_from_User": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "1cb65d3c-ed22-42f2-b6c4-dab6e07bd180"
                  },
                  "type": "Compose",
                  "inputs": "@if(\r\n    not(equals(items('Apply_to_each_Copilot_Test')?['cat_expectedpositionoftheresponseactivity'], null)),\r\n    int(items('Apply_to_each_Copilot_Test')?['cat_expectedpositionoftheresponseactivity']),\r\n    if(\r\n        equals(items('Apply_to_each_Copilot_Test')?['cat_isstartconversationeventsent'], true),\r\n        if(greater(length(body('Filter_array:_Messages_from_Bot')), 1), 1, 0),\r\n        0\r\n    )\r\n)\r\n"
                },
                "Initiate_Conversation": {
                  "runAfter": {
                    "Parse_Token_Response": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "7af2e74d-db42-4a35-940f-24b9d8e80da4"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps_1",
                      "operationId": "PerformUnboundAction",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "actionName": "cat_InitiateConversation",
                      "item/cat_Token": "@body('Parse_Token_Response')?['token']",
                      "item/cat_BotFrameworkUri": "@variables('Bot Framework URI')"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "Send_Test_Utterance": {
                  "runAfter": {
                    "Condition:_If_Send_startConversation_Event": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "db472735-2a7d-4906-921e-227c71ece895"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps_1",
                      "operationId": "PerformUnboundAction",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "actionName": "cat_SendMessageOrEvent",
                      "item/cat_Token": "@body('Parse_Token_Response')?['token']",
                      "item/cat_ConverationId": "@body('Parse_Token_Response')?['conversationId']",
                      "item/cat_Body": "{\n  \"type\": \"message\",\n  \"from\": {\n    \"id\": \"CopilotStudioKit\"\n  },\n  \"text\": \"@{replace(items('Apply_to_each_Copilot_Test')?['cat_testutterance'], '\"', '\\\"')}\"\n}",
                      "item/cat_BotFrameworkUri": "@variables('Bot Framework URI')"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "Condition:_User_Authentication": {
                  "actions": {
                    "Parse_Attachment": {
                      "runAfter": {
                        "Get_Sign_In_Request": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "6b616579-13a7-4f59-a94b-3458537c96fa"
                      },
                      "type": "ParseJson",
                      "inputs": {
                        "content": "@outputs('Get_Sign_In_Request')?['body/cat_Response']",
                        "schema": {
                          "type": "object",
                          "properties": {
                            "activities": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "type": {
                                    "type": "string"
                                  },
                                  "id": {
                                    "type": "string"
                                  },
                                  "timestamp": {
                                    "type": "string"
                                  },
                                  "serviceUrl": {
                                    "type": "string"
                                  },
                                  "channelId": {
                                    "type": "string"
                                  },
                                  "from": {
                                    "type": "object",
                                    "properties": {
                                      "id": {
                                        "type": "string"
                                      }
                                    }
                                  },
                                  "conversation": {
                                    "type": "object",
                                    "properties": {
                                      "id": {
                                        "type": "string"
                                      }
                                    }
                                  },
                                  "text": {
                                    "type": "string"
                                  },
                                  "textFormat": {
                                    "type": "string"
                                  },
                                  "membersAdded": {
                                    "type": "array"
                                  },
                                  "membersRemoved": {
                                    "type": "array"
                                  },
                                  "reactionsAdded": {
                                    "type": "array"
                                  },
                                  "reactionsRemoved": {
                                    "type": "array"
                                  },
                                  "inputHint": {
                                    "type": "string"
                                  },
                                  "attachments": {
                                    "type": "array"
                                  },
                                  "entities": {
                                    "type": "array"
                                  },
                                  "replyToId": {
                                    "type": "string"
                                  },
                                  "listenFor": {
                                    "type": "array"
                                  },
                                  "textHighlights": {
                                    "type": "array"
                                  },
                                  "channelData": {
                                    "type": "object",
                                    "properties": {
                                      "pva:gpt-feedback": {
                                        "type": "object",
                                        "properties": {
                                          "endpoints": {
                                            "type": "array",
                                            "items": {
                                              "type": "string"
                                            }
                                          },
                                          "summarizationOpenAIResponse": {
                                            "type": "object",
                                            "properties": {
                                              "result": {
                                                "type": "object",
                                                "properties": {
                                                  "summary": {
                                                    "type": "string"
                                                  },
                                                  "textSummary": {
                                                    "type": "string"
                                                  },
                                                  "speechSummary": {
                                                    "type": "string"
                                                  },
                                                  "textCitations": {
                                                    "type": "array",
                                                    "items": {
                                                      "type": "object",
                                                      "properties": {
                                                        "id": {
                                                          "type": "string"
                                                        },
                                                        "text": {
                                                          "type": "string"
                                                        },
                                                        "title": {
                                                          "type": "string"
                                                        },
                                                        "type": {
                                                          "type": "string"
                                                        },
                                                        "position": {
                                                          "type": "integer"
                                                        },
                                                        "entityType": {
                                                          "type": "string"
                                                        },
                                                        "entityContext": {
                                                          "type": "string"
                                                        },
                                                        "url": {
                                                          "type": "string"
                                                        }
                                                      }
                                                    }
                                                  },
                                                  "containsConfidentialData": {
                                                    "type": "boolean"
                                                  },
                                                  "messageId": {
                                                    "type": "string"
                                                  }
                                                }
                                              },
                                              "rawSummary": {
                                                "type": "string"
                                              },
                                              "completionTokens": {
                                                "type": "integer"
                                              },
                                              "promptTokens": {
                                                "type": "integer"
                                              },
                                              "prompt": {
                                                "type": "string"
                                              },
                                              "completionResponse": {
                                                "type": "string"
                                              },
                                              "errorCode": {
                                                "type": "string"
                                              }
                                            }
                                          },
                                          "searchResults": {
                                            "type": "array"
                                          },
                                          "verifiedSearchResults": {
                                            "type": "array"
                                          },
                                          "searchErrors": {
                                            "type": "array"
                                          },
                                          "message": {
                                            "type": "string"
                                          },
                                          "activityId": {
                                            "type": "string"
                                          },
                                          "conversationId": {
                                            "type": "string"
                                          },
                                          "performedContentProvenanceCheck": {
                                            "type": "boolean"
                                          },
                                          "performedContentModerationCheck": {
                                            "type": "boolean"
                                          },
                                          "cdsBotId": {
                                            "type": "string"
                                          },
                                          "tenantId": {
                                            "type": "string"
                                          },
                                          "environmentId": {
                                            "type": "string"
                                          },
                                          "gptAnswerState": {
                                            "type": "string"
                                          },
                                          "triggeredGptFallback": {
                                            "type": "boolean"
                                          },
                                          "completionState": {
                                            "type": "string"
                                          }
                                        }
                                      }
                                    }
                                  }
                                }
                              }
                            },
                            "watermark": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    },
                    "Get_Id": {
                      "runAfter": {
                        "Filter_Attachments": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "2b3c068f-a1b2-4807-b1c9-c6a781cad4cd"
                      },
                      "type": "Compose",
                      "inputs": "@if(\r\n    empty(\r\n        first(\r\n            body('Filter_Attachments')\r\n        )?['attachments']?[0]?['content']?['tokenExchangeResource']?['id']\r\n    ),\r\n    'Not Found',\r\n    first(\r\n        body('Filter_Attachments')\r\n    )?['attachments']?[0]?['content']?['tokenExchangeResource']?['id']\r\n)"
                    },
                    "Already_Authenticated": {
                      "actions": {
                        "User_Authentication": {
                          "runAfter": {},
                          "metadata": {
                            "operationMetadataId": "c1bbbdd6-5d2e-45ca-8a7b-1560a7f42870"
                          },
                          "type": "OpenApiConnection",
                          "inputs": {
                            "host": {
                              "connectionName": "shared_commondataserviceforapps_1",
                              "operationId": "PerformUnboundAction",
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                            },
                            "parameters": {
                              "actionName": "cat_SendMessageOrEvent",
                              "item/cat_Token": "@body('Parse_Token_Response')?['token']",
                              "item/cat_ConverationId": "@body('Parse_Token_Response')?['conversationId']",
                              "item/cat_Body": "{\n  \"type\": \"invoke\",\n  \"name\": \"signin/tokenExchange\",\n  \"value\": {\n    \"id\": \"@{outputs('Get_Id')}\",\n    \"connectionName\": \"@{outputs('Get_Connection_Name')}\",\n    \"token\": \"@{triggerOutputs()?['body/InputParameters/AccessToken']}\"\n  },\n  \"from\": {\n    \"id\": \"CopilotStudioAccelerator\",\n    \"role\": \"user\",\n    \"name\": \"CopilotStudioAccelerator\"\n  }\n}",
                              "item/cat_BotFrameworkUri": "@variables('Bot Framework URI')"
                            },
                            "authentication": "@parameters('$authentication')"
                          }
                        }
                      },
                      "runAfter": {
                        "Get_Connection_Name": [
                          "Succeeded"
                        ]
                      },
                      "expression": {
                        "not": {
                          "equals": [
                            "@outputs('Get_Id')",
                            "Not Found"
                          ]
                        }
                      },
                      "metadata": {
                        "operationMetadataId": "cdfc795c-0fef-462d-9115-90e0f7be094f"
                      },
                      "type": "If"
                    },
                    "Delay_before_user_authentication": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "4c00dfa0-1ae9-4896-a472-0546a41ffdc8"
                      },
                      "type": "Wait",
                      "inputs": {
                        "interval": {
                          "count": 10,
                          "unit": "Second"
                        }
                      }
                    },
                    "Get_Sign_In_Request": {
                      "runAfter": {
                        "Delay_before_user_authentication": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "0d6d8b67-8c94-47c9-8b90-712e7160ffdb"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_commondataserviceforapps_1",
                          "operationId": "PerformUnboundAction",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                          "actionName": "cat_GetResponse",
                          "item/cat_Token": "@body('Parse_Token_Response')?['token']",
                          "item/cat_ConverationId": "@body('Parse_Token_Response')?['conversationId']",
                          "item/cat_BotFrameworkUri": "@variables('Bot Framework URI')"
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    },
                    "Filter_Attachments": {
                      "runAfter": {
                        "Parse_Attachment": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "26efd2a7-d772-48b5-acf5-2bdf3e670082"
                      },
                      "type": "Query",
                      "inputs": {
                        "from": "@body('Parse_Attachment')?['activities']",
                        "where": "@and(\n  not(empty(item()?['attachments'])),\n  equals(item()?['attachments']?[0]?['contentType'], 'application/vnd.microsoft.card.oauth')\n)"
                      }
                    },
                    "Get_Connection_Name": {
                      "runAfter": {
                        "Get_Id": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "103afc57-fb8e-47d6-8be1-05f73ffa1442"
                      },
                      "type": "Compose",
                      "inputs": "@first(body('Filter_Attachments'))?['attachments']?[0]?['content']?['connectionName']"
                    }
                  },
                  "runAfter": {
                    "Send_Test_Utterance": [
                      "Succeeded"
                    ]
                  },
                  "expression": {
                    "and": [
                      {
                        "equals": [
                          "@outputs('Get_Copilot_Configuration')?['body/cat_userauthenticationcode']",
                          2
                        ]
                      },
                      {
                        "not": {
                          "equals": [
                            "@triggerOutputs()?['body/InputParameters/AccessToken']",
                            "@null"
                          ]
                        }
                      }
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "4b215626-9e47-4dd3-a540-f7660133a306"
                  },
                  "type": "If"
                },
                "Do_until_bot_responds_or_till_timeout": {
                  "actions": {
                    "Delay_before_fetching_responses": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "4c00dfa0-1ae9-4896-a472-0546a41ffdc8"
                      },
                      "type": "Wait",
                      "inputs": {
                        "interval": {
                          "count": "@if( equals(items('Apply_to_each_Copilot_Test')?['cat_testtypecode'], 4), 10, 5)",
                          "unit": "Second"
                        }
                      }
                    },
                    "Get_Activities": {
                      "runAfter": {
                        "Delay_before_fetching_responses": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "72c0569d-987b-4416-a1da-36ace14c56f5"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_commondataserviceforapps_1",
                          "operationId": "PerformUnboundAction",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                          "actionName": "cat_GetResponse",
                          "item/cat_Token": "@body('Parse_Token_Response')?['token']",
                          "item/cat_ConverationId": "@body('Parse_Token_Response')?['conversationId']",
                          "item/cat_BotFrameworkUri": "@variables('Bot Framework URI')"
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    },
                    "Parse_Activities_Response": {
                      "runAfter": {
                        "Get_Activities": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "488c476d-25f0-40c4-af46-e09b56f26102"
                      },
                      "type": "ParseJson",
                      "inputs": {
                        "content": "@outputs('Get_Activities')?['body/cat_Response']",
                        "schema": {
                          "type": "object",
                          "properties": {
                            "activities": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "type": {
                                    "type": "string"
                                  },
                                  "from": {
                                    "type": "object",
                                    "properties": {
                                      "role": {
                                        "type": "string"
                                      },
                                      "id": {
                                        "type": "string"
                                      }
                                    }
                                  },
                                  "text": {
                                    "type": "string"
                                  },
                                  "timestamp": {
                                    "type": "string"
                                  },
                                  "attachments": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "contentType": {
                                          "type": "string"
                                        },
                                        "content": {
                                          "oneOf": [
                                            {
                                              "type": "object"
                                            },
                                            {
                                              "type": "array",
                                              "items": {
                                                "type": "object",
                                                "properties": {
                                                  "type": {
                                                    "type": "string"
                                                  },
                                                  "id": {
                                                    "type": "string"
                                                  },
                                                  "timestamp": {
                                                    "type": "string"
                                                  },
                                                  "serviceUrl": {
                                                    "type": "string"
                                                  },
                                                  "channelId": {
                                                    "type": "string"
                                                  },
                                                  "from": {
                                                    "type": "object",
                                                    "properties": {
                                                      "id": {
                                                        "type": "string"
                                                      }
                                                    }
                                                  },
                                                  "conversation": {
                                                    "type": "object",
                                                    "properties": {
                                                      "id": {
                                                        "type": "string"
                                                      }
                                                    }
                                                  },
                                                  "recipient": {
                                                    "type": "object",
                                                    "properties": {
                                                      "id": {
                                                        "type": "string"
                                                      },
                                                      "name": {
                                                        "type": "string"
                                                      },
                                                      "role": {
                                                        "type": "string"
                                                      }
                                                    }
                                                  },
                                                  "membersAdded": {
                                                    "type": "array",
                                                    "items": {
                                                      "type": "object"
                                                    }
                                                  },
                                                  "membersRemoved": {
                                                    "type": "array",
                                                    "items": {
                                                      "type": "object"
                                                    }
                                                  },
                                                  "reactionsAdded": {
                                                    "type": "array",
                                                    "items": {
                                                      "type": "object"
                                                    }
                                                  },
                                                  "reactionsRemoved": {
                                                    "type": "array",
                                                    "items": {
                                                      "type": "object"
                                                    }
                                                  },
                                                  "text": {
                                                    "type": "string"
                                                  },
                                                  "attachments": {
                                                    "type": "array",
                                                    "items": {
                                                      "type": "object"
                                                    }
                                                  },
                                                  "entities": {
                                                    "type": "array",
                                                    "items": {
                                                      "type": "object"
                                                    }
                                                  },
                                                  "replyToId": {
                                                    "type": "string"
                                                  },
                                                  "value": {
                                                    "type": "object"
                                                  },
                                                  "name": {
                                                    "type": "string"
                                                  },
                                                  "listenFor": {
                                                    "type": "array",
                                                    "items": {
                                                      "type": "string"
                                                    }
                                                  },
                                                  "textHighlights": {
                                                    "type": "array",
                                                    "items": {
                                                      "type": "object"
                                                    }
                                                  }
                                                }
                                              }
                                            }
                                          ]
                                        }
                                      }
                                    }
                                  },
                                  "suggestedActions": {
                                    "type": "object",
                                    "properties": {
                                      "to": {
                                        "type": "array",
                                        "items": {
                                          "type": "string"
                                        }
                                      },
                                      "actions": {
                                        "type": "array",
                                        "items": {
                                          "type": "object",
                                          "properties": {
                                            "type": {
                                              "type": "string"
                                            },
                                            "title": {
                                              "type": "string"
                                            },
                                            "text": {
                                              "type": "string"
                                            },
                                            "value": {
                                              "type": "string"
                                            }
                                          }
                                        }
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "Filter_array:_Activities_of_type_Message": {
                      "runAfter": {
                        "Parse_Activities_Response": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "83d3803e-42d9-4d1b-8963-78732c59190a"
                      },
                      "type": "Query",
                      "inputs": {
                        "from": "@body('Parse_Activities_Response')?['activities']",
                        "where": "@equals(item()?['type'], 'message')"
                      }
                    },
                    "Filter_array:_Messages_from_Bot": {
                      "runAfter": {
                        "Filter_array:_Activities_of_type_Message": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "2e772575-37e2-42f7-ba6d-e3e5c92a5136"
                      },
                      "type": "Query",
                      "inputs": {
                        "from": "@body('Filter_array:_Activities_of_type_Message')",
                        "where": "@and(\n    equals(item()?['from']?['role'], 'bot'),\n    empty(first(item()?['attachments'])?['content']?['tokenExchangeResource']?['id']),\n    or(\n        equals(first(item()?['attachments'])?['contentType'], 'application/vnd.microsoft.card.adaptive'),\n        and(\n            not(empty(item()?['text'])),\n            not(\n                or(\n                    contains(toLower(item()?['text']), 'need you to sign in'),\n                    contains(toLower(item()?['text']), 'Please sign in'),\n                    contains(toLower(item()?['text']), 'sign in to continue'),\n                    contains(toLower(item()?['text']), 'log in to access'),\n                    contains(toLower(item()?['text']), 'sign-in required'),\n                    contains(toLower(item()?['text']), 'click here to log in')\n                )\n            )\n        )\n    )\n)"
                      }
                    }
                  },
                  "runAfter": {
                    "Condition:_User_Authentication": [
                      "Succeeded"
                    ]
                  },
                  "expression": "@if(equals(items('Apply_to_each_Copilot_Test')?['cat_isstartconversationeventsent'], true), greater(length(body('Filter_array:_Messages_from_Bot')), 1), greater(length(body('Filter_array:_Messages_from_Bot')), 0))",
                  "limit": {
                    "count": 25,
                    "timeout": "PT3M"
                  },
                  "metadata": {
                    "operationMetadataId": "5a6cbf30-8aba-4d78-8839-f23760e40e57"
                  },
                  "type": "Until"
                },
                "Condition:_If_External_Variables": {
                  "actions": {
                    "Send_pvaSetContext_Event": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "74f0f5db-0738-4006-a8b7-61d7f1b0562e"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_commondataserviceforapps_1",
                          "operationId": "PerformUnboundAction",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                          "actionName": "cat_SendMessageOrEvent",
                          "item/cat_Token": "@body('Parse_Token_Response')?['token']",
                          "item/cat_ConverationId": "@body('Parse_Token_Response')?['conversationId']",
                          "item/cat_Body": "{\n  \"type\": \"event\",\n  \"from\": {\n    \"id\": \"CopilotStudioKit\"\n  },\n  \"name\": \"pvaSetContext\",\n  \"value\": @{json(items('Apply_to_each_Copilot_Test')?['cat_externalvariablesjson'])}\n}",
                          "item/cat_BotFrameworkUri": "@variables('Bot Framework URI')"
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    }
                  },
                  "runAfter": {
                    "Initiate_Conversation": [
                      "Succeeded"
                    ]
                  },
                  "expression": {
                    "not": {
                      "equals": [
                        "@items('Apply_to_each_Copilot_Test')?['cat_externalvariablesjson']",
                        "@null"
                      ]
                    }
                  },
                  "metadata": {
                    "operationMetadataId": "550099ac-1e76-48c1-826c-bdfdcd6a2582"
                  },
                  "type": "If"
                }
              },
              "runAfter": {
                "Get_Agent_Tests": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "dc0383b1-4bed-4bc5-bed6-6910c9be8942"
              },
              "type": "Foreach",
              "runtimeConfiguration": {
                "concurrency": {
                  "repetitions": 50
                }
              }
            },
            "Delay": {
              "runAfter": {
                "Increment_Page": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "1f816cf2-278b-46f5-895c-d9070ec558bf"
              },
              "type": "Wait",
              "inputs": {
                "interval": {
                  "count": "@if(equals(coalesce(outputs('Get_Copilot_Configuration')?['body/cat_delaybetweenbatches'], 0), 0), 1, outputs('Get_Copilot_Configuration')?['body/cat_delaybetweenbatches'])",
                  "unit": "Second"
                }
              }
            }
          },
          "runAfter": {
            "Condition:_If_Direct_Line_Environment_Variable_Secret": [
              "Succeeded"
            ]
          },
          "expression": "@greater(variables('Page Number'), outputs('Calculate_Total_Pages'))",
          "limit": {
            "count": 60,
            "timeout": "PT1H"
          },
          "metadata": {
            "operationMetadataId": "f5cd5149-75f9-474c-b13c-bc4a48e7ee02"
          },
          "type": "Until"
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}