CopilotStudioAccelerator/SolutionPackage/src/Workflows/SetupWizardGetSolutionFlowsDetails-9E65CE8D-8F25-F011-8C4E-00224808DBF5.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "cat_CopilotStudioAcceleratorDataverse"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "7e5b408e-12e2-4348-a265-d6617bd2b46c"
          },
          "type": "Request",
          "kind": "PowerAppV2",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "text": {
                  "title": "Solution ID",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "ID of the Solution",
                  "x-ms-content-hint": "TEXT"
                }
              },
              "required": [
                "text"
              ]
            }
          }
        }
      },
      "actions": {
        "Check_if_there_are_any_components_returned": {
          "actions": {
            "No_Solution_Components_Found_Return_Empty_Array": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "9f183e87-291e-40d6-9c13-365120c9ba8d"
              },
              "type": "Response",
              "kind": "PowerApp",
              "inputs": {
                "statusCode": 200,
                "body": {
                  "workflowrecords": "[]"
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "workflowrecords": {
                      "title": "WorkflowRecords",
                      "x-ms-dynamically-added": true,
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "runAfter": {
            "Get_Solution_Components": [
              "Succeeded"
            ]
          },
          "else": {
            "actions": {
              "Retrieve_Workflow_Records": {
                "runAfter": {
                  "Compose_Expression": [
                    "Succeeded"
                  ]
                },
                "metadata": {
                  "operationMetadataId": "6d81c200-06cb-4dac-b1fd-7dc43f5c577e"
                },
                "type": "OpenApiConnection",
                "inputs": {
                  "host": {
                    "connectionName": "shared_commondataserviceforapps",
                    "operationId": "ListRecords",
                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                  },
                  "parameters": {
                    "entityName": "workflows",
                    "$filter": "@outputs('Compose_Expression')",
                    "$orderby": "name asc"
                  },
                  "authentication": "@parameters('$authentication')"
                }
              },
              "Select_Ids": {
                "runAfter": {},
                "metadata": {
                  "operationMetadataId": "f0d7e37a-fd8e-46e1-b3dd-c551c6894c99"
                },
                "type": "Select",
                "inputs": {
                  "from": "@outputs('Get_Solution_Components')?['body/value']",
                  "select": "@concat('workflowid eq ''', item()?['objectid'], '''')"
                }
              },
              "Compose_Expression": {
                "runAfter": {
                  "Select_Ids": [
                    "Succeeded"
                  ]
                },
                "metadata": {
                  "operationMetadataId": "793f688a-66f3-4894-b1c0-aaa49f49e55e"
                },
                "type": "Compose",
                "inputs": "@concat('(', join(body('Select_Ids'), ' or '), ')')\r\n"
              },
              "Respond_to_a_Power_App": {
                "runAfter": {
                  "Retrieve_Workflow_Records": [
                    "Succeeded"
                  ]
                },
                "metadata": {
                  "operationMetadataId": "6bfc4f8c-f84e-4286-bfb3-9225e458b285"
                },
                "type": "Response",
                "kind": "PowerApp",
                "inputs": {
                  "statusCode": 200,
                  "body": {
                    "workflowrecords": "@{outputs('Retrieve_Workflow_Records')?['body/value']}"
                  },
                  "schema": {
                    "type": "object",
                    "properties": {
                      "workflowrecords": {
                        "title": "WorkflowRecords",
                        "x-ms-dynamically-added": true,
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "expression": {
            "equals": [
              "@length(body('Get_Solution_Components')?['value'])",
              0
            ]
          },
          "metadata": {
            "operationMetadataId": "94a0421c-2712-4cb2-b420-97d809891f88"
          },
          "type": "If"
        },
        "Get_Solution_Components": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "5ba1fc35-995a-46ac-bfd9-2ed498876d73"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "solutioncomponents",
              "$filter": "_solutionid_value eq '@{triggerBody()['text']}' and componenttype eq 29"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "outputs": {}
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}