CopilotStudioAccelerator/SolutionPackage/src/Workflows/SetupWizardGetSolutionEnvironmentVariableDefinitio-D8A8C388-8A25-F011-8C4E-00224808DBF5.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "cat_CopilotStudioAcceleratorDataverse"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "b683e0c5-91d7-4720-b6ba-823e5fae683e"
          },
          "type": "Request",
          "kind": "PowerAppV2",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "text_2": {
                  "description": "ID of the Solution",
                  "title": "Solution ID",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                }
              },
              "required": [
                "text_2"
              ]
            }
          }
        }
      },
      "actions": {
        "Check_if_there_are_any_components_returned": {
          "actions": {
            "No_Solution_Components_Found_Return_Empty_Array": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "5c8ed4ae-eaa7-4bf6-bc2c-a3bb27a13309"
              },
              "type": "Response",
              "kind": "PowerApp",
              "inputs": {
                "statusCode": 200,
                "body": {
                  "envdefn": "[]"
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "envdefn": {
                      "title": "EnvDefn",
                      "x-ms-dynamically-added": true,
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "runAfter": {
            "Get_Solution_Components": [
              "Succeeded"
            ]
          },
          "else": {
            "actions": {
              "Retrieve_Environment_Variable_Definition_Records": {
                "runAfter": {
                  "Compose_Expressions": [
                    "Succeeded"
                  ]
                },
                "metadata": {
                  "operationMetadataId": "32b46659-e550-45e0-89f0-8a47a8de448e"
                },
                "type": "OpenApiConnection",
                "inputs": {
                  "host": {
                    "connectionName": "shared_commondataserviceforapps",
                    "operationId": "ListRecords",
                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                  },
                  "parameters": {
                    "entityName": "environmentvariabledefinitions",
                    "$filter": "@outputs('Compose_Expressions')",
                    "$orderby": "type asc, createdon asc"
                  },
                  "authentication": "@parameters('$authentication')"
                }
              },
              "Select_Ids": {
                "runAfter": {},
                "metadata": {
                  "operationMetadataId": "e1b09a85-1c44-4d92-94b8-59e18cecb129"
                },
                "type": "Select",
                "inputs": {
                  "from": "@outputs('Get_Solution_Components')?['body/value']",
                  "select": "@concat('environmentvariabledefinitionid eq ''', item()?['objectid'], '''')"
                }
              },
              "Compose_Expressions": {
                "runAfter": {
                  "Select_Ids": [
                    "Succeeded"
                  ]
                },
                "metadata": {
                  "operationMetadataId": "75ce9468-d6df-45e2-b0bd-d867a922e136"
                },
                "type": "Compose",
                "inputs": "@concat('(', join(body('Select_Ids'), ' or '), ')')\r\n"
              },
              "Respond_to_a_Power_App_or_flow": {
                "runAfter": {
                  "Retrieve_Environment_Variable_Definition_Records": [
                    "Succeeded"
                  ]
                },
                "metadata": {
                  "operationMetadataId": "ceb68a87-e39a-4014-85d4-cb8a92cfc656"
                },
                "type": "Response",
                "kind": "PowerApp",
                "inputs": {
                  "statusCode": 200,
                  "body": {
                    "envdefn": "@{outputs('Retrieve_Environment_Variable_Definition_Records')?['body/value']}"
                  },
                  "schema": {
                    "type": "object",
                    "properties": {
                      "envdefn": {
                        "title": "EnvDefn",
                        "x-ms-dynamically-added": true,
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "expression": {
            "equals": [
              "@length(body('Get_Solution_Components')?['value'])",
              0
            ]
          },
          "metadata": {
            "operationMetadataId": "a776a8f5-4b24-49b3-b2c9-8ecbd3c46dff"
          },
          "type": "If"
        },
        "Get_Solution_Components": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "1d885171-f991-4a20-a400-a8afa49206c7"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "solutioncomponents",
              "$filter": "_solutionid_value eq '@{triggerBody()['text_2']}' and componenttype eq 380"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "outputs": {}
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}