CopilotStudioAccelerator/SolutionPackage/src/Workflows/SetupWizardGetSolutionConnectionReferencesDetails-98466431-8D25-F011-8C4E-00224808DBF5.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "cat_CopilotStudioAcceleratorDataverse"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "ca1f09f8-3d44-4e8a-8d5a-5dd47189ef7f"
          },
          "type": "Request",
          "kind": "PowerAppV2",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "text_2": {
                  "description": "ID of the Solution",
                  "title": "Solution IDs",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                }
              },
              "required": [
                "text_2"
              ]
            }
          }
        }
      },
      "actions": {
        "Parse_JSON:_SolutionId_Array": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "7214ac9f-6808-47f3-a3ae-d6ab9e46de90"
          },
          "type": "ParseJson",
          "inputs": {
            "content": "@triggerBody()['text_2']",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "Id": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "Initialize_variable:_ConnectionRefrences": {
          "runAfter": {
            "Parse_JSON:_SolutionId_Array": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "2d2c9d08-5b75-4bbc-b176-e1d384df5c0b"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "ConnectionRefrences",
                "type": "array"
              }
            ]
          }
        },
        "Apply_to_each:_Solutions": {
          "foreach": "@body('Parse_JSON:_SolutionId_Array')",
          "actions": {
            "Retrieve_Solution_Components_That_Could_Be_Connection_References": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "f8ed7354-1a60-4aad-b87c-13446353a2d3"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "ListRecords",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "solutioncomponents",
                  "$filter": "_solutionid_value eq '@{items('Apply_to_each:_Solutions')?['Id']}' and componenttype gt 10000"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Check_if_any_results_came_back_in_Solution_Components": {
              "actions": {},
              "runAfter": {
                "Retrieve_Solution_Components_That_Could_Be_Connection_References": [
                  "Succeeded"
                ]
              },
              "else": {
                "actions": {
                  "Retrieve_the_Solution_Connection_References": {
                    "runAfter": {
                      "Compose_Expression": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "f94a35aa-acf9-4d3e-8441-63f01afd5c52"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                      "host": {
                        "connectionName": "shared_commondataserviceforapps",
                        "operationId": "ListRecords",
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                      },
                      "parameters": {
                        "entityName": "connectionreferences",
                        "$filter": "@outputs('Compose_Expression')",
                        "$orderby": "connectionreferencedisplayname asc",
                        "$expand": "CustomConnectorId($select=name)"
                      },
                      "authentication": "@parameters('$authentication')"
                    }
                  },
                  "Select_Ids": {
                    "runAfter": {},
                    "metadata": {
                      "operationMetadataId": "d3616519-1db7-4b71-9bac-cdfbb65d4e4d"
                    },
                    "type": "Select",
                    "inputs": {
                      "from": "@outputs('Retrieve_Solution_Components_That_Could_Be_Connection_References')?['body/value']",
                      "select": "@concat('connectionreferenceid eq ''', item()?['objectid'], '''')"
                    }
                  },
                  "Compose_Expression": {
                    "runAfter": {
                      "Select_Ids": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "c692eee4-62db-484a-bcfe-b1fbf2e966de"
                    },
                    "type": "Compose",
                    "inputs": "@concat('(', join(body('Select_Ids'), ' or '), ')')\n"
                  },
                  "Check_if_any_results_came_back_in_Connection_References": {
                    "actions": {},
                    "runAfter": {
                      "Retrieve_the_Solution_Connection_References": [
                        "Succeeded"
                      ]
                    },
                    "else": {
                      "actions": {
                        "Apply_to_each:_Connections": {
                          "foreach": "@outputs('Retrieve_the_Solution_Connection_References')?['body/value']",
                          "actions": {
                            "Append_to_array_variable": {
                              "runAfter": {},
                              "metadata": {
                                "operationMetadataId": "bd51f3df-b74e-4ccc-b016-3e20ff925810"
                              },
                              "type": "AppendToArrayVariable",
                              "inputs": {
                                "name": "ConnectionRefrences",
                                "value": "@items('Apply_to_each:_Connections')"
                              }
                            }
                          },
                          "runAfter": {},
                          "metadata": {
                            "operationMetadataId": "8fcce5c0-9c85-434d-bb5a-655d0950f045"
                          },
                          "type": "Foreach"
                        }
                      }
                    },
                    "expression": {
                      "equals": [
                        "@length(body('Retrieve_the_Solution_Connection_References')?['value'])",
                        0
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "c6ecdcfa-44b5-4056-bea6-ff8b76078106"
                    },
                    "type": "If"
                  }
                }
              },
              "expression": {
                "equals": [
                  "@length(body('Retrieve_Solution_Components_That_Could_Be_Connection_References')?['value'])",
                  0
                ]
              },
              "metadata": {
                "operationMetadataId": "790a9d70-b0aa-47a8-ae8e-180314e43da5"
              },
              "type": "If"
            }
          },
          "runAfter": {
            "Initialize_variable:_ConnectionRefrences": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "3b095ad9-ce48-44f4-a6b3-a6e5827939cc"
          },
          "type": "Foreach"
        },
        "Respond_with_Connection_References": {
          "runAfter": {
            "Apply_to_each:_Solutions": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "06ec0513-b2a2-47cf-87cc-6e0008c11a82"
          },
          "type": "Response",
          "kind": "PowerApp",
          "inputs": {
            "statusCode": 200,
            "body": {
              "connrecords": "@{if(not(empty(variables('ConnectionRefrences'))),variables('ConnectionRefrences'),'[]')}"
            },
            "schema": {
              "type": "object",
              "properties": {
                "connrecords": {
                  "title": "ConnRecords",
                  "x-ms-dynamically-added": true,
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "outputs": {}
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}