CopilotStudioAccelerator/SolutionPackage/src/Workflows/SharepointSynchronizationSynchronizefilestoAgentCh-E3742CA3-E086-EF11-AC21-7C1E520158F7.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps_1": {
        "api": {
          "name": "shared_commondataserviceforapps"
        },
        "connection": {
          "connectionReferenceLogicalName": "cat_CopilotStudioAcceleratorDataverse"
        },
        "runtimeSource": "embedded"
      },
      "shared_sharepointonline-1": {
        "api": {
          "name": "shared_sharepointonline"
        },
        "connection": {
          "connectionReferenceLogicalName": "cat_sharedsharepointonline_b4a35"
        },
        "runtimeSource": "invoker"
      },
      "shared_sharepointonline-2": {
        "api": {
          "name": "shared_sharepointonline"
        },
        "connection": {
          "connectionReferenceLogicalName": "cat_sharedsharepointonline_09d22"
        },
        "runtimeSource": "invoker"
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "Power Automate Region (cat_PowerAutomateEndpoint)": {
          "defaultValue": "Commercial",
          "type": "String",
          "metadata": {
            "schemaName": "cat_PowerAutomateEndpoint",
            "description": "Specify your Power Automate environment region/cloud: Commercial, GCC, GCC High, or DoD."
          }
        }
      },
      "triggers": {
        "manual": {
          "type": "Request",
          "kind": "Button",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "text": {
                  "description": "Please enter your input",
                  "title": "Source",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                },
                "text_1": {
                  "description": "Please enter your input",
                  "title": "CopilotConfigurationId",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                }
              },
              "required": []
            }
          },
          "metadata": {
            "operationMetadataId": "10faa580-8374-46cf-8d88-0f13a757b7bf"
          }
        }
      },
      "actions": {
        "Initialize_Library_Name": {
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "LibraryName",
                "type": "string"
              }
            ]
          },
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "98031167-47a0-4953-ade9-cb0f18143b1e"
          }
        },
        "Initialize_Run_Date_Time": {
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "RunDateTime",
                "type": "string",
                "value": "@utcNow()"
              }
            ]
          },
          "runAfter": {
            "Initialize_Library_Name": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "82d20fb4-452e-4551-aac4-651b6cbd607d"
          }
        },
        "Initialize_Error_Variable": {
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varErrors",
                "type": "boolean"
              }
            ]
          },
          "runAfter": {
            "Initialize_Run_Date_Time": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "3563a35a-6cd9-4cce-b9c3-cbe838421a86"
          }
        },
        "Try": {
          "type": "Scope",
          "actions": {
            "Apply_to_each_File_Indexer_Configurations": {
              "type": "Foreach",
              "foreach": "@outputs('Get_File_Indexer_Configurations')?['body/value']",
              "actions": {
                "Get_Agent": {
                  "type": "OpenApiConnection",
                  "inputs": {
                    "parameters": {
                      "organization": "@items('Apply_to_each_File_Indexer_Configurations')?['parent.cat_dataverseurl']",
                      "entityName": "bots",
                      "recordId": "@items('Apply_to_each_File_Indexer_Configurations')?['parent.cat_copilotid']",
                      "$select": "schemaname"
                    },
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                      "operationId": "GetItemWithOrganization",
                      "connectionName": "shared_commondataserviceforapps_1"
                    }
                  },
                  "runAfter": {
                    "Get_SharePoint_files": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "14019bda-6e6c-49ec-9356-c140270dd79c"
                  }
                },
                "Get_SharePoint_files": {
                  "type": "Scope",
                  "actions": {
                    "Get_all_lists_and_libraries": {
                      "type": "OpenApiConnection",
                      "inputs": {
                        "parameters": {
                          "dataset": "@items('Apply_to_each_File_Indexer_Configurations')?['cat_siteaddress']"
                        },
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                          "operationId": "GetAllTables",
                          "connectionName": "shared_sharepointonline-1"
                        }
                      },
                      "metadata": {
                        "operationMetadataId": "3cf3a7f1-f8f2-4dbb-b9f6-3cbcbde4e787"
                      }
                    },
                    "Apply_to_each_library": {
                      "type": "Foreach",
                      "foreach": "@outputs('Get_all_lists_and_libraries')?['body/value']",
                      "actions": {
                        "Condition": {
                          "type": "If",
                          "expression": {
                            "and": [
                              {
                                "equals": [
                                  "@items('Apply_to_each_library')?['DisplayName']",
                                  "@items('Apply_to_each_File_Indexer_Configurations')?['cat_libraryname']"
                                ]
                              }
                            ]
                          },
                          "actions": {
                            "Set_variable_Library_Name": {
                              "type": "SetVariable",
                              "inputs": {
                                "name": "LibraryName",
                                "value": "@items('Apply_to_each_library')?['Name']"
                              },
                              "metadata": {
                                "operationMetadataId": "7ab1968a-512a-4c5d-82a5-279ff85b365a"
                              }
                            }
                          },
                          "else": {
                            "actions": {}
                          },
                          "metadata": {
                            "operationMetadataId": "77d49ae1-805a-4f4a-8e89-d1dfb2e536ba"
                          }
                        }
                      },
                      "runAfter": {
                        "Get_all_lists_and_libraries": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "fa539efa-e97c-4cda-bda4-8500a990381d"
                      }
                    },
                    "Get_files": {
                      "type": "OpenApiConnection",
                      "inputs": {
                        "parameters": {
                          "dataset": "@items('Apply_to_each_File_Indexer_Configurations')?['cat_siteaddress']",
                          "table": "@variables('LibraryName')",
                          "$filter": "FSObjType eq 0 and (File_x0020_Type eq 'doc' or File_x0020_Type eq 'docx' or File_x0020_Type eq 'xls' or File_x0020_Type eq 'xlsx' or File_x0020_Type eq 'ppt' or File_x0020_Type eq 'pptx' or File_x0020_Type eq 'pdf' or File_x0020_Type eq 'txt' or File_x0020_Type eq 'md' or File_x0020_Type eq 'log' or File_x0020_Type eq 'html' or File_x0020_Type eq 'htm' or File_x0020_Type eq 'csv' or File_x0020_Type eq 'xml' or File_x0020_Type eq 'odt' or File_x0020_Type eq 'ods' or File_x0020_Type eq 'odp' or File_x0020_Type eq 'epub' or File_x0020_Type eq 'rtf' or File_x0020_Type eq 'pages' or File_x0020_Type eq 'key' or File_x0020_Type eq 'numbers' or File_x0020_Type eq 'json' or File_x0020_Type eq 'yml' or File_x0020_Type eq 'yaml' or File_x0020_Type eq 'tex' or File_x0020_Type eq 'dot' or File_x0020_Type eq 'text' or File_x0020_Type eq 'shtml' or File_x0020_Type eq 'ehtml' or File_x0020_Type eq 'shtm' or File_x0020_Type eq 'xslt' or File_x0020_Type eq 'xbl' or File_x0020_Type eq 'xsl' or File_x0020_Type eq 'latex')@{if(empty(items('Apply_to_each_File_Indexer_Configurations')?['cat_sharepointfilesfilterquery']), '', concat(' and ', items('Apply_to_each_File_Indexer_Configurations')?['cat_sharepointfilesfilterquery']))}\n",
                          "folderPath": "@items('Apply_to_each_File_Indexer_Configurations')?['cat_limitentriestofolder']",
                          "viewScopeOption": "@if(equals(items('Apply_to_each_File_Indexer_Configurations')?['cat_arenesteditemsincluded'], true), 'RecursiveAll', 'Default')"
                        },
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                          "operationId": "GetFileItems",
                          "connectionName": "shared_sharepointonline-1"
                        },
                        "retryPolicy": {
                          "type": "none"
                        }
                      },
                      "runAfter": {
                        "Apply_to_each_library": [
                          "Succeeded"
                        ]
                      },
                      "runtimeConfiguration": {
                        "paginationPolicy": {
                          "minimumItemCount": 750
                        }
                      },
                      "metadata": {
                        "operationMetadataId": "17453ca1-34a0-4f52-adac-2725aae910f2"
                      }
                    },
                    "Synchronize_Pages": {
                      "type": "If",
                      "expression": {
                        "and": [
                          {
                            "equals": [
                              "@items('Apply_to_each_File_Indexer_Configurations')?['cat_includesharepointpages']",
                              "@true"
                            ]
                          }
                        ]
                      },
                      "actions": {
                        "Get_pages": {
                          "type": "OpenApiConnection",
                          "inputs": {
                            "parameters": {
                              "dataset": "@items('Apply_to_each_File_Indexer_Configurations')?['cat_siteaddress']",
                              "parameters/method": "GET",
                              "parameters/uri": "_api/web/lists/getbytitle('Site Pages')/items?$select=Title,CanvasContent1,FileLeafRef&$filter=Title ne null and FileLeafRef ne null@{if(empty(items('Apply_to_each_File_Indexer_Configurations')?['cat_sharepointpagesfilterquery']), '', concat(' and ', items('Apply_to_each_File_Indexer_Configurations')?['cat_sharepointpagesfilterquery']))}"
                            },
                            "host": {
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                              "operationId": "HttpRequest",
                              "connectionName": "shared_sharepointonline-1"
                            }
                          },
                          "metadata": {
                            "operationMetadataId": "4051de34-a512-4538-b0d2-5ef9c48a4daa"
                          }
                        },
                        "Parse_JSON": {
                          "type": "ParseJson",
                          "inputs": {
                            "content": "@body('Get_pages')",
                            "schema": {
                              "type": "object",
                              "properties": {
                                "d": {
                                  "type": "object",
                                  "properties": {
                                    "results": {
                                      "type": "array",
                                      "items": {
                                        "type": "object",
                                        "properties": {
                                          "__metadata": {
                                            "type": "object",
                                            "properties": {
                                              "id": {
                                                "type": "string"
                                              },
                                              "uri": {
                                                "type": "string"
                                              },
                                              "etag": {
                                                "type": "string"
                                              },
                                              "type": {
                                                "type": "string"
                                              }
                                            }
                                          },
                                          "FileLeafRef": {
                                            "type": "string"
                                          },
                                          "Title": {
                                            "type": "string"
                                          },
                                          "CanvasContent1": {
                                            "type": [
                                              "string",
                                              "null"
                                            ]
                                          }
                                        }
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          },
                          "runAfter": {
                            "Get_pages": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "3b193801-e617-47a8-9bf8-417e18a17cf0"
                          }
                        }
                      },
                      "else": {
                        "actions": {}
                      },
                      "runAfter": {
                        "Get_files": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "c9eaca82-8907-4de5-b722-f6db0bdf720a"
                      }
                    }
                  },
                  "metadata": {
                    "operationMetadataId": "603f8a66-c78b-4e28-be43-59436e7a4ae3"
                  }
                },
                "Upload_files_to_Copilot_Studio": {
                  "type": "Scope",
                  "actions": {
                    "Apply_to_each_file": {
                      "type": "Foreach",
                      "foreach": "@outputs('Get_files')?['body/value']",
                      "actions": {
                        "Get_file_content": {
                          "type": "OpenApiConnection",
                          "inputs": {
                            "parameters": {
                              "dataset": "@items('Apply_to_each_File_Indexer_Configurations')?['cat_siteaddress']",
                              "id": "@items('Apply_to_each_file')?['{Identifier}']",
                              "inferContentType": true
                            },
                            "host": {
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                              "operationId": "GetFileContent",
                              "connectionName": "shared_sharepointonline-2"
                            },
                            "retryPolicy": {
                              "type": "none"
                            }
                          },
                          "metadata": {
                            "operationMetadataId": "86c4c193-6df1-45f5-aafd-7a1695202d67"
                          }
                        },
                        "Create_File_Copilot_Component": {
                          "type": "OpenApiConnection",
                          "inputs": {
                            "parameters": {
                              "organization": "@items('Apply_to_each_File_Indexer_Configurations')?['parent.cat_dataverseurl']",
                              "entityName": "botcomponents",
                              "item": {
                                "componenttype": 14,
                                "schemaname": "@{body('Get_Agent')?['schemaname']}.component.dvindexer_@{replace(guid(), '-', '')}",
                                "description": "This knowledge source searches information contained in @{items('Apply_to_each_file')?['{FilenameWithExtension}']}",
                                "name": "@{items('Apply_to_each_file')?['{FilenameWithExtension}']}",
                                "parentbotid@odata.bind": "bots(@{outputs('Get_Agent')?['body/botid']})"
                              }
                            },
                            "host": {
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                              "operationId": "CreateRecordWithOrganization",
                              "connectionName": "shared_commondataserviceforapps_1"
                            }
                          },
                          "runAfter": {
                            "Get_file_content": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "bdcdaf05-3202-482b-86f5-03fff616b1fe"
                          }
                        },
                        "Upload_a_file": {
                          "type": "OpenApiConnection",
                          "inputs": {
                            "parameters": {
                              "organization": "@items('Apply_to_each_File_Indexer_Configurations')?['parent.cat_dataverseurl']",
                              "x-ms-file-name": "@items('Apply_to_each_file')?['{Link}']",
                              "entityName": "botcomponents",
                              "recordId": "@outputs('Create_File_Copilot_Component')?['body/botcomponentid']",
                              "fileImageFieldName": "filedata",
                              "item": "@body('Get_file_content')"
                            },
                            "host": {
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                              "operationId": "UpdateEntityFileImageFieldContentWithOrganization",
                              "connectionName": "shared_commondataserviceforapps_1"
                            }
                          },
                          "runAfter": {
                            "Create_File_Copilot_Component": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "5d0db686-d878-41ad-a606-90dbd19ad229"
                          }
                        }
                      },
                      "metadata": {
                        "operationMetadataId": "2d116fa1-b1b0-404e-8c2d-9ba36f1eb311"
                      }
                    },
                    "Update_pages_as_files": {
                      "type": "If",
                      "expression": {
                        "and": [
                          {
                            "equals": [
                              "@items('Apply_to_each_File_Indexer_Configurations')?['cat_includesharepointpages']",
                              "@true"
                            ]
                          }
                        ]
                      },
                      "actions": {
                        "Apply_to_each_page": {
                          "type": "Foreach",
                          "foreach": "@body('Parse_JSON')?['d']?['results']",
                          "actions": {
                            "Create_Page_File_Copilot_Component": {
                              "type": "OpenApiConnection",
                              "inputs": {
                                "parameters": {
                                  "organization": "@items('Apply_to_each_File_Indexer_Configurations')?['parent.cat_dataverseurl']",
                                  "entityName": "botcomponents",
                                  "item": {
                                    "componenttype": 14,
                                    "schemaname": "@{body('Get_Agent')?['schemaname']}.component.dvindexer_@{replace(guid(), '-', '')}",
                                    "description": "This knowledge source searches information contained in @{items('Apply_to_each_page')?['Title']}",
                                    "name": "@{items('Apply_to_each_page')?['FileLeafRef']}",
                                    "parentbotid@odata.bind": "bots(@{outputs('Get_Agent')?['body/botid']})"
                                  }
                                },
                                "host": {
                                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                                  "operationId": "CreateRecordWithOrganization",
                                  "connectionName": "shared_commondataserviceforapps_1"
                                }
                              },
                              "metadata": {
                                "operationMetadataId": "bdcdaf05-3202-482b-86f5-03fff616b1fe"
                              }
                            },
                            "Upload_page_as_file": {
                              "type": "OpenApiConnection",
                              "inputs": {
                                "parameters": {
                                  "organization": "@items('Apply_to_each_File_Indexer_Configurations')?['parent.cat_dataverseurl']",
                                  "x-ms-file-name": "@{items('Apply_to_each_File_Indexer_Configurations')?['cat_siteaddress']}/SitePages/@{items('Apply_to_each_page')?['FileLeafRef']}",
                                  "entityName": "botcomponents",
                                  "recordId": "@outputs('Create_Page_File_Copilot_Component')?['body/botcomponentid']",
                                  "fileImageFieldName": "filedata",
                                  "item": "@item()?['CanvasContent1']"
                                },
                                "host": {
                                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                                  "operationId": "UpdateEntityFileImageFieldContentWithOrganization",
                                  "connectionName": "shared_commondataserviceforapps_1"
                                }
                              },
                              "runAfter": {
                                "Create_Page_File_Copilot_Component": [
                                  "Succeeded"
                                ]
                              },
                              "metadata": {
                                "operationMetadataId": "5d0db686-d878-41ad-a606-90dbd19ad229"
                              }
                            }
                          },
                          "metadata": {
                            "operationMetadataId": "2d116fa1-b1b0-404e-8c2d-9ba36f1eb311"
                          }
                        }
                      },
                      "else": {
                        "actions": {}
                      },
                      "runAfter": {
                        "Apply_to_each_file": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "f66cb2c2-eca7-4416-a9cb-d728481c47fb"
                      }
                    }
                  },
                  "runAfter": {
                    "Get_Agent": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "0be54869-3892-45ed-9f72-f110b538f1d3"
                  }
                },
                "Delete_existing_files_in_Copilot_Studio": {
                  "type": "Scope",
                  "actions": {
                    "List_previously_created_files": {
                      "type": "OpenApiConnection",
                      "inputs": {
                        "parameters": {
                          "organization": "@items('Apply_to_each_File_Indexer_Configurations')?['parent.cat_dataverseurl']",
                          "entityName": "botcomponents",
                          "$select": "filedata",
                          "$filter": "startswith(schemaname, '@{body('Get_Agent')?['schemaname']}.component.dvindexer_') and _parentbotid_value eq '@{body('Get_Agent')?['botid']}' and createdon le @{variables('RunDateTime')}"
                        },
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                          "operationId": "ListRecordsWithOrganization",
                          "connectionName": "shared_commondataserviceforapps_1"
                        }
                      },
                      "metadata": {
                        "operationMetadataId": "585ed64a-f033-4ee3-b897-f67adc7091ab"
                      }
                    },
                    "For_each_component": {
                      "type": "Foreach",
                      "foreach": "@outputs('List_previously_created_files')?['body/value']",
                      "actions": {
                        "Perform_an_unbound_action_in_selected_environment": {
                          "type": "OpenApiConnection",
                          "inputs": {
                            "parameters": {
                              "organization": "@items('Apply_to_each_File_Indexer_Configurations')?['parent.cat_dataverseurl']",
                              "actionName": "DeleteFile",
                              "item": {
                                "FileId": "@{items('For_each_component')?['filedata']}"
                              }
                            },
                            "host": {
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                              "operationId": "PerformUnboundActionWithOrganization",
                              "connectionName": "shared_commondataserviceforapps_1"
                            }
                          },
                          "metadata": {
                            "operationMetadataId": "fd6256b4-06fb-4f3d-819a-3f8b336bbbd9"
                          }
                        },
                        "Delete_bot_component": {
                          "type": "OpenApiConnection",
                          "inputs": {
                            "parameters": {
                              "organization": "@items('Apply_to_each_File_Indexer_Configurations')?['parent.cat_dataverseurl']",
                              "entityName": "botcomponents",
                              "recordId": "@items('For_each_component')?['botcomponentid']"
                            },
                            "host": {
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                              "operationId": "DeleteRecordWithOrganization",
                              "connectionName": "shared_commondataserviceforapps_1"
                            }
                          },
                          "runAfter": {
                            "Perform_an_unbound_action_in_selected_environment": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "519b36fc-1238-42b7-bdc5-c3e0b5dc2869"
                          }
                        }
                      },
                      "runAfter": {
                        "List_previously_created_files": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "3885a902-6450-4b5b-8b43-2dd67162d027"
                      }
                    }
                  },
                  "runAfter": {
                    "Upload_files_to_Copilot_Studio": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "cd27547d-db17-4942-91c6-3bffd5a5f863"
                  }
                },
                "Publish_Agent": {
                  "type": "OpenApiConnection",
                  "inputs": {
                    "parameters": {
                      "organization": "@items('Apply_to_each_File_Indexer_Configurations')?['parent.cat_dataverseurl']",
                      "entityName": "bots",
                      "actionName": "Microsoft.Dynamics.CRM.PvaPublish",
                      "recordId": "@items('Apply_to_each_File_Indexer_Configurations')?['parent.cat_copilotid']"
                    },
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                      "operationId": "PerformBoundActionWithOrganization",
                      "connectionName": "shared_commondataserviceforapps_1"
                    }
                  },
                  "runAfter": {
                    "Delete_existing_files_in_Copilot_Studio": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "4154cd51-e3d9-42c5-9127-bf963c3827ba"
                  }
                }
              },
              "runAfter": {
                "Get_File_Indexer_Configurations": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "7a4c4c91-6cd7-419b-b4f7-b047a538d934"
              }
            },
            "Get_File_Indexer_Configurations": {
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "entityName": "cat_copilotfileindexerconfigurations",
                  "$filter": "statecode eq 0\n",
                  "fetchXml": "<fetch version=\"1.0\" output-format=\"xml-platform\" mapping=\"logical\" distinct=\"false\">\n  <entity name=\"cat_copilotfileindexerconfiguration\">\n    <attribute name=\"cat_copilotfileindexerconfigurationid\" />\n    <attribute name=\"statuscode\" />\n    <attribute name=\"statecode\" />\n    <attribute name=\"cat_siteaddress\" />\n    <attribute name=\"cat_limitentriestofolder\" />\n    <attribute name=\"cat_libraryname\" />\n    <attribute name=\"cat_arenesteditemsincluded\" />\n    <attribute name=\"cat_copilotconfigurationid\" />\n    <attribute name=\"cat_includesharepointpages\" />\n    <attribute name=\"cat_sharepointfilesfilterquery\" />\n     <attribute name=\"cat_sharepointpagesfilterquery\" />\n    <order attribute=\"cat_name\" descending=\"false\" />\n    <filter type=\"and\">\n      <condition attribute=\"cat_copilotconfigurationid\" operator=\"not-null\" />\n       <condition attribute=\"statecode\" operator=\"eq\" value=\"0\" />\n    </filter>\n    <link-entity name=\"cat_copilotconfiguration\" from=\"cat_copilotconfigurationid\" to=\"cat_copilotconfigurationid\" link-type=\"inner\" alias=\"parent\">\n      <attribute name=\"cat_copilotid\" />\n      <attribute name=\"cat_dataverseurl\" />\n      <filter type=\"and\">\n        <condition attribute=\"cat_configurationtypescodes\" operator=\"contain-values\">\n          <value>3</value>\n        </condition>\n@{variables('AgentConfigurationConditionExpression')}\n      </filter>\n    </link-entity>\n  </entity>\n</fetch>\n",
                  "$expand": "cat_CopilotConfigurationId($select=cat_copilotid,cat_dataverseurl)"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "operationId": "ListRecords",
                  "connectionName": "shared_commondataserviceforapps_1"
                }
              },
              "runAfter": {
                "Check_Source": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "b09cb79f-1755-4c1e-a0a1-1601e4e95fae"
              }
            },
            "Check_Source": {
              "type": "If",
              "expression": {
                "and": [
                  {
                    "equals": [
                      "@triggerBody()?['text']",
                      "Manual"
                    ]
                  }
                ]
              },
              "actions": {
                "Set_AgentConfigurationConditionExpression": {
                  "type": "SetVariable",
                  "inputs": {
                    "name": "AgentConfigurationConditionExpression",
                    "value": "<condition attribute=\"cat_copilotconfigurationid\" operator=\"eq\" uitype=\"cat_copilotconfiguration\" value=\"@{triggerBody()?['text_1']}\"/>"
                  },
                  "metadata": {
                    "operationMetadataId": "e28b1b40-4623-4b56-839e-3397cc97e360"
                  }
                }
              },
              "else": {
                "actions": {}
              },
              "metadata": {
                "operationMetadataId": "4ceeabcb-9254-4a21-912e-a530366b3f66"
              }
            }
          },
          "runAfter": {
            "Initialize_AgentConfigurationConditionExpression": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "953b0319-25ae-405a-9d5e-339f26b98ff0"
          }
        },
        "Catch": {
          "type": "Scope",
          "actions": {
            "Filter_array": {
              "type": "Query",
              "inputs": {
                "from": "@result('Try')",
                "where": "@or(equals(item()?['Status'], 'Failed'), equals(item()?['Status'], 'TimedOut'))"
              },
              "metadata": {
                "operationMetadataId": "b4096f76-7325-4480-ac20-7ac30182ea81"
              }
            },
            "Get_Flow_Endpoint": {
              "type": "Compose",
              "inputs": "@if(equals(toLower(parameters('Power Automate Region (cat_PowerAutomateEndpoint)')), 'gcc'), 'https://make.gov.powerautomate.us/', \r\n    if(equals(toLower(parameters('Power Automate Region (cat_PowerAutomateEndpoint)')), 'gcc(high)'), 'https://make.high.powerautomate.us/', \r\n        if(equals(toLower(parameters('Power Automate Region (cat_PowerAutomateEndpoint)')), 'dod'), 'https://make.powerautomate.appsplatform.us/', \r\n            'https://make.powerautomate.com/'\r\n        )\r\n    )\r\n)",
              "runAfter": {
                "Filter_array": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "dc8e743d-1408-445c-8614-ee97abfcad5e"
              }
            },
            "Add_Error_Log": {
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "entityName": "cat_copilotstudiokitlogses",
                  "item/cat_executionstatuscode": 4,
                  "item/cat_cloudflowinstanceurl": "@{outputs('Get_Flow_Endpoint')}environments/@{workflow()?['tags']?['environmentName']}/solutions/fd140aaf-4df4-11dd-bd17-0019b9312238/flows/@{workflow()?['name']}/runs/@{workflow()?['run']?['name']}",
                  "item/cat_cloudflowname": "Sharepoint Synchronization | Synchronize files to Agent (Child)",
                  "item/cat_errormessage": "@first(body('Filter_array'))?['error']?['message']"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "operationId": "CreateRecord",
                  "connectionName": "shared_commondataserviceforapps_1"
                }
              },
              "runAfter": {
                "Get_Flow_Endpoint": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "30c5e708-8cae-4ad1-9d7d-add590bb0309"
              }
            }
          },
          "runAfter": {
            "Try": [
              "Failed",
              "Skipped",
              "TimedOut"
            ]
          },
          "metadata": {
            "operationMetadataId": "5dde4f29-72ed-4ced-a86f-05dbde3e2eed"
          }
        },
        "Initialize_AgentConfigurationConditionExpression": {
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "AgentConfigurationConditionExpression",
                "type": "string"
              }
            ]
          },
          "runAfter": {
            "Initialize_Error_Variable": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "e591aff1-2419-472b-9598-b0c0fa2b6aaf"
          }
        },
        "Finally": {
          "type": "Scope",
          "actions": {
            "Respond_to_a_Power_App_or_flow": {
              "type": "Response",
              "kind": "PowerApp",
              "inputs": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "response": {
                      "title": "Response",
                      "x-ms-dynamically-added": true,
                      "type": "string"
                    }
                  },
                  "additionalProperties": {}
                },
                "statusCode": 200,
                "body": {
                  "response": "Flow execution completed."
                }
              },
              "metadata": {
                "operationMetadataId": "23216dd2-8de7-4205-be4d-475f3e204294"
              }
            }
          },
          "runAfter": {
            "Catch": [
              "Succeeded",
              "Failed",
              "Skipped",
              "TimedOut"
            ]
          },
          "metadata": {
            "operationMetadataId": "8c85e125-8a37-4c18-b6d9-e152d4f30ea5"
          }
        }
      }
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}