CopilotStudioAccelerator/SolutionPackage/src/Workflows/TestAutomationRunMultiturnTestsChild-FE662B82-0DFF-EF11-BAE2-00224802C180.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "cat_CopilotStudioAcceleratorDataverse"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "a2bccfe2-6feb-47f7-bffe-dc8a94216e2d"
          },
          "type": "Request",
          "kind": "Button",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "text": {
                  "title": "AgentTestRunId",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                },
                "text_1": {
                  "title": "AgentTestSetId",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                },
                "text_2": {
                  "title": "ParentTestId",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                },
                "text_3": {
                  "title": "DirectLineToken",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                },
                "text_4": {
                  "title": "ConversationId",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                },
                "text_5": {
                  "title": "Owner",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                },
                "text_6": {
                  "title": "BotFrameworkUri",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                },
                "boolean": {
                  "title": "ConTranscriptsEnrichmentEnabled",
                  "type": "boolean",
                  "x-ms-dynamically-added": true,
                  "description": "Please select yes or no",
                  "x-ms-content-hint": "BOOLEAN"
                },
                "boolean_1": {
                  "title": "GenAnswersEnabled",
                  "type": "boolean",
                  "x-ms-dynamically-added": true,
                  "description": "Please select yes or no",
                  "x-ms-content-hint": "BOOLEAN"
                },
                "boolean_2": {
                  "title": "AppInsightsEnabled",
                  "type": "boolean",
                  "x-ms-dynamically-added": true,
                  "description": "Please select yes or no",
                  "x-ms-content-hint": "BOOLEAN"
                }
              },
              "required": [
                "text",
                "text_1",
                "text_2",
                "text_3",
                "text_4",
                "text_5",
                "text_6",
                "boolean",
                "boolean_1",
                "boolean_2"
              ]
            }
          }
        }
      },
      "actions": {
        "Initialize_variable:_ContinueMultiturnProcessing": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "bfa823e7-3504-432e-990e-589d29149f0b"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "ContinueMultiturnProcessing",
                "type": "boolean",
                "value": "@true"
              }
            ]
          }
        },
        "Initialize_variable:_MultiturnResult": {
          "runAfter": {
            "Initialize_variable:_ContinueMultiturnProcessing": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "a3125a46-5313-4d02-bbfb-057eceb6cd97"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "MultiturnResult",
                "type": "integer",
                "value": 1
              }
            ]
          }
        },
        "Initialize_variable:_MultiturnPendingResult": {
          "runAfter": {
            "Initialize_variable:_MultiturnResult": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "cd2678c6-278c-4208-b809-513e48fa9363"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "MultiturnPendingResult",
                "type": "boolean",
                "value": "@false"
              }
            ]
          }
        },
        "Scope:_Try": {
          "actions": {
            "Initiate_Conversation_For_Multiturn_Test": {
              "runAfter": {
                "List_rows:_Get_Child_Agent_Tests": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "7af2e74d-db42-4a35-940f-24b9d8e80da4"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "PerformUnboundAction",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "actionName": "cat_InitiateConversation",
                  "item/cat_Token": "@triggerBody()['text_3']",
                  "item/cat_BotFrameworkUri": "@triggerBody()['text_6']"
                },
                "authentication": {
                  "type": "Raw",
                  "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                }
              }
            },
            "Add_a_new_row:_Agent_Test_Results_for_Multiturn_Test": {
              "runAfter": {
                "Initiate_Conversation_For_Multiturn_Test": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "245488e3-60d0-432d-aff5-b9ac129aac95"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "CreateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "cat_copilottestresults",
                  "item/cat_CopilotTestId@odata.bind": "cat_copilottests(@{triggerBody()['text_2']})",
                  "item/cat_CopilotTestRunId@odata.bind": "cat_copilottestruns(@{triggerBody()['text']})",
                  "item/cat_name": "@triggerBody()['text_4']",
                  "item/cat_resultcode": 5,
                  "item/cat_testtypecode": 5
                },
                "authentication": {
                  "type": "Raw",
                  "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                }
              }
            },
            "Apply_to_each:_Child_Test": {
              "foreach": "@outputs('List_rows:_Get_Child_Agent_Tests')?['body/value']",
              "actions": {
                "Condition:_Check_to_continue_Multiturn_processing": {
                  "actions": {
                    "Condition:_If_External_Variables_MultiTurn": {
                      "actions": {
                        "Send_pvaSetContext_Event_MultiTurn": {
                          "runAfter": {},
                          "metadata": {
                            "operationMetadataId": "74f0f5db-0738-4006-a8b7-61d7f1b0562e"
                          },
                          "type": "OpenApiConnection",
                          "inputs": {
                            "host": {
                              "connectionName": "shared_commondataserviceforapps_1",
                              "operationId": "PerformUnboundAction",
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                            },
                            "parameters": {
                              "actionName": "cat_SendMessageOrEvent",
                              "item/cat_ConverationId": "@triggerBody()['text_4']",
                              "item/cat_Token": "@triggerBody()['text_3']",
                              "item/cat_Body": "{\n  \"type\": \"event\",\n  \"from\": {\n    \"id\": \"@{triggerBody()['text']}\"\n  },\n  \"name\": \"pvaSetContext\",\n  \"value\": @{json(items('Apply_to_each:_Child_Test')?['cat_externalvariablesjson'])}\n}",
                              "item/cat_BotFrameworkUri": "@triggerBody()['text_6']"
                            },
                            "authentication": {
                              "type": "Raw",
                              "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                            }
                          }
                        }
                      },
                      "runAfter": {},
                      "expression": {
                        "not": {
                          "equals": [
                            "@items('Apply_to_each:_Child_Test')?['cat_externalvariablesjson']",
                            "@null"
                          ]
                        }
                      },
                      "metadata": {
                        "operationMetadataId": "550099ac-1e76-48c1-826c-bdfdcd6a2582"
                      },
                      "type": "If"
                    },
                    "Condition:_If_Send_startConversation_Event_MultiTurn": {
                      "actions": {
                        "Send_startConversation_Event_MultiTurn": {
                          "runAfter": {},
                          "metadata": {
                            "operationMetadataId": "74f0f5db-0738-4006-a8b7-61d7f1b0562e"
                          },
                          "type": "OpenApiConnection",
                          "inputs": {
                            "host": {
                              "connectionName": "shared_commondataserviceforapps_1",
                              "operationId": "PerformUnboundAction",
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                            },
                            "parameters": {
                              "actionName": "cat_SendMessageOrEvent",
                              "item/cat_ConverationId": "@triggerBody()['text_4']",
                              "item/cat_Token": "@triggerBody()['text_3']",
                              "item/cat_Body": "{\n  \"type\": \"event\",\n  \"from\": {\n    \"id\": \"@{triggerBody()['text']}\"\n  },\n  \"name\": \"startConversation\"\n}",
                              "item/cat_BotFrameworkUri": "@triggerBody()['text_6']"
                            },
                            "authentication": {
                              "type": "Raw",
                              "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                            }
                          }
                        }
                      },
                      "runAfter": {
                        "Condition:_If_External_Variables_MultiTurn": [
                          "Succeeded"
                        ]
                      },
                      "expression": {
                        "equals": [
                          "@items('Apply_to_each:_Child_Test')?['cat_isstartconversationeventsent']",
                          true
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "550099ac-1e76-48c1-826c-bdfdcd6a2582"
                      },
                      "type": "If"
                    },
                    "Send_Test_Utterance_for_child_test": {
                      "runAfter": {
                        "Condition:_If_Send_startConversation_Event_MultiTurn": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "db472735-2a7d-4906-921e-227c71ece895"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_commondataserviceforapps_1",
                          "operationId": "PerformUnboundAction",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                          "actionName": "cat_SendMessageOrEvent",
                          "item/cat_ConverationId": "@triggerBody()['text_4']",
                          "item/cat_Token": "@triggerBody()['text_3']",
                          "item/cat_Body": "{\n  \"type\": \"message\",\n  \"from\": {\n    \"id\": \"@{triggerBody()['text']}\"\n  },\n  \"text\": \"@{replace(items('Apply_to_each:_Child_Test')?['cat_testutterance'], '\"', '\\\"')}\"\n}",
                          "item/cat_BotFrameworkUri": "@triggerBody()['text_6']"
                        },
                        "authentication": {
                          "type": "Raw",
                          "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                        }
                      }
                    },
                    "Do_until_bot_responds_or_till_timeout_for_child_test": {
                      "actions": {
                        "Delay_before_fetching_responses_for_child_test": {
                          "runAfter": {},
                          "metadata": {
                            "operationMetadataId": "4c00dfa0-1ae9-4896-a472-0546a41ffdc8"
                          },
                          "type": "Wait",
                          "inputs": {
                            "interval": {
                              "count": "@if(equals(items('Apply_to_each:_Child_Test')?['cat_secondsbeforegettinganswer'], null),\n\tif( equals(items('Apply_to_each:_Child_Test')?['cat_testtypecode'], 4),\n\t\t10,\n\t\t5\n\t),\n\titems('Apply_to_each:_Child_Test')?['cat_secondsbeforegettinganswer']\n)",
                              "unit": "Second"
                            }
                          }
                        },
                        "Get_Activities_for_child_test": {
                          "runAfter": {
                            "Delay_before_fetching_responses_for_child_test": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "72c0569d-987b-4416-a1da-36ace14c56f5"
                          },
                          "type": "OpenApiConnection",
                          "inputs": {
                            "host": {
                              "connectionName": "shared_commondataserviceforapps_1",
                              "operationId": "PerformUnboundAction",
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                            },
                            "parameters": {
                              "actionName": "cat_GetResponse",
                              "item/cat_ConverationId": "@triggerBody()['text_4']",
                              "item/cat_BotFrameworkUri": "@triggerBody()['text_6']",
                              "item/cat_Token": "@triggerBody()['text_3']"
                            },
                            "authentication": {
                              "type": "Raw",
                              "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                            }
                          }
                        },
                        "Parse_Activities_Response_for_child_test": {
                          "runAfter": {
                            "Get_Activities_for_child_test": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "488c476d-25f0-40c4-af46-e09b56f26102"
                          },
                          "type": "ParseJson",
                          "inputs": {
                            "content": "@outputs('Get_Activities_for_child_test')?['body/cat_Response']",
                            "schema": {
                              "type": "object",
                              "properties": {
                                "activities": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "type": {
                                        "type": "string"
                                      },
                                      "from": {
                                        "type": "object",
                                        "properties": {
                                          "role": {
                                            "type": "string"
                                          },
                                          "id": {
                                            "type": "string"
                                          }
                                        }
                                      },
                                      "text": {
                                        "type": "string"
                                      },
                                      "timestamp": {
                                        "type": "string"
                                      },
                                      "attachments": {
                                        "type": "array",
                                        "items": {
                                          "type": "object",
                                          "properties": {
                                            "contentType": {
                                              "type": "string"
                                            },
                                            "content": {
                                              "oneOf": [
                                                {
                                                  "type": "object"
                                                },
                                                {
                                                  "type": "array",
                                                  "items": {
                                                    "type": "object",
                                                    "properties": {
                                                      "type": {
                                                        "type": "string"
                                                      },
                                                      "id": {
                                                        "type": "string"
                                                      },
                                                      "timestamp": {
                                                        "type": "string"
                                                      },
                                                      "serviceUrl": {
                                                        "type": "string"
                                                      },
                                                      "channelId": {
                                                        "type": "string"
                                                      },
                                                      "from": {
                                                        "type": "object",
                                                        "properties": {
                                                          "id": {
                                                            "type": "string"
                                                          }
                                                        }
                                                      },
                                                      "conversation": {
                                                        "type": "object",
                                                        "properties": {
                                                          "id": {
                                                            "type": "string"
                                                          }
                                                        }
                                                      },
                                                      "recipient": {
                                                        "type": "object",
                                                        "properties": {
                                                          "id": {
                                                            "type": "string"
                                                          },
                                                          "name": {
                                                            "type": "string"
                                                          },
                                                          "role": {
                                                            "type": "string"
                                                          }
                                                        }
                                                      },
                                                      "membersAdded": {
                                                        "type": "array",
                                                        "items": {
                                                          "type": "object"
                                                        }
                                                      },
                                                      "membersRemoved": {
                                                        "type": "array",
                                                        "items": {
                                                          "type": "object"
                                                        }
                                                      },
                                                      "reactionsAdded": {
                                                        "type": "array",
                                                        "items": {
                                                          "type": "object"
                                                        }
                                                      },
                                                      "reactionsRemoved": {
                                                        "type": "array",
                                                        "items": {
                                                          "type": "object"
                                                        }
                                                      },
                                                      "text": {
                                                        "type": "string"
                                                      },
                                                      "attachments": {
                                                        "type": "array",
                                                        "items": {
                                                          "type": "object"
                                                        }
                                                      },
                                                      "entities": {
                                                        "type": "array",
                                                        "items": {
                                                          "type": "object"
                                                        }
                                                      },
                                                      "replyToId": {
                                                        "type": "string"
                                                      },
                                                      "value": {
                                                        "type": "object"
                                                      },
                                                      "name": {
                                                        "type": "string"
                                                      },
                                                      "listenFor": {
                                                        "type": "array",
                                                        "items": {
                                                          "type": "string"
                                                        }
                                                      },
                                                      "textHighlights": {
                                                        "type": "array",
                                                        "items": {
                                                          "type": "object"
                                                        }
                                                      }
                                                    }
                                                  }
                                                }
                                              ]
                                            }
                                          }
                                        }
                                      },
                                      "suggestedActions": {
                                        "type": "object",
                                        "properties": {
                                          "to": {
                                            "type": "array",
                                            "items": {
                                              "type": "string"
                                            }
                                          },
                                          "actions": {
                                            "type": "array",
                                            "items": {
                                              "type": "object",
                                              "properties": {
                                                "type": {
                                                  "type": "string"
                                                },
                                                "title": {
                                                  "type": "string"
                                                },
                                                "text": {
                                                  "type": "string"
                                                },
                                                "value": {
                                                  "type": "string"
                                                }
                                              }
                                            }
                                          }
                                        }
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          }
                        },
                        "Filter_array:_Activities_of_type_Message_for_child_test": {
                          "runAfter": {
                            "Parse_Activities_Response_for_child_test": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "83d3803e-42d9-4d1b-8963-78732c59190a"
                          },
                          "type": "Query",
                          "inputs": {
                            "from": "@body('Parse_Activities_Response_for_child_test')?['activities']",
                            "where": "@equals(item()?['type'], 'message')"
                          }
                        },
                        "Filter_array:_Messages_from_Bot_for_child_test": {
                          "runAfter": {
                            "Filter_array:_Activities_of_type_Message_for_child_test": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "2e772575-37e2-42f7-ba6d-e3e5c92a5136"
                          },
                          "type": "Query",
                          "inputs": {
                            "from": "@body('Filter_array:_Activities_of_type_Message_for_child_test')",
                            "where": "@and(\n    equals(item()?['from']?['role'], 'bot'),\n    greaterOrEquals(item()?['timestamp'], outputs('Compose:_CurrentTimestamp')),\n    empty(first(item()?['attachments'])?['content']?['tokenExchangeResource']?['id']),\n    or(\n        equals(first(item()?['attachments'])?['contentType'], 'application/vnd.microsoft.card.adaptive'),\n        and(\n            not(empty(item()?['text'])), \n            not(\n                or(\n                    contains(toLower(item()?['text']), 'need you to sign in'),\n                    contains(toLower(item()?['text']), 'please sign in'),\n                    contains(toLower(item()?['text']), 'sign in to continue'),\n                    contains(toLower(item()?['text']), 'log in to access'),\n                    contains(toLower(item()?['text']), 'sign-in required'),\n                    contains(toLower(item()?['text']), 'click here to log in')\n                )\n            )\n        )\n    )\n)"
                          }
                        }
                      },
                      "runAfter": {
                        "Send_Test_Utterance_for_child_test": [
                          "Succeeded"
                        ]
                      },
                      "expression": "@if(equals(items('Apply_to_each:_Child_Test')?['cat_isstartconversationeventsent'], true), greater(length(body('Filter_array:_Messages_from_Bot_for_child_test')), 1), greater(length(body('Filter_array:_Messages_from_Bot_for_child_test')), 0))",
                      "limit": {
                        "count": 25,
                        "timeout": "PT3M"
                      },
                      "metadata": {
                        "operationMetadataId": "5a6cbf30-8aba-4d78-8839-f23760e40e57"
                      },
                      "type": "Until"
                    },
                    "Filter_array:_Messages_from_User_for_child_test": {
                      "runAfter": {
                        "Do_until_bot_responds_or_till_timeout_for_child_test": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "2e772575-37e2-42f7-ba6d-e3e5c92a5136"
                      },
                      "type": "Query",
                      "inputs": {
                        "from": "@body('Filter_array:_Activities_of_type_Message_for_child_test')",
                        "where": "@not(equals(item()?['from']?['role'], 'bot'))"
                      }
                    },
                    "Message_Position_for_child_test": {
                      "runAfter": {
                        "Filter_array:_Messages_from_User_for_child_test": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "1cb65d3c-ed22-42f2-b6c4-dab6e07bd180"
                      },
                      "type": "Compose",
                      "inputs": "@\n    if(\n        not(equals(items('Apply_to_each:_Child_Test')?['cat_expectedpositionoftheresponseactivity'], null)), \n        int(items('Apply_to_each:_Child_Test')?['cat_expectedpositionoftheresponseactivity']), \n        if(\n            equals(items('Apply_to_each:_Child_Test')?['cat_isstartconversationeventsent'], true), \n            if(\n                greater(length(body('Filter_array:_Activities_of_type_Message_for_child_test')), 1), \n                1, \n                0\n            ), \n            0\n        )\n    )\n"
                    },
                    "Add_a_new_row:_Child_Multiturn_Test_Results": {
                      "runAfter": {
                        "Message_Position_for_child_test": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "0b9c4307-ba2a-4da1-a0db-31ea0b0ca541"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_commondataserviceforapps_1",
                          "operationId": "CreateRecord",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                          "entityName": "cat_copilottestresults",
                          "item/cat_CopilotTestId@odata.bind": "cat_copilottests(@{items('Apply_to_each:_Child_Test')?['cat_copilottestid']})",
                          "item/cat_CopilotTestRunId@odata.bind": "cat_copilottestruns(@{triggerBody()['text']})",
                          "item/cat_name": "@triggerBody()['text_4']",
                          "item/cat_resultcode": "@if(\r\n\t\tor( empty(body('Filter_array:_Messages_from_Bot_for_child_test')), lessOrEquals(length(body('Filter_array:_Messages_from_Bot_for_child_test')), outputs('Message_Position_for_child_test'))),\r\n        4, \r\n        if(\r\n            equals(items('Apply_to_each:_Child_Test')?['cat_testtypecode'], 3), \r\n            if(\r\n                equals(\r\n                    json(string(body('Filter_array:_Messages_from_Bot_for_child_test')[outputs('Message_Position_for_child_test')]?['attachments'])), \r\n                    json(string(items('Apply_to_each:_Child_Test')?['cat_expectedattachmentsjson']))\r\n                ), \r\n                1, \r\n                2\r\n            ), \r\n            if(\r\n                not(empty(body('Filter_array:_Messages_from_Bot_for_child_test')[outputs('Message_Position_for_child_test')]?['text'])), \r\n                if(\r\n                    or(\r\n                        contains(body('Filter_array:_Messages_from_Bot_for_child_test')[outputs('Message_Position_for_child_test')]?['text'], 'ContentError'), \r\n                        contains(body('Filter_array:_Messages_from_Bot_for_child_test')[outputs('Message_Position_for_child_test')]?['text'], 'DataLossPreventionViolation'), \r\n                        contains(body('Filter_array:_Messages_from_Bot_for_child_test')[outputs('Message_Position_for_child_test')]?['text'], 'FlowActionException'), \r\n                        contains(body('Filter_array:_Messages_from_Bot_for_child_test')[outputs('Message_Position_for_child_test')]?['text'], 'FlowActionBadRequest'), \r\n                        contains(body('Filter_array:_Messages_from_Bot_for_child_test')[outputs('Message_Position_for_child_test')]?['text'], 'FlowActionTimedOut'), \r\n                        contains(body('Filter_array:_Messages_from_Bot_for_child_test')[outputs('Message_Position_for_child_test')]?['text'], 'InvalidContent'), \r\n                        contains(body('Filter_array:_Messages_from_Bot_for_child_test')[outputs('Message_Position_for_child_test')]?['text'], 'InfiniteLoopInBotContent'), \r\n                        contains(body('Filter_array:_Messages_from_Bot_for_child_test')[outputs('Message_Position_for_child_test')]?['text'], 'LatestPublishedVersionNotFound'), \r\n                        contains(body('Filter_array:_Messages_from_Bot_for_child_test')[outputs('Message_Position_for_child_test')]?['text'], 'RedirectToDisabledDialog'), \r\n                        contains(body('Filter_array:_Messages_from_Bot_for_child_test')[outputs('Message_Position_for_child_test')]?['text'], 'RedirectToNonExistentDialog'), \r\n                        contains(body('Filter_array:_Messages_from_Bot_for_child_test')[outputs('Message_Position_for_child_test')]?['text'], 'SystemError')\r\n                    ), \r\n                    4, \r\n                    if(\r\n                        equals(items('Apply_to_each:_Child_Test')?['cat_testtypecode'], 1), \r\n                        if(\r\n\t\t\t\t\t\t\tor(\r\n\t\t\t\t\t\t\t\tand(\r\n\t\t\t\t\t\t\t\t\tor(\r\n\t\t\t\t\t\t\t\t\t\tequals(items('Apply_to_each:_Child_Test')?['cat_comparisonoperator'], 1),\r\n\t\t\t\t\t\t\t\t\t\tequals(items('Apply_to_each:_Child_Test')?['cat_comparisonoperator'], null)\r\n\t\t\t\t\t\t\t\t\t),\r\n\t\t\t\t\t\t\t\t\tequals(\r\n\t\t\t\t\t\t\t\t\t\titems('Apply_to_each:_Child_Test')?['cat_expectedresponse'],\r\n\t\t\t\t\t\t\t\t\t\tbody('Filter_array:_Messages_from_Bot_for_child_test')[outputs('Message_Position_for_child_test')]?['text']\r\n\t\t\t\t\t\t\t\t\t)\r\n\t\t\t\t\t\t\t\t),\r\n\t\t\t\t\t\t\t\tand(\r\n\t\t\t\t\t\t\t\t\tequals(items('Apply_to_each:_Child_Test')?['cat_comparisonoperator'], 2),\r\n\t\t\t\t\t\t\t\t\tnot(equals(\r\n\t\t\t\t\t\t\t\t\t\titems('Apply_to_each:_Child_Test')?['cat_expectedresponse'],\r\n\t\t\t\t\t\t\t\t\t\tbody('Filter_array:_Messages_from_Bot_for_child_test')[outputs('Message_Position_for_child_test')]?['text']\r\n\t\t\t\t\t\t\t\t\t))\r\n\t\t\t\t\t\t\t\t),\r\n\t\t\t\t\t\t\t\tand(\r\n\t\t\t\t\t\t\t\t\tequals(items('Apply_to_each:_Child_Test')?['cat_comparisonoperator'], 3),\r\n\t\t\t\t\t\t\t\t\tcontains(\r\n\t\t\t\t\t\t\t\t\t\tbody('Filter_array:_Messages_from_Bot_for_child_test')[outputs('Message_Position_for_child_test')]?['text'],\r\n\t\t\t\t\t\t\t\t\t\titems('Apply_to_each:_Child_Test')?['cat_expectedresponse']\r\n\t\t\t\t\t\t\t\t\t)\r\n\t\t\t\t\t\t\t\t),\r\n\t\t\t\t\t\t\t\tand(\r\n\t\t\t\t\t\t\t\t\tequals(items('Apply_to_each:_Child_Test')?['cat_comparisonoperator'], 4),\r\n\t\t\t\t\t\t\t\t\tnot(contains(\r\n\t\t\t\t\t\t\t\t\t\tbody('Filter_array:_Messages_from_Bot_for_child_test')[outputs('Message_Position_for_child_test')]?['text'],\r\n\t\t\t\t\t\t\t\t\t\titems('Apply_to_each:_Child_Test')?['cat_expectedresponse']\t\t\t\t\r\n\t\t\t\t\t\t\t\t\t))\r\n\t\t\t\t\t\t\t\t),\r\n\t\t\t\t\t\t\t\tand(\r\n\t\t\t\t\t\t\t\t\tequals(items('Apply_to_each:_Child_Test')?['cat_comparisonoperator'], 5),\r\n\t\t\t\t\t\t\t\t\tstartsWith(\r\n\t\t\t\t\t\t\t\t\t\tbody('Filter_array:_Messages_from_Bot_for_child_test')[outputs('Message_Position_for_child_test')]?['text'],\r\n\t\t\t\t\t\t\t\t\t\titems('Apply_to_each:_Child_Test')?['cat_expectedresponse']\t\t\t\t\t\t\t\t\t\r\n\t\t\t\t\t\t\t\t\t)\r\n\t\t\t\t\t\t\t\t),\r\n\t\t\t\t\t\t\t\tand(\r\n\t\t\t\t\t\t\t\t\tequals(items('Apply_to_each:_Child_Test')?['cat_comparisonoperator'], 6),\r\n\t\t\t\t\t\t\t\t\tnot(startsWith(\r\n\t\t\t\t\t\t\t\t\t\tbody('Filter_array:_Messages_from_Bot_for_child_test')[outputs('Message_Position_for_child_test')]?['text'],\r\n\t\t\t\t\t\t\t\t\t\titems('Apply_to_each:_Child_Test')?['cat_expectedresponse']\r\n\t\t\t\t\t\t\t\t\t))\r\n\t\t\t\t\t\t\t\t),\r\n\t\t\t\t\t\t\t\tand(\r\n\t\t\t\t\t\t\t\t\tequals(items('Apply_to_each:_Child_Test')?['cat_comparisonoperator'], 7),\r\n\t\t\t\t\t\t\t\t\tendsWith(\r\n\t\t\t\t\t\t\t\t\t\tbody('Filter_array:_Messages_from_Bot_for_child_test')[outputs('Message_Position_for_child_test')]?['text'],\r\n\t\t\t\t\t\t\t\t\t\titems('Apply_to_each:_Child_Test')?['cat_expectedresponse']\r\n\t\t\t\t\t\t\t\t\t)\r\n\t\t\t\t\t\t\t\t),\r\n\t\t\t\t\t\t\t\tand(\r\n\t\t\t\t\t\t\t\t\tequals(items('Apply_to_each:_Child_Test')?['cat_comparisonoperator'], 8),\r\n\t\t\t\t\t\t\t\t\tnot(endsWith(\r\n\t\t\t\t\t\t\t\t\t\tbody('Filter_array:_Messages_from_Bot_for_child_test')[outputs('Message_Position_for_child_test')]?['text'],\r\n\t\t\t\t\t\t\t\t\t\titems('Apply_to_each:_Child_Test')?['cat_expectedresponse']\r\n\t\t\t\t\t\t\t\t\t))\r\n\t\t\t\t\t\t\t\t),\r\n\t\t\t\t\t\t\t\tand(\r\n\t\t\t\t\t\t\t\t\tequals(items('Apply_to_each:_Child_Test')?['cat_comparisonoperator'], 9),\r\n\t\t\t\t\t\t\t\t\tnot(empty(\r\n\t\t\t\t\t\t\t\t\t\tbody('Filter_array:_Messages_from_Bot_for_child_test')[outputs('Message_Position_for_child_test')]?['text']\r\n\t\t\t\t\t\t\t\t\t))\r\n\t\t\t\t\t\t\t\t)\r\n\t\t\t\t\t\t\t),\r\n\t\t\t\t\t\t\t1,\r\n\t\t\t\t\t\t\t2\r\n\t\t\t\t\t\t), \r\n                        if(\r\n                            equals(items('Apply_to_each:_Child_Test')?['cat_testtypecode'], 2), \r\n                            if(\r\n                                equals(triggerBody()['boolean'], true), \r\n                                5, \r\n                                3\r\n                            ), \r\n                            if(\r\n                                equals(items('Apply_to_each:_Child_Test')?['cat_testtypecode'], 4), \r\n                                if(\r\n                                    or(\r\n                                        equals(items('Apply_to_each:_Child_Test')?['cat_generativeansweroutcomecode'], 1), \r\n                                        equals(items('Apply_to_each:_Child_Test')?['cat_generativeansweroutcomecode'], 2)\r\n                                    ), \r\n                                    if(\r\n                                        equals(triggerBody()['boolean_1'], true), \r\n                                        5, \r\n                                        3\r\n                                    ), \r\n                                    if(\r\n                                        or(\r\n                                            equals(items('Apply_to_each:_Child_Test')?['cat_generativeansweroutcomecode'], 3), \r\n                                            equals(items('Apply_to_each:_Child_Test')?['cat_generativeansweroutcomecode'], 4)\r\n                                        ), \r\n                                        if(\r\n                                            equals(triggerBody()['boolean_2'], true), \r\n                                            5, \r\n                                            3\r\n                                        ), \r\n                                        3\r\n                                    )\r\n                                ), \r\n                                5\r\n                            )\r\n                        )\r\n                    )\r\n                ), \r\n                3\r\n            )\r\n        )\r\n    )",
                          "item/cat_testtypecode": "@items('Apply_to_each:_Child_Test')?['cat_testtypecode']",
                          "item/cat_appinsightsmessage": "@if(\n    and ( \n\t\tgreater(length(body('Filter_array:_Messages_from_Bot_for_child_test')), outputs('Message_Position_for_child_test')), not(empty(body('Filter_array:_Messages_from_Bot_for_child_test')[outputs('Message_Position_for_child_test')]?['channelData']))\n\t), \n    if(\n        equals( body('Filter_array:_Messages_from_Bot_for_child_test')[outputs('Message_Position_for_child_test')]?['channelData']?['pva:gpt-feedback']?['message'], \n            items('Apply_to_each:_Child_Test')?['cat_testutterance']\n        ), \n        '', \n        body('Filter_array:_Messages_from_Bot_for_child_test')[outputs('Message_Position_for_child_test')]?['channelData']?['pva:gpt-feedback']?['message']\n    ), \n    ''\n)",
                          "item/cat_attachmentsjson": "@\n    if(\n        or( empty(body('Filter_array:_Messages_from_Bot_for_child_test')), lessOrEquals(length(body('Filter_array:_Messages_from_Bot_for_child_test')), outputs('Message_Position_for_child_test'))), \n        null, \n        if(\n            empty(body('Filter_array:_Messages_from_Bot_for_child_test')[outputs('Message_Position_for_child_test')]?['attachments']), \n            null, \n            string(body('Filter_array:_Messages_from_Bot_for_child_test')[outputs('Message_Position_for_child_test')]?['attachments'])\n        )\n    )\n",
                          "item/cat_comparisonoperator": "@items('Apply_to_each:_Child_Test')?['cat_comparisonoperator']",
                          "item/cat_expectedattachmentsjson": "@items('Apply_to_each:_Child_Test')?['cat_expectedattachmentsjson']",
                          "item/cat_generativeansweroutcomecode": "@items('Apply_to_each:_Child_Test')?['cat_generativeansweroutcomecode']",
                          "item/cat_expectedpositionoftheresponseactivity": "@items('Apply_to_each:_Child_Test')?['cat_expectedpositionoftheresponseactivity']",
                          "item/cat_expectedresponse": "@items('Apply_to_each:_Child_Test')?['cat_expectedresponse']",
                          "item/cat_expectedtopicname": "@items('Apply_to_each:_Child_Test')?['cat_expectedtopicname']",
                          "item/cat_externalvariablesjson": "@items('Apply_to_each:_Child_Test')?['cat_externalvariablesjson']",
                          "item/cat_latencyms": "@\n    if(\n        or(\n            or( empty(body('Filter_array:_Messages_from_Bot_for_child_test')), lessOrEquals(length(body('Filter_array:_Messages_from_Bot_for_child_test')), outputs('Message_Position_for_child_test'))),\n            empty(body('Filter_array:_Messages_from_User_for_child_test'))\n        ), \n        null, \n        div(\n            sub(\n                ticks(body('Filter_array:_Messages_from_Bot_for_child_test')[outputs('Message_Position_for_child_test')]?['timestamp']), \n                ticks(body('Filter_array:_Messages_from_User_for_child_test')[0]?['timestamp'])\n            ), \n            10000\n        )\n    )\n",
                          "item/cat_messagesenttimestamp": "@\n    if(\n        empty(body('Filter_array:_Messages_from_User_for_child_test')),\n        null, \n        body('Filter_array:_Messages_from_User_for_child_test')[0]?['timestamp']\n    )\n",
                          "item/ownerid@odata.bind": "@triggerBody()['text_5']",
                          "item/cat_Parent@odata.bind": "cat_copilottestresults(@{outputs('Add_a_new_row:_Agent_Test_Results_for_Multiturn_Test')?['body/cat_copilottestresultid']})",
                          "item/cat_response": "@\n    if(\n        or( empty(body('Filter_array:_Messages_from_Bot_for_child_test')), lessOrEquals(length(body('Filter_array:_Messages_from_Bot_for_child_test')), outputs('Message_Position_for_child_test'))), \n        'No response', \n        if(\n            empty(body('Filter_array:_Messages_from_Bot_for_child_test')[outputs('Message_Position_for_child_test')]?['text']), \n            if(\n                not(empty(body('Filter_array:_Messages_from_Bot_for_child_test')[outputs('Message_Position_for_child_test')]?['attachments'])), \n                'No response, but attachments (Adaptive Cards, etc.)', \n                'No response'\n            ), \n            body('Filter_array:_Messages_from_Bot_for_child_test')[outputs('Message_Position_for_child_test')]?['text']\n        )\n    )\n",
                          "item/cat_responsereceivedtimestamp": "@\n    if(\n        or( empty(body('Filter_array:_Messages_from_Bot_for_child_test')), lessOrEquals(length(body('Filter_array:_Messages_from_Bot_for_child_test')), outputs('Message_Position_for_child_test'))),\n        null, \n        body('Filter_array:_Messages_from_Bot_for_child_test')[outputs('Message_Position_for_child_test')]?['timestamp']\n    )\n",
                          "item/cat_resultreason": "@if(\n\tor( empty(body('Filter_array:_Messages_from_Bot_for_child_test')), lessOrEquals(length(body('Filter_array:_Messages_from_Bot_for_child_test')), outputs('Message_Position_for_child_test'))),\n\t'No response from the bot, possibly due to the Expected Position of the Response Message column value for the given test.',\n\tif(\n\t\tequals(items('Apply_to_each:_Child_Test')?['cat_testtypecode'], 3),\n\t\tif(\n\t\t\tequals(\n\t\t\t\tjson(string(body('Filter_array:_Messages_from_Bot_for_child_test')[outputs('Message_Position_for_child_test')]?['attachments'])),\n\t\t\t\tjson(string(items('Apply_to_each:_Child_Test')?['cat_expectedattachmentsjson']))\n\t\t\t),\n\t\t\t'Exact match between the expected attachment(s) JSON and the received attachment(s) JSON',\n\t\t\t'Not an exact match between the expected attachment(s) JSON and the received attachment(s) JSON'\n\t\t),\n\t\tif(\n\t\t\tnot(empty(body('Filter_array:_Messages_from_Bot_for_child_test')[outputs('Message_Position_for_child_test')]?['text'])),\n\t\t\tif(\n\t\t\t\tor(\n\t\t\t\t\tcontains(body('Filter_array:_Messages_from_Bot_for_child_test')[outputs('Message_Position_for_child_test')]?['text'], 'ContentError'),\n\t\t\t\t\tcontains(body('Filter_array:_Messages_from_Bot_for_child_test')[outputs('Message_Position_for_child_test')]?['text'], 'DataLossPreventionViolation'),\n\t\t\t\t\tcontains(body('Filter_array:_Messages_from_Bot_for_child_test')[outputs('Message_Position_for_child_test')]?['text'], 'FlowActionException'),\n\t\t\t\t\tcontains(body('Filter_array:_Messages_from_Bot_for_child_test')[outputs('Message_Position_for_child_test')]?['text'], 'FlowActionBadRequest'),\n\t\t\t\t\tcontains(body('Filter_array:_Messages_from_Bot_for_child_test')[outputs('Message_Position_for_child_test')]?['text'], 'FlowActionTimedOut'),\n\t\t\t\t\tcontains(body('Filter_array:_Messages_from_Bot_for_child_test')[outputs('Message_Position_for_child_test')]?['text'], 'InvalidContent'),\n\t\t\t\t\tcontains(body('Filter_array:_Messages_from_Bot_for_child_test')[outputs('Message_Position_for_child_test')]?['text'], 'InfiniteLoopInBotContent'),\n\t\t\t\t\tcontains(body('Filter_array:_Messages_from_Bot_for_child_test')[outputs('Message_Position_for_child_test')]?['text'], 'LatestPublishedVersionNotFound'),\n\t\t\t\t\tcontains(body('Filter_array:_Messages_from_Bot_for_child_test')[outputs('Message_Position_for_child_test')]?['text'], 'RedirectToDisabledDialog'),\n\t\t\t\t\tcontains(body('Filter_array:_Messages_from_Bot_for_child_test')[outputs('Message_Position_for_child_test')]?['text'], 'RedirectToNonExistentDialog'),\n\t\t\t\t\tcontains(body('Filter_array:_Messages_from_Bot_for_child_test')[outputs('Message_Position_for_child_test')]?['text'], 'SystemError')\n\t\t\t\t),\n\t\t\t\t'The bot returned an error',\n\t\t\t\tif(\n\t\t\t\t\tequals(items('Apply_to_each:_Child_Test')?['cat_testtypecode'], 1),\n\t\t\t\t\tif(\n\t\t\t\t\t\tor(\n\t\t\t\t\t\t\tand(\n\t\t\t\t\t\t\t\tor(\n\t\t\t\t\t\t\t\t\tequals(items('Apply_to_each:_Child_Test')?['cat_comparisonoperator'], 1),\n\t\t\t\t\t\t\t\t\tequals(items('Apply_to_each:_Child_Test')?['cat_comparisonoperator'], null)\n\t\t\t\t\t\t\t\t),\n\t\t\t\t\t\t\t\tequals(\n\t\t\t\t\t\t\t\t\titems('Apply_to_each:_Child_Test')?['cat_expectedresponse'],\n\t\t\t\t\t\t\t\t\tbody('Filter_array:_Messages_from_Bot_for_child_test')[outputs('Message_Position_for_child_test')]?['text']\n\t\t\t\t\t\t\t\t)\n\t\t\t\t\t\t\t),\n\t\t\t\t\t\t\tand(\n\t\t\t\t\t\t\t\tequals(items('Apply_to_each:_Child_Test')?['cat_comparisonoperator'], 2),\n\t\t\t\t\t\t\t\tnot(equals(\n\t\t\t\t\t\t\t\t\titems('Apply_to_each:_Child_Test')?['cat_expectedresponse'],\n\t\t\t\t\t\t\t\t\tbody('Filter_array:_Messages_from_Bot_for_child_test')[outputs('Message_Position_for_child_test')]?['text']\n\t\t\t\t\t\t\t\t))\n\t\t\t\t\t\t\t),\n\t\t\t\t\t\t\tand(\n\t\t\t\t\t\t\t\tequals(items('Apply_to_each:_Child_Test')?['cat_comparisonoperator'], 3),\n\t\t\t\t\t\t\t\tcontains(\n\t\t\t\t\t\t\t\t\tbody('Filter_array:_Messages_from_Bot_for_child_test')[outputs('Message_Position_for_child_test')]?['text'],\n\t\t\t\t\t\t\t\t\titems('Apply_to_each:_Child_Test')?['cat_expectedresponse']\n\t\t\t\t\t\t\t\t)\n\t\t\t\t\t\t\t),\n\t\t\t\t\t\t\tand(\n\t\t\t\t\t\t\t\tequals(items('Apply_to_each:_Child_Test')?['cat_comparisonoperator'], 4),\n\t\t\t\t\t\t\t\tnot(contains(\n\t\t\t\t\t\t\t\t\tbody('Filter_array:_Messages_from_Bot_for_child_test')[outputs('Message_Position_for_child_test')]?['text'],\n\t\t\t\t\t\t\t\t\titems('Apply_to_each:_Child_Test')?['cat_expectedresponse']\t\t\t\t\n\t\t\t\t\t\t\t\t))\n\t\t\t\t\t\t\t),\n\t\t\t\t\t\t\tand(\n\t\t\t\t\t\t\t\tequals(items('Apply_to_each:_Child_Test')?['cat_comparisonoperator'], 5),\n\t\t\t\t\t\t\t\tstartsWith(\n\t\t\t\t\t\t\t\t\tbody('Filter_array:_Messages_from_Bot_for_child_test')[outputs('Message_Position_for_child_test')]?['text'],\n\t\t\t\t\t\t\t\t\titems('Apply_to_each:_Child_Test')?['cat_expectedresponse']\t\t\t\t\t\t\t\t\t\n\t\t\t\t\t\t\t\t)\n\t\t\t\t\t\t\t),\n\t\t\t\t\t\t\tand(\n\t\t\t\t\t\t\t\tequals(items('Apply_to_each:_Child_Test')?['cat_comparisonoperator'], 6),\n\t\t\t\t\t\t\t\tnot(startsWith(\n\t\t\t\t\t\t\t\t\tbody('Filter_array:_Messages_from_Bot_for_child_test')[outputs('Message_Position_for_child_test')]?['text'],\n\t\t\t\t\t\t\t\t\titems('Apply_to_each:_Child_Test')?['cat_expectedresponse']\n\t\t\t\t\t\t\t\t))\n\t\t\t\t\t\t\t),\n\t\t\t\t\t\t\tand(\n\t\t\t\t\t\t\t\tequals(items('Apply_to_each:_Child_Test')?['cat_comparisonoperator'], 7),\n\t\t\t\t\t\t\t\tendsWith(\n\t\t\t\t\t\t\t\t\tbody('Filter_array:_Messages_from_Bot_for_child_test')[outputs('Message_Position_for_child_test')]?['text'],\n\t\t\t\t\t\t\t\t\titems('Apply_to_each:_Child_Test')?['cat_expectedresponse']\n\t\t\t\t\t\t\t\t)\n\t\t\t\t\t\t\t),\n\t\t\t\t\t\t\tand(\n\t\t\t\t\t\t\t\tequals(items('Apply_to_each:_Child_Test')?['cat_comparisonoperator'], 8),\n\t\t\t\t\t\t\t\tnot(endsWith(\n\t\t\t\t\t\t\t\t\tbody('Filter_array:_Messages_from_Bot_for_child_test')[outputs('Message_Position_for_child_test')]?['text'],\n\t\t\t\t\t\t\t\t\titems('Apply_to_each:_Child_Test')?['cat_expectedresponse']\n\t\t\t\t\t\t\t\t))\n\t\t\t\t\t\t\t),\n\t\t\t\t\t\t\tand(\n\t\t\t\t\t\t\t\tequals(items('Apply_to_each:_Child_Test')?['cat_comparisonoperator'], 9),\n\t\t\t\t\t\t\t\tnot(empty(\n\t\t\t\t\t\t\t\t\tbody('Filter_array:_Messages_from_Bot_for_child_test')[outputs('Message_Position_for_child_test')]?['text']\n\t\t\t\t\t\t\t\t))\n\t\t\t\t\t\t\t)\n\t\t\t\t\t\t),\n\t\t\t\t\t\t'Exact match between the expected message and the received message as per comparison operator',\n\t\t\t\t\t\t'Not an exact match between the expected response and received message as per comparison operator'\n\t\t\t\t\t),\n\t\t\t\t\tif(\n\t\t\t\t\t\tequals(items('Apply_to_each:_Child_Test')?['cat_testtypecode'], 2),\n\t\t\t\t\t\tif(\n\t\t\t\t\t\t\tequals(triggerBody()['boolean'], true),\n\t\t\t\t\t\t\t'Pending analysis of Conversation Transcripts',\n\t\t\t\t\t\t\t'Cannot be evaluated without Conversation Transcripts enrichment'\n\t\t\t\t\t\t),\n\t\t\t\t\t\tif(\n\t\t\t\t\t\t\tequals(items('Apply_to_each:_Child_Test')?['cat_testtypecode'], 4),\n\t\t\t\t\t\t\tif(\n\t\t\t\t\t\t\t\tor(\n\t\t\t\t\t\t\t\t\tequals(items('Apply_to_each:_Child_Test')?['cat_generativeansweroutcomecode'], 1),\n\t\t\t\t\t\t\t\t\tequals(items('Apply_to_each:_Child_Test')?['cat_generativeansweroutcomecode'], 2)\n\t\t\t\t\t\t\t\t),\n\t\t\t\t\t\t\t\tif(\n\t\t\t\t\t\t\t\t\tequals(triggerBody()['boolean_1'], true),\n\t\t\t\t\t\t\t\t\t'Pending analysis with AI Builder',\n\t\t\t\t\t\t\t\t\t'Cannot be evaluated without AI Builder analysis'\n\t\t\t\t\t\t\t\t),\n\t\t\t\t\t\t\t\tif(\n\t\t\t\t\t\t\t\t\tor(\n\t\t\t\t\t\t\t\t\t\tequals(items('Apply_to_each:_Child_Test')?['cat_generativeansweroutcomecode'], 3),\n\t\t\t\t\t\t\t\t\t\tequals(items('Apply_to_each:_Child_Test')?['cat_generativeansweroutcomecode'], 4)\n\t\t\t\t\t\t\t\t\t),\n\t\t\t\t\t\t\t\t\tif(\n\t\t\t\t\t\t\t\t\t\tequals(triggerBody()['boolean_1'], true),\n\t\t\t\t\t\t\t\t\t\t'Pending analysis with Azure Application Insights',\n\t\t\t\t\t\t\t\t\t\t'Cannot be evaluated without Azure Application Insights enrichment'\n\t\t\t\t\t\t\t\t\t),\n\t\t\t\t\t\t\t\t\t'Answer could not be evaluated'\n\t\t\t\t\t\t\t\t)\n\t\t\t\t\t\t\t),\n\t\t\t\t\t\t\t'Pending analysis'\n\t\t\t\t\t\t)\n\t\t\t\t\t)\n\t\t\t\t)\n\t\t\t),\n\t\t\t'Answer could not be evaluated'\n\t\t)\n\t)\n)",
                          "item/cat_isstartconversationeventsent": "@items('Apply_to_each:_Child_Test')?['cat_isstartconversationeventsent']",
                          "item/cat_suggestedactionsjson": "@\n    if(\n        or( empty(body('Filter_array:_Messages_from_Bot_for_child_test')), lessOrEquals(length(body('Filter_array:_Messages_from_Bot_for_child_test')), outputs('Message_Position_for_child_test'))),\n        null,\n        if(\n            empty(body('Filter_array:_Messages_from_Bot_for_child_test')[outputs('Message_Position_for_child_test')]?['suggestedActions']),\n            null,\n            string(body('Filter_array:_Messages_from_Bot_for_child_test')[outputs('Message_Position_for_child_test')]?['suggestedActions'])\n        )\n    )\n",
                          "item/cat_testutterance": "@items('Apply_to_each:_Child_Test')?['cat_testutterance']"
                        },
                        "authentication": {
                          "type": "Raw",
                          "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                        }
                      }
                    },
                    "Condition:_Check_for_Critical_Tests": {
                      "actions": {
                        "Set_variable:_MutiturnResult": {
                          "runAfter": {},
                          "metadata": {
                            "operationMetadataId": "8a1fb229-650d-4f7e-855e-49a0cbc48bc2"
                          },
                          "type": "SetVariable",
                          "inputs": {
                            "name": "MultiTurnResult",
                            "value": "@if(or(empty(body('Filter_array:_Messages_from_Bot_for_child_test')), lessOrEquals(length(body('Filter_array:_Messages_from_Bot_for_child_test')), outputs('Message_Position_for_child_test'))), 4, if(equals(items('Apply_to_each:_Child_Test')?['cat_testtypecode'], 3), if(equals(json(string(body('Filter_array:_Messages_from_Bot_for_child_test')[outputs('Message_Position_for_child_test')]?['attachments'])), json(string(items('Apply_to_each:_Child_Test')?['cat_expectedattachmentsjson']))), 1, 2), if(not(empty(body('Filter_array:_Messages_from_Bot_for_child_test')[outputs('Message_Position_for_child_test')]?['text'])), if(or(contains(body('Filter_array:_Messages_from_Bot_for_child_test')[outputs('Message_Position_for_child_test')]?['text'], 'ContentError'), contains(body('Filter_array:_Messages_from_Bot_for_child_test')[outputs('Message_Position_for_child_test')]?['text'], 'DataLossPreventionViolation'), contains(body('Filter_array:_Messages_from_Bot_for_child_test')[outputs('Message_Position_for_child_test')]?['text'], 'FlowActionException'), contains(body('Filter_array:_Messages_from_Bot_for_child_test')[outputs('Message_Position_for_child_test')]?['text'], 'FlowActionBadRequest'), contains(body('Filter_array:_Messages_from_Bot_for_child_test')[outputs('Message_Position_for_child_test')]?['text'], 'FlowActionTimedOut'), contains(body('Filter_array:_Messages_from_Bot_for_child_test')[outputs('Message_Position_for_child_test')]?['text'], 'InvalidContent'), contains(body('Filter_array:_Messages_from_Bot_for_child_test')[outputs('Message_Position_for_child_test')]?['text'], 'InfiniteLoopInBotContent'), contains(body('Filter_array:_Messages_from_Bot_for_child_test')[outputs('Message_Position_for_child_test')]?['text'], 'LatestPublishedVersionNotFound'), contains(body('Filter_array:_Messages_from_Bot_for_child_test')[outputs('Message_Position_for_child_test')]?['text'], 'RedirectToDisabledDialog'), contains(body('Filter_array:_Messages_from_Bot_for_child_test')[outputs('Message_Position_for_child_test')]?['text'], 'RedirectToNonExistentDialog'), contains(body('Filter_array:_Messages_from_Bot_for_child_test')[outputs('Message_Position_for_child_test')]?['text'], 'SystemError')), 4, if(equals(items('Apply_to_each:_Child_Test')?['cat_testtypecode'], 1), if(or(and(or(equals(items('Apply_to_each:_Child_Test')?['cat_comparisonoperator'], 1), equals(items('Apply_to_each:_Child_Test')?['cat_comparisonoperator'], null)), equals(items('Apply_to_each:_Child_Test')?['cat_expectedresponse'], body('Filter_array:_Messages_from_Bot_for_child_test')[outputs('Message_Position_for_child_test')]?['text'])), and(equals(items('Apply_to_each:_Child_Test')?['cat_comparisonoperator'], 2), not(equals(items('Apply_to_each:_Child_Test')?['cat_expectedresponse'], body('Filter_array:_Messages_from_Bot_for_child_test')[outputs('Message_Position_for_child_test')]?['text']))), and(equals(items('Apply_to_each:_Child_Test')?['cat_comparisonoperator'], 3), contains(body('Filter_array:_Messages_from_Bot_for_child_test')[outputs('Message_Position_for_child_test')]?['text'], items('Apply_to_each:_Child_Test')?['cat_expectedresponse'])), and(equals(items('Apply_to_each:_Child_Test')?['cat_comparisonoperator'], 4), not(contains(body('Filter_array:_Messages_from_Bot_for_child_test')[outputs('Message_Position_for_child_test')]?['text'], items('Apply_to_each:_Child_Test')?['cat_expectedresponse']))), and(equals(items('Apply_to_each:_Child_Test')?['cat_comparisonoperator'], 5), startsWith(body('Filter_array:_Messages_from_Bot_for_child_test')[outputs('Message_Position_for_child_test')]?['text'], items('Apply_to_each:_Child_Test')?['cat_expectedresponse'])), and(equals(items('Apply_to_each:_Child_Test')?['cat_comparisonoperator'], 6), not(startsWith(body('Filter_array:_Messages_from_Bot_for_child_test')[outputs('Message_Position_for_child_test')]?['text'], items('Apply_to_each:_Child_Test')?['cat_expectedresponse']))), and(equals(items('Apply_to_each:_Child_Test')?['cat_comparisonoperator'], 7), endsWith(body('Filter_array:_Messages_from_Bot_for_child_test')[outputs('Message_Position_for_child_test')]?['text'], items('Apply_to_each:_Child_Test')?['cat_expectedresponse'])), and(equals(items('Apply_to_each:_Child_Test')?['cat_comparisonoperator'], 8), not(endsWith(body('Filter_array:_Messages_from_Bot_for_child_test')[outputs('Message_Position_for_child_test')]?['text'], items('Apply_to_each:_Child_Test')?['cat_expectedresponse']))), and(equals(items('Apply_to_each:_Child_Test')?['cat_comparisonoperator'], 9), not(empty(body('Filter_array:_Messages_from_Bot_for_child_test')[outputs('Message_Position_for_child_test')]?['text'])))), 1, 2), if(equals(items('Apply_to_each:_Child_Test')?['cat_testtypecode'], 2), if(equals(triggerBody()['boolean'], true), 5, 3), if(equals(items('Apply_to_each:_Child_Test')?['cat_testtypecode'], 4), if(or(equals(items('Apply_to_each:_Child_Test')?['cat_generativeansweroutcomecode'], 1), equals(items('Apply_to_each:_Child_Test')?['cat_generativeansweroutcomecode'], 2)), if(equals(triggerBody()['boolean_1'], true), 5, 3), if(or(equals(items('Apply_to_each:_Child_Test')?['cat_generativeansweroutcomecode'], 3), equals(items('Apply_to_each:_Child_Test')?['cat_generativeansweroutcomecode'], 4)), if(equals(triggerBody()['boolean_2'], true), 5, 3), 3)), 5)))), 3)))"
                          }
                        },
                        "Condition:_Check_if_Test_failed_or_errored_out": {
                          "actions": {
                            "Set_variable:_ContinueMultiTurnProcessing": {
                              "runAfter": {},
                              "metadata": {
                                "operationMetadataId": "7f503c7c-6031-4e23-9f70-0bc5822b4bd1"
                              },
                              "type": "SetVariable",
                              "inputs": {
                                "name": "ContinueMultiTurnProcessing",
                                "value": "@false"
                              }
                            },
                            "Set_variable:_MultiTurnPendingResult_2": {
                              "runAfter": {
                                "Set_variable:_ContinueMultiTurnProcessing": [
                                  "Succeeded"
                                ]
                              },
                              "metadata": {
                                "operationMetadataId": "b94a866c-fad9-420a-9d00-dccd476cd217"
                              },
                              "type": "SetVariable",
                              "inputs": {
                                "name": "MultiturnPendingResult",
                                "value": "@false"
                              }
                            }
                          },
                          "runAfter": {
                            "Set_variable:_MutiturnResult": [
                              "Succeeded"
                            ]
                          },
                          "else": {
                            "actions": {
                              "Set_variable:_MultiTurnPendingResult": {
                                "runAfter": {},
                                "metadata": {
                                  "operationMetadataId": "57daf672-6860-4ea7-a978-7c8a98af5ce7"
                                },
                                "type": "SetVariable",
                                "inputs": {
                                  "name": "MultiTurnPendingResult",
                                  "value": "@if(equals(variables('MultiturnResult'), 5), true, false)"
                                }
                              }
                            }
                          },
                          "expression": {
                            "and": [
                              {
                                "or": [
                                  {
                                    "equals": [
                                      "@variables('MultiturnResult')",
                                      2
                                    ]
                                  },
                                  {
                                    "equals": [
                                      "@variables('MultiturnResult')",
                                      3
                                    ]
                                  },
                                  {
                                    "equals": [
                                      "@variables('MultiturnResult')",
                                      4
                                    ]
                                  }
                                ]
                              }
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "ae6c2233-5a05-4546-b1f5-6c828cacd149"
                          },
                          "type": "If"
                        }
                      },
                      "runAfter": {
                        "Add_a_new_row:_Child_Multiturn_Test_Results": [
                          "Succeeded"
                        ]
                      },
                      "expression": {
                        "equals": [
                          "@items('Apply_to_each:_Child_Test')?['cat_critical']",
                          "@true"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "07aa1699-6edb-4f21-a6f5-70018f04d417"
                      },
                      "type": "If"
                    }
                  },
                  "runAfter": {
                    "Compose:_CurrentTimestamp": [
                      "Succeeded"
                    ]
                  },
                  "expression": {
                    "equals": [
                      "@variables('ContinueMultiTurnProcessing')",
                      "@true"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "4108f015-6273-4a57-b055-7167c6f4423f"
                  },
                  "type": "If"
                },
                "Delay_for_next_test_run": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "22fc1556-e03f-4275-b5c0-9358e9b915e6"
                  },
                  "type": "Wait",
                  "inputs": {
                    "interval": {
                      "count": 1,
                      "unit": "Second"
                    }
                  }
                },
                "Compose:_CurrentTimestamp": {
                  "runAfter": {
                    "Delay_for_next_test_run": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "68cb610f-b99d-40c2-9fc7-d9d8776af984"
                  },
                  "type": "Compose",
                  "inputs": "@utcNow()"
                }
              },
              "runAfter": {
                "Add_a_new_row:_Agent_Test_Results_for_Multiturn_Test": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "3205f8ab-494e-434c-894c-99b293055eaa"
              },
              "type": "Foreach"
            },
            "Update_a_row:_MultiTurn_Agent_Test_Result": {
              "runAfter": {
                "Apply_to_each:_Child_Test": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "ff42dc5a-8d98-4f47-bd96-5da07a1e5c4f"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "UpdateOnlyRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "cat_copilottestresults",
                  "recordId": "@outputs('Add_a_new_row:_Agent_Test_Results_for_Multiturn_Test')?['body/cat_copilottestresultid']",
                  "item/cat_resultcode": "@if(variables('MultiturnPendingResult'), \r\n\t5, \r\n\tvariables('MultiturnResult')\r\n)"
                },
                "authentication": {
                  "type": "Raw",
                  "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                }
              }
            },
            "List_rows:_Get_Child_Agent_Tests": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "513b51fd-bab2-41f3-aeff-881b12158e37"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "ListRecords",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "cat_copilottests",
                  "fetchXml": "<fetch>\n    <entity name=\"cat_copilottest\">\n        <attribute name=\"cat_name\"/>\n        <attribute name=\"cat_testutterance\"/>\n        <attribute name=\"cat_copilottestid\"/>\n        <attribute name=\"cat_expectedresponse\"/>\n        <attribute name=\"cat_testtypecode\"/>\n        <attribute name=\"cat_generativeansweroutcomecode\"/>\n        <attribute name=\"cat_expectedpositionoftheresponseactivity\"/>\n        <attribute name=\"cat_expectedtopicname\"/>\n        <attribute name=\"cat_isstartconversationeventsent\"/>\n        <attribute name=\"cat_externalvariablesjson\"/>\n        <attribute name=\"cat_expectedattachmentsjson\"/>\n        <attribute name=\"cat_secondsbeforegettinganswer\"/>\n        <attribute name=\"cat_critical\"/>\n        <attribute name=\"cat_comparisonoperator\"/>\n         <order attribute=\"cat_order\" descending=\"false\"/>\n        <filter type=\"and\">\n            <condition attribute=\"cat_copilottestsetid\" operator=\"eq\" value=\"@{triggerBody()['text_1']}\" />\n            <condition attribute=\"statecode\" operator=\"eq\" value=\"0\" />\n            <condition attribute=\"cat_parent\" operator=\"eq\" value=\"@{triggerBody()['text_2']}\" />\n           <condition attribute=\"cat_testtypecode\" operator=\"ne\" value=\"5\" />\n        </filter>\n    </entity>\n</fetch>"
                },
                "authentication": {
                  "type": "Raw",
                  "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                }
              }
            }
          },
          "runAfter": {
            "Initialize_variable:_MultiturnPendingResult": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "75c31a0c-a785-47d0-910e-ebca27aca135"
          },
          "type": "Scope"
        },
        "Scope:_Catch": {
          "actions": {
            "Filter_array:_Error_Actions": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "318aa9b2-4531-451c-b162-84cf7a4a236e"
              },
              "type": "Query",
              "inputs": {
                "from": "@result('Scope:_Try')",
                "where": "@or(equals(item()?['Status'], 'Failed'), equals(item()?['Status'], 'TimedOut'))"
              }
            },
            "Terminate": {
              "runAfter": {
                "Filter_array:_Error_Actions": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "c90cfba0-5d85-41cd-a3a1-ba97f79cf4b1"
              },
              "type": "Terminate",
              "inputs": {
                "runStatus": "Failed",
                "runError": {
                  "code": "MULTITURNERROR",
                  "message": "@{first(body('Filter_array:_Error_Actions'))?['error']?['message']}"
                }
              }
            }
          },
          "runAfter": {
            "Scope:_Try": [
              "Failed",
              "Skipped",
              "TimedOut"
            ]
          },
          "metadata": {
            "operationMetadataId": "4f2e4827-62c8-4225-94cd-14089e7ac8f7"
          },
          "type": "Scope"
        },
        "Scope:_Finally": {
          "actions": {
            "Respond_to_a_Power_App_or_flow": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "e8410b00-0fc0-421a-a0fc-f48f67f959d5"
              },
              "type": "Response",
              "kind": "PowerApp",
              "inputs": {
                "statusCode": 200,
                "body": {
                  "response": "Flow completed."
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "response": {
                      "title": "Response",
                      "x-ms-dynamically-added": true,
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "runAfter": {
            "Scope:_Catch": [
              "Succeeded",
              "Failed",
              "Skipped",
              "TimedOut"
            ]
          },
          "metadata": {
            "operationMetadataId": "3b16a931-71ef-4a27-b6c8-cea6a9fc38f1"
          },
          "type": "Scope"
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}