CopilotStudioAccelerator/SolutionPackage/src/Workflows/TestAutomationUpdateAgentTestRunRollupColumns-27CF52D8-5812-EF11-9F8A-000D3A5A66F7.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "cat_CopilotStudioAcceleratorDataverse"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "When_an_action_is_performed": {
          "metadata": {
            "operationMetadataId": "bd8c5cbc-9725-440d-80bd-e1b0ee675458"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "BusinessEventsTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "catalog": "allcatalog",
              "category": "allcategory",
              "subscriptionRequest/entityname": "cat_copilottestrun",
              "subscriptionRequest/sdkmessagename": "cat_RunRollupColumnsUpdates"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Scope:_Calculate_Rollup_Columns": {
          "actions": {
            "Calculate_Rollup_Column_-_#_Tests": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "2cd7a00e-dee4-4448-bc36-3e2df7600f44"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "PerformUnboundAction",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "actionName": "cat_CalculateRollup",
                  "item/cat_TargetEntityId": "@triggerOutputs()?['body/InputParameters/CopilotTestRunId']",
                  "item/cat_TargetEntityName": "cat_copilottestrun",
                  "item/cat_TargetFieldName": "cat_tests"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Calculate_Rollup_Column_-_#_Success": {
              "runAfter": {
                "Calculate_Rollup_Column_-_#_Tests": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "f7c9d479-32dd-48d7-9170-2dd9240e204c"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "PerformUnboundAction",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "actionName": "cat_CalculateRollup",
                  "item/cat_TargetEntityId": "@triggerOutputs()?['body/InputParameters/CopilotTestRunId']",
                  "item/cat_TargetEntityName": "cat_copilottestrun",
                  "item/cat_TargetFieldName": "cat_success"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Calculate_Rollup_Column_-_#_Failed": {
              "runAfter": {
                "Calculate_Rollup_Column_-_#_Success": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "d740f6a7-dc8b-4cf5-b7ba-095d2f0f1a0d"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "PerformUnboundAction",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "actionName": "cat_CalculateRollup",
                  "item/cat_TargetEntityId": "@triggerOutputs()?['body/InputParameters/CopilotTestRunId']",
                  "item/cat_TargetEntityName": "cat_copilottestrun",
                  "item/cat_TargetFieldName": "cat_failed"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Calculate_Rollup_Column_-_#_Unknown": {
              "runAfter": {
                "Calculate_Rollup_Column_-_#_Failed": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "24e830f0-fe0a-4f5b-8259-e32ccd0a4462"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "PerformUnboundAction",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "actionName": "cat_CalculateRollup",
                  "item/cat_TargetEntityId": "@triggerOutputs()?['body/InputParameters/CopilotTestRunId']",
                  "item/cat_TargetEntityName": "cat_copilottestrun",
                  "item/cat_TargetFieldName": "cat_unknown"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Calculate_Rollup_Column_-_#_Error": {
              "runAfter": {
                "Calculate_Rollup_Column_-_#_Unknown": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "6d457f5e-bd16-4746-a8e7-17e03915caf9"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "PerformUnboundAction",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "actionName": "cat_CalculateRollup",
                  "item/cat_TargetEntityId": "@triggerOutputs()?['body/InputParameters/CopilotTestRunId']",
                  "item/cat_TargetEntityName": "cat_copilottestrun",
                  "item/cat_TargetFieldName": "cat_error"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Calculate_Rollup_Column_-_#_Pending": {
              "runAfter": {
                "Calculate_Rollup_Column_-_#_Error": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "ddd51e2e-e159-486c-8c10-53af0cc22c45"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "PerformUnboundAction",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "actionName": "cat_CalculateRollup",
                  "item/cat_TargetEntityId": "@triggerOutputs()?['body/InputParameters/CopilotTestRunId']",
                  "item/cat_TargetEntityName": "cat_copilottestrun",
                  "item/cat_TargetFieldName": "cat_pending"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Calculate_Rollup_Column_-_Average_Latency": {
              "runAfter": {
                "Calculate_Rollup_Column_-_#_Pending": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "9c1eab88-1c4e-4001-9c34-f7c579b8878e"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "PerformUnboundAction",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "actionName": "cat_CalculateRollup",
                  "item/cat_TargetEntityId": "@triggerOutputs()?['body/InputParameters/CopilotTestRunId']",
                  "item/cat_TargetEntityName": "cat_copilottestrun",
                  "item/cat_TargetFieldName": "cat_averagelatencyms"
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "d0c74f29-082a-4c7e-b0da-1a65fd39c8fd"
          },
          "type": "Scope"
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}