CopilotStudioAccelerator/SolutionPackage/src/Workflows/TestAutomationRunMultiturnTestsChild-FE662B82-0DFF-EF11-BAE2-00224802C180.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps_1": {
        "api": {
          "name": "shared_commondataserviceforapps"
        },
        "connection": {
          "connectionReferenceLogicalName": "cat_CopilotStudioAcceleratorDataverse"
        },
        "runtimeSource": "embedded"
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        }
      },
      "triggers": {
        "manual": {
          "type": "Request",
          "kind": "Button",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "text": {
                  "title": "AgentTestRunId",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                },
                "text_1": {
                  "title": "AgentTestSetId",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                },
                "text_2": {
                  "title": "ParentTestId",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                },
                "text_3": {
                  "title": "DirectLineToken",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                },
                "text_4": {
                  "title": "ConversationId",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                },
                "text_5": {
                  "title": "Owner",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                },
                "text_6": {
                  "title": "BotFrameworkUri",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                },
                "boolean": {
                  "title": "ConTranscriptsEnrichmentEnabled",
                  "type": "boolean",
                  "x-ms-dynamically-added": true,
                  "description": "Please select yes or no",
                  "x-ms-content-hint": "BOOLEAN"
                },
                "boolean_1": {
                  "title": "GenAnswersEnabled",
                  "type": "boolean",
                  "x-ms-dynamically-added": true,
                  "description": "Please select yes or no",
                  "x-ms-content-hint": "BOOLEAN"
                },
                "boolean_2": {
                  "title": "AppInsightsEnabled",
                  "type": "boolean",
                  "x-ms-dynamically-added": true,
                  "description": "Please select yes or no",
                  "x-ms-content-hint": "BOOLEAN"
                }
              },
              "required": [
                "text",
                "text_1",
                "text_2",
                "text_3",
                "text_4",
                "text_5",
                "text_6",
                "boolean",
                "boolean_1",
                "boolean_2"
              ]
            }
          },
          "metadata": {
            "operationMetadataId": "a2bccfe2-6feb-47f7-bffe-dc8a94216e2d"
          }
        }
      },
      "actions": {
        "Initialize_variable:_ContinueMultiturnProcessing": {
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "ContinueMultiturnProcessing",
                "type": "boolean",
                "value": "@true"
              }
            ]
          },
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "bfa823e7-3504-432e-990e-589d29149f0b"
          }
        },
        "Initialize_variable:_MultiturnResult": {
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "MultiturnResult",
                "type": "integer",
                "value": 1
              }
            ]
          },
          "runAfter": {
            "Initialize_variable:_ContinueMultiturnProcessing": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "a3125a46-5313-4d02-bbfb-057eceb6cd97"
          }
        },
        "Initialize_variable:_MultiturnPendingResult": {
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "MultiturnPendingResult",
                "type": "boolean",
                "value": "@false"
              }
            ]
          },
          "runAfter": {
            "Initialize_variable:_MultiturnResult": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "cd2678c6-278c-4208-b809-513e48fa9363"
          }
        },
        "Scope:_Try": {
          "type": "Scope",
          "actions": {
            "Initiate_Conversation_For_Multiturn_Test": {
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "actionName": "cat_InitiateConversation",
                  "item/cat_Token": "@triggerBody()['text_3']",
                  "item/cat_BotFrameworkUri": "@triggerBody()['text_6']"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "operationId": "PerformUnboundAction",
                  "connectionName": "shared_commondataserviceforapps_1"
                }
              },
              "runAfter": {
                "List_rows:_Get_Child_Agent_Tests": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "7af2e74d-db42-4a35-940f-24b9d8e80da4"
              }
            },
            "Add_a_new_row:_Agent_Test_Results_for_Multiturn_Test": {
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "entityName": "cat_copilottestresults",
                  "item/cat_CopilotTestId@odata.bind": "cat_copilottests(@{triggerBody()['text_2']})",
                  "item/cat_CopilotTestRunId@odata.bind": "cat_copilottestruns(@{triggerBody()['text']})",
                  "item/cat_name": "@triggerBody()['text_4']",
                  "item/cat_resultcode": 5,
                  "item/cat_testtypecode": 5
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "operationId": "CreateRecord",
                  "connectionName": "shared_commondataserviceforapps_1"
                }
              },
              "runAfter": {
                "Initiate_Conversation_For_Multiturn_Test": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "245488e3-60d0-432d-aff5-b9ac129aac95"
              }
            },
            "Apply_to_each:_Child_Test": {
              "type": "Foreach",
              "foreach": "@outputs('List_rows:_Get_Child_Agent_Tests')?['body/value']",
              "actions": {
                "Condition:_Check_to_continue_Multiturn_processing": {
                  "type": "If",
                  "expression": {
                    "equals": [
                      "@variables('ContinueMultiTurnProcessing')",
                      "@true"
                    ]
                  },
                  "actions": {
                    "Condition:_If_External_Variables_MultiTurn": {
                      "type": "If",
                      "expression": {
                        "not": {
                          "equals": [
                            "@items('Apply_to_each:_Child_Test')?['cat_externalvariablesjson']",
                            "@null"
                          ]
                        }
                      },
                      "actions": {
                        "Send_pvaSetContext_Event_MultiTurn": {
                          "type": "OpenApiConnection",
                          "inputs": {
                            "parameters": {
                              "actionName": "cat_SendMessageOrEvent",
                              "item/cat_ConverationId": "@triggerBody()['text_4']",
                              "item/cat_Token": "@triggerBody()['text_3']",
                              "item/cat_Body": "{\n  \"type\": \"event\",\n  \"from\": {\n    \"id\": \"@{triggerBody()['text']}\"\n  },\n  \"name\": \"pvaSetContext\",\n  \"value\": @{json(items('Apply_to_each:_Child_Test')?['cat_externalvariablesjson'])}\n}",
                              "item/cat_BotFrameworkUri": "@triggerBody()['text_6']"
                            },
                            "host": {
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                              "operationId": "PerformUnboundAction",
                              "connectionName": "shared_commondataserviceforapps_1"
                            }
                          },
                          "metadata": {
                            "operationMetadataId": "74f0f5db-0738-4006-a8b7-61d7f1b0562e"
                          }
                        }
                      },
                      "else": {
                        "actions": {}
                      },
                      "metadata": {
                        "operationMetadataId": "550099ac-1e76-48c1-826c-bdfdcd6a2582"
                      }
                    },
                    "Condition:_If_Send_startConversation_Event_MultiTurn": {
                      "type": "If",
                      "expression": {
                        "equals": [
                          "@items('Apply_to_each:_Child_Test')?['cat_isstartconversationeventsent']",
                          true
                        ]
                      },
                      "actions": {
                        "Send_startConversation_Event_MultiTurn": {
                          "type": "OpenApiConnection",
                          "inputs": {
                            "parameters": {
                              "actionName": "cat_SendMessageOrEvent",
                              "item/cat_ConverationId": "@triggerBody()['text_4']",
                              "item/cat_Token": "@triggerBody()['text_3']",
                              "item/cat_Body": "{\n  \"type\": \"event\",\n  \"from\": {\n    \"id\": \"@{triggerBody()['text']}\"\n  },\n  \"name\": \"startConversation\"\n}",
                              "item/cat_BotFrameworkUri": "@triggerBody()['text_6']"
                            },
                            "host": {
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                              "operationId": "PerformUnboundAction",
                              "connectionName": "shared_commondataserviceforapps_1"
                            }
                          },
                          "metadata": {
                            "operationMetadataId": "74f0f5db-0738-4006-a8b7-61d7f1b0562e"
                          }
                        }
                      },
                      "else": {
                        "actions": {}
                      },
                      "runAfter": {
                        "Condition:_If_External_Variables_MultiTurn": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "550099ac-1e76-48c1-826c-bdfdcd6a2582"
                      }
                    },
                    "Send_Test_Utterance_for_child_test": {
                      "type": "OpenApiConnection",
                      "inputs": {
                        "parameters": {
                          "actionName": "cat_SendMessageOrEvent",
                          "item/cat_ConverationId": "@triggerBody()['text_4']",
                          "item/cat_Token": "@triggerBody()['text_3']",
                          "item/cat_Body": "{\n  \"type\": \"message\",\n  \"from\": {\n    \"id\": \"@{triggerBody()?['text']}\"\n  },\n  \"@{if(equals(items('Apply_to_each:_Child_Test')?['cat_operationtypecode'], 3), 'value' , 'text')}\": @{if(\r\n  equals(items('Apply_to_each:_Child_Test')?['cat_operationtypecode'], 3),\r\n  json(string(items('Apply_to_each:_Child_Test')?['cat_adaptivecardpayload'])),\r\n  concat(\r\n    '\"',\r\n    replace(items('Apply_to_each:_Child_Test')?['cat_testutterance'], '\"', '\\\"'),\r\n    '\"'\r\n  )\r\n)\r\n}\n}",
                          "item/cat_BotFrameworkUri": "@triggerBody()['text_6']"
                        },
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                          "operationId": "PerformUnboundAction",
                          "connectionName": "shared_commondataserviceforapps_1"
                        }
                      },
                      "runAfter": {
                        "Condition:_If_Send_startConversation_Event_MultiTurn": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "db472735-2a7d-4906-921e-227c71ece895"
                      }
                    },
                    "Do_until_bot_responds_or_till_timeout_for_child_test": {
                      "type": "Until",
                      "expression": "@if(equals(items('Apply_to_each:_Child_Test')?['cat_isstartconversationeventsent'], true), greater(length(body('Filter_array:_Messages_from_Bot_for_child_test')), 1), greater(length(body('Filter_array:_Messages_from_Bot_for_child_test')), 0))",
                      "limit": {
                        "count": 25,
                        "timeout": "PT3M"
                      },
                      "actions": {
                        "Delay_before_fetching_responses_for_child_test": {
                          "type": "Wait",
                          "inputs": {
                            "interval": {
                              "count": "@if(equals(items('Apply_to_each:_Child_Test')?['cat_secondsbeforegettinganswer'], null),\n\tif( equals(items('Apply_to_each:_Child_Test')?['cat_testtypecode'], 4),\n\t\t10,\n\t\t5\n\t),\n\titems('Apply_to_each:_Child_Test')?['cat_secondsbeforegettinganswer']\n)",
                              "unit": "Second"
                            }
                          },
                          "metadata": {
                            "operationMetadataId": "4c00dfa0-1ae9-4896-a472-0546a41ffdc8"
                          }
                        },
                        "Get_Activities_for_child_test": {
                          "type": "OpenApiConnection",
                          "inputs": {
                            "parameters": {
                              "actionName": "cat_GetResponse",
                              "item/cat_ConverationId": "@triggerBody()['text_4']",
                              "item/cat_BotFrameworkUri": "@triggerBody()['text_6']",
                              "item/cat_Token": "@triggerBody()['text_3']"
                            },
                            "host": {
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                              "operationId": "PerformUnboundAction",
                              "connectionName": "shared_commondataserviceforapps_1"
                            }
                          },
                          "runAfter": {
                            "Delay_before_fetching_responses_for_child_test": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "72c0569d-987b-4416-a1da-36ace14c56f5"
                          }
                        },
                        "Parse_Activities_Response_for_child_test": {
                          "type": "ParseJson",
                          "inputs": {
                            "content": "@outputs('Get_Activities_for_child_test')?['body/cat_Response']",
                            "schema": {
                              "type": "object",
                              "properties": {
                                "activities": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "type": {
                                        "type": "string"
                                      },
                                      "from": {
                                        "type": "object",
                                        "properties": {
                                          "role": {
                                            "type": "string"
                                          },
                                          "id": {
                                            "type": "string"
                                          }
                                        }
                                      },
                                      "text": {
                                        "type": "string"
                                      },
                                      "timestamp": {
                                        "type": "string"
                                      },
                                      "attachments": {
                                        "type": "array",
                                        "items": {
                                          "type": "object",
                                          "properties": {
                                            "contentType": {
                                              "type": "string"
                                            },
                                            "content": {
                                              "oneOf": [
                                                {
                                                  "type": "object"
                                                },
                                                {
                                                  "type": "array",
                                                  "items": {
                                                    "type": "object",
                                                    "properties": {
                                                      "type": {
                                                        "type": "string"
                                                      },
                                                      "id": {
                                                        "type": "string"
                                                      },
                                                      "timestamp": {
                                                        "type": "string"
                                                      },
                                                      "serviceUrl": {
                                                        "type": "string"
                                                      },
                                                      "channelId": {
                                                        "type": "string"
                                                      },
                                                      "from": {
                                                        "type": "object",
                                                        "properties": {
                                                          "id": {
                                                            "type": "string"
                                                          }
                                                        }
                                                      },
                                                      "conversation": {
                                                        "type": "object",
                                                        "properties": {
                                                          "id": {
                                                            "type": "string"
                                                          }
                                                        }
                                                      },
                                                      "recipient": {
                                                        "type": "object",
                                                        "properties": {
                                                          "id": {
                                                            "type": "string"
                                                          },
                                                          "name": {
                                                            "type": "string"
                                                          },
                                                          "role": {
                                                            "type": "string"
                                                          }
                                                        }
                                                      },
                                                      "membersAdded": {
                                                        "type": "array",
                                                        "items": {
                                                          "type": "object"
                                                        }
                                                      },
                                                      "membersRemoved": {
                                                        "type": "array",
                                                        "items": {
                                                          "type": "object"
                                                        }
                                                      },
                                                      "reactionsAdded": {
                                                        "type": "array",
                                                        "items": {
                                                          "type": "object"
                                                        }
                                                      },
                                                      "reactionsRemoved": {
                                                        "type": "array",
                                                        "items": {
                                                          "type": "object"
                                                        }
                                                      },
                                                      "text": {
                                                        "type": "string"
                                                      },
                                                      "attachments": {
                                                        "type": "array",
                                                        "items": {
                                                          "type": "object"
                                                        }
                                                      },
                                                      "entities": {
                                                        "type": "array",
                                                        "items": {
                                                          "type": "object"
                                                        }
                                                      },
                                                      "replyToId": {
                                                        "type": "string"
                                                      },
                                                      "value": {
                                                        "type": "object"
                                                      },
                                                      "name": {
                                                        "type": "string"
                                                      },
                                                      "listenFor": {
                                                        "type": "array",
                                                        "items": {
                                                          "type": "string"
                                                        }
                                                      },
                                                      "textHighlights": {
                                                        "type": "array",
                                                        "items": {
                                                          "type": "object"
                                                        }
                                                      }
                                                    }
                                                  }
                                                }
                                              ]
                                            }
                                          }
                                        }
                                      },
                                      "suggestedActions": {
                                        "type": "object",
                                        "properties": {
                                          "to": {
                                            "type": "array",
                                            "items": {
                                              "type": "string"
                                            }
                                          },
                                          "actions": {
                                            "type": "array",
                                            "items": {
                                              "type": "object",
                                              "properties": {
                                                "type": {
                                                  "type": "string"
                                                },
                                                "title": {
                                                  "type": "string"
                                                },
                                                "text": {
                                                  "type": "string"
                                                },
                                                "value": {
                                                  "type": "string"
                                                }
                                              }
                                            }
                                          }
                                        }
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          },
                          "runAfter": {
                            "Get_Activities_for_child_test": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "488c476d-25f0-40c4-af46-e09b56f26102"
                          }
                        },
                        "Filter_array:_Activities_of_type_Message_for_child_test": {
                          "type": "Query",
                          "inputs": {
                            "from": "@body('Parse_Activities_Response_for_child_test')?['activities']",
                            "where": "@equals(item()?['type'], 'message')"
                          },
                          "runAfter": {
                            "Parse_Activities_Response_for_child_test": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "83d3803e-42d9-4d1b-8963-78732c59190a"
                          }
                        },
                        "Filter_array:_Messages_from_Bot_for_child_test": {
                          "type": "Query",
                          "inputs": {
                            "from": "@body('Filter_array:_Activities_of_type_Message_for_child_test')",
                            "where": "@and(\r\n    equals(item()?['from']?['role'], 'bot'),\r\n    greaterOrEquals(item()?['timestamp'], outputs('Compose:_CurrentTimestamp')),\r\n    empty(first(item()?['attachments'])?['content']?['tokenExchangeResource']?['id']),\r\n    or(\r\n        equals(first(item()?['attachments'])?['contentType'], 'application/vnd.microsoft.card.adaptive'),\r\n        and(\r\n            not(empty(item()?['text'])), \r\n            not(\r\n                or(\r\n                    contains(toLower(item()?['text']), 'need you to sign in'),\r\n                    contains(toLower(item()?['text']), 'please sign in'),\r\n                    contains(toLower(item()?['text']), 'sign in to continue'),\r\n                    contains(toLower(item()?['text']), 'log in to access'),\r\n                    contains(toLower(item()?['text']), 'sign-in required'),\r\n                    contains(toLower(item()?['text']), 'click here to log in')\r\n                )\r\n            )\r\n        )\r\n    )\r\n)"
                          },
                          "runAfter": {
                            "Filter_array:_Activities_of_type_Message_for_child_test": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "2e772575-37e2-42f7-ba6d-e3e5c92a5136"
                          }
                        }
                      },
                      "runAfter": {
                        "Send_Test_Utterance_for_child_test": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "5a6cbf30-8aba-4d78-8839-f23760e40e57"
                      }
                    },
                    "Filter_array:_Messages_from_User_for_child_test": {
                      "type": "Query",
                      "inputs": {
                        "from": "@body('Filter_array:_Activities_of_type_Message_for_child_test')",
                        "where": "@not(equals(item()?['from']?['role'], 'bot'))"
                      },
                      "runAfter": {
                        "Do_until_bot_responds_or_till_timeout_for_child_test": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "2e772575-37e2-42f7-ba6d-e3e5c92a5136"
                      }
                    },
                    "Message_Position_for_child_test": {
                      "type": "Compose",
                      "inputs": "@\r\n    if(\r\n        not(equals(items('Apply_to_each:_Child_Test')?['cat_expectedpositionoftheresponseactivity'], null)), \r\n        int(items('Apply_to_each:_Child_Test')?['cat_expectedpositionoftheresponseactivity']), \r\n        if(\r\n            equals(items('Apply_to_each:_Child_Test')?['cat_isstartconversationeventsent'], true), \r\n            if(\r\n                greater(length(body('Filter_array:_Activities_of_type_Message_for_child_test')), 1), \r\n                1, \r\n                0\r\n            ), \r\n            0\r\n        )\r\n    )\r\n",
                      "runAfter": {
                        "Filter_array:_Messages_from_User_for_child_test": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "1cb65d3c-ed22-42f2-b6c4-dab6e07bd180"
                      }
                    },
                    "Add_a_new_row:_Child_Multiturn_Test_Results": {
                      "type": "OpenApiConnection",
                      "inputs": {
                        "parameters": {
                          "entityName": "cat_copilottestresults",
                          "item/cat_CopilotTestId@odata.bind": "cat_copilottests(@{items('Apply_to_each:_Child_Test')?['cat_copilottestid']})",
                          "item/cat_CopilotTestRunId@odata.bind": "cat_copilottestruns(@{triggerBody()['text']})",
                          "item/cat_name": "@triggerBody()['text_4']",
                          "item/cat_resultcode": "@if(\r\n  or(\r\n    empty(body('Filter_array:_Messages_from_Bot_for_child_test')),\r\n    lessOrEquals(length(body('Filter_array:_Messages_from_Bot_for_child_test')), outputs('Message_Position_for_child_test'))\r\n  ),\r\n  if(\r\n    and(\r\n      equals(items('Apply_to_each:_Child_Test')?['cat_testtypecode'], 3),\r\n      equals(items('Apply_to_each:_Child_Test')?['cat_operationtypecode'], 3)\r\n    ),\r\n    if(outputs('Compose:_Attachments_Result'), 1, 2),\r\n    4\r\n  ),\r\n  if(\r\n    equals(items('Apply_to_each:_Child_Test')?['cat_testtypecode'], 3),\r\n    if(\r\n      or(and(equals(items('Apply_to_each:_Child_Test')?['cat_operationtypecode'], null), equals(items('Apply_to_each:_Child_Test')?['cat_comparisonoperator'], 10)),\r\n      equals(items('Apply_to_each:_Child_Test')?['cat_operationtypecode'], 2)),\r\n      5,\r\n      if(outputs('Compose:_Attachments_Result'), 1, 2)\r\n    ),\r\n    if(\r\n      or(\r\n        not(empty(body('Filter_array:_Messages_from_Bot_for_child_test')[outputs('Message_Position_for_child_test')]?['text'])),\r\n        not(empty(body('Filter_array:_Messages_from_Bot_for_child_test')[outputs('Message_Position_for_child_test')]?['attachments']))\r\n      ),\r\n      if(\r\n        and(\r\n          not(empty(body('Filter_array:_Messages_from_Bot_for_child_test')[outputs('Message_Position_for_child_test')]?['text'])),\r\n          or(\r\n            contains(coalesce(body('Filter_array:_Messages_from_Bot_for_child_test')[outputs('Message_Position_for_child_test')]?['text'], ''), 'ContentError'),\r\n            contains(coalesce(body('Filter_array:_Messages_from_Bot_for_child_test')[outputs('Message_Position_for_child_test')]?['text'], ''), 'DataLossPreventionViolation'),\r\n            contains(coalesce(body('Filter_array:_Messages_from_Bot_for_child_test')[outputs('Message_Position_for_child_test')]?['text'], ''), 'FlowActionException'),\r\n            contains(coalesce(body('Filter_array:_Messages_from_Bot_for_child_test')[outputs('Message_Position_for_child_test')]?['text'], ''), 'FlowActionBadRequest'),\r\n            contains(coalesce(body('Filter_array:_Messages_from_Bot_for_child_test')[outputs('Message_Position_for_child_test')]?['text'], ''), 'FlowActionTimedOut'),\r\n            contains(coalesce(body('Filter_array:_Messages_from_Bot_for_child_test')[outputs('Message_Position_for_child_test')]?['text'], ''), 'InvalidContent'),\r\n            contains(coalesce(body('Filter_array:_Messages_from_Bot_for_child_test')[outputs('Message_Position_for_child_test')]?['text'], ''), 'InfiniteLoopInBotContent'),\r\n            contains(coalesce(body('Filter_array:_Messages_from_Bot_for_child_test')[outputs('Message_Position_for_child_test')]?['text'], ''), 'LatestPublishedVersionNotFound'),\r\n            contains(coalesce(body('Filter_array:_Messages_from_Bot_for_child_test')[outputs('Message_Position_for_child_test')]?['text'], ''), 'RedirectToDisabledDialog'),\r\n            contains(coalesce(body('Filter_array:_Messages_from_Bot_for_child_test')[outputs('Message_Position_for_child_test')]?['text'], ''), 'RedirectToNonExistentDialog'),\r\n            contains(coalesce(body('Filter_array:_Messages_from_Bot_for_child_test')[outputs('Message_Position_for_child_test')]?['text'], ''), 'SystemError')\r\n          )\r\n        ),\r\n        4,\r\n        if(\r\n          equals(items('Apply_to_each:_Child_Test')?['cat_testtypecode'], 1),\r\n          if(\r\n            or(\r\n              and(\r\n                or(\r\n                  equals(items('Apply_to_each:_Child_Test')?['cat_comparisonoperator'], 1),\r\n                  equals(items('Apply_to_each:_Child_Test')?['cat_comparisonoperator'], null)\r\n                ),\r\n                equals(items('Apply_to_each:_Child_Test')?['cat_expectedresponse'], body('Filter_array:_Messages_from_Bot_for_child_test')[outputs('Message_Position_for_child_test')]?['text'])\r\n              ),\r\n              and(\r\n                equals(items('Apply_to_each:_Child_Test')?['cat_comparisonoperator'], 2),\r\n                not(equals(items('Apply_to_each:_Child_Test')?['cat_expectedresponse'], body('Filter_array:_Messages_from_Bot_for_child_test')[outputs('Message_Position_for_child_test')]?['text']))\r\n              ),\r\n              and(\r\n                equals(items('Apply_to_each:_Child_Test')?['cat_comparisonoperator'], 3),\r\n                contains(body('Filter_array:_Messages_from_Bot_for_child_test')[outputs('Message_Position_for_child_test')]?['text'], items('Apply_to_each:_Child_Test')?['cat_expectedresponse'])\r\n              ),\r\n              and(\r\n                equals(items('Apply_to_each:_Child_Test')?['cat_comparisonoperator'], 4),\r\n                not(contains(body('Filter_array:_Messages_from_Bot_for_child_test')[outputs('Message_Position_for_child_test')]?['text'], items('Apply_to_each:_Child_Test')?['cat_expectedresponse']))\r\n              ),\r\n              and(\r\n                equals(items('Apply_to_each:_Child_Test')?['cat_comparisonoperator'], 5),\r\n                startsWith(body('Filter_array:_Messages_from_Bot_for_child_test')[outputs('Message_Position_for_child_test')]?['text'], items('Apply_to_each:_Child_Test')?['cat_expectedresponse'])\r\n              ),\r\n              and(\r\n                equals(items('Apply_to_each:_Child_Test')?['cat_comparisonoperator'], 6),\r\n                not(startsWith(body('Filter_array:_Messages_from_Bot_for_child_test')[outputs('Message_Position_for_child_test')]?['text'], items('Apply_to_each:_Child_Test')?['cat_expectedresponse']))\r\n              ),\r\n              and(\r\n                equals(items('Apply_to_each:_Child_Test')?['cat_comparisonoperator'], 7),\r\n                endsWith(body('Filter_array:_Messages_from_Bot_for_child_test')[outputs('Message_Position_for_child_test')]?['text'], items('Apply_to_each:_Child_Test')?['cat_expectedresponse'])\r\n              ),\r\n              and(\r\n                equals(items('Apply_to_each:_Child_Test')?['cat_comparisonoperator'], 8),\r\n                not(endsWith(body('Filter_array:_Messages_from_Bot_for_child_test')[outputs('Message_Position_for_child_test')]?['text'], items('Apply_to_each:_Child_Test')?['cat_expectedresponse']))\r\n              ),\r\n              and(\r\n                equals(items('Apply_to_each:_Child_Test')?['cat_comparisonoperator'], 9),\r\n                not(empty(body('Filter_array:_Messages_from_Bot_for_child_test')[outputs('Message_Position_for_child_test')]?['text']))\r\n              )\r\n            ),\r\n            1,\r\n            2\r\n          ),\r\n          if(\r\n            equals(items('Apply_to_each:_Child_Test')?['cat_testtypecode'], 2),\r\n            if(equals(triggerBody()?['boolean'], true), 5, 3),\r\n            if(\r\n              equals(items('Apply_to_each:_Child_Test')?['cat_testtypecode'], 4),\r\n              if(\r\n                or(\r\n                  equals(items('Apply_to_each:_Child_Test')?['cat_generativeansweroutcomecode'], 1),\r\n                  equals(items('Apply_to_each:_Child_Test')?['cat_generativeansweroutcomecode'], 2),\r\n                  equals(items('Apply_to_each:_Child_Test')?['cat_generativeansweroutcomecode'], null)\r\n                ),\r\n                if(equals(triggerBody()?['boolean_1'], true), 5, 3),\r\n                if(\r\n                  or(\r\n                    equals(items('Apply_to_each:_Child_Test')?['cat_generativeansweroutcomecode'], 3),\r\n                    equals(items('Apply_to_each:_Child_Test')?['cat_generativeansweroutcomecode'], 4),\r\n                    equals(items('Apply_to_each:_Child_Test')?['cat_generativeansweroutcomecode'], null)\r\n                  ),\r\n                  if(equals(triggerBody()?['boolean_2'], true), 5, 3),\r\n                  3\r\n                )\r\n              ),\r\n              5\r\n            )\r\n          )\r\n        )\r\n      ),\r\n      3\r\n    )\r\n  )\r\n)",
                          "item/cat_testtypecode": "@items('Apply_to_each:_Child_Test')?['cat_testtypecode']",
                          "item/cat_actualcompleteresponse": "@outputs('Compose:_Actual_Complete_Response_for_Child_Test')?['body']",
                          "item/cat_adaptivecardpayload": "@items('Apply_to_each:_Child_Test')?['cat_adaptivecardpayload']",
                          "item/cat_appinsightsmessage": "@if(\n    and ( \n\t\tgreater(length(body('Filter_array:_Messages_from_Bot_for_child_test')), outputs('Message_Position_for_child_test')), not(empty(body('Filter_array:_Messages_from_Bot_for_child_test')[outputs('Message_Position_for_child_test')]?['channelData']))\n\t), \n    if(\n        equals( body('Filter_array:_Messages_from_Bot_for_child_test')[outputs('Message_Position_for_child_test')]?['channelData']?['pva:gpt-feedback']?['message'], \n            items('Apply_to_each:_Child_Test')?['cat_testutterance']\n        ), \n        '', \n        body('Filter_array:_Messages_from_Bot_for_child_test')[outputs('Message_Position_for_child_test')]?['channelData']?['pva:gpt-feedback']?['message']\n    ), \n    ''\n)",
                          "item/cat_attachmentsjson": "@\r\n    if(\r\n        or( empty(body('Filter_array:_Messages_from_Bot_for_child_test')), lessOrEquals(length(body('Filter_array:_Messages_from_Bot_for_child_test')), outputs('Message_Position_for_child_test'))), \r\n        null, \r\n        if(\r\n            empty(body('Filter_array:_Messages_from_Bot_for_child_test')[outputs('Message_Position_for_child_test')]?['attachments']), \r\n            null, \r\n            string(body('Filter_array:_Messages_from_Bot_for_child_test')[outputs('Message_Position_for_child_test')]?['attachments'])\r\n        )\r\n    )\r\n",
                          "item/cat_comparisonoperator": "@if(equals(items('Apply_to_each:_Child_Test')?['cat_comparisonoperator'], 10), null, items('Apply_to_each:_Child_Test')?['cat_comparisonoperator'] )\r\n",
                          "item/cat_expectedattachmentsjson": "@if(\r\n    or(\r\n        equals(items('Apply_to_each:_Child_Test')?['cat_comparisonoperator'], 3),\r\n        equals(items('Apply_to_each:_Child_Test')?['cat_comparisonoperator'], 4),\r\n        equals(items('Apply_to_each:_Child_Test')?['cat_operationtypecode'], 2),\r\n        and(\r\n            equals(items('Apply_to_each:_Child_Test')?['cat_operationtypecode'], null),\r\n            equals(items('Apply_to_each:_Child_Test')?['cat_comparisonoperator'], 10)\r\n        )\r\n    ),\r\n    items('Apply_to_each:_Child_Test')?['cat_validationinstructions'],\r\n    items('Apply_to_each:_Child_Test')?['cat_expectedattachmentsjson']\r\n)",
                          "item/cat_generativeansweroutcomecode": "@items('Apply_to_each:_Child_Test')?['cat_generativeansweroutcomecode']",
                          "item/cat_expectedpositionoftheresponseactivity": "@items('Apply_to_each:_Child_Test')?['cat_expectedpositionoftheresponseactivity']",
                          "item/cat_expectedresponse": "@items('Apply_to_each:_Child_Test')?['cat_expectedresponse']",
                          "item/cat_expectedtools": "@items('Apply_to_each:_Child_Test')?['cat_expectedtools']",
                          "item/cat_expectedtopicname": "@items('Apply_to_each:_Child_Test')?['cat_expectedtopicname']",
                          "item/cat_externalvariablesjson": "@items('Apply_to_each:_Child_Test')?['cat_externalvariablesjson']",
                          "item/cat_latencyms": "@\n    if(\n        or(\n            or( empty(body('Filter_array:_Messages_from_Bot_for_child_test')), lessOrEquals(length(body('Filter_array:_Messages_from_Bot_for_child_test')), outputs('Message_Position_for_child_test'))),\n            empty(body('Filter_array:_Messages_from_User_for_child_test'))\n        ), \n        null, \n        div(\n            sub(\n                ticks(body('Filter_array:_Messages_from_Bot_for_child_test')[outputs('Message_Position_for_child_test')]?['timestamp']), \n                ticks(body('Filter_array:_Messages_from_User_for_child_test')[0]?['timestamp'])\n            ), \n            10000\n        )\n    )\n",
                          "item/cat_messagesenttimestamp": "@\n    if(\n        empty(body('Filter_array:_Messages_from_User_for_child_test')),\n        null, \n        body('Filter_array:_Messages_from_User_for_child_test')[0]?['timestamp']\n    )\n",
                          "item/cat_operationtypecode": "@if(\r\n  and(\r\n    equals(items('Apply_to_each:_Child_Test')?['cat_operationtypecode'], null),\r\n    equals(items('Apply_to_each:_Child_Test')?['cat_comparisonoperator'], 10)\r\n  ),\r\n  2,\r\n  if(equals(items('Apply_to_each:_Child_Test')?['cat_operationtypecode'], null),\r\n    1,\r\n    items('Apply_to_each:_Child_Test')?['cat_operationtypecode']\r\n  )\r\n)",
                          "item/ownerid@odata.bind": "@triggerBody()['text_5']",
                          "item/cat_Parent@odata.bind": "cat_copilottestresults(@{outputs('Add_a_new_row:_Agent_Test_Results_for_Multiturn_Test')?['body/cat_copilottestresultid']})",
                          "item/cat_passthreshold": "@items('Apply_to_each:_Child_Test')?['cat_passthreshold']",
                          "item/cat_passinggradecode": "@items('Apply_to_each:_Child_Test')?['cat_passinggradecode']",
                          "item/cat_response": "@\r\n    if(\r\n        or( empty(body('Filter_array:_Messages_from_Bot_for_child_test')), lessOrEquals(length(body('Filter_array:_Messages_from_Bot_for_child_test')), outputs('Message_Position_for_child_test'))), \r\n        'No response', \r\n        if(\r\n            empty(body('Filter_array:_Messages_from_Bot_for_child_test')[outputs('Message_Position_for_child_test')]?['text']), \r\n            if(\r\n                not(empty(body('Filter_array:_Messages_from_Bot_for_child_test')[outputs('Message_Position_for_child_test')]?['attachments'])), \r\n                'No response, but attachments (Adaptive Cards, etc.)', \r\n                'No response'\r\n            ), \r\n            body('Filter_array:_Messages_from_Bot_for_child_test')[outputs('Message_Position_for_child_test')]?['text']\r\n        )\r\n    )\r\n",
                          "item/cat_responsereceivedtimestamp": "@\n    if(\n        or( empty(body('Filter_array:_Messages_from_Bot_for_child_test')), lessOrEquals(length(body('Filter_array:_Messages_from_Bot_for_child_test')), outputs('Message_Position_for_child_test'))),\n        null, \n        body('Filter_array:_Messages_from_Bot_for_child_test')[outputs('Message_Position_for_child_test')]?['timestamp']\n    )\n",
                          "item/cat_resultreason": "@if(\r\n  or(empty(body('Filter_array:_Messages_from_Bot_for_child_test')),lessOrEquals(length(body('Filter_array:_Messages_from_Bot_for_child_test')), outputs('Message_Position_for_child_test'))),\r\n  if(\r\n    and(equals(items('Apply_to_each:_Child_Test')?['cat_testtypecode'], 3),equals(items('Apply_to_each:_Child_Test')?['cat_operationtypecode'], 3)),\r\n    outputs('Compose:_Attachments_Result_Reason'),'No response from the bot, possibly due to the Expected Position of the Response Message column value for the given test.'\r\n  \t),\r\n\tif(\r\n\t\tequals(items('Apply_to_each:_Child_Test')?['cat_testtypecode'], 3),\r\n\t\tif(\r\n  \t\t\tor(and(equals(items('Apply_to_each:_Child_Test')?['cat_operationtypecode'], null), equals(items('Apply_to_each:_Child_Test')?['cat_comparisonoperator'], 10)),\r\n            equals(items('Apply_to_each:_Child_Test')?['cat_operationtypecode'], 2)),\r\n  \t\t\tif(equals(triggerBody()['boolean_1'], true),'Pending analysis with AI Builder','Cannot be evaluated without AI Builder analysis'),\r\n  \t\t\toutputs('Compose:_Attachments_Result_Reason')\r\n\t\t),\r\n\t\tif(\r\n\t\t\tor(not(empty(body('Filter_array:_Messages_from_Bot_for_child_test')[outputs('Message_Position_for_child_test')]?['text'])),not(empty(body('Filter_array:_Messages_from_Bot_for_child_test')[outputs('Message_Position_for_child_test')]?['attachments']))),\r\n\t\t\tif(\r\n\t\t\t\tand(\r\n          \t\t\tnot(empty(body('Filter_array:_Messages_from_Bot_for_child_test')[outputs('Message_Position_for_child_test')]?['text'])),\r\n\t\t\t\t\tor(\r\n\t\t\t\t\t\tcontains(coalesce(body('Filter_array:_Messages_from_Bot_for_child_test')[outputs('Message_Position_for_child_test')]?['text'], ''), 'ContentError'),\r\n\t\t\t\t\t\tcontains(coalesce(body('Filter_array:_Messages_from_Bot_for_child_test')[outputs('Message_Position_for_child_test')]?['text'], ''), 'DataLossPreventionViolation'),\r\n\t\t\t\t\t\tcontains(coalesce(body('Filter_array:_Messages_from_Bot_for_child_test')[outputs('Message_Position_for_child_test')]?['text'], ''), 'FlowActionException'),\r\n\t\t\t\t\t\tcontains(coalesce(body('Filter_array:_Messages_from_Bot_for_child_test')[outputs('Message_Position_for_child_test')]?['text'], ''), 'FlowActionBadRequest'),\r\n\t\t\t\t\t\tcontains(coalesce(body('Filter_array:_Messages_from_Bot_for_child_test')[outputs('Message_Position_for_child_test')]?['text'], ''), 'FlowActionTimedOut'),\r\n\t\t\t\t\t\tcontains(coalesce(body('Filter_array:_Messages_from_Bot_for_child_test')[outputs('Message_Position_for_child_test')]?['text'], ''), 'InvalidContent'),\r\n\t\t\t\t\t\tcontains(coalesce(body('Filter_array:_Messages_from_Bot_for_child_test')[outputs('Message_Position_for_child_test')]?['text'], ''), 'InfiniteLoopInBotContent'),\r\n\t\t\t\t\t\tcontains(coalesce(body('Filter_array:_Messages_from_Bot_for_child_test')[outputs('Message_Position_for_child_test')]?['text'], ''), 'LatestPublishedVersionNotFound'),\r\n\t\t\t\t\t\tcontains(coalesce(body('Filter_array:_Messages_from_Bot_for_child_test')[outputs('Message_Position_for_child_test')]?['text'], ''), 'RedirectToDisabledDialog'),\r\n\t\t\t\t\t\tcontains(coalesce(body('Filter_array:_Messages_from_Bot_for_child_test')[outputs('Message_Position_for_child_test')]?['text'], ''), 'RedirectToNonExistentDialog'),\r\n\t\t\t\t\t\tcontains(coalesce(body('Filter_array:_Messages_from_Bot_for_child_test')[outputs('Message_Position_for_child_test')]?['text'], ''), 'SystemError')\r\n\t\t\t\t\t)\r\n\t\t\t\t),\r\n\t\t\t\t'The bot returned an error',\r\n\t\t\t\tif(\r\n\t\t\t\t\tequals(items('Apply_to_each:_Child_Test')?['cat_testtypecode'], 1),\r\n\t\t\t\t\tif(\r\n\t\t\t\t\t\tor(not(empty(body('Filter_array:_Messages_from_Bot_for_child_test')[outputs('Message_Position_for_child_test')]?['text'])),not(empty(body('Filter_array:_Messages_from_Bot_for_child_test')[outputs('Message_Position_for_child_test')]?['attachments']))),\r\n\t\t\t\t\t\tif(\r\n\t\t\t\t\t\t\tor(\r\n\t\t\t\t\t\t\t\tand(\r\n\t\t\t\t\t\t\t\t\tor(equals(items('Apply_to_each:_Child_Test')?['cat_comparisonoperator'], 1),equals(items('Apply_to_each:_Child_Test')?['cat_comparisonoperator'], null)),\r\n\t\t\t\t\t\t\t\t\tequals(items('Apply_to_each:_Child_Test')?['cat_expectedresponse'],body('Filter_array:_Messages_from_Bot_for_child_test')[outputs('Message_Position_for_child_test')]?['text'])\r\n\t\t\t\t\t\t\t\t),\r\n\t\t\t\t\t\t\t\tand(\r\n\t\t\t\t\t\t\t\t\tequals(items('Apply_to_each:_Child_Test')?['cat_comparisonoperator'], 2),\r\n\t\t\t\t\t\t\t\t\tnot(equals(items('Apply_to_each:_Child_Test')?['cat_expectedresponse'],body('Filter_array:_Messages_from_Bot_for_child_test')[outputs('Message_Position_for_child_test')]?['text']))\r\n\t\t\t\t\t\t\t\t),\r\n\t\t\t\t\t\t\t\tand(\r\n\t\t\t\t\t\t\t\t\tequals(items('Apply_to_each:_Child_Test')?['cat_comparisonoperator'], 3),\r\n\t\t\t\t\t\t\t\t\tcontains(body('Filter_array:_Messages_from_Bot_for_child_test')[outputs('Message_Position_for_child_test')]?['text'],items('Apply_to_each:_Child_Test')?['cat_expectedresponse'])\r\n\t\t\t\t\t\t\t\t),\r\n\t\t\t\t\t\t\t\tand(\r\n\t\t\t\t\t\t\t\t\tequals(items('Apply_to_each:_Child_Test')?['cat_comparisonoperator'], 4),\r\n\t\t\t\t\t\t\t\t\tnot(contains(body('Filter_array:_Messages_from_Bot_for_child_test')[outputs('Message_Position_for_child_test')]?['text'],items('Apply_to_each:_Child_Test')?['cat_expectedresponse']))\r\n\t\t\t\t\t\t\t\t),\r\n\t\t\t\t\t\t\t\tand(\r\n\t\t\t\t\t\t\t\t\tequals(items('Apply_to_each:_Child_Test')?['cat_comparisonoperator'], 5),\r\n\t\t\t\t\t\t\t\t\tstartsWith(body('Filter_array:_Messages_from_Bot_for_child_test')[outputs('Message_Position_for_child_test')]?['text'],items('Apply_to_each:_Child_Test')?['cat_expectedresponse'])\r\n\t\t\t\t\t\t\t\t),\r\n\t\t\t\t\t\t\t\tand(\r\n\t\t\t\t\t\t\t\t\tequals(items('Apply_to_each:_Child_Test')?['cat_comparisonoperator'], 6),\r\n\t\t\t\t\t\t\t\t\tnot(startsWith(body('Filter_array:_Messages_from_Bot_for_child_test')[outputs('Message_Position_for_child_test')]?['text'],items('Apply_to_each:_Child_Test')?['cat_expectedresponse']))\r\n\t\t\t\t\t\t\t\t),\r\n\t\t\t\t\t\t\t\tand(\r\n\t\t\t\t\t\t\t\t\tequals(items('Apply_to_each:_Child_Test')?['cat_comparisonoperator'], 7),\r\n\t\t\t\t\t\t\t\t\tendsWith(body('Filter_array:_Messages_from_Bot_for_child_test')[outputs('Message_Position_for_child_test')]?['text'],items('Apply_to_each:_Child_Test')?['cat_expectedresponse'])\r\n\t\t\t\t\t\t\t\t),\r\n\t\t\t\t\t\t\t\tand(\r\n\t\t\t\t\t\t\t\t\tequals(items('Apply_to_each:_Child_Test')?['cat_comparisonoperator'], 8),\r\n\t\t\t\t\t\t\t\t\tnot(endsWith(body('Filter_array:_Messages_from_Bot_for_child_test')[outputs('Message_Position_for_child_test')]?['text'],items('Apply_to_each:_Child_Test')?['cat_expectedresponse']))\r\n\t\t\t\t\t\t\t\t),\r\n\t\t\t\t\t\t\t\tand(\r\n\t\t\t\t\t\t\t\t\tequals(items('Apply_to_each:_Child_Test')?['cat_comparisonoperator'], 9),\r\n\t\t\t\t\t\t\t\t\tnot(empty(body('Filter_array:_Messages_from_Bot_for_child_test')[outputs('Message_Position_for_child_test')]?['text']))\r\n\t\t\t\t\t\t\t\t)\r\n\t\t\t\t\t\t\t),\r\n\t\t\t\t\t\t\t'Exact match between the expected message and the received message as per comparison operator','Not an exact match between the expected response and received message as per comparison operator'\r\n\t\t\t\t\t\t),\r\n\t\t\t\t\t\t'The bot returned an error'\r\n\t\t\t\t\t),\r\n\t\t\t\t\tif(\r\n\t\t\t\t\t\tor( equals(items('Apply_to_each:_Child_Test')?['cat_testtypecode'], 2), equals(items('Apply_to_each:_Child_Test')?['cat_testtypecode'], 6)),\r\n\t\t\t\t\t\tif(\r\n\t\t\t\t\t\t\tequals(triggerBody()['boolean'], true),\r\n\t\t\t\t\t\t\t'Pending analysis of Conversation Transcripts','Cannot be evaluated without Conversation Transcripts enrichment'\r\n\t\t\t\t\t\t),\r\n\t\t\t\t\t\tif(\r\n\t\t\t\t\t\t\tequals(items('Apply_to_each:_Child_Test')?['cat_testtypecode'], 4),\r\n\t\t\t\t\t\t\tif(\r\n\t\t\t\t\t\t\t\tor(equals(items('Apply_to_each:_Child_Test')?['cat_generativeansweroutcomecode'], 1),equals(items('Apply_to_each:_Child_Test')?['cat_generativeansweroutcomecode'], 2),equals(items('Apply_to_each:_Child_Test')?['cat_generativeansweroutcomecode'], null)),\r\n\t\t\t\t\t\t\t\tif(equals(triggerBody()['boolean_1'], true),'Pending analysis with AI Builder','Cannot be evaluated without AI Builder analysis'),\r\n\t\t\t\t\t\t\t\tif(\r\n\t\t\t\t\t\t\t\t\tor(equals(items('Apply_to_each:_Child_Test')?['cat_generativeansweroutcomecode'], 3),equals(items('Apply_to_each:_Child_Test')?['cat_generativeansweroutcomecode'], 4),equals(items('Apply_to_each:_Child_Test')?['cat_generativeansweroutcomecode'], null)),\r\n\t\t\t\t\t\t\t\t\tif(\r\n\t\t\t\t\t\t\t\t\t\tequals(triggerBody()['boolean_2'], true),\r\n\t\t\t\t\t\t\t\t\t\t'Pending analysis with Azure Application Insights','Cannot be evaluated without Azure Application Insights enrichment'\r\n\t\t\t\t\t\t\t\t\t),'Answer could not be evaluated')),\r\n\t\t\t\t\t\t\t'Pending analysis'\r\n\t\t\t\t\t\t)))),'Answer could not be evaluated')))",
                          "item/cat_RubricId@odata.bind": "@if(empty(items('Apply_to_each:_Child_Test')?['_cat_rubricid_value']),null,concat('/cat_rubrics(',items('Apply_to_each:_Child_Test')?['_cat_rubricid_value'],')'))",
                          "item/cat_isstartconversationeventsent": "@items('Apply_to_each:_Child_Test')?['cat_isstartconversationeventsent']",
                          "item/cat_suggestedactionsjson": "@\n    if(\n        or( empty(body('Filter_array:_Messages_from_Bot_for_child_test')), lessOrEquals(length(body('Filter_array:_Messages_from_Bot_for_child_test')), outputs('Message_Position_for_child_test'))),\n        null,\n        if(\n            empty(body('Filter_array:_Messages_from_Bot_for_child_test')[outputs('Message_Position_for_child_test')]?['suggestedActions']),\n            null,\n            string(body('Filter_array:_Messages_from_Bot_for_child_test')[outputs('Message_Position_for_child_test')]?['suggestedActions'])\n        )\n    )\n",
                          "item/cat_testutterance": "@items('Apply_to_each:_Child_Test')?['cat_testutterance']"
                        },
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                          "operationId": "CreateRecord",
                          "connectionName": "shared_commondataserviceforapps_1"
                        }
                      },
                      "runAfter": {
                        "Compose:_Actual_Complete_Response_for_Child_Test": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "0b9c4307-ba2a-4da1-a0db-31ea0b0ca541"
                      }
                    },
                    "Condition:_Check_for_Critical_Tests": {
                      "type": "If",
                      "expression": {
                        "equals": [
                          "@items('Apply_to_each:_Child_Test')?['cat_critical']",
                          "@true"
                        ]
                      },
                      "actions": {
                        "Set_variable:_MutiturnResult": {
                          "type": "SetVariable",
                          "inputs": {
                            "name": "MultiTurnResult",
                            "value": "@if(\r\n  or(\r\n    empty(body('Filter_array:_Messages_from_Bot_for_child_test')),\r\n    lessOrEquals(length(body('Filter_array:_Messages_from_Bot_for_child_test')), outputs('Message_Position_for_child_test'))\r\n  ),\r\n  if(\r\n    and(\r\n      equals(items('Apply_to_each:_Child_Test')?['cat_testtypecode'], 3),\r\n      equals(items('Apply_to_each:_Child_Test')?['cat_operationtypecode'], 3)\r\n    ),\r\n    if(outputs('Compose:_Attachments_Result'), 1, 2),\r\n    4\r\n  ),\r\n  if(\r\n    equals(items('Apply_to_each:_Child_Test')?['cat_testtypecode'], 3),\r\n    if(\r\n      or(and(equals(items('Apply_to_each:_Child_Test')?['cat_operationtypecode'], null), equals(items('Apply_to_each:_Child_Test')?['cat_comparisonoperator'], 10)),\r\n      equals(items('Apply_to_each:_Child_Test')?['cat_operationtypecode'], 2)),\r\n      5,\r\n      if(outputs('Compose:_Attachments_Result'), 1, 2)\r\n    ),\r\n    if(\r\n      or(\r\n        not(empty(body('Filter_array:_Messages_from_Bot_for_child_test')[outputs('Message_Position_for_child_test')]?['text'])),\r\n        not(empty(body('Filter_array:_Messages_from_Bot_for_child_test')[outputs('Message_Position_for_child_test')]?['attachments']))\r\n      ),\r\n      if(\r\n        and(\r\n          not(empty(body('Filter_array:_Messages_from_Bot_for_child_test')[outputs('Message_Position_for_child_test')]?['text'])),\r\n          or(\r\n            contains(coalesce(body('Filter_array:_Messages_from_Bot_for_child_test')[outputs('Message_Position_for_child_test')]?['text'], ''), 'ContentError'),\r\n            contains(coalesce(body('Filter_array:_Messages_from_Bot_for_child_test')[outputs('Message_Position_for_child_test')]?['text'], ''), 'DataLossPreventionViolation'),\r\n            contains(coalesce(body('Filter_array:_Messages_from_Bot_for_child_test')[outputs('Message_Position_for_child_test')]?['text'], ''), 'FlowActionException'),\r\n            contains(coalesce(body('Filter_array:_Messages_from_Bot_for_child_test')[outputs('Message_Position_for_child_test')]?['text'], ''), 'FlowActionBadRequest'),\r\n            contains(coalesce(body('Filter_array:_Messages_from_Bot_for_child_test')[outputs('Message_Position_for_child_test')]?['text'], ''), 'FlowActionTimedOut'),\r\n            contains(coalesce(body('Filter_array:_Messages_from_Bot_for_child_test')[outputs('Message_Position_for_child_test')]?['text'], ''), 'InvalidContent'),\r\n            contains(coalesce(body('Filter_array:_Messages_from_Bot_for_child_test')[outputs('Message_Position_for_child_test')]?['text'], ''), 'InfiniteLoopInBotContent'),\r\n            contains(coalesce(body('Filter_array:_Messages_from_Bot_for_child_test')[outputs('Message_Position_for_child_test')]?['text'], ''), 'LatestPublishedVersionNotFound'),\r\n            contains(coalesce(body('Filter_array:_Messages_from_Bot_for_child_test')[outputs('Message_Position_for_child_test')]?['text'], ''), 'RedirectToDisabledDialog'),\r\n            contains(coalesce(body('Filter_array:_Messages_from_Bot_for_child_test')[outputs('Message_Position_for_child_test')]?['text'], ''), 'RedirectToNonExistentDialog'),\r\n            contains(coalesce(body('Filter_array:_Messages_from_Bot_for_child_test')[outputs('Message_Position_for_child_test')]?['text'], ''), 'SystemError')\r\n          )\r\n        ),\r\n        4,\r\n        if(\r\n          equals(items('Apply_to_each:_Child_Test')?['cat_testtypecode'], 1),\r\n          if(\r\n            or(\r\n              and(\r\n                or(\r\n                  equals(items('Apply_to_each:_Child_Test')?['cat_comparisonoperator'], 1),\r\n                  equals(items('Apply_to_each:_Child_Test')?['cat_comparisonoperator'], null)\r\n                ),\r\n                equals(items('Apply_to_each:_Child_Test')?['cat_expectedresponse'], body('Filter_array:_Messages_from_Bot_for_child_test')[outputs('Message_Position_for_child_test')]?['text'])\r\n              ),\r\n              and(\r\n                equals(items('Apply_to_each:_Child_Test')?['cat_comparisonoperator'], 2),\r\n                not(equals(items('Apply_to_each:_Child_Test')?['cat_expectedresponse'], body('Filter_array:_Messages_from_Bot_for_child_test')[outputs('Message_Position_for_child_test')]?['text']))\r\n              ),\r\n              and(\r\n                equals(items('Apply_to_each:_Child_Test')?['cat_comparisonoperator'], 3),\r\n                contains(body('Filter_array:_Messages_from_Bot_for_child_test')[outputs('Message_Position_for_child_test')]?['text'], items('Apply_to_each:_Child_Test')?['cat_expectedresponse'])\r\n              ),\r\n              and(\r\n                equals(items('Apply_to_each:_Child_Test')?['cat_comparisonoperator'], 4),\r\n                not(contains(body('Filter_array:_Messages_from_Bot_for_child_test')[outputs('Message_Position_for_child_test')]?['text'], items('Apply_to_each:_Child_Test')?['cat_expectedresponse']))\r\n              ),\r\n              and(\r\n                equals(items('Apply_to_each:_Child_Test')?['cat_comparisonoperator'], 5),\r\n                startsWith(body('Filter_array:_Messages_from_Bot_for_child_test')[outputs('Message_Position_for_child_test')]?['text'], items('Apply_to_each:_Child_Test')?['cat_expectedresponse'])\r\n              ),\r\n              and(\r\n                equals(items('Apply_to_each:_Child_Test')?['cat_comparisonoperator'], 6),\r\n                not(startsWith(body('Filter_array:_Messages_from_Bot_for_child_test')[outputs('Message_Position_for_child_test')]?['text'], items('Apply_to_each:_Child_Test')?['cat_expectedresponse']))\r\n              ),\r\n              and(\r\n                equals(items('Apply_to_each:_Child_Test')?['cat_comparisonoperator'], 7),\r\n                endsWith(body('Filter_array:_Messages_from_Bot_for_child_test')[outputs('Message_Position_for_child_test')]?['text'], items('Apply_to_each:_Child_Test')?['cat_expectedresponse'])\r\n              ),\r\n              and(\r\n                equals(items('Apply_to_each:_Child_Test')?['cat_comparisonoperator'], 8),\r\n                not(endsWith(body('Filter_array:_Messages_from_Bot_for_child_test')[outputs('Message_Position_for_child_test')]?['text'], items('Apply_to_each:_Child_Test')?['cat_expectedresponse']))\r\n              ),\r\n              and(\r\n                equals(items('Apply_to_each:_Child_Test')?['cat_comparisonoperator'], 9),\r\n                not(empty(body('Filter_array:_Messages_from_Bot_for_child_test')[outputs('Message_Position_for_child_test')]?['text']))\r\n              )\r\n            ),\r\n            1,\r\n            2\r\n          ),\r\n          if(\r\n            equals(items('Apply_to_each:_Child_Test')?['cat_testtypecode'], 2),\r\n            if(equals(triggerBody()?['boolean'], true), 5, 3),\r\n            if(\r\n              equals(items('Apply_to_each:_Child_Test')?['cat_testtypecode'], 4),\r\n              if(\r\n                or(\r\n                  equals(items('Apply_to_each:_Child_Test')?['cat_generativeansweroutcomecode'], 1),\r\n                  equals(items('Apply_to_each:_Child_Test')?['cat_generativeansweroutcomecode'], 2),\r\n                  equals(items('Apply_to_each:_Child_Test')?['cat_generativeansweroutcomecode'], null)\r\n                ),\r\n                if(equals(triggerBody()?['boolean_1'], true), 5, 3),\r\n                if(\r\n                  or(\r\n                    equals(items('Apply_to_each:_Child_Test')?['cat_generativeansweroutcomecode'], 3),\r\n                    equals(items('Apply_to_each:_Child_Test')?['cat_generativeansweroutcomecode'], 4),\r\n                    equals(items('Apply_to_each:_Child_Test')?['cat_generativeansweroutcomecode'], null)\r\n                  ),\r\n                  if(equals(triggerBody()?['boolean_2'], true), 5, 3),\r\n                  3\r\n                )\r\n              ),\r\n              5\r\n            )\r\n          )\r\n        )\r\n      ),\r\n      3\r\n    )\r\n  )\r\n)"
                          },
                          "metadata": {
                            "operationMetadataId": "8a1fb229-650d-4f7e-855e-49a0cbc48bc2"
                          }
                        },
                        "Condition:_Check_if_Test_failed_or_errored_out": {
                          "type": "If",
                          "expression": {
                            "and": [
                              {
                                "or": [
                                  {
                                    "equals": [
                                      "@variables('MultiturnResult')",
                                      2
                                    ]
                                  },
                                  {
                                    "equals": [
                                      "@variables('MultiturnResult')",
                                      3
                                    ]
                                  },
                                  {
                                    "equals": [
                                      "@variables('MultiturnResult')",
                                      4
                                    ]
                                  }
                                ]
                              }
                            ]
                          },
                          "actions": {
                            "Set_variable:_ContinueMultiTurnProcessing": {
                              "type": "SetVariable",
                              "inputs": {
                                "name": "ContinueMultiTurnProcessing",
                                "value": "@false"
                              },
                              "metadata": {
                                "operationMetadataId": "7f503c7c-6031-4e23-9f70-0bc5822b4bd1"
                              }
                            },
                            "Set_variable:_MultiTurnPendingResult_2": {
                              "type": "SetVariable",
                              "inputs": {
                                "name": "MultiturnPendingResult",
                                "value": "@false"
                              },
                              "runAfter": {
                                "Set_variable:_ContinueMultiTurnProcessing": [
                                  "Succeeded"
                                ]
                              },
                              "metadata": {
                                "operationMetadataId": "b94a866c-fad9-420a-9d00-dccd476cd217"
                              }
                            }
                          },
                          "else": {
                            "actions": {
                              "Set_variable:_MultiTurnPendingResult": {
                                "type": "SetVariable",
                                "inputs": {
                                  "name": "MultiTurnPendingResult",
                                  "value": "@if(equals(variables('MultiturnResult'), 5), true, false)"
                                },
                                "metadata": {
                                  "operationMetadataId": "57daf672-6860-4ea7-a978-7c8a98af5ce7"
                                }
                              }
                            }
                          },
                          "runAfter": {
                            "Set_variable:_MutiturnResult": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "ae6c2233-5a05-4546-b1f5-6c828cacd149"
                          }
                        }
                      },
                      "else": {
                        "actions": {}
                      },
                      "runAfter": {
                        "Add_a_new_row:_Child_Multiturn_Test_Results": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "07aa1699-6edb-4f21-a6f5-70018f04d417"
                      }
                    },
                    "Compose:_Attachments_Result": {
                      "type": "Compose",
                      "inputs": "@if(\r\n  equals(items('Apply_to_each:_Child_Test')?['cat_testtypecode'], 3),\r\n  if(\r\n\tand(\r\n\t  or(\r\n      \tequals(items('Apply_to_each:_Child_Test')?['cat_operationtypecode'], 1),\r\n\t\tequals(items('Apply_to_each:_Child_Test')?['cat_operationtypecode'], null)\r\n\t  ),\r\n      not(empty(\r\n        body('Filter_array:_Messages_from_Bot_for_child_test')[outputs('Message_Position_for_child_test')]?['attachments']))\r\n\t),\r\n      or(\r\n        and(\r\n          or(\r\n            equals(items('Apply_to_each:_Child_Test')?['cat_comparisonoperator'], 1),\r\n            equals(items('Apply_to_each:_Child_Test')?['cat_comparisonoperator'], null)\r\n          ),\r\n          equals(\r\n            json(string(body('Filter_array:_Messages_from_Bot_for_child_test')[outputs('Message_Position_for_child_test')]?['attachments'])),\r\n            json(string(items('Apply_to_each:_Child_Test')?['cat_expectedattachmentsjson']))\r\n          )\r\n        ),\r\n        and(\r\n          equals(items('Apply_to_each:_Child_Test')?['cat_comparisonoperator'], 2),\r\n          not(equals(\r\n            json(string(body('Filter_array:_Messages_from_Bot_for_child_test')[outputs('Message_Position_for_child_test')]?['attachments'])),\r\n            json(string(items('Apply_to_each:_Child_Test')?['cat_expectedattachmentsjson']))\r\n          ))\r\n        ),\r\n        and(\r\n          equals(items('Apply_to_each:_Child_Test')?['cat_comparisonoperator'], 3),\r\n          contains(\r\n            string(body('Filter_array:_Messages_from_Bot_for_child_test')[outputs('Message_Position_for_child_test')]?['attachments']),\r\n            string(items('Apply_to_each:_Child_Test')?['cat_validationinstructions'])\r\n          )\r\n        ),\r\n        and(\r\n          equals(items('Apply_to_each:_Child_Test')?['cat_comparisonoperator'], 4),\r\n          not(contains(\r\n            string(body('Filter_array:_Messages_from_Bot_for_child_test')[outputs('Message_Position_for_child_test')]?['attachments']),\r\n            string(items('Apply_to_each:_Child_Test')?['cat_validationinstructions'])\r\n          ))\r\n        )\r\n      ),\r\n\t  \r\n\tif(\r\n\t\tequals(items('Apply_to_each:_Child_Test')?['cat_operationtypecode'], 3),\r\n\t\tor(\r\n\t\t\tand(\r\n\t\t\t\tor(\r\n\t\t\t\tequals(items('Apply_to_each:_Child_Test')?['cat_comparisonoperator'], 1),\r\n\t\t\t\tequals(items('Apply_to_each:_Child_Test')?['cat_comparisonoperator'], null)\r\n\t\t\t\t),\r\n\t\t\t\tequals(\r\n\t\t\t\titems('Apply_to_each:_Child_Test')?['cat_expectedresponse'],\r\n\t\t\t\toutputs('Compose:_Attachment_Empty_Array_Check_for_Response')\r\n\t\t\t\t)\r\n\t\t\t),\r\n\t\t\tand(\r\n\t\t\t\tequals(items('Apply_to_each:_Child_Test')?['cat_comparisonoperator'], 2),\r\n\t\t\t\tnot(equals(\r\n\t\t\t\titems('Apply_to_each:_Child_Test')?['cat_expectedresponse'],\r\n\t\t\t\toutputs('Compose:_Attachment_Empty_Array_Check_for_Response')\r\n\t\t\t\t))\r\n\t\t\t),\r\n\t\t\tand(\r\n\t\t\t\tequals(items('Apply_to_each:_Child_Test')?['cat_comparisonoperator'], 3),\r\n\t\t\t\tcontains(\r\n\t\t\t\tif(empty(outputs('Compose:_Attachment_Empty_Array_Check_for_Response')), '', outputs('Compose:_Attachment_Empty_Array_Check_for_Response')),\r\n\t\t\t\tif(empty(items('Apply_to_each:_Child_Test')?['cat_expectedresponse']), '', items('Apply_to_each:_Child_Test')?['cat_expectedresponse'])\r\n\t\t\t\t)\r\n\t\t\t),\r\n\t\t\tand(\r\n\t\t\t\tequals(items('Apply_to_each:_Child_Test')?['cat_comparisonoperator'], 4),\r\n\t\t\t\tnot(contains(\r\n\t\t\t\tif(empty(outputs('Compose:_Attachment_Empty_Array_Check_for_Response')), '', outputs('Compose:_Attachment_Empty_Array_Check_for_Response')),\r\n\t\t\t\tif(empty(items('Apply_to_each:_Child_Test')?['cat_expectedresponse']), '', items('Apply_to_each:_Child_Test')?['cat_expectedresponse'])\r\n\t\t\t\t))\r\n\t\t\t),\r\n\t\t\tand(\r\n\t\t\t\tequals(items('Apply_to_each:_Child_Test')?['cat_comparisonoperator'], 5),\r\n\t\t\t\tstartsWith(\r\n\t\t\t\tif(empty(outputs('Compose:_Attachment_Empty_Array_Check_for_Response')), '', outputs('Compose:_Attachment_Empty_Array_Check_for_Response')),\r\n\t\t\t\tif(empty(items('Apply_to_each:_Child_Test')?['cat_expectedresponse']), '', items('Apply_to_each:_Child_Test')?['cat_expectedresponse'])\r\n\t\t\t\t)\r\n\t\t\t),\r\n\t\t\tand(\r\n\t\t\t\tequals(items('Apply_to_each:_Child_Test')?['cat_comparisonoperator'], 6),\r\n\t\t\t\tnot(startsWith(\r\n\t\t\t\tif(empty(outputs('Compose:_Attachment_Empty_Array_Check_for_Response')), '', outputs('Compose:_Attachment_Empty_Array_Check_for_Response')),\r\n\t\t\t\tif(empty(items('Apply_to_each:_Child_Test')?['cat_expectedresponse']), '', items('Apply_to_each:_Child_Test')?['cat_expectedresponse'])\r\n\t\t\t\t))\r\n\t\t\t),\r\n\t\t\tand(\r\n\t\t\t\tequals(items('Apply_to_each:_Child_Test')?['cat_comparisonoperator'], 7),\r\n\t\t\t\tendsWith(\r\n\t\t\t\tif(empty(outputs('Compose:_Attachment_Empty_Array_Check_for_Response')), '', outputs('Compose:_Attachment_Empty_Array_Check_for_Response')),\r\n\t\t\t\tif(empty(items('Apply_to_each:_Child_Test')?['cat_expectedresponse']), '', items('Apply_to_each:_Child_Test')?['cat_expectedresponse'])\r\n\t\t\t\t)\r\n\t\t\t),\r\n\t\t\tand(\r\n\t\t\t\tequals(items('Apply_to_each:_Child_Test')?['cat_comparisonoperator'], 8),\r\n\t\t\t\tnot(endsWith(\r\n\t\t\t\tif(empty(outputs('Compose:_Attachment_Empty_Array_Check_for_Response')), '', outputs('Compose:_Attachment_Empty_Array_Check_for_Response')),\r\n\t\t\t\tif(empty(items('Apply_to_each:_Child_Test')?['cat_expectedresponse']), '', items('Apply_to_each:_Child_Test')?['cat_expectedresponse'])\r\n\t\t\t\t))\r\n\t\t\t),\r\n\t\t\tand(\r\n\t\t\t\tequals(items('Apply_to_each:_Child_Test')?['cat_comparisonoperator'], 9),\r\n\t\t\t\tnot(empty(\r\n\t\t\t\toutputs('Compose:_Attachment_Empty_Array_Check_for_Response')\r\n\t\t\t\t))\r\n\t\t\t)\r\n\t\t),\r\n\t\tfalse\r\n\t  )\r\n\t),\r\n\tfalse\r\n)",
                      "runAfter": {
                        "Compose:_Attachment_Empty_Array_Check_for_Response": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "a112b7b5-840c-4bf7-be0f-1c1676bd407f"
                      }
                    },
                    "Compose:_Attachments_Result_Reason": {
                      "type": "Compose",
                      "inputs": "@if (\r\n  equals(items('Apply_to_each:_Child_Test')?['cat_testtypecode'], 3),\r\n  if (\r\n    and(\r\n      or(\r\n      \tequals(items('Apply_to_each:_Child_Test')?['cat_operationtypecode'], 1),\r\n\t\t    equals(items('Apply_to_each:_Child_Test')?['cat_operationtypecode'], null)\r\n\t    ),\r\n      or(\r\n        equals(items('Apply_to_each:_Child_Test')?['cat_comparisonoperator'], 1),\r\n        equals(items('Apply_to_each:_Child_Test')?['cat_comparisonoperator'], 2)\r\n      )\r\n    ),\r\n    if (\r\n      outputs('Compose:_Attachments_Result'),\r\n      'Exact match between the expected attachment(s) JSON and the received attachment(s) JSON as per comparison operator',\r\n      'Not an exact match between the expected attachment(s) JSON and the received attachment(s) JSON as per comparison operator'\r\n    ),\r\n    if (\r\n      and(\r\n        equals(items('Apply_to_each:_Child_Test')?['cat_operationtypecode'], 1),\r\n        or(\r\n          equals(items('Apply_to_each:_Child_Test')?['cat_comparisonoperator'], 3),\r\n          equals(items('Apply_to_each:_Child_Test')?['cat_comparisonoperator'], 4)\r\n        )\r\n      ),\r\n      if (\r\n        outputs('Compose:_Attachments_Result'),\r\n        'Expected text is correctly matched in the received attachment(s) JSON based on the comparison operator',\r\n        'Expected text does not match the received attachment(s) JSON based on the comparison operator'\r\n      ),\r\n      if (\r\n        equals(items('Apply_to_each:_Child_Test')?['cat_operationtypecode'], 3),\r\n        if (\r\n          outputs('Compose:_Attachments_Result'),\r\n          'Exact match between the expected response and the received message as per comparison operator',\r\n          'Not an exact match between the expected response and received message as per comparison operator'\r\n        ),\r\n        'Operation type is missing. Please select a valid operation type to proceed with the adaptive card test execution'\r\n      )\r\n    )\r\n  ),\r\n  ''\r\n)",
                      "runAfter": {
                        "Compose:_Attachments_Result": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "a1caad74-61fb-4e0a-9a30-df34e1efdc08"
                      }
                    },
                    "Compose:_Attachment_Empty_Array_Check_for_Response": {
                      "type": "Compose",
                      "inputs": "@if(\r\n\tand(\r\n\t\tequals(items('Apply_to_each:_Child_Test')?['cat_operationtypecode'], 3),\r\n\t\tequals(items('Apply_to_each:_Child_Test')?['cat_testtypecode'], 3)\r\n\t),\r\n\tif(\r\n\t\tor( \r\n\t\t\tempty(body('Filter_array:_Messages_from_Bot_for_child_test')), \r\n\t\t\tlessOrEquals(length(body('Filter_array:_Messages_from_Bot_for_child_test')), outputs('Message_Position_for_child_test'))\r\n\t\t),\r\n\t\tnull,\r\n\t\tbody('Filter_array:_Messages_from_Bot_for_child_test')[outputs('Message_Position_for_child_test')]?['text']\r\n\t),\r\n\tnull\r\n)",
                      "runAfter": {
                        "Message_Position_for_child_test": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "fb18cc5f-7852-4d19-80c7-f9e7bcda3c28"
                      }
                    },
                    "Select:_Complete_Response_from_bot_for_Child_Test": {
                      "type": "Select",
                      "inputs": {
                        "from": "@body('Filter_array:_Messages_from_Bot_for_child_test')",
                        "select": {
                          "text": "@if(not(empty(item()?['text'])),item()?['text'],'')",
                          "attachments": "@if(not(empty(item()?['attachments'])),item()?['attachments'],'')",
                          "suggestedActions": "@if(not(empty(item()?['suggestedActions'])),item()?['suggestedActions'],'')"
                        }
                      },
                      "runAfter": {
                        "Compose:_Attachments_Result_Reason": [
                          "Succeeded"
                        ]
                      }
                    },
                    "Compose:_Actual_Complete_Response_for_Child_Test": {
                      "type": "Compose",
                      "inputs": "@json(\r\n    replace(\r\n        replace(\r\n            string(outputs('Select:_Complete_Response_from_bot_for_Child_Test')),\r\n            ',\"attachments\":\"\"',                \r\n            ''\r\n        ),\r\n        ',\"suggestedActions\":\"\"',             \r\n        ''\r\n    )\r\n)\r\n",
                      "runAfter": {
                        "Select:_Complete_Response_from_bot_for_Child_Test": [
                          "Succeeded"
                        ]
                      }
                    }
                  },
                  "else": {
                    "actions": {}
                  },
                  "runAfter": {
                    "Compose:_CurrentTimestamp": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "4108f015-6273-4a57-b055-7167c6f4423f"
                  }
                },
                "Delay_for_next_test_run": {
                  "type": "Wait",
                  "inputs": {
                    "interval": {
                      "count": 1,
                      "unit": "Second"
                    }
                  },
                  "metadata": {
                    "operationMetadataId": "22fc1556-e03f-4275-b5c0-9358e9b915e6"
                  }
                },
                "Compose:_CurrentTimestamp": {
                  "type": "Compose",
                  "inputs": "@utcNow()",
                  "runAfter": {
                    "Delay_for_next_test_run": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "68cb610f-b99d-40c2-9fc7-d9d8776af984"
                  }
                }
              },
              "runAfter": {
                "Add_a_new_row:_Agent_Test_Results_for_Multiturn_Test": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "3205f8ab-494e-434c-894c-99b293055eaa"
              }
            },
            "Update_a_row:_MultiTurn_Agent_Test_Result": {
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "entityName": "cat_copilottestresults",
                  "recordId": "@outputs('Add_a_new_row:_Agent_Test_Results_for_Multiturn_Test')?['body/cat_copilottestresultid']",
                  "item/cat_resultcode": "@if(variables('MultiturnPendingResult'), \r\n\t5, \r\n\tvariables('MultiturnResult')\r\n)"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "operationId": "UpdateOnlyRecord",
                  "connectionName": "shared_commondataserviceforapps_1"
                }
              },
              "runAfter": {
                "Apply_to_each:_Child_Test": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "ff42dc5a-8d98-4f47-bd96-5da07a1e5c4f"
              }
            },
            "List_rows:_Get_Child_Agent_Tests": {
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "entityName": "cat_copilottests",
                  "fetchXml": "<fetch>\n    <entity name=\"cat_copilottest\">\n        <attribute name=\"cat_name\"/>\n        <attribute name=\"cat_adaptivecardpayload\"/>\n        <attribute name=\"cat_testutterance\"/>\n        <attribute name=\"cat_copilottestid\"/>\n        <attribute name=\"cat_expectedresponse\"/>\n        <attribute name=\"cat_testtypecode\"/>\n        <attribute name=\"cat_generativeansweroutcomecode\"/>\n        <attribute name=\"cat_expectedpositionoftheresponseactivity\"/>\n        <attribute name=\"cat_expectedtopicname\"/>\n        <attribute name=\"cat_isstartconversationeventsent\"/>\n        <attribute name=\"cat_externalvariablesjson\"/>\n        <attribute name=\"cat_expectedattachmentsjson\"/>\n        <attribute name=\"cat_validationinstructions\"/>\n        <attribute name=\"cat_secondsbeforegettinganswer\"/>\n        <attribute name=\"cat_critical\"/>\n        <attribute name=\"cat_operationtypecode\"/>\n        <attribute name=\"cat_comparisonoperator\"/>\n        <attribute name=\"cat_expectedtools\"/>\n        <attribute name=\"cat_passthreshold\"/>\n         <attribute name=\"cat_rubricid\"/>\n         <attribute name=\"cat_passinggradecode\"/>\n         <order attribute=\"cat_order\" descending=\"false\"/>\n        <filter type=\"and\">\n            <condition attribute=\"cat_copilottestsetid\" operator=\"eq\" value=\"@{triggerBody()['text_1']}\" />\n            <condition attribute=\"statecode\" operator=\"eq\" value=\"0\" />\n            <condition attribute=\"cat_parent\" operator=\"eq\" value=\"@{triggerBody()['text_2']}\" />\n           <condition attribute=\"cat_testtypecode\" operator=\"ne\" value=\"5\" />\n        </filter>\n    </entity>\n</fetch>"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "operationId": "ListRecords",
                  "connectionName": "shared_commondataserviceforapps_1"
                }
              },
              "metadata": {
                "operationMetadataId": "513b51fd-bab2-41f3-aeff-881b12158e37"
              }
            }
          },
          "runAfter": {
            "Initialize_variable:_MultiturnPendingResult": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "75c31a0c-a785-47d0-910e-ebca27aca135"
          }
        },
        "Scope:_Catch": {
          "type": "Scope",
          "actions": {
            "Filter_array:_Error_Actions": {
              "type": "Query",
              "inputs": {
                "from": "@result('Scope:_Try')",
                "where": "@or(equals(item()?['Status'], 'Failed'), equals(item()?['Status'], 'TimedOut'))"
              },
              "metadata": {
                "operationMetadataId": "318aa9b2-4531-451c-b162-84cf7a4a236e"
              }
            },
            "Terminate": {
              "type": "Terminate",
              "inputs": {
                "runStatus": "Failed",
                "runError": {
                  "code": "MULTITURNERROR",
                  "message": "@{first(body('Filter_array:_Error_Actions'))?['error']?['message']}"
                }
              },
              "runAfter": {
                "Filter_array:_Error_Actions": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "c90cfba0-5d85-41cd-a3a1-ba97f79cf4b1"
              }
            }
          },
          "runAfter": {
            "Scope:_Try": [
              "Failed",
              "Skipped",
              "TimedOut"
            ]
          },
          "metadata": {
            "operationMetadataId": "4f2e4827-62c8-4225-94cd-14089e7ac8f7"
          }
        },
        "Scope:_Finally": {
          "type": "Scope",
          "actions": {
            "Respond_to_a_Power_App_or_flow": {
              "type": "Response",
              "kind": "PowerApp",
              "inputs": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "response": {
                      "title": "Response",
                      "x-ms-dynamically-added": true,
                      "type": "string"
                    }
                  },
                  "additionalProperties": {}
                },
                "statusCode": 200,
                "body": {
                  "response": "Flow completed."
                }
              },
              "metadata": {
                "operationMetadataId": "e8410b00-0fc0-421a-a0fc-f48f67f959d5"
              }
            }
          },
          "runAfter": {
            "Scope:_Catch": [
              "Succeeded",
              "Failed",
              "Skipped",
              "TimedOut"
            ]
          },
          "metadata": {
            "operationMetadataId": "3b16a931-71ef-4a27-b6c8-cea6a9fc38f1"
          }
        }
      }
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}