CopilotStudioAccelerator/SolutionPackage/src/Workflows/TestAutomationRubricsRefinement-5B5DB1E9-B1D5-F011-8544-00224806F6D3.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "api": {
          "name": "shared_commondataserviceforapps"
        },
        "connection": {
          "connectionReferenceLogicalName": "cat_CopilotStudioAcceleratorDataverse"
        },
        "runtimeSource": "embedded"
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "Power Automate Region (cat_PowerAutomateEndpoint)": {
          "defaultValue": "Commercial",
          "type": "String",
          "metadata": {
            "schemaName": "cat_PowerAutomateEndpoint",
            "description": "Specify your Power Automate environment region/cloud: Commercial, GCC, GCC High, or DoD."
          }
        }
      },
      "triggers": {
        "manual": {
          "type": "Request",
          "kind": "PowerAppV2",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "text": {
                  "description": "Please enter your input",
                  "title": "RefinementMode",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                },
                "text_1": {
                  "description": "Please enter your input",
                  "title": "NewRubricName",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                },
                "text_2": {
                  "description": "Please enter your input",
                  "title": "CopilotTestRunId",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                },
                "text_3": {
                  "description": "Please enter your input",
                  "title": "RubricId",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                },
                "text_4": {
                  "description": "Please enter your input",
                  "title": "RecordId",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                }
              },
              "required": [
                "text",
                "text_1",
                "text_2",
                "text_3",
                "text_4"
              ]
            }
          },
          "metadata": {
            "operationMetadataId": "b694c713-bf3a-4597-bf44-92dd8ce4f561"
          }
        }
      },
      "actions": {
        "Build_Record_ID_Filter": {
          "type": "Compose",
          "inputs": "@replace(\r\n    concat('(cat_copilottestresultid eq ''', replace(triggerBody()?['text_4'], ',', ''' or cat_copilottestresultid eq '''), ''')'),\r\n    '''''',\r\n    ''''\r\n)",
          "runAfter": {
            "Initialize_variable:_ErrorMessage": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "75100f13-3fba-4a43-b653-750c7ecf1ccb"
          }
        },
        "Update_Copilot_Test_Run:_Running": {
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "entityName": "cat_copilottestruns",
              "recordId": "@triggerBody()?['text_2']",
              "item/cat_generatedanswersanalysiscode": 2
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "operationId": "UpdateRecord",
              "connectionName": "shared_commondataserviceforapps"
            }
          },
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "1879daca-4f37-49d8-8b18-6a8cf166f470"
          }
        },
        "Get_Flow_Endpoint": {
          "type": "Compose",
          "inputs": "@if(equals(toLower(parameters('Power Automate Region (cat_PowerAutomateEndpoint)')),'gcc'),'https://make.gov.powerautomate.us/',if(equals(toLower(parameters('Power Automate Region (cat_PowerAutomateEndpoint)')),'gcc(high)'),'https://make.high.powerautomate.us/',if(equals(toLower(parameters('Power Automate Region (cat_PowerAutomateEndpoint)')),'dod'),'https://make.powerautomate.appsplatform.us/','https://make.powerautomate.com/')))",
          "runAfter": {
            "Build_Record_ID_Filter": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "3bd5c904-5e4c-48af-972c-ffebb3d7cd28"
          }
        },
        "Initialize_variable:_ErrorMessage": {
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "ErrMessage",
                "type": "string"
              }
            ]
          },
          "runAfter": {
            "Update_Copilot_Test_Run:_Running": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "e4f5295f-d8f5-4725-9848-3c1329e1afa4"
          }
        },
        "Scope:_Try": {
          "type": "Scope",
          "actions": {
            "Condition_Annotations_Exist": {
              "type": "If",
              "expression": {
                "and": [
                  {
                    "greater": [
                      "@length(outputs('List_rows:_Gather_Human_Annotations')?['body/value'])",
                      0
                    ]
                  }
                ]
              },
              "actions": {
                "Scope_AI_Refinement": {
                  "type": "Scope",
                  "actions": {
                    "Call_AI_Refinement": {
                      "type": "OpenApiConnection",
                      "inputs": {
                        "parameters": {
                          "recordId": "b3d5c00b-d0c3-4d80-b131-3bf57e6cdb26",
                          "item/requestv2/Current_20Description": "@outputs('Get_Current_Rubric')?['body/cat_description']",
                          "item/requestv2/Grade_201_20Description_20_28Current_29": "@outputs('Get_Current_Rubric')?['body/cat_grade1description']",
                          "item/requestv2/Grade_204_20Description_20_28Current_29": "@outputs('Get_Current_Rubric')?['body/cat_grade4description']",
                          "item/requestv2/Grade_205_20Description_20_28Current_29": "@outputs('Get_Current_Rubric')?['body/cat_grade5description']",
                          "item/requestv2/Annotation_20List": "@outputs('Convert_Annotations_To_JSON')",
                          "item/requestv2/Grade_202_20Description_20_28Current_29": "@outputs('Get_Current_Rubric')?['body/cat_grade2description']",
                          "item/requestv2/Grade_203_20Description_20_28Current_29": "@outputs('Get_Current_Rubric')?['body/cat_grade3description']"
                        },
                        "host": {
                          "apiId": "providers/Microsoft.ProcessSimple/operationGroups/aibuilder",
                          "operationId": "aibuilderpredict_customprompt",
                          "connectionName": "shared_commondataserviceforapps"
                        }
                      },
                      "runAfter": {
                        "Convert_Annotations_To_JSON": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "df645349-bec0-428b-ac78-605b84fbaf1c",
                        "flowSystemMetadata": {
                          "portalOperationApiDisplayNameOverride": "AI Builder",
                          "portalOperationIconOverride": "https://content.powerapps.com/resource/makerx/static/pauto/images/designeroperations/aiBuilderNew.51dbdb6b.png",
                          "portalOperationBrandColorOverride": "#0A76C4",
                          "portalOperationApiTierOverride": "Standard"
                        }
                      }
                    },
                    "Clear_AI_Response": {
                      "type": "Compose",
                      "inputs": "@replace(replace(outputs('Call_AI_Refinement')?['body/responsev2/predictionOutput/text'], '```json', ''), '```', '')",
                      "runAfter": {
                        "Call_AI_Refinement": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "a8463d73-9e3d-432d-bb16-d949410e4395"
                      }
                    },
                    "Parse_Refinement_Response": {
                      "type": "ParseJson",
                      "inputs": {
                        "content": "@trim(outputs('Clear_AI_Response'))",
                        "schema": {
                          "type": "object",
                          "properties": {
                            "refinedDescription": {
                              "type": "string"
                            },
                            "refinedGrade5": {
                              "type": "string"
                            },
                            "refinedGrade4": {
                              "type": "string"
                            },
                            "refinedGrade3": {
                              "type": "string"
                            },
                            "refinedGrade2": {
                              "type": "string"
                            },
                            "refinedGrade1": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "refinedDescription",
                            "refinedGrade5",
                            "refinedGrade4",
                            "refinedGrade3",
                            "refinedGrade2",
                            "refinedGrade1"
                          ]
                        }
                      },
                      "runAfter": {
                        "Clear_AI_Response": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "24a4ef3d-0a2b-499f-a10b-e19cb13c105c"
                      }
                    },
                    "Convert_Annotations_To_JSON": {
                      "type": "Compose",
                      "inputs": "@string(body('Select:_Build_Annotations_for_AI'))",
                      "runAfter": {
                        "Select:_Build_Annotations_for_AI": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "a9a2a1e8-c4bf-48df-990c-8ed5a93458f1"
                      }
                    },
                    "Select:_Build_Human_Annotation": {
                      "type": "Select",
                      "inputs": {
                        "from": "@outputs('List_rows:_Gather_Human_Annotations')?['body/value']",
                        "select": {
                          "alignment_percentage": "@int(\r\n  mul(\r\n    sub(\r\n      1, \r\n      div(\r\n        if(\r\n          less(\r\n            sub(\r\n              float(coalesce(item()?['cat_aigradecode'], '0')), \r\n              float(coalesce(item()?['cat_humangradecode'], '0'))\r\n            ), \r\n            0\r\n          ), \r\n          mul(\r\n            sub(\r\n              float(coalesce(item()?['cat_aigradecode'], '0')), \r\n              float(coalesce(item()?['cat_humangradecode'], '0'))\r\n            ), \r\n            -1\r\n          ), \r\n          sub(\r\n            float(coalesce(item()?['cat_aigradecode'], '0')), \r\n            float(coalesce(item()?['cat_humangradecode'], '0'))\r\n          )\r\n        ), \r\n        4\r\n      )\r\n    ), \r\n    100\r\n  )\r\n)",
                          "test_utterance": "@item()?['cat_testutterance']",
                          "agent_response": "@item()?['cat_response']",
                          "ai_grade": "@item()?['cat_aigradecode']",
                          "ai_rationale": "@item()?['cat_airationale']",
                          "human_grade": "@item()?['cat_humangradecode']",
                          "human_reasoning": "@item()?['cat_humanreasoning']",
                          "test_result_id": "@item()?['cat_copilottestresultid']",
                          "marked_as_example": "@item()?['cat_markedasexample']",
                          "example_type": "@item()?['cat_exampletypecode']"
                        }
                      }
                    },
                    "Select:_Build_Annotations_for_AI": {
                      "type": "Select",
                      "inputs": {
                        "from": "@body('Select:_Build_Human_Annotation')",
                        "select": {
                          "alignment_percentage": "@item()?['alignment_percentage']",
                          "test_utterance": "@item()?['test_utterance']",
                          "agent_response": "@item()?['agent_response']",
                          "human_grade": "@item()?['human_grade']",
                          "human_reasoning": "@item()?['human_reasoning']"
                        }
                      },
                      "runAfter": {
                        "Select:_Build_Human_Annotation": [
                          "Succeeded"
                        ]
                      }
                    }
                  },
                  "runAfter": {
                    "Get_Current_Rubric": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "bad1f135-5d70-42c1-86f2-4c2bfbf985bf"
                  }
                },
                "Get_Current_Rubric": {
                  "type": "OpenApiConnection",
                  "inputs": {
                    "parameters": {
                      "entityName": "cat_rubrics",
                      "recordId": "@triggerBody()?['text_3']",
                      "$select": "cat_name,cat_description,cat_grade1description,cat_grade2description,cat_grade3description,cat_grade4description,cat_grade5description"
                    },
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                      "operationId": "GetItem",
                      "connectionName": "shared_commondataserviceforapps"
                    }
                  },
                  "metadata": {
                    "operationMetadataId": "c8ed808b-c0ee-402a-a2a6-ba978e6fa204"
                  }
                },
                "Append_to_string_variable:_AI_Refinement_": {
                  "type": "AppendToStringVariable",
                  "inputs": {
                    "name": "ErrMessage",
                    "value": "AI Refinement Error - Status: @{result('Scope_AI_Refinement')?[0]?['status']} | Error:  @{result('Scope_AI_Refinement')?[0]?['error']?['message']}"
                  },
                  "runAfter": {
                    "Scope_AI_Refinement": [
                      "TimedOut",
                      "Failed",
                      "Skipped"
                    ]
                  }
                },
                "Loop_to_Create_Example": {
                  "type": "Foreach",
                  "foreach": "@body('Select:_Build_Human_Annotation')",
                  "actions": {
                    "Condition_Examples_To_Create": {
                      "type": "If",
                      "expression": {
                        "and": [
                          {
                            "equals": [
                              "@item()?['marked_as_example']",
                              "@true"
                            ]
                          }
                        ]
                      },
                      "actions": {
                        "Scope:_Create_Examples": {
                          "type": "Scope",
                          "actions": {
                            "Create_Rubric_Example": {
                              "type": "OpenApiConnection",
                              "inputs": {
                                "parameters": {
                                  "entityName": "cat_rubricexamples",
                                  "item/cat_response": "@item()?['agent_response']",
                                  "item/cat_exampletypecode": "@item()?['example_type']",
                                  "item/cat_humanreasoning": "@item()?['human_reasoning']",
                                  "item/cat_RubricId@odata.bind": "@concat('/cat_rubrics(', outputs('Upsert_Rubric')?['body/cat_rubricid'], ')')",
                                  "item/cat_testutterance": "@item()?['test_utterance']",
                                  "item/cat_humangradecode": "@item()?['human_grade']"
                                },
                                "host": {
                                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                                  "operationId": "CreateRecord",
                                  "connectionName": "shared_commondataserviceforapps"
                                }
                              },
                              "metadata": {
                                "operationMetadataId": "72e76fe1-46e3-4bdd-9bfa-c37040897641"
                              }
                            },
                            "Clear_Marked_as_Example_and_Example_Type": {
                              "type": "OpenApiConnection",
                              "inputs": {
                                "parameters": {
                                  "entityName": "cat_copilottestresults",
                                  "recordId": "@item()?['test_result_id']",
                                  "item/cat_exampletypecode": "@null",
                                  "item/cat_markedasexample": false
                                },
                                "host": {
                                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                                  "operationId": "UpdateOnlyRecord",
                                  "connectionName": "shared_commondataserviceforapps"
                                }
                              },
                              "runAfter": {
                                "Create_Rubric_Example": [
                                  "Succeeded"
                                ]
                              },
                              "metadata": {
                                "operationMetadataId": "5939f18e-8219-4fce-bf1b-026e90d7fa8f"
                              }
                            }
                          }
                        },
                        "Append_to_string_variable:_Create_Examples": {
                          "type": "AppendToStringVariable",
                          "inputs": {
                            "name": "ErrMessage",
                            "value": "Create Examples Error - Status: @{result('Scope:_Create_Examples')?[0]?['status']} | Error: @{result('Scope:_Create_Examples')?[0]?['error']?['message']}"
                          },
                          "runAfter": {
                            "Scope:_Create_Examples": [
                              "TimedOut",
                              "Failed"
                            ]
                          }
                        }
                      },
                      "else": {
                        "actions": {}
                      },
                      "metadata": {
                        "operationMetadataId": "41e68e0d-477b-4463-895a-cd61b793c731"
                      }
                    },
                    "Update_Agent_Test_Result_Alignment_Percentage": {
                      "type": "OpenApiConnection",
                      "inputs": {
                        "parameters": {
                          "entityName": "cat_copilottestresults",
                          "recordId": "@item()?['test_result_id']",
                          "item/cat_alignmentpercentage": "@item()?['alignment_percentage']"
                        },
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                          "operationId": "UpdateOnlyRecord",
                          "connectionName": "shared_commondataserviceforapps"
                        }
                      },
                      "runAfter": {
                        "Condition_Examples_To_Create": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "cf54e0a5-9f2d-41b6-8859-b8d63e43a1bc"
                      }
                    }
                  },
                  "runAfter": {
                    "Upsert_Rubric": [
                      "Succeeded"
                    ]
                  }
                },
                "Upsert_Rubric": {
                  "type": "OpenApiConnection",
                  "inputs": {
                    "parameters": {
                      "entityName": "cat_rubrics",
                      "recordId": "@if(equals(toLower(triggerBody()?['text']), 'update'), triggerBody()?['text_3'], guid())",
                      "item/cat_description": "@body('Parse_Refinement_Response')['refinedDescription']",
                      "item/cat_grade1description": "@body('Parse_Refinement_Response')['refinedGrade1']",
                      "item/cat_grade2description": "@body('Parse_Refinement_Response')['refinedGrade2']",
                      "item/cat_grade3description": "@body('Parse_Refinement_Response')['refinedGrade3']",
                      "item/cat_grade4description": "@body('Parse_Refinement_Response')['refinedGrade4']",
                      "item/cat_grade5description": "@body('Parse_Refinement_Response')['refinedGrade5']",
                      "item/cat_name": "@if(equals(toLower(triggerBody()?['text']), 'update'), outputs('Get_Current_Rubric')?['body/cat_name'], triggerBody()?['text_1'])"
                    },
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                      "operationId": "UpdateRecord",
                      "connectionName": "shared_commondataserviceforapps"
                    }
                  },
                  "runAfter": {
                    "Scope_AI_Refinement": [
                      "Succeeded"
                    ]
                  }
                },
                "Append_to_string_variable:_Upsert_Rubric": {
                  "type": "AppendToStringVariable",
                  "inputs": {
                    "name": "ErrMessage",
                    "value": "Failed to upsert rubric.  Error: @{coalesce(outputs('Upsert_Rubric')?['body/error/message'], actions('Upsert_Rubric')?['error/message'], 'Unknown error occurred')}"
                  },
                  "runAfter": {
                    "Upsert_Rubric": [
                      "TimedOut",
                      "Failed"
                    ]
                  }
                }
              },
              "else": {
                "actions": {
                  "Append_to_string_variable:_No_Human_Annotations": {
                    "type": "AppendToStringVariable",
                    "inputs": {
                      "name": "ErrMessage",
                      "value": "No human annotations exist."
                    }
                  }
                }
              },
              "runAfter": {
                "List_rows:_Gather_Human_Annotations": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "ebe00f6e-d579-4f7d-86c1-fc3de604c519"
              }
            },
            "Update_Copilot_Test_Run:_Complete": {
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "entityName": "cat_copilottestruns",
                  "recordId": "@triggerBody()?['text_2']",
                  "item/cat_errordetails": "@concat(\r\n  outputs('Update_Copilot_Test_Run:_Running')?['body/cat_errordetails'],\r\n  '<br/>',\r\n  '<strong>',\r\n  workflow()?['tags']?['flowDisplayName'],\r\n  '</strong> flow run: <a href=\"',\r\n  outputs('Get_Flow_Endpoint'),\r\n  'environments/',\r\n  workflow()?['tags']?['environmentName'],\r\n  '/solutions/fd140aaf-4df4-11dd-bd17-0019b9312238/flows/',\r\n workflow()?['name'],\r\n  '/runs/',\r\n  workflow()?['run']?['name'],\r\n  '\" target=\"_blank\" rel=\"noopener noreferrer\">Click here to open the flow run</a>'\r\n)",
                  "item/cat_generatedanswersanalysiscode": "@if(not(empty(variables('ErrMessage'))), 6, 3)"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "operationId": "UpdateRecord",
                  "connectionName": "shared_commondataserviceforapps"
                }
              },
              "runAfter": {
                "Condition_Annotations_Exist": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "46100016-2f1b-4e28-9ef7-90648debe3d9"
              }
            },
            "Compose:_Respond_Message": {
              "type": "Compose",
              "inputs": "@if(equals(triggerBody()?['text'], 'Update'), \r\n    'Rubric refinement has been completed successfully!!', \r\n    concat('Rubric ''', triggerBody()?['text_1'], ''' has been created successfully!!')\r\n)",
              "runAfter": {
                "Update_Copilot_Test_Run:_Complete": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "cd57f6a6-ee2c-4bdc-9fc8-d43c763355b0"
              }
            },
            "List_rows:_Gather_Human_Annotations": {
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "entityName": "cat_copilottestresults",
                  "$select": "cat_copilottestresultid,cat_testutterance,cat_response,cat_aigradecode,cat_airationale,cat_humangradecode,cat_humanreasoning,cat_alignmentpercentage,cat_markedasexample,cat_exampletypecode",
                  "$filter": "@{outputs('Build_Record_ID_Filter')} and _cat_copilottestrunid_value eq '@{triggerBody()?['text_2']}' and _cat_rubricid_value eq '@{triggerBody()?['text_3']}' and cat_humangradecode ne null",
                  "$expand": "cat_CopilotTestId($select=cat_name)"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "operationId": "ListRecords",
                  "connectionName": "shared_commondataserviceforapps"
                }
              },
              "metadata": {
                "operationMetadataId": "94c27d32-ffbc-462b-a15a-06a3b4932b18"
              }
            }
          },
          "runAfter": {
            "Get_Flow_Endpoint": [
              "Succeeded"
            ]
          }
        },
        "Scope:_Catch": {
          "type": "Scope",
          "actions": {
            "Filter_array:_Error_Actions": {
              "type": "Query",
              "inputs": {
                "from": "@result('Scope:_Try')",
                "where": "@or(\r\n    equals(item()?['Status'], 'Failed'),\r\n    equals(item()?['Status'], 'TimedOut'),\r\n    equals(item()?['Status'], 'NetworkError'),\r\n    equals(item()?['Status'], 'Unauthorized')\r\n)"
              },
              "metadata": {
                "operationMetadataId": "318aa9b2-4531-451c-b162-84cf7a4a236e"
              }
            }
          },
          "runAfter": {
            "Scope:_Try": [
              "TimedOut",
              "Skipped",
              "Failed"
            ]
          },
          "metadata": {
            "operationMetadataId": "230089fa-ea8e-4102-8312-7e2128fe1d22"
          }
        },
        "Scope:_Finally": {
          "type": "Scope",
          "actions": {
            "Respond_to_a_Power_App_or_flow": {
              "type": "Response",
              "kind": "PowerApp",
              "inputs": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "title": "Success",
                      "x-ms-dynamically-added": true,
                      "type": "string"
                    },
                    "errormessage": {
                      "title": "ErrorMessage",
                      "x-ms-dynamically-added": true,
                      "type": "string"
                    }
                  },
                  "additionalProperties": {}
                },
                "statusCode": 200,
                "body": {
                  "success": "@{outputs('Compose:_Respond_Message')}",
                  "errormessage": "@{variables('ErrMessage')}"
                }
              },
              "metadata": {
                "operationMetadataId": "d6069ea3-d2ab-472f-a0c7-fe5cdcd87296"
              }
            }
          },
          "runAfter": {
            "Scope:_Catch": [
              "Succeeded",
              "TimedOut",
              "Skipped",
              "Failed"
            ]
          }
        }
      }
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}