CopilotStudioAccelerator/SolutionPackage/src/Workflows/TestAutomationRubricsAIGradingFlow-190AAE2C-A0D5-F011-8544-00224806F6D3.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "api": {
          "name": "shared_commondataserviceforapps"
        },
        "connection": {
          "connectionReferenceLogicalName": "cat_CopilotStudioAcceleratorDataverse"
        },
        "runtimeSource": "embedded"
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        }
      },
      "triggers": {
        "manual": {
          "type": "Request",
          "kind": "Button",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "text_1": {
                  "title": "RubricId",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                },
                "text_2": {
                  "title": "TestUtterance",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                },
                "text_3": {
                  "title": "AgentResponse",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                },
                "number": {
                  "title": "PassingGrade",
                  "type": "number",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter a number",
                  "x-ms-content-hint": "NUMBER"
                },
                "text": {
                  "description": "Please enter your input",
                  "title": "AgentTestResultId",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                }
              },
              "required": [
                "text_1",
                "text_2",
                "text_3",
                "number",
                "text"
              ]
            }
          },
          "metadata": {
            "operationMetadataId": "ef0701e1-a8f8-4a97-8c0f-9ec2810589de"
          }
        }
      },
      "actions": {
        "Scope:_Try": {
          "type": "Scope",
          "actions": {
            "Rubrics_AI_Grader": {
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "recordId": "2a37b151-8b6a-41a4-a9ae-5e82aec94f63",
                  "item/requestv2/Grade_203_20Description": "@outputs('Get_Rubric_Details')?['body/cat_grade3description']",
                  "item/requestv2/Rubric_20Description": "@outputs('Get_Rubric_Details')?['body/cat_description']",
                  "item/requestv2/Rubric_20Name": "@outputs('Get_Rubric_Details')?['body/cat_name']",
                  "item/requestv2/Grade_201_20Description": "@outputs('Get_Rubric_Details')?['body/cat_grade1description']",
                  "item/requestv2/Test_20Utterance": "@triggerBody()?['text_2']",
                  "item/requestv2/Grade_205_20Description": "@outputs('Get_Rubric_Details')?['body/cat_grade5description']",
                  "item/requestv2/Grade_204_20Description": "@outputs('Get_Rubric_Details')?['body/cat_grade4description']",
                  "item/requestv2/Good_20Examples_20JSON": "@outputs('Convert_Good_Examples_to_JSON')",
                  "item/requestv2/Bad_20Examples_20JSON": "@outputs('Convert_Bad_Examples_to_JSON')",
                  "item/requestv2/Grade_202_20Description": "@outputs('Get_Rubric_Details')?['body/cat_grade2description']",
                  "item/requestv2/Actual_20Response": "@triggerBody()?['text_3']"
                },
                "host": {
                  "apiId": "providers/Microsoft.ProcessSimple/operationGroups/aibuilder",
                  "operationId": "aibuilderpredict_customprompt",
                  "connectionName": "shared_commondataserviceforapps"
                }
              },
              "runAfter": {
                "Convert_Bad_Examples_to_JSON": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "90802c50-c46a-41bc-b68e-06e5af92a3b5",
                "flowSystemMetadata": {
                  "portalOperationApiDisplayNameOverride": "AI Builder",
                  "portalOperationIconOverride": "https://content.powerapps.com/resource/makerx/static/pauto/images/designeroperations/aiBuilderNew.51dbdb6b.png",
                  "portalOperationBrandColorOverride": "#0A76C4",
                  "portalOperationApiTierOverride": "Standard"
                }
              }
            },
            "Parse_AI_Response": {
              "type": "ParseJson",
              "inputs": {
                "content": "@outputs('Rubrics_AI_Grader')?['body/responsev2/predictionOutput/text']",
                "schema": {
                  "type": "object",
                  "properties": {
                    "ai_grade": {
                      "type": "integer"
                    },
                    "ai_rationale": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "ai_grade",
                    "ai_rationale"
                  ]
                }
              },
              "runAfter": {
                "Rubrics_AI_Grader": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "6943348f-c618-48da-9f5b-b7351978c4b9"
              }
            },
            "Compose_AI_Grade": {
              "type": "Compose",
              "inputs": "@body('Parse_AI_Response')['ai_grade']",
              "runAfter": {
                "Parse_AI_Response": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "46a32d88-2010-4d27-bd80-d6b30639a97a"
              }
            },
            "Compose_AI_Rationale": {
              "type": "Compose",
              "inputs": "@body('Parse_AI_Response')['ai_rationale']",
              "runAfter": {
                "Compose_AI_Grade": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "349b9928-1c4c-45c8-b6b5-092e02b2dee8"
              }
            },
            "Calculate_Agent_Test_Result": {
              "type": "Compose",
              "inputs": "@if(greaterOrEquals(int(outputs('Compose_AI_Grade')), triggerBody()?['number']), 1, 2)",
              "runAfter": {
                "Compose_AI_Rationale": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "c6dd31a5-7bc7-4af4-871b-f627fd62283d"
              }
            },
            "Convert_Bad_Examples_to_JSON": {
              "type": "Compose",
              "inputs": "@string(body('Format_Bad_Examples'))",
              "runAfter": {
                "Format_Bad_Examples": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "132bf0e7-207d-4924-a66f-b3e1089652ad"
              }
            },
            "Format_Bad_Examples": {
              "type": "Select",
              "inputs": {
                "from": "@outputs('Get_Bad_Examples')?['body/value']",
                "select": {
                  "test_utterance": "@item()?['cat_testutterance']",
                  "agent_response": "@item()?['cat_response']",
                  "human_grade": "@item()?['cat_humangradecode']",
                  "human_reasoning": "@item()?['cat_humanreasoning']"
                }
              },
              "runAfter": {
                "Get_Bad_Examples": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "44cf3ab2-c4ac-41a3-a25f-b81d91084c26"
              }
            },
            "Get_Bad_Examples": {
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "entityName": "cat_rubricexamples",
                  "$select": "cat_testutterance, cat_response, cat_humangradecode, cat_humanreasoning",
                  "$filter": "_cat_rubricid_value eq '@{triggerBody()['text_1']}' and cat_exampletypecode eq 2",
                  "$orderby": "createdon desc",
                  "$top": 5
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "operationId": "ListRecords",
                  "connectionName": "shared_commondataserviceforapps"
                }
              },
              "runAfter": {
                "Convert_Good_Examples_to_JSON": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "92ec2905-2864-439f-8c95-33d8d79e3056"
              }
            },
            "Convert_Good_Examples_to_JSON": {
              "type": "Compose",
              "inputs": "@string(body('Format_Good_Examples'))",
              "runAfter": {
                "Format_Good_Examples": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "52e458d9-1b91-4fd3-8ed5-c84d6c4f7798"
              }
            },
            "Format_Good_Examples": {
              "type": "Select",
              "inputs": {
                "from": "@outputs('Get_Good_Examples')?['body/value']",
                "select": {
                  "test_utterance": "@item()?['cat_testutterance']",
                  "agent_response": "@item()?['cat_response']",
                  "human_grade": "@item()?['cat_humangradecode']",
                  "human_reasoning": "@item()?['cat_humanreasoning']"
                }
              },
              "runAfter": {
                "Get_Good_Examples": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "44cf3ab2-c4ac-41a3-a25f-b81d91084c26"
              }
            },
            "Get_Good_Examples": {
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "entityName": "cat_rubricexamples",
                  "$select": "cat_testutterance, cat_response, cat_humangradecode, cat_humanreasoning",
                  "$filter": "_cat_rubricid_value eq '@{triggerBody()['text_1']}' and cat_exampletypecode eq 1",
                  "$orderby": "createdon desc",
                  "$top": 5
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "operationId": "ListRecords",
                  "connectionName": "shared_commondataserviceforapps"
                }
              },
              "runAfter": {
                "Get_Rubric_Details": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "772eabb1-ad19-4875-95e2-e299babfc225"
              }
            },
            "Get_Rubric_Details": {
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "entityName": "cat_rubrics",
                  "recordId": "@triggerBody()['text_1']",
                  "$select": "cat_name,cat_description,cat_grade1description,cat_grade2description,cat_grade3description,cat_grade4description,cat_grade5description"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "operationId": "GetItem",
                  "connectionName": "shared_commondataserviceforapps"
                }
              },
              "metadata": {
                "operationMetadataId": "cba662b3-cfc4-4235-a735-a7b356f1364b"
              }
            },
            "Update_Agent_Test_Result": {
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "entityName": "cat_copilottestresults",
                  "recordId": "@triggerBody()?['text']",
                  "item/cat_resultcode": "@outputs('Calculate_Agent_Test_Result')",
                  "item/cat_aigradecode": "@outputs('Compose_AI_Grade')",
                  "item/cat_airationale": "@outputs('Compose_AI_Rationale')",
                  "item/cat_passinggradecode": "@triggerBody()?['number']",
                  "item/cat_resultreason": "AI-generated assessment of the response. Please review.",
                  "item/cat_RubricId@odata.bind": "/cat_rubrics(@{triggerBody()?['text_1']})"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "operationId": "UpdateOnlyRecord",
                  "connectionName": "shared_commondataserviceforapps"
                }
              },
              "runAfter": {
                "Calculate_Agent_Test_Result": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "ccaa7c43-8ac4-49ed-b008-7fa9d4e6bc52"
              }
            }
          },
          "runAfter": {
            "Initialize_variable:_ErrorMessage": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "0e7ab6dc-5552-4931-874a-78c56883b7b1"
          }
        },
        "Scope:_Catch": {
          "type": "Scope",
          "actions": {
            "Filter_array:_Error_Actions": {
              "type": "Query",
              "inputs": {
                "from": "@result('Scope:_Try')",
                "where": "@or(equals(item()?['Status'], 'Failed'), equals(item()?['Status'], 'TimedOut'))"
              },
              "metadata": {
                "operationMetadataId": "318aa9b2-4531-451c-b162-84cf7a4a236e"
              }
            },
            "Set_variable:_ErrorMessage": {
              "type": "SetVariable",
              "inputs": {
                "name": "ErrorMessage",
                "value": "@{first(body('Filter_array:_Error_Actions'))?['error']?['message']}"
              },
              "runAfter": {
                "Filter_array:_Error_Actions": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "69e13fa0-c51a-4311-bc47-59d63b7d6228"
              }
            }
          },
          "runAfter": {
            "Scope:_Try": [
              "TimedOut",
              "Skipped",
              "Failed"
            ]
          },
          "metadata": {
            "operationMetadataId": "f8a24cb4-8879-4627-8e00-e1ddca919371"
          }
        },
        "Initialize_variable:_ErrorMessage": {
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "ErrorMessage",
                "type": "string"
              }
            ]
          },
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "e4f5295f-d8f5-4725-9848-3c1329e1afa4"
          }
        },
        "Scope:_Finally": {
          "type": "Scope",
          "actions": {
            "Respond_to_a_Power_App_or_flow": {
              "type": "Response",
              "kind": "PowerApp",
              "inputs": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "response": {
                      "title": "Response",
                      "x-ms-dynamically-added": true,
                      "type": "string"
                    },
                    "errormessage": {
                      "title": "ErrorMessage",
                      "x-ms-dynamically-added": true,
                      "type": "string"
                    },
                    "resultcode": {
                      "title": "ResultCode",
                      "x-ms-dynamically-added": true,
                      "type": "string"
                    }
                  },
                  "additionalProperties": {}
                },
                "statusCode": 200,
                "body": {
                  "response": "Flow Completed Successfully",
                  "errormessage": "@{variables('ErrorMessage')}",
                  "resultcode": "@{outputs('Calculate_Agent_Test_Result')}"
                }
              },
              "metadata": {
                "operationMetadataId": "910c288a-32a9-4c43-9448-408b86adc998"
              }
            }
          },
          "runAfter": {
            "Scope:_Catch": [
              "Succeeded",
              "TimedOut",
              "Skipped",
              "Failed"
            ]
          },
          "metadata": {
            "operationMetadataId": "d6f9bc62-1890-4432-82d5-3cf2e76038a9"
          }
        }
      }
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}