CopilotStudioAccelerator/SolutionPackage/src/Workflows/ValueSummaryInitializeagentvalueinventory-85064FC0-7A4B-F011-877A-002248095F4F.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "cat_CopilotStudioAcceleratorDataverse"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "d5fafa6a-76b8-4b0d-85fa-4964afec9d8f"
          },
          "type": "Request",
          "kind": "Button",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {},
              "required": []
            }
          }
        }
      },
      "actions": {
        "List_rows_from_agent_details": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "7e023e59-c061-4814-9022-c07fa967cb16"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "cat_agentdetailses",
              "$filter": "cat_description ne null and cat_instructions ne null"
            },
            "authentication": {
              "type": "Raw",
              "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
            }
          }
        },
        "Apply_to_each_agent": {
          "foreach": "@outputs('List_rows_from_agent_details')?['body/value']",
          "actions": {
            "Classify_agent": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "05df78d1-dae7-401c-b3c3-72a824607ca2",
                "flowSystemMetadata": {
                  "portalOperationId": "aibuilderpredict_customprompt",
                  "portalOperationGroup": "aibuilder",
                  "portalOperationApiDisplayNameOverride": "AI Builder",
                  "portalOperationIconOverride": "https://content.powerapps.com/resource/makerx/static/pauto/images/designeroperations/aiBuilderNew.51dbdb6b.png",
                  "portalOperationBrandColorOverride": "#0A76C4",
                  "portalOperationApiTierOverride": "Standard"
                }
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "aibuilderpredict_customprompt",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "recordId": "74048e9d-133f-4801-8ea9-5bd7dbd0bc62",
                  "item/requestv2/Description": "@items('Apply_to_each_agent')?['cat_description']",
                  "item/requestv2/Instructions": "@items('Apply_to_each_agent')?['cat_instructions']"
                },
                "authentication": {
                  "type": "Raw",
                  "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                }
              }
            },
            "Add_a_new_row_to_value_table": {
              "runAfter": {
                "Classify_agent": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "b0aeb538-c48f-4e9e-81d0-6a4f876db790"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "CreateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "cat_agentvalues",
                  "item/cat_name": "@items('Apply_to_each_agent')?['cat_name']",
                  "item/cat_agentbehaviors": "@outputs('Classify_agent')?['body/responsev2/predictionOutput/structuredOutput/behavior']",
                  "item/cat_agentid": "@items('Apply_to_each_agent')?['cat_agentid']",
                  "item/cat_agenttypes": "@outputs('Classify_agent')?['body/responsev2/predictionOutput/structuredOutput/type']",
                  "item/cat_agentvaluebenefit": "@outputs('Classify_agent')?['body/responsev2/predictionOutput/structuredOutput/value']",
                  "item/cat_classificationdate": "@utcNow()",
                  "item/cat_environmentdisplayname": "@items('Apply_to_each_agent')?['cat_environmentname']",
                  "item/cat_environmentid": "@items('Apply_to_each_agent')?['cat_environmentid']"
                },
                "authentication": {
                  "type": "Raw",
                  "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                }
              }
            }
          },
          "runAfter": {
            "List_rows_from_agent_details": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "1fdadae0-14a0-4971-94f4-73e40aa76cd3"
          },
          "type": "Foreach"
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}